Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

revert unrelated change
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Bump extension creator (#12308)
  creators/extension/package.json
Due: none

Trigger branch based builds for hotfixes
  .github/workflows/build-and-upload-branch.yaml
Due: none

Helm App Values Change
  shell/detail/catalog.cattle.io.app.vue
  shell/mixins/chart.js
  shell/models/catalog.cattle.io.app.js
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

update shell dependencies + bump shell version
  shell/package.json
Due: shell

pin versions of dependencies to match the root dashboard package.json
  shell/package.json
Due: shell

update shell dependencies to prevent adding them on the extensions side since they are dashboard related (#12321)
  shell/package.json
Due: shell

Don't use minify in souremaps
  shell/vue.config.js
Due: shell

Changes after review - force fetch of secrets on visit on install app/chart detail/app detail page - add somre jsdoc
  shell/detail/catalog.cattle.io.app.vue
  shell/mixins/chart.js
  shell/models/catalog.cattle.io.app.js
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Fleet Improvements
  shell/components/fleet/FleetClusters.vue
  shell/detail/fleet.cattle.io.cluster.vue
  shell/detail/fleet.cattle.io.gitrepo.vue
  shell/models/fleet.cattle.io.gitrepo.js
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

[shell] Bump dompurify from 2.4.5 to 2.5.4
  shell/package.json
  shell/yarn.lock
Due: shell

[storybook] Bump dompurify from 2.4.5 to 2.5.4
  storybook/yarn.lock
Due: none

Bump jsonpath-plus from 6.0.1 to 10.0.0
  package.json
  yarn.lock
Due: none

[rancher-components] Bump jsonpath-plus from 6.0.1 to 10.0.0
  pkg/rancher-components/package.json
  yarn.lock
Due: rancher-components

[storybook] Bump jsonpath-plus from 6.0.1 to 10.0.0
  storybook/yarn.lock
Due: none

Clone `defaultContainer` when applying defaults
  shell/edit/workload/mixins/workload.js
  shell/models/workload.js
Due: shell

Enable the delete drivers in bulk e2e test
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

add rancher version variable to reuse + skipping some e2e tests
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  cypress/e2e/tests/pages/explorer2/project-namespace.spec.ts
  cypress/e2e/tests/pages/generic/version.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  cypress/e2e/tests/pages/user-menu/account-api-keys.spec.ts
  shell/config/private-label.js
  shell/config/version.js
Due: shell

revert unnecessary changes in version.spec.ts
  cypress/e2e/tests/pages/generic/version.spec.ts
Due: none

a
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
Due: none

remove typo
  cypress/e2e/tests/pages/generic/version.spec.ts
Due: none

fix version typo
  cypress/e2e/tests/pages/generic/version.spec.ts
Due: none

skip account-api-keys tests
  cypress/e2e/tests/pages/user-menu/account-api-keys.spec.ts
Due: none

Lowercase architecture labels
  shell/assets/translations/en-us.yaml
  shell/models/provisioning.cattle.io.cluster.js
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  shell/pages/c/_cluster/explorer/index.vue
Due: shell

Fix cloud-credential expiry display
  shell/models/cloudcredential.js
Due: shell

Much like https://github.com/rancher/dashboard/pull/12316, trigger a hotfix build specifically for embedded in rancher use case
  .github/workflows/build-and-upload-release.yaml
Due: none

skip a test in namespace-picker.spec.ts
  cypress/e2e/tests/pages/explorer2/namespace-picker.spec.ts
Due: none

update home test to use rancher version variable
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

remove 'v' from version number
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  shell/config/private-label.js
  shell/config/version.js
Due: shell

fix typo
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Re-enabling `Registries for RKE2` e2e test
  cypress/e2e/tests/pages/manager/registries.spec.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/RegistryConfigs.vue
Due: shell

fix flaky charts tests
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
Due: none

fix flaky repositories tests
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
Due: none

more precise enabling logic for checkboxes
  cypress/e2e/po/components/select.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
Due: none

lint
  cypress/e2e/po/components/select.po.ts
Due: none

Remove embedded DNS pages under 'Global Configuration'
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/config/product/multi-cluster-apps.js
Due: shell

Remove the top-level legacy pages
  cypress/e2e/tests/pages/explorer/mcapps/index.spec.ts
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/EmberPage.vue
  shell/components/nav/TopLevelMenu.vue
  shell/config/product/multi-cluster-apps.js
  shell/config/router/routes.js
Due: shell

Update rancher image version for e2e tests (#12310)
  cypress/e2e/po/components/select.po.ts
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  cypress/e2e/tests/pages/explorer2/namespace-picker.spec.ts
  cypress/e2e/tests/pages/explorer2/project-namespace.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  cypress/e2e/tests/pages/user-menu/account-api-keys.spec.ts
  package.json
  scripts/e2e-docker-start
  shell/assets/translations/en-us.yaml
  shell/config/private-label.js
  shell/config/version.js
Due: shell
