Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Open the sub menus outright, with no fade
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/components/TableViews/TableViewsBar.vue
Due: shell, rancher-components

Open the sub menus outright, and put the strip's shadow back to the app bar's
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/assets/styles/global/_tooltip.scss
  shell/components/TableViews/TableViewsBar.vue
Due: shell, rancher-components

Add Qase case IDs to pods, pod security admissions, and cloud credentials specs
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/manager/cloud-credentials.spec.ts
  cypress/e2e/tests/pages/manager/pod-security-admissions.spec.ts
Due: none

Give Add View's focus ring somewhere to be seen
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Stop the strip's shadow at the rule it should not be tinting
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Draw Add View's ring where a tab's ring stands
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Put the rule under Add View on the line it belongs to
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Hold both view lists in one popper so neither has to leave
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Draw the tabs' focus ring, and let a closing list keep its contents
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Keep the label on a default secret that is no longer allowed
  shell/components/fleet/FleetPolicySourceSection.vue
  shell/components/fleet/__tests__/FleetPolicySourceSection.test.ts
Due: shell

Close the band at the strip's right edge nothing could paint over
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Square Add View's focus ring for now
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Square the Add View button itself, so it covers its own corners
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Fix based on the reviews
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Fix based on the reviews
  shell/assets/translations/en-us.yaml
  shell/components/TableViews/TableViewsBar.vue
  shell/store/__tests__/growl.test.ts
  shell/store/growl.ts
Due: shell

Filter out UI plugins and catalog entries with restricted visibility
  shell/config/labels-annotations.js
  shell/pages/c/_cluster/uiplugins/index.vue
  shell/store/catalog.ts
Due: shell

Hide input line-break markers from screen readers
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
Due: rancher-components

Honor forwarded layout styles on RcCodeMirror
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  storybook/src/stories/Components/RcCodeMirror.mdx
  storybook/src/stories/Components/RcCodeMirror.stories.ts
Due: rancher-components

Keep read-only CodeMirror accessible from the keyboard
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  storybook/src/stories/Components/RcCodeMirror.mdx
  storybook/src/stories/Components/RcCodeMirror.stories.ts
Due: rancher-components

Cache bracket fold matches per editor state
  pkg/rancher-components/src/components/RcCodeMirror/extensions/fold.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/extensions/fold.ts
Due: rancher-components

Include list indexes in YAML fold paths
  pkg/rancher-components/src/components/RcCodeMirror/extensions/fold.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/extensions/fold.ts
Due: rancher-components

Keep read-only CodeMirror accessible from the keyboard
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  pkg/rancher-components/src/components/RcCodeMirror/extensions/keymaps.ts
  storybook/src/stories/Components/RcCodeMirror.mdx
  storybook/src/stories/Components/RcCodeMirror.stories.ts
Due: rancher-components

Add support for filtering Helm charts by visibility preference
  shell/assets/translations/en-us.yaml
  shell/pages/prefs.vue
  shell/store/catalog.ts
  shell/store/prefs.ts
Due: shell

Only rebuild side nav when a type's count rises from zero
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
Due: shell

Fix secondary menu not updating reactively when CRDs are created
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
Due: shell

Add support for displaying and filtering restricted charts and plugins
  shell/assets/translations/en-us.yaml
  shell/config/types.js
  shell/models/chart.js
  shell/pages/c/_cluster/uiplugins/index.vue
  shell/store/catalog.ts
Due: shell

Change cluster import to RcSections
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/components/DayTwoOps.vue
  pkg/imported/components/VersionManagement.vue
  pkg/imported/components/__tests__/CruImported.test.ts
  pkg/imported/components/__tests__/versionManagement.test.ts
  pkg/rancher-components/src/components/RcSection/index.ts
  pkg/rancher-components/src/components/RcSection/types.ts
  shell/components/RcLabelsAndAnnotations.vue
  shell/components/__tests__/RCLabelsAndAnnotations.test.ts
  shell/components/form/Labels.vue
  shell/components/form/RcKeyValue.vue
  shell/components/form/RcLabels.vue
  shell/components/form/RcPrivateRegistry.vue
  shell/components/form/RcSchedulingCustomization.vue
  shell/components/form/RcSelectOrCreateAuthSecret.vue
  shell/components/form/__tests__/RcKeyValue.test.ts
  shell/components/form/__tests__/RcLabels.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/RcACE.test.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/RcACE.vue
Due: shell, rancher-components

fix type check
  shell/edit/provisioning.cattle.io.cluster/__tests__/RcACE.test.ts
Due: shell

Block duplicate custom resource quota identifiers
  shell/assets/translations/en-us.yaml
  shell/components/form/ResourceQuota/Project.vue
  shell/components/form/ResourceQuota/ResourceQuotaEntry.vue
  shell/components/form/ResourceQuota/__tests__/Project.test.ts
  shell/components/form/ResourceQuota/__tests__/ResourceQuotaEntry.test.ts
Due: shell

Fixed tests and RcSection behavior on scrolling
  cypress/e2e/po/components/rc-section.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/cluster-create-import.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/imported/components/__tests__/DayTwoOps.test.ts
  pkg/rancher-components/src/components/RcSection/RcSection.test.ts
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  shell/components/__tests__/RCLabelsAndAnnotations.test.ts
Due: shell, rancher-components

Center expanded CodeMirror fold carets vertically
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
Due: rancher-components

Center expanded CodeMirror fold carets vertically
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/extensions/fold.ts
Due: rancher-components

Keep folded CodeMirror lines at their original height
  pkg/rancher-components/src/components/RcCodeMirror/extensions/theme.ts
Due: rancher-components
