Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

temp
  shell/assets/translations/en-us.yaml
  shell/components/Wizard.vue
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

temp2
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

revert changes to namespaceFilter + revert changes to e2e tests
  cypress/e2e/po/pages/explorer/config-map.po.ts
  cypress/e2e/po/prompts/ResourceSearchDialog.po.ts
  cypress/e2e/tests/pages/explorer/service-discovery/horizontal-pod-autoscalers.spec.ts
  shell/components/nav/NamespaceFilter.vue
Due: shell

revert e2e changes
  cypress/e2e/po/prompts/ResourceSearchDialog.po.ts
Due: none

Migrated editing imported cluster to Vue
  pkg/imported/components/Nodes.vue
Due: none

styling
  pkg/imported/components/Nodes.vue
Due: none

[FEAT] Switched from creating provisioning cluster for cluster import
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/import/cluster-import.generic.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/aks/l10n/en-us.yaml
  pkg/gke/l10n/en-us.yaml
  pkg/imported/assets/generic.svg
  pkg/imported/components/CruImported.vue
  pkg/imported/index.ts
  pkg/imported/l10n/en-us.yaml
  pkg/imported/provisioner.ts
  pkg/imported/util/validators.ts
  shell/core/types-provisioning.ts
  shell/detail/cluster.vue
  shell/edit/provisioning.cattle.io.cluster/import.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/cluster.js
Due: shell

Removed wrong file
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  shell/detail/cluster.vue
Due: shell

marked anme as required
  pkg/imported/components/CruImported.vue
Due: none

changed basics
  pkg/imported/components/Nodes.vue
Due: none

Adding the Registries accordion to the imported clusters edit pages
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/imported/components/CruImported.vue
  pkg/imported/l10n/en-us.yaml
  shell/assets/translations/en-us.yaml
  shell/utils/validators/formRules/index.ts
Due: shell

revert modal z-index and lower the footer z-index instead
  shell/assets/styles/base/_variables.scss
  shell/components/CruResourceFooter.vue
Due: shell

add on task set up websocket
  cypress.config.ts
  cypress/e2e/tests/pages/explorer/dashboard/websockets/connection.spec.ts
  cypress/globals.d.ts
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/support/commands/chainable.ts
  cypress/support/utils/webSocket-utils.ts
  package.json
  yarn.lock
Due: none

make aks managed identity options always available
  pkg/aks/components/CruAks.vue
  pkg/aks/l10n/en-us.yaml
Due: none

Use `@include focus-outline` for button styles
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Fix data-testid usage in RcDropdownMenu
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdownMenu.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  shell/components/ActionMenuShell.vue
  shell/components/SortableTable/index.vue
  shell/components/nav/HeaderPageActionMenu.vue
  shell/list/management.cattle.io.setting.vue
Due: shell, rancher-components

add unit tests
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

initial visual testing coverage for git repo
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  package.json
Due: none

Pin dependencies in package.json
  package.json
  yarn.lock
Due: none

update unit test
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

Fleet: add Polling Interval input field to GitRepo edit page
  shell/assets/translations/en-us.yaml
  shell/detail/fleet.cattle.io.gitrepo.vue
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet: rename GitRepo Syncronization field -> Polling
  shell/assets/translations/en-us.yaml
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet: set default pollingInterval to 60 seconds and minimu to 15 seconds
  shell/assets/translations/en-us.yaml
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet: fix default pollingInterval in edit mode
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet: Add Enable Polling checkbox
  shell/assets/translations/en-us.yaml
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet: Add Webhook is configured warning
  shell/assets/translations/en-us.yaml
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet: Add Enable/Disable Polling actions
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/models/fleet.cattle.io.gitrepo.js
Due: shell

revert e2e changes
  cypress/e2e/po/pages/explorer/config-map.po.ts
Due: none

add fix for configmap e2e test
  cypress/e2e/po/pages/explorer/config-map.po.ts
Due: none

Update pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

fix lint issue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

Fleet: add Force Update prompt
  shell/assets/translations/en-us.yaml
  shell/models/fleet.cattle.io.gitrepo.js
Due: shell

add unique name for configmap resource creation test
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
Due: none

test e2e fix
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
Due: none

rearrange gke components to fit with import needs
  pkg/gke/components/AccountAccess.vue
  pkg/gke/components/AdvancedOptions.vue
  pkg/gke/components/Config.vue
  pkg/gke/components/CruGKE.vue
Due: none

cluster picker
  pkg/gke/components/AccountAccess.vue
  pkg/gke/components/Config.vue
  pkg/gke/components/CruGKE.vue
  pkg/gke/components/Import.vue
  pkg/gke/l10n/en-us.yaml
  pkg/gke/provisioner.ts
  pkg/gke/util/gcp.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

fix lint
  pkg/gke/components/Import.vue
Due: none

adds small fixes to sortable table a11y
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/translations/en-us.yaml
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/utils/string.js
Due: shell, rancher-components

make screen readers ignore the icons to get sorting indication as its present in th element
  shell/components/SortableTable/THead.vue
Due: shell

add script to do content match of creators workflows files + update workflows for extensions tests
  .github/workflows/scripts/check-creators-workflows-code.sh
  .github/workflows/test-extension-workflows-master.yml
  .github/workflows/test-extension-workflows-release-2.8.yml
  .github/workflows/test-extension-workflows-release-2.9.yml
Due: none
