Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Fix rke2 addon validation (#13017)
  cypress/e2e/po/components/addon-config.po.ts
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke2-custom.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/components/CodeMirror.vue
  shell/components/YamlEditor.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/AddOnConfig.vue
Due: shell

fix aks region being overwritten when editing unprovisioned aks clusters
  pkg/aks/components/CruAks.vue
Due: none

update aks unit tests
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

validate that AKS node pool count is no more than 1000
  pkg/aks/l10n/en-us.yaml
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/validators.ts
Due: none

Update extension gitlab workflow node version (#13032)
  docusaurus/docs/extensions/publishing.md
  docusaurus/extensions_versioned_docs/version-v2/publishing.md
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Due: shell

Align gitlab reusable workflow with release-2.9 (#13033)
  creators/extension/app/files/.gitlab-ci.yml
  creators/extension/package.json
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Due: shell

[2.8] Align gitlab resuable workflow with release-2.8 (#13034)
  creators/extension/app/files/.gitlab-ci.yml
  creators/extension/package.json
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Due: shell

Add creators, docusaurus, and storybook to dependabot schedule
  .github/dependabot.yml
Due: none

Allow HMR in Rancher Components and Harvester
  shell/vue.config.js
Due: shell

Clean up `appConfig` param in `vue.config`
  shell/vue.config.js
Due: shell

fix aks region being overwritten when editing unprovisioned aks clusters (#13037)
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

[2.10.2] Fix rke2 addon validation (#13018)
  cypress/e2e/po/components/addon-config.po.ts
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke2-custom.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/components/CodeMirror.vue
  shell/components/YamlEditor.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/AddOnConfig.vue
Due: shell

refactor: show tag prompts if isSearchable
  shell/components/form/LabeledSelect.vue
Due: shell

Fix icon alignment in the growl component
  shell/components/GrowlManager.vue
Due: shell

sdf
  .github/workflows/scripts/pr-check-checklist.sh
Due: none

Fix icon alignment in the growl component (#13074)
  shell/components/GrowlManager.vue
Due: shell

fix lint
  shell/edit/logging-flow/index.vue
Due: shell

Feature Flags: Make it clearer of impact for features that cause a restart
  shell/assets/translations/en-us.yaml
  shell/config/table-headers.js
  shell/list/management.cattle.io.feature.vue
Due: shell

Make column wider, improve and make the table header consistent with the modal prompt message
  shell/assets/translations/en-us.yaml
  shell/config/product/settings.js
  shell/config/table-headers.js
Due: shell

Show badge color for local cluster
  shell/components/ClusterIconMenu.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/models/management.cattle.io.cluster.js
Due: shell

Fix e2e test
  cypress/e2e/tests/pages/global-settings/feature-flags.spec.ts
Due: none

Tidy up event headers - opens up to event header e2e failures again...
  cypress/e2e/tests/pages/fleet/advanced/workspaces.spec.ts
  shell/components/form/ResourceTabs/index.vue
  shell/config/pagination-table-headers.js
  shell/config/product/explorer.js
  shell/config/table-headers.js
Due: shell

Fix lint and unit test
  shell/components/form/ResourceTabs/index.vue
  shell/config/pagination-table-headers.js
  shell/detail/__tests__/autoscaling.horizontalpodautoscaler.test.ts
Due: shell

Return the old path when `next` is missing from the url
  docusaurus/docusaurus.config.js
Due: none

Show badge color for local cluster (#13077)
  shell/components/ClusterIconMenu.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/models/management.cattle.io.cluster.js
Due: shell

Fix EXTENSION_TAG output typo
  .github/workflows/test-extension-workflows-master.yml
  .github/workflows/test-extension-workflows-release-2.8.yml
  .github/workflows/test-extension-workflows-release-2.9.yml
Due: none

revert change to checkbox
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
Due: rancher-components

working on keyboard nav for header
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/styles/base/_mixins.scss
  shell/assets/styles/global/_button.scss
  shell/components/nav/Header.vue
Due: shell, rancher-components

fix styles based on other PRs + add missing alt and translations to aria-labels + make header menus keyboard browsable
  shell/assets/styles/base/_mixins.scss
  shell/assets/styles/global/_button.scss
  shell/assets/translations/en-us.yaml
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell

improve namespace selector keyboard nav + add focus-trap directive
  package.json
  shell/assets/translations/en-us.yaml
  shell/components/Import.vue
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
  shell/components/nav/NamespaceFilter.vue
  shell/directives/focus-trap.js
  shell/initialize/install-directives.js
  yarn.lock
Due: shell

Improve feature flag restart terminology (#13024)
  cypress/e2e/tests/pages/global-settings/feature-flags.spec.ts
  shell/assets/translations/en-us.yaml
  shell/config/product/settings.js
  shell/config/table-headers.js
  shell/list/management.cattle.io.feature.vue
Due: shell

component Checkbox: add hasTooltip computed value
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
Due: rancher-components

Replace banners with tooltips in GitRepo edit page
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fix EXTENSION_TAG output typo (#13079)
  .github/workflows/test-extension-workflows-master.yml
  .github/workflows/test-extension-workflows-release-2.8.yml
  .github/workflows/test-extension-workflows-release-2.9.yml
Due: none

Return the old path when `next` is missing from the url (#13078)
  docusaurus/docusaurus.config.js
Due: none

restrict installed apps upgrade
  shell/assets/translations/en-us.yaml
  shell/list/catalog.cattle.io.app.vue
  shell/mixins/__tests__/chart.test.ts
  shell/mixins/chart.js
  shell/models/__tests__/catalog.cattle.io.app.test.ts
  shell/models/catalog.cattle.io.app.js
  shell/pages/c/_cluster/explorer/tools/index.vue
  shell/store/catalog.js
Due: shell

update validation message
  pkg/aks/l10n/en-us.yaml
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
