Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Removed props from the types file
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

Fix lint console error
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Relative path
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

Add the button stories
  storybook/src/stories/Components/RcButton.mdx
  storybook/src/stories/Components/RcButton.stories.ts
Due: none

Addressing pr feedback
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/utils/status.ts
Due: rancher-components

Fixed a storybook error
  storybook/src/stories/Components/RcIcon.stories.ts
Due: none

Made RcIcon reactive
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
Due: rancher-components

Fix unit tests
  pkg/rancher-components/src/components/utils/status.test.ts
Due: rancher-components

all scenarios testdd
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/subscribe.js
  shell/types/rancher/steve.api.ts
  shell/types/store/dashboard-store.types.ts
  shell/types/store/pagination.types.ts
  shell/utils/back-off.ts
  shell/utils/pagination-wrapper.ts
Due: shell

Write tests for auth, opsgenie, paterduty, and slack
  shell/edit/monitoring.coreos.com.alertmanagerconfig/__tests__/auth.spec.ts
  shell/edit/monitoring.coreos.com.alertmanagerconfig/auth.vue
  shell/edit/monitoring.coreos.com.alertmanagerconfig/types/__tests__/opsgenie.spec.ts
  shell/edit/monitoring.coreos.com.alertmanagerconfig/types/__tests__/pagerduty.spec.ts
  shell/edit/monitoring.coreos.com.alertmanagerconfig/types/__tests__/slack.spec.ts
  shell/edit/monitoring.coreos.com.alertmanagerconfig/types/pagerduty.vue
Due: shell

Write tests for auth and tls
  shell/edit/monitoring.coreos.com.receiver/__tests__/auth.spec.ts
  shell/edit/monitoring.coreos.com.receiver/__tests__/tls.spec.ts
Due: shell

Write tests for tls, email, opsgenie...
  shell/edit/monitoring.coreos.com.alertmanagerconfig/__tests__/tls.spec.ts
  shell/edit/monitoring.coreos.com.receiver/types/__tests__/email.spec.ts
  shell/edit/monitoring.coreos.com.receiver/types/__tests__/opsgenie.spec.ts
  shell/edit/monitoring.coreos.com.receiver/types/__tests__/pagerduty.spec.ts
  shell/edit/monitoring.coreos.com.receiver/types/__tests__/slack.spec.ts
  shell/edit/monitoring.coreos.com.receiver/types/__tests__/webhook.spec.ts
Due: shell

Resolve lint errors
  shell/edit/monitoring.coreos.com.alertmanagerconfig/__tests__/auth.spec.ts
  shell/edit/monitoring.coreos.com.alertmanagerconfig/__tests__/tls.spec.ts
Due: shell

fix unit tests
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
  shell/plugins/steve/subscribe.js
  shell/types/rancher/steve.api.ts
  shell/utils/back-off.ts
Due: shell

Unit test `monitoring.coreos.com.alertmanagerconfig/index`
  shell/edit/monitoring.coreos.com.alertmanagerconfig/__tests__/index.test.ts
Due: shell

Unit test `monitoring.coreos.com.receiver/index`
  shell/edit/monitoring.coreos.com.receiver/__tests__/index.test.ts
Due: shell

Resolve linter issues
  shell/edit/monitoring.coreos.com.alertmanagerconfig/__tests__/index.test.ts
  shell/edit/monitoring.coreos.com.receiver/__tests__/index.test.ts
Due: shell

fixed warning when running storybook (#16305)
  storybook/src/stories/Components/ArrayList.stories.ts
Due: none

Fixing router 'invalid params for namespace'
  shell/components/RelatedResources.vue
  shell/components/formatter/LinkName.vue
  shell/config/router/routes.js
  shell/plugins/dashboard-store/resource-class.js
  shell/store/prefs.js
  shell/utils/fleet.ts
Due: shell

Router warning fixes
  shell/components/nav/Type.vue
  shell/store/type-map.js
Due: shell

Fixing product params
  shell/components/nav/Group.vue
  shell/components/nav/Type.vue
  shell/utils/__tests__/router.test.js
  shell/utils/router.js
Due: shell

Corrected one invalid 'product' param
  shell/components/nav/Group.vue
  shell/components/nav/Type.vue
  shell/utils/router.js
Due: shell

Favor `stateSimpleColor` over `stateBackground`
  shell/components/Resource/Detail/ResourcePopover/index.vue
Due: shell

Address lint warnings
  shell/edit/monitoring.coreos.com.alertmanagerconfig/__tests__/index.test.ts
  shell/edit/monitoring.coreos.com.alertmanagerconfig/types/__tests__/opsgenie.spec.ts
  shell/edit/monitoring.coreos.com.alertmanagerconfig/types/__tests__/slack.spec.ts
  shell/edit/monitoring.coreos.com.receiver/__tests__/index.test.ts
Due: shell

Improved version display for externally upgraded imported clusters
  pkg/imported/components/Basics.vue
  pkg/imported/l10n/en-us.yaml
  shell/assets/translations/en-us.yaml
  shell/utils/cluster.js
Due: shell

updated wording
  pkg/imported/l10n/en-us.yaml
Due: none

small change
  pkg/imported/components/Basics.vue
Due: none

Fixed THead warning
  shell/components/SortableTable/THead.vue
  shell/store/type-map.js
Due: shell

update tablocation from ALL to OTHER (#16312)
  shell/components/Tabbed/index.vue
  shell/core/types.ts
Due: shell

update tablocation from ALL to OTHER (#16313)
  shell/components/Tabbed/index.vue
  shell/core/types.ts
Due: shell

address pr comments
  docusaurus/docs/extensions/api/panels.md
Due: none

Fixing e2e tests
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.vue
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/RcStatusIndicator.vue
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/utils/status.test.ts
  pkg/rancher-components/src/components/utils/status.ts
Due: rancher-components

tidying up, started adding unit tests
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.helper.test.ts
  shell/components/nav/__tests__/TopLevelMenu.test.ts
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/revision.test.ts
  shell/plugins/steve/revision.ts
  shell/plugins/steve/subscribe.js
  shell/types/rancher/steve.api.ts
  shell/utils/back-off.ts
  shell/utils/pagination-wrapper.ts
Due: shell

add-cm-validation
  shell/components/CodeMirror.vue
Due: shell

more tidying up, more unit tests
  shell/list/projectsecret.vue
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/types/rancher/steve.api.ts
  shell/types/store/dashboard-store.types.ts
  shell/utils/__tests__/pagination-wrapper.test.ts
  shell/utils/pagination-wrapper.ts
Due: shell

add tests for backoff
  shell/utils/__tests__/back-off.test.ts
Due: shell

tidying up + improving diff
  shell/types/rancher/steve.api.ts
  shell/utils/__tests__/back-off.test.ts
Due: shell

update tablocation from ALL to OTHER + update extension docs (#16315)
  docusaurus/docs/extensions/api/actions.md
  docusaurus/docs/extensions/api/cards.md
  docusaurus/docs/extensions/api/common.md
  docusaurus/docs/extensions/api/panels.md
  docusaurus/docs/extensions/api/table-columns.md
  docusaurus/docs/extensions/api/table.md
  docusaurus/docs/extensions/api/tabs.md
  shell/components/Tabbed/index.vue
  shell/core/types.ts
Due: shell

Updated copyright year to 2026 (#16299)
  README.md
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
