Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Update Port PR bot name and command
  .github/workflows/port-pr-bot.yaml
Due: none

Replace Port PR with new Port PR Bot implementation
  .github/workflows/port-pr-bot.yaml
  .github/workflows/port-pr.yaml
Due: none

Remove the label `QA/None` from backported issues
  .github/workflows/port-issue.yaml
Due: none

Resolving some z-index issues around tooltips and slide-ins
  pkg/kubectl-explain/components/SlideInPanel.vue
  shell/assets/styles/base/_variables.scss
  shell/components/Drawer/Chrome.vue
  shell/components/SlideInPanelManager.vue
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Resolves a z-index issue with the kubectl-explain drawer
  pkg/kubectl-explain/components/SlideInPanel.vue
Due: none

Script the updates for e2e release versions
  scripts/update-e2e-rancher-version.sh
Due: none

Remove icon-fw class in action menus (models)
  shell/models/catalog.cattle.io.app.js
  shell/models/catalog.cattle.io.operation.js
  shell/models/cluster.x-k8s.io.machine.js
  shell/models/cluster/node.js
  shell/models/compliance.cattle.io.clusterscan.js
  shell/models/constraints.gatekeeper.sh.constraint.js
  shell/models/persistentvolumeclaim.js
  shell/models/pod.js
  shell/models/provisioning.cattle.io.cluster.js
  shell/models/rke.cattle.io.etcdsnapshot.js
  shell/models/storage.k8s.io.storageclass.js
  shell/models/workload.js
Due: shell

SCC Page fetches all secrets (#15030)
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Restore previous style for labeled input
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

Make LabeledInput validation ready
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/composables/useLabeledFormElement.ts
  storybook/src/stories/foundation/FormComponentInput.stories.ts
  storybook/src/stories/foundation/FormComponentNested.stories.ts
Due: shell, rancher-components

SCC Page fetches all secrets (#15030) (#15132)
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Add example of validation ready component integration with a form
  storybook/src/stories/foundation/FormValidation.mdx
Due: none

fix broken e2e
  cypress/e2e/po/components/registries-tab.po.ts
Due: none

fix keyboard focus being trapped in cluster appearance modal (#15094)
  shell/components/form/ClusterAppearance.vue
Due: shell

add new setting to settings page + add deprecation banner to UI inactivity area in settings-performance + working on inactivity component
  shell/assets/translations/en-us.yaml
  shell/components/Inactivity.vue
  shell/config/settings.ts
  shell/pages/c/_cluster/settings/performance.vue
  shell/utils/inactivity.ts
Due: shell

fix z-index
  shell/components/Tabbed/index.vue
Due: shell

fix keyboard nav on show advanced in cluster create/edit (#15091)
  cypress/e2e/po/components/registries-tab.po.ts
  shell/components/AdvancedSection.vue
Due: shell

tests - wip
  shell/plugins/steve/__tests__/getters.test.ts
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

wip
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

wip
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/subscribe.js
  shell/plugins/steve/worker/web-worker.advanced.js
  shell/utils/back-off.ts
Due: shell

wip
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/getters.js
  shell/plugins/steve/resourceWatcher.js
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

wip - tidying
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/resourceWatcher.js
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

tweaks
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

backoff tests
  shell/utils/__tests__/back-off.test.ts
  shell/utils/back-off.ts
Due: shell

tidying up
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

more tidying up
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

fix and expand sub tests
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

Remove leftover restyle
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

WIP
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

Update Vue to 3.5.18
  package.json
  pkg/rancher-components/package.json
  shell/package.json
  yarn.lock
Due: shell, rancher-components

Adds support for for an additional actions slot in our titlebar/masthead
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/harvester-manager/models/harvesterhci.io.management.cluster.js
  shell/components/Resource/Detail/Masthead/composable.ts
  shell/components/Resource/Detail/Masthead/index.vue
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
  shell/components/Resource/Detail/Page.vue
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/detail/__tests__/provisioning.cattle.io.cluster.test.ts
  shell/detail/configmap.vue
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/detail/secret.vue
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

unit tests
  shell/detail/__tests__/workload.test.ts
Due: shell

fix styles in tabbed footer controls (#15095)
  shell/components/Tabbed/index.vue
Due: shell

address backoff find wiping findPage res after nav from detail to list
  shell/plugins/steve/resourceWatcher.js
  shell/plugins/steve/subscribe.js
Due: shell

add more docs
  shell/plugins/steve/subscribe.js
Due: shell

fixes
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
Due: shell

comments and logs updates
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

remove debug
  shell/plugins/steve/subscribe.js
Due: shell

Implement the Tag component as defined by the DS system
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.test.ts
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.vue
  pkg/rancher-components/src/components/Pill/RcTag/index.ts
  pkg/rancher-components/src/components/Pill/RcTag/types.ts
  shell/assets/styles/base/_color.scss
  shell/assets/styles/themes/_light.scss
  storybook/src/stories/Components/Pill/RcTag.mdx
  storybook/src/stories/Components/Pill/RcTag.stories.ts
Due: shell, rancher-components

Implement the CounterBadge component as defined by the DS system
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.test.ts
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.vue
  pkg/rancher-components/src/components/Pill/RcCounterBadge/index.ts
  pkg/rancher-components/src/components/Pill/RcCounterBadge/types.ts
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.test.ts
  pkg/rancher-components/src/components/Pill/types.ts
  storybook/src/stories/Components/Pill/RcCounterBadge.mdx
  storybook/src/stories/Components/Pill/RcCounterBadge.stories.ts
Due: rancher-components
