Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Fix editing rke2/k3s clusters in 'pending' state (#12694)
  shell/models/__tests__/management.cattle.io.cluster.test.ts
  shell/models/management.cattle.io.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

fix cluster isImported check to account for clusters in the process of provisioning
  shell/models/management.cattle.io.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

remove tests
  shell/models/__tests__/management.cattle.io.cluster.test.ts
Due: shell

Fix upgrade path for extension creators
  creators/extension/app/init
  creators/extension/init
  creators/extension/pkg/init
  creators/extension/update/init
  creators/extension/update/upgrade
Due: none

Add extension upgrade documentation
  creators/extension/app/files/.nvmrc
  creators/extension/app/init
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/migration.md
  docusaurus/docs/extensions/updating-extensions.md
  docusaurus/docs/internal/getting-started/quickstart.md
  docusaurus/extensionSidebar.js
  docusaurus/extensions_versioned_docs/version-v2/extensions-getting-started.md
  docusaurus/extensions_versioned_docs/version-v2/migration.md
  docusaurus/extensions_versioned_docs/version-v2/updating-extensions.md
  docusaurus/extensions_versioned_sidebars/version-v2-sidebars.json
Due: none

Bump extension creator
  creators/extension/package.json
Due: none

fixed some console errors for standard user
  shell/components/ResourceDetail/Masthead.vue
  shell/components/ResourceDetail/index.vue
  shell/list/management.cattle.io.podsecurityadmissionconfigurationtemplate.vue
  shell/models/nodedriver.js
Due: shell

Fixed comments
  shell/components/ResourceDetail/index.vue
Due: shell

Feature/12715 storybook build fix (#12735)
  .github/workflows/scripts/publish-storybook
Due: none

rework isImported and provisionerDisplay cluster properties
  shell/assets/translations/en-us.yaml
  shell/components/formatter/ClusterProvider.vue
  shell/models/management.cattle.io.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

refactor cluster unti tests to account for isImport property refactor
  shell/models/__tests__/management.cattle.io.cluster.test.ts
  shell/models/__tests__/provisioning.cattle.io.cluster.test.ts
  shell/models/management.cattle.io.cluster.js
Due: shell

Iteration
  shell/components/AsyncButton.vue
  shell/components/PaginatedResourceTable.vue
  shell/components/SortableTable/index.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/pages/home.vue
  shell/plugins/steve/steve-pagination-utils.ts
  shell/utils/cluster.js
  shell/utils/pagination-wrapper.ts
Due: shell

Extension creator upgrade paths - Update documentation (#12737)
  creators/extension/app/files/.nvmrc
  creators/extension/app/init
  creators/extension/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/update/init
  creators/extension/update/upgrade
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/migration.md
  docusaurus/docs/extensions/updating-extensions.md
  docusaurus/docs/internal/getting-started/quickstart.md
  docusaurus/extensionSidebar.js
  docusaurus/extensions_versioned_docs/version-v2/extensions-getting-started.md
  docusaurus/extensions_versioned_docs/version-v2/migration.md
  docusaurus/extensions_versioned_docs/version-v2/updating-extensions.md
  docusaurus/extensions_versioned_sidebars/version-v2-sidebars.json
Due: none

Add .nvmrc to app creator
  creators/extension/app/files/.nvmrc
  creators/extension/app/init
Due: none

Bump extension creator 2.0.2
  creators/extension/package.json
Due: none

Bump extension creator 1.0.3
  creators/extension/package.json
Due: none

Clean up extension creator - add rancher annotations to pkg.package.json
  creators/extension/package.json
  creators/extension/pkg/package.json
  creators/extension/pkg/pkg.package.json
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Due: shell

fix ember routing for kontainer driver clusters that are not EKS AKS nor GKE (#12588) (#12600)
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

Remove a stutter in the sentence.
  docusaurus/docs/internal/getting-started/concepts.md
Due: none

Update ContainerShell error messages
  shell/assets/translations/en-us.yaml
  shell/components/nav/WindowManager/ContainerShell.vue
Due: shell

Use `writeln` instead of `write`
  shell/components/nav/WindowManager/ContainerShell.vue
Due: shell

Fix: Prevent dropdown width from shrinking in container picker (#12642)
  shell/components/nav/WindowManager/ContainerLogs.vue
Due: shell

update e2e tests
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  cypress/e2e/tests/pages/global-settings/feature-flags.spec.ts
  cypress/e2e/tests/pages/global-settings/index.spec.ts
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
  cypress/e2e/tests/pages/users-and-auth/index.spec.ts
  cypress/jenkins/init.sh
Due: none

Fix Container Shell unit tests
  shell/components/nav/WindowManager/__tests__/ContainerShell.test.ts
Due: shell

Fixing an issue with eslint not working in vscode
  .eslintignore
  .eslintrc.default.js
  eslint-plugin-local-rules/index.js
  eslint-plugin-local-rules/v-clean-tooltip.js
  package.json
  pkg/rancher-components/package.json
  pkg/rancher-components/types/index.d.ts
  yarn.lock
Due: rancher-components

Clean up extension creator - add rancher annotations to pkg.package.json (#12741)
  creators/extension/package.json
  creators/extension/pkg/package.json
  creators/extension/pkg/pkg.package.json
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Due: shell

[Backport 2.8] Extension creator upgrade paths (#12740)
  creators/extension/app/files/.nvmrc
  creators/extension/app/init
  creators/extension/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
  creators/extension/pkg/pkg.package.json
  creators/extension/update/init
  creators/extension/update/upgrade
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Due: shell

[Backport 2.9] Extension creator upgrade paths (#12739)
  creators/extension/app/files/.nvmrc
  creators/extension/app/init
  creators/extension/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
  creators/extension/pkg/pkg.package.json
  creators/extension/update/init
  creators/extension/update/upgrade
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Due: shell

Fix dupe inStore - remove from resource list, put in resource-fetch (used also by pag res table)
  shell/components/ResourceList/index.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/mixins/resource-fetch.js
Due: shell

add more code comments
  creators/extension/migrate/tasks/packageUpdates.js
Due: none

fix migration script to originate correct builds
  creators/extension/migrate/tasks/packageUpdates.js
Due: none

fix issue with migration script updating resolutions + mark package updates for future adjustment after analysis
  creators/extension/migrate/tasks/packageUpdates.js
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
