Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Revert home-list test fully to master (only the warm-up was ours)
  cypress/e2e/tests/pages/generic/home-list.spec.ts
Due: none

Remove fail-whale handling entirely (recovery + prevention) to re-verify need
  cypress/e2e/po/pages/page.po.ts
  cypress/e2e/tests/pages/charts/chart-install-wizard.spec.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/fail-whale.ts
  cypress/support/e2e.ts
Due: none

support importing ts files to potentially fix e2e tests
  shell/pkg/import.js
Due: shell

Show zero-count types in the used side nav section
  shell/store/type-map.js
Due: shell

Cover the used-tree zero-count behaviour with a test
  shell/store/__tests__/type-map.getTree.test.ts
  shell/store/type-map.js
Due: shell

Trim narration comments from the nav jump-to toolbar
  shell/components/SideNav.vue
  shell/components/nav/NavActionBar.vue
Due: shell

Add RcModal component and migrate two modals to it
  cypress/e2e/po/prompts/promptRemove.po.ts
  pkg/rancher-components/src/components/RcModal/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/index.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  pkg/rancher-components/src/components/RcModal/widths.ts
  pkg/rancher-components/src/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/apis/intf/shell-api/modal.ts
  shell/apis/shell/__tests__/modal.test.ts
  shell/apis/shell/modal.ts
  shell/components/ModalManager.vue
  shell/components/PromptRemove.vue
  shell/components/ResourceCancelModal.vue
  shell/components/__tests__/ModalManager.spec.ts
  shell/dialog/ScalePoolDownDialog.vue
  shell/dialog/SloDialog.vue
  shell/store/__tests__/modal.test.ts
  shell/store/modal.ts
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: shell, rancher-components

Review and modernize `shell/vue.config.js` migration leftovers (#18815)
  shell/vue.config.js
Due: shell

SURE-8995: hide member actions on projects the user cannot manage
  shell/components/ExplorerMembers.vue
  shell/components/form/Members/MembershipEditor.vue
  shell/utils/project-permissions.ts
Due: shell

fix: let project members with manage-members access the members page (SURE-8995)
  shell/components/ExplorerMembers.vue
  shell/config/product/explorer.js
  shell/store/type-map.js
Due: shell

SURE-8995: gate ArrayList add area for view-only project members
  shell/components/form/Members/MembershipEditor.vue
Due: shell

SURE-8995: don't load cluster role bindings without management CRTB schema
  shell/components/ExplorerMembers.vue
Due: shell

Update home screen used on main readme
  docusaurus/docs/internal/getting-started/screenshots/home.png
Due: none

Toggle visibility for the slide in inside the chat install
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

FIx scroll bars show on preview panel
  shell/components/Resource/Detail/Preview/Preview.vue
Due: shell

fix e2e tests
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

changes following review
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

Remove deprecated performance settings - functionally to be removed later on
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/pages/c/_cluster/settings/performance.vue
  shell/utils/gc/__tests__/gc-root-store.test.ts
  shell/utils/gc/gc-root-store.js
Due: shell

Add cost audit workflow
  .github/aw/actions-lock.json
  .github/workflows/audit-workflows.lock.yml
  .github/workflows/audit-workflows.md
  .github/workflows/metrics-collector.lock.yml
  .github/workflows/metrics-collector.md
  .github/workflows/portfolio-analyst.lock.yml
  .github/workflows/portfolio-analyst.md
  .github/workflows/shared/meta-analysis-base.md
  .github/workflows/shared/reporting.md
Due: none

Update all the existing agents to collect reports
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-accessibility-review.md
  .github/workflows/daily-issue-grooming.lock.yml
  .github/workflows/daily-issue-grooming.md
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-repo-status.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/daily-test-improver.md
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
Due: none

improving spacing
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

Fix alignment on banner text when left aligned
  shell/components/BannerGraphic.vue
Due: shell

Extend dead code detector workflow to fix issues
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Update home screen used on main readme (#18874)
  docusaurus/docs/internal/getting-started/screenshots/home.png
Due: none

FIx scroll bars show on preview panel (#18878)
  shell/components/Resource/Detail/Preview/Preview.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
