Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Offer the cluster pin from the cluster's own detail title
  shell/assets/translations/en-us.yaml
  shell/components/ClusterPinControl.vue
  shell/components/ClusterRowPin.vue
  shell/components/Resource/Detail/Masthead/index.vue
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/components/__tests__/ClusterPinControl.test.ts
  shell/components/nav/Header.vue
  shell/components/nav/__tests__/Header.test.ts
  shell/detail/provisioning.cattle.io.cluster.vue
Due: shell

Lead the cluster bulk bar with the pin pair
  shell/models/__tests__/provisioning.cattle.io.cluster.test.ts
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Give the badge column room to read as a column
  shell/config/table-headers.js
Due: shell

Prevent manual workflow to fail
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

add comprehensive guidance for verifying auto-registered components and determining confidence levels through git history analysis
  .github/workflows/dead-code-detector.md
Due: none

PR suggestions; added section for logging lessons, instead of using issues
  .github/agents/lessons/dead-code.md
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Add dead code detector agent
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Stop grouping the detector's issues under a parent
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Extend dead code detector workflow to fix issues
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Stop the watchdog killing the detector's pull request
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/shared/rancher-server.md
  .github/workflows/shared/report-and-fix.md
Due: none

Move all the previous issues within the lessons
  .github/agents/lessons/dead-code.md
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Isolate shared logic; Rewritten workflow after rebase to include issues and PR, as well tests and videos/screenshots
  .github/agents/lessons/dead-code.md
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/shared/evidence.md
  .github/workflows/shared/lessons.md
  .github/workflows/shared/rancher-server.md
  .github/workflows/shared/report-and-fix.md
Due: none

Stop the detector duplicating and mis-verifying findings
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Train over lessons
  .github/agents/lessons/dead-code.md
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Harden dead code detector against false findings
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Remove Knip
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

Name bot branches after the issue they fix
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/shared/report-and-fix.md
Due: none

Rewrite the detector prompts for scannability
  .github/agents/lessons/dead-code.md
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/shared/evidence.md
  .github/workflows/shared/lessons.md
  .github/workflows/shared/rancher-server.md
  .github/workflows/shared/report-and-fix.md
Due: none

Corrected PR template
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/shared/report-and-fix.md
Due: none

Address review on the dead code detector
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/shared/lessons.md
  .github/workflows/shared/report-and-fix.md
Due: none

Address second round of review on the dead code detector
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/shared/report-and-fix.md
Due: none

Take a paste into the filter box wherever the selection has wandered
  shell/components/TableViews/TableViewQueryInput.vue
Due: shell

Name a new view on its tab, and give the shortcuts a keyboard to match
  shell/assets/translations/en-us.yaml
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Remove code freeze 24-09-2026
  branches-metadata.json
Due: none

Keep 2.11 frozen
  branches-metadata.json
Due: none

Add Qase case IDs to settings and preferences specs
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
Due: none

Set an index URL in the duplicate repository e2e test
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
Due: none

remove unnecessary message
  shell/assets/translations/en-us.yaml
  shell/detail/pod.vue
  shell/detail/workload/index.vue
Due: shell

Point the action pin the way every other pin points
  shell/assets/styles/base/_helpers.scss
  shell/components/formatter/ClusterLink.vue
  shell/models/provisioning.cattle.io.cluster.js
  shell/pages/home.vue
Due: shell

Win the title pin's colour on specificity
  shell/components/ClusterPinControl.vue
Due: shell

Fleet: wait for the stored workspace, and log what gets written
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
Due: none

Open Export As... on YAML, and a view's export on CSV
  shell/components/TableViews/TableViewExportModal.vue
Due: shell

Clear out what the toolbar no longer uses, and stop writing it twice
  shell/assets/translations/en-us.yaml
  shell/components/TableViews/TableViewQueryInput.vue
  shell/components/TableViews/TableViewsBar.vue
  shell/utils/__tests__/table-views.test.ts
  shell/utils/table-views.ts
Due: shell

Fleet: drop the temporary preference-write logging
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
Due: none

Lay the policy sections out as the updated design does
  shell/assets/translations/en-us.yaml
  shell/components/fleet/FleetPolicyServiceAccountsSection.vue
  shell/components/fleet/FleetPolicySourceSection.vue
  shell/components/fleet/__tests__/FleetPolicyServiceAccountsSection.test.ts
  shell/components/fleet/__tests__/FleetPolicySourceSection.test.ts
  shell/edit/__tests__/fleet.cattle.io.policy.test.ts
  shell/edit/fleet.cattle.io.policy.vue
Due: shell

Offer every allowed name as the default, not only the ones that exist
  shell/components/fleet/FleetPolicySourceSection.vue
  shell/components/fleet/__tests__/FleetPolicySourceSection.test.ts
Due: shell

Apply Rancher CodeMirror theme in Dashboard
  pkg/rancher-components/package.json
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  pkg/rancher-components/src/components/RcCodeMirror/extensions/theme.ts
  pkg/rancher-components/src/components/RcCodeMirror/types.ts
  shell/components/CodeMirror.vue
  shell/components/Drawer/ResourceDetailDrawer/YamlTab.vue
  shell/components/YamlEditor.vue
  shell/components/__tests__/CodeMirror.test.ts
  shell/core/plugins-loader.js
  shell/dialog/KnownHostsEditDialog.vue
  shell/edit/workload/storage/index.vue
  shell/package.json
  shell/pkg/__tests__/shared-codemirror.test.ts
  shell/pkg/shared-codemirror.js
  storybook/src/stories/Components/RcCodeMirror.mdx
  storybook/src/stories/Components/RcCodeMirror.stories.ts
  yarn.lock
Due: shell, rancher-components

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
