Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Update the styling of our detail page tables
  shell/components/form/ResourceTabs/index.vue
Due: shell

Prioritize conditions with messages and reason without Failure
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Fixed Harvester detail page through Cluster Management (#14982)
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/side-bars/detail-drawer.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/harvester-manager/models/harvesterhci.io.management.cluster.js
  shell/components/Drawer/ResourceDetailDrawer/index.vue
  shell/components/Tabbed/index.vue
  shell/models/provisioning.cattle.io.cluster.js
  shell/plugins/dashboard-store/resource-class.js
Due: shell

Resolved an issue where the new masthead broke the existing extension panels
  shell/components/Resource/Detail/Metadata/composables.ts
  shell/components/Resource/Detail/Metadata/index.vue
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/Resource/Detail/TitleBar/index.vue
Due: shell

backport: add missing cypress-terminal-report plugin to Jenkins config
  cypress/jenkins/cypress.config.jenkins.ts
Due: none

Resolves a spacing issue for metadata components (#15027)
  shell/components/Resource/Detail/Metadata/index.vue
Due: shell

Fixes an issue where workload yaml editors didn't show errors
  shell/edit/workload/index.vue
Due: shell

Reverted the color of the loading background while maintaining the new color for the rest of overlays
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/CodeMirror.vue
  shell/components/Loading.vue
  shell/components/form/FileImageSelector.vue
Due: shell

Update the styling of our detail page tables (#14986)
  shell/components/form/ResourceTabs/index.vue
Due: shell

Fixed Harvester detail page access through Cluster Management
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/side-bars/detail-drawer.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/harvester-manager/models/harvesterhci.io.management.cluster.js
  shell/components/Drawer/ResourceDetailDrawer/index.vue
  shell/components/Tabbed/index.vue
  shell/models/provisioning.cattle.io.cluster.js
  shell/plugins/dashboard-store/resource-class.js
Due: shell

Create a tests which returns errors
  pkg/rancher-prime/pages/registration.composable.test.ts
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Move `scrollIntoView()` implementation to `useDropdownItem()`
  pkg/rancher-components/src/components/RcDropdown/useDropdownItem.ts
  shell/components/nav/NotificationCenter/Notification.vue
Due: shell, rancher-components

Add `scrollIntoView()` to dropdown items
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemCheckbox.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemSelect.vue
Due: rancher-components

Clean up focus styles for items in dropdown target
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

moved test
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Fixes an issue where workload yaml editors didn't show errors (#15057)
  shell/edit/workload/index.vue
Due: shell

display error image only when src is falsy or got an error
  shell/components/LazyImage.vue
  shell/utils/style.ts
Due: shell

Update unit tests
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.test.ts
Due: rancher-components

[2.12.1] Fixed Harvester detail page access through Cluster Management (#15059)
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/side-bars/detail-drawer.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/harvester-manager/models/harvesterhci.io.management.cluster.js
  shell/components/Drawer/ResourceDetailDrawer/index.vue
  shell/components/Tabbed/index.vue
  shell/models/provisioning.cattle.io.cluster.js
  shell/plugins/dashboard-store/resource-class.js
Due: shell

handle charts zero time
  shell/models/__tests__/chart.test.ts
  shell/models/chart.js
  shell/pages/c/_cluster/apps/charts/AppChartCardSubHeader.vue
Due: shell

Reverted the color of the loading background while maintaining the new color for the rest of overlays (#15058)
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/CodeMirror.vue
  shell/components/Loading.vue
  shell/components/form/FileImageSelector.vue
Due: shell

fix issue with pods capacity on node list view + add unit test + remove tests that are duplicated in a different model
  shell/models/__tests__/management.cattle.io.node.ts
  shell/models/__tests__/node.test.ts
  shell/models/cluster/node.js
Due: shell

fix lint issues
  shell/models/__tests__/management.cattle.io.node.ts
  shell/models/__tests__/node.test.ts
Due: shell

fix issue with pods capacity on node list view + add unit test + remove tests that are duplicated in a different model
  shell/models/__tests__/node.test.ts
  shell/models/cluster/node.js
Due: shell

SCC - unclear error message for invalid registration code (#15056)
  pkg/rancher-prime/pages/registration.composable.test.ts
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

fix issue with pods capacity on node list view (#15062)
  shell/models/__tests__/node.test.ts
  shell/models/cluster/node.js
Due: shell

fix issue with pods capacity on node list view + add unit test + remove tests that are duplicated in a different model (#15063)
  shell/models/__tests__/node.test.ts
  shell/models/cluster/node.js
Due: shell

fix issue with pods capacity on node list view + add unit test + remove tests that are duplicated in a different model (#15064)
  shell/models/__tests__/node.test.ts
  shell/models/cluster/node.js
Due: shell

Implements the status badge as defined in the design system
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.test.ts
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.vue
  pkg/rancher-components/src/components/Pill/RcStatusBadge/index.ts
  pkg/rancher-components/src/components/Pill/RcStatusBadge/types.ts
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/RcStatusIndicator.test.ts
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/index.ts
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/types.ts
  pkg/rancher-components/src/components/Pill/types.ts
  shell/assets/styles/base/_color.scss
  shell/assets/styles/themes/_light.scss
  storybook/src/stories/Components/Pill/RcStatusBadge.mdx
  storybook/src/stories/Components/Pill/RcStatusBadge.stories.ts
  storybook/src/stories/Components/Pill/RcStatusIndicator.mdx
  storybook/src/stories/Components/Pill/RcStatusIndicator.stories.ts
  storybook/src/stories/Components/Pill/StatusIndicator.mdx
Due: shell, rancher-components

[backport 2.12.1] Resolved an issue where the new masthead broke the existing extension panels (#15028)
  shell/components/Resource/Detail/Metadata/composables.ts
  shell/components/Resource/Detail/Metadata/index.vue
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/Resource/Detail/TitleBar/index.vue
Due: shell

wip
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/getters.js
  shell/plugins/steve/resourceWatcher.js
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

Guard `scrollIntoView()` against invalid events
  pkg/rancher-components/src/components/RcDropdown/useDropdownItem.ts
Due: rancher-components

Remove overflow assertions from `RcDropdown.test`
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.test.ts
Due: rancher-components

include keywords in charts search
  shell/store/__tests__/catalog.test.ts
  shell/store/catalog.js
Due: shell

lint
  shell/store/catalog.js
Due: shell

Update charts e2e test so that it doesn't rely on version
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
Due: none

fix broken keyword comma + remove extra space
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

Update global git user in `port-pr`
  .github/workflows/port-pr.yaml
Due: none

fix dashed border color
  shell/assets/styles/base/_helpers.scss
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
