Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Fix container table menu
  shell/models/pod.js
Due: shell

Add node and pod feature flag checks
  shell/models/cluster.x-k8s.io.machine.js
  shell/models/cluster/node.js
  shell/models/pod.js
  shell/models/workload.js
Due: shell

Fix lint issue
  shell/components/templates/default.vue
Due: shell

flakey - fix roles spec retry - currently cannot retry on failure - given this fails about half the time this should cut out run retries altogether
  cypress/e2e/tests/pages/generic/login.spec.ts
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

Removed Fleet naming on the main screen of appBundle, and on settings (#17991)
  shell/assets/translations/en-us.yaml
Due: shell

fix some tests
  pkg/aks/components/__tests__/CruAks.test.ts
  pkg/eks/components/__tests__/CruEKS.test.ts
  shell/edit/__tests__/management.cattle.io.setting.test.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
  shell/utils/validators/__tests__/private-registry.test.ts
Due: shell

fix aks, gke initialization of importedConfig
  pkg/aks/components/CruAks.vue
  pkg/gke/components/CruGKE.vue
Due: none

label tests
  shell/components/form/__tests__/PrivateRegistry.test.ts
Due: shell

lint
  shell/utils/validators/__tests__/private-registry.test.ts
Due: shell

remove commented style
  shell/edit/management.cattle.io.setting/system-default-registry-pull-secrets.vue
Due: shell

eks tests, private registry tests
  pkg/eks/components/__tests__/CruEKS.test.ts
  shell/components/form/PrivateRegistry.vue
  shell/components/form/__tests__/PrivateRegistry.test.ts
Due: shell

change updateUserPreferences followingLogIn to delay
  cypress/e2e/tests/pages/charts/logging.spec.ts
  cypress/e2e/tests/pages/explorer/dashboard/events.spec.ts
  cypress/e2e/tests/pages/explorer/more-resources/api/custom-resource-definitions.spec.ts
  cypress/e2e/tests/pages/explorer/more-resources/core/service-accounts.spec.ts
  cypress/e2e/tests/pages/explorer/more-resources/rbac/role-bindings.spec.ts
  cypress/e2e/tests/pages/explorer/more-resources/rbac/roles.spec.ts
  cypress/e2e/tests/pages/explorer/more-resources/yaml/no-form-resource.spec.ts
  cypress/e2e/tests/pages/explorer/service-discovery/horizontal-pod-autoscalers.spec.ts
  cypress/e2e/tests/pages/explorer/service-discovery/services.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/persistent-volume-claims.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/persistent-volumes.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/storage-classes.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/cronjobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/statefulsets.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

allow more time for log in page to load
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/tests/pages/explorer2/namespace-picker.spec.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

allow rke auth secrets
  shell/components/form/PrivateRegistry.vue
Due: shell

use self hosted runner
  .github/workflows/test.yaml
Due: none

Hide shell/ssh buttons when feature flags are disabled (#18059)
  shell/components/nav/Header.vue
  shell/components/templates/default.vue
  shell/models/pod.js
  shell/models/workload.js
  shell/store/features.js
Due: shell

allow more time for log in page to load - 2
  cypress/e2e/po/pages/login-page.po.ts
Due: none

[15347] Added git hub app authentication (Opaque) to the GitRepo on fleet. (#18074)
  cypress/e2e/po/components/select-or-create-auth.po.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
  pkg/rancher-components/src/components/Form/TextArea/__tests__/TextAreaAutoGrow.test.ts
  shell/assets/translations/en-us.yaml
  shell/components/fleet/GitRepoAdvancedTab.vue
  shell/components/form/FileSelector.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/components/form/__tests__/FileSelector.test.ts
  shell/components/form/__tests__/SelectOrCreateAuthSecret.test.ts
  shell/config/secret.ts
  shell/config/types.js
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/models/__tests__/secret.test.ts
  shell/models/secret.js
Due: shell, rancher-components

print host cpu and memory stats on failure
  cypress/base-config.ts
  cypress/support/e2e.ts
Due: none

update styling to work with rke auth config secrets
  shell/components/form/PrivateRegistry.vue
Due: shell

move checking for monitoring charts into a helper + add check for certified annotation
  shell/components/EtcdInfoBanner.vue
  shell/components/GrafanaDashboard.vue
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/utils/grafana.js
  shell/utils/monitoring.js
Due: shell

fix cloud credential annotation path in SelectCredential
  shell/edit/provisioning.cattle.io.cluster/SelectCredential.vue
Due: shell

lint
  shell/edit/provisioning.cattle.io.cluster/SelectCredential.vue
Due: shell

add missing register before hook and fix eks types
  pkg/eks/components/CruEKS.vue
  pkg/eks/types/index.d.ts
Due: none

Resize table action buttons
  shell/components/SortableTable/index.vue
Due: shell

remove lines about generateName because name is required
  shell/edit/provisioning.cattle.io.cluster/SelectCredential.vue
Due: shell

Allow group buttons to be resized
  shell/assets/styles/global/_button.scss
  shell/components/ButtonGroup.vue
  shell/components/ResourceTable.vue
  shell/components/__tests__/ButtonGroup.test.ts
Due: shell

Resize the filter input in the table header
  shell/components/SortableTable/index.vue
Due: shell

fix cloud credential annotation path in SelectCredential (#18107)
  shell/edit/provisioning.cattle.io.cluster/SelectCredential.vue
Due: shell

Resize the ActionDropdown in table header
  pkg/rancher-components/src/components/RcButton/index.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/ActionDropdownShell.vue
  shell/components/SortableTable/index.vue
Due: shell, rancher-components

17255 authenticated private registries (#18099)
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/aks/components/Config.vue
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
  pkg/eks/components/CruEKS.vue
  pkg/eks/components/__tests__/CruEKS.test.ts
  pkg/eks/types/index.d.ts
  pkg/gke/components/CruGKE.vue
  pkg/imported/components/CruImported.vue
  shell/assets/translations/en-us.yaml
  shell/components/form/PrivateRegistry.constants.ts
  shell/components/form/PrivateRegistry.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/components/form/__tests__/PrivateRegistry.test.ts
  shell/config/settings.ts
  shell/edit/__tests__/management.cattle.io.setting.test.ts
  shell/edit/management.cattle.io.setting/index.vue
  shell/edit/management.cattle.io.setting/system-default-registry-pull-secrets.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/plugins/dashboard-store/getters.js
  shell/plugins/dashboard-store/resource-class.js
  shell/utils/validators/__tests__/private-registry.test.ts
  shell/utils/validators/private-registry.ts
Due: shell

more test cases
  shell/models/__tests__/rke-machine.cattle.io.vmwarevspheremachinetemplate.test.ts
Due: shell

lint
  shell/models/__tests__/rke-machine.cattle.io.vmwarevspheremachinetemplate.test.ts
Due: shell

Fix e2e tests
  cypress/e2e/po/lists/machine-deployments-list.po.ts
  cypress/e2e/po/lists/machine-set-list.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
  cypress/e2e/tests/pages/manager/machine-deployments.spec.ts
  cypress/e2e/tests/pages/manager/machine-sets.spec.ts
Due: none

Disabled editing capi clusters as yaml from editing as config
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Add yarn.lock
  cypress/yarn.lock
  yarn.lock
Due: none

Fixed test and added the validation to the name field for AppCo same as the other AppBundles
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  shell/components/fleet/HelmOpAppCoConfigTab.vue
  shell/edit/fleet.cattle.io.helmop.vue
Due: shell

Fix e2e test
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

Add feature flag properties to the store
  shell/store/features.js
Due: shell

Disable localhost if new flag is set to false; add message
  shell/pages/auth/login.vue
  shell/pages/c/_cluster/auth/config/index.vue
Due: shell
