Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Add support for modifying doc links and add support for different links for Rancher Prime (#13020)
  cypress/e2e/po/edit/auth/azuread.po.ts
  cypress/e2e/tests/pages/generic/prime.spec.ts
  pkg/rancher-prime/assets/rancher-prime.svg
  pkg/rancher-prime/babel.config.js
  pkg/rancher-prime/docs.ts
  pkg/rancher-prime/index.ts
  pkg/rancher-prime/package.json
  pkg/rancher-prime/tsconfig.json
  pkg/rancher-prime/vue.config.js
  shell/components/CommunityLinks.vue
  shell/config/version.js
  shell/core/plugin.ts
  shell/core/plugins.js
  shell/core/types.ts
  shell/plugins/clean-html.js
  shell/plugins/plugin.js
  shell/scripts/typegen.sh
  shell/vue.config.js
Due: shell

Use var not secret
  .github/workflows/test.yaml
Due: none

Remove debug config
  scripts/e2e
Due: none

Remove close button from banner and move to a page action (#13255)
  cypress/e2e/po/pages/home.po.ts
  cypress/e2e/po/side-bars/page-actions.po.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  shell/assets/translations/en-us.yaml
  shell/components/BannerGraphic.vue
  shell/config/page-actions.js
  shell/pages/home.vue
Due: shell

Debug
  .github/workflows/test.yaml
Due: none

fix slidein extension details panel key nav
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
  shell/pages/c/_cluster/uiplugins/index.vue
  shell/pages/c/_cluster/uiplugins/test.vue
Due: shell

fix lint errors
  shell/pages/c/_cluster/uiplugins/CatalogList/index.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
  shell/pages/c/_cluster/uiplugins/SetupUIPlugins.vue
  shell/pages/c/_cluster/uiplugins/UninstallDialog.vue
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

address pr comments
  pkg/rancher-components/src/components/Card/Card.vue
  shell/components/AppModal.vue
  shell/components/Dialog.vue
  shell/composables/focusTrap.ts
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogLoadDialog.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogUninstallDialog.vue
  shell/pages/c/_cluster/uiplugins/DeveloperInstallDialog.vue
  shell/pages/c/_cluster/uiplugins/InstallDialog.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
  shell/pages/c/_cluster/uiplugins/UninstallDialog.vue
Due: shell, rancher-components

fine tune cluster badge trigger btn
  shell/pages/c/_cluster/explorer/ConfigBadge.vue
Due: shell

add change so that we dont have a change on the component diff
  shell/pages/c/_cluster/explorer/ConfigBadge.vue
Due: shell

working on focus trap composable
  pkg/rancher-components/src/components/Card/Card.vue
  shell/components/Tabbed/index.vue
  shell/composables/focusTrap.ts
  shell/pages/c/_cluster/uiplugins/InstallDialog.vue
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell, rancher-components

finish work on extensions page
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_form.scss
  shell/components/Dialog.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogLoadDialog.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogUninstallDialog.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/index.vue
  shell/pages/c/_cluster/uiplugins/DeveloperInstallDialog.vue
  shell/pages/c/_cluster/uiplugins/InstallDialog.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell, rancher-components

working on slide in panel refactor
  shell/assets/translations/en-us.yaml
  shell/components/AppModal.vue
  shell/composables/focusTrap.ts
  shell/pages/c/_cluster/explorer/ConfigBadge.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogLoadDialog.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogUninstallDialog.vue
  shell/pages/c/_cluster/uiplugins/DeveloperInstallDialog.vue
  shell/pages/c/_cluster/uiplugins/InstallDialog.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
  shell/pages/c/_cluster/uiplugins/SetupUIPlugins.vue
  shell/pages/c/_cluster/uiplugins/UninstallDialog.vue
  shell/pages/c/_cluster/uiplugins/index.vue
  shell/pages/c/_cluster/uiplugins/test.vue
Due: shell

header keyboard nav work save
  pkg/kubectl-explain/components/ExplainPanel.vue
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/kubectl-explain/l10n/en-us.yaml
  pkg/rancher-components/src/components/Card/Card.vue
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_button.scss
  shell/assets/styles/global/_form.scss
  shell/assets/translations/en-us.yaml
  shell/components/AppModal.vue
  shell/components/AsyncButton.vue
  shell/components/CodeMirror.vue
  shell/components/Import.vue
  shell/components/YamlEditor.vue
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
  shell/components/nav/Jump.vue
  shell/components/nav/NamespaceFilter.vue
  shell/components/nav/WindowManager/ContainerLogs.vue
  shell/components/nav/WindowManager/ContainerShell.vue
  shell/components/nav/WindowManager/index.vue
  shell/composables/focusTrap.ts
Due: shell, rancher-components

rebase with extensions PR
  pkg/kubectl-explain/components/SlideInPanel.vue
  shell/composables/focusTrap.ts
Due: shell

fix lingering issues with namespace filter and focus trap on resource search modal
  shell/components/AppModal.vue
  shell/components/nav/Header.vue
  shell/components/nav/NamespaceFilter.vue
  shell/composables/focusTrap.ts
Due: shell

update dropdowns
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell

Update test.yaml
  .github/workflows/test.yaml
Due: none

Temporarily disable vai e2e tests
  .github/workflows/test.yaml
Due: none

fix slides alignment + use refs + handle throttling
  shell/components/Carousel.vue
Due: shell

fix unit test
  shell/components/Carousel.vue
Due: shell

disable sorry cypress
  package.json
Due: none

Add aria-labels to buttons
  shell/components/form/FileSelector.vue
  shell/components/form/KeyValue.vue
Due: shell

Add aria labels to KeyValue inputs
  shell/assets/translations/en-us.yaml
  shell/components/form/KeyValue.vue
Due: shell

Add button roles to KeyValue
  shell/components/form/FileSelector.vue
  shell/components/form/KeyValue.vue
Due: shell

Add aria labels for grid structure
  shell/components/form/KeyValue.vue
Due: shell

Add rowgroup and row to KeyValue grid structure
  shell/components/form/KeyValue.vue
Due: shell

Improve accessibility of `KeyValue.vue` (#13261)
  shell/assets/translations/en-us.yaml
  shell/components/form/FileSelector.vue
  shell/components/form/KeyValue.vue
Due: shell

update some github actions to v4
  docs/developer/build-methods/build-for-container-registry.md
Due: none

Fix extensions tests failing for 2.8 (#13249)
  .github/workflows/build-and-upload.yaml
  .github/workflows/build-extension-charts.yml
  .github/workflows/build-test.yaml
  .github/workflows/docusaurus.yaml
  .github/workflows/pr-zube.yaml
  .github/workflows/rancher-components.yaml
  .github/workflows/release-rancher-components.yml
  .github/workflows/test.yaml
  docusaurus/docs/guide/build-for-container-registry.md
Due: none

[2.10.3] Fleet: git repo wizard ux improvements
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell, rancher-components

fix problems of propagation
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
