Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Update to v9 with deprecated .eslint for minor changes
  .eslintrc.default.js
  creators/extension/app/files/.eslintrc.js
  package.json
  pkg/rancher-components/.eslintrc.js
  pkg/rancher-components/package.json
  shell/package.json
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  yarn.lock
Due: shell, rancher-components

Update to v9 with updated config
  .eslintignore
  .eslintrc.default.js
  .eslintrc.js
  eslint.config.base.mjs
  eslint.config.mjs
  package.json
  pkg/rancher-components/.eslintignore
  pkg/rancher-components/.eslintrc.js
  pkg/rancher-components/eslint.config.mjs
  pkg/rancher-components/package.json
  yarn.lock
Due: rancher-components

Added eslint-v10 changes
  creators/extension/app/files/.eslintignore
  creators/extension/app/files/.eslintrc.js
  creators/extension/app/files/.vscode/settings.json
  creators/extension/app/files/eslint.config.mjs
  creators/extension/app/init
  eslint-plugin-local-rules/v-clean-tooltip.js
  eslint.config.base.mjs
  package.json
  pkg/rancher-components/package.json
  shell/package.json
  yarn.lock
Due: shell, rancher-components

Applied same semver type to lock the expected version
  shell/package.json
Due: shell

Updated based on review
  eslint-plugin-local-rules/v-clean-tooltip.js
  shell/yarn.lock
Due: shell

Fixed semver to 7.7.1, the one previously on the yarn.lock
  package.json
  yarn.lock
Due: none

[16725] Added a condition to retry 10 times if has the label
  .github/workflows/auto-retry.yaml
Due: none

Added options to have URL for easy access and to comment on the associated PR
  .github/workflows/auto-retry.yaml
Due: none

Bump tmp to 0.2.7 to fix GHSA-7c78-jf6q-g5cm (CVE-2026-49982) (#18437)
  cypress/package.json
  cypress/yarn.lock
Due: none

Bump webpack-dev-server to 5.2.6 to fix 6 advisories (GHSA-4v9v-hfq4-rm2v, GHSA-9jgg-88mc-972h, GHSA-f5vj-f2hx-8m93, GHSA-m28w-2pqf-7qgj, GHSA-79cf-xcqc-c78w, GHSA-mx8g-39q3-5c79)
  cypress/package.json
  cypress/yarn.lock
  docusaurus/package.json
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell

Bump immutable to 5.1.9 to fix GHSA-v56q-mh7h-f735 and GHSA-xvcm-6775-5m9r
  shell/yarn.lock
Due: shell

(╯°□°)╯︵ ┻━┻
  cypress/e2e/tests/pages/explorer/more-resources/api/custom-resource-definitions.spec.ts
Due: none

add more logs to publish scripts (#18427)
  shell/scripts/extension/helm/scripts/patch
  shell/scripts/extension/publish
Due: shell

Bump webpack-dev-server to 5.2.6 to fix 6 advisories (GHSA-4v9v-hfq4-rm2v, GHSA-9jgg-88mc-972h, GHSA-f5vj-f2hx-8m93, GHSA-m28w-2pqf-7qgj, GHSA-79cf-xcqc-c78w, GHSA-mx8g-39q3-5c79) (#18439)
  cypress/package.json
  cypress/yarn.lock
  docusaurus/package.json
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell

Bump linkify-it to 5.0.2 to fix GHSA-22p9-wv53-3rq4 (CVE-2026-48801)
  docusaurus/package.json
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell

Bump ws to 8.21.0 (and 7.5.11 for the 7.x line) to fix GHSA-96hv-2xvq-fx4p
  package.json
  storybook/yarn.lock
  yarn.lock
Due: none

Add ability to read docker config secrets
  shell/components/Resource/Detail/ResourceTabs/SecretDataTab/__tests__/auth-types.test.ts
  shell/components/Resource/Detail/ResourceTabs/SecretDataTab/auth-types.ts
  shell/edit/secret/registry.vue
Due: shell

Bump linkify-it to 5.0.2 to fix GHSA-22p9-wv53-3rq4 (CVE-2026-48801) (#18407)
  docusaurus/package.json
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell

Bump svgo to 2.8.3 (2.x) and 3.3.4 (3.x) to fix GHSA-2p49-hgcm-8545
  docusaurus/yarn.lock
  shell/yarn.lock
  yarn.lock
Due: shell

Bump ws to 8.21.0 (and 7.5.11 for the 7.x line) to fix GHSA-96hv-2xvq-fx4p (#18434)
  package.json
  storybook/yarn.lock
  yarn.lock
Due: none

Add ability to read docker config secrets (#18419)
  shell/components/Resource/Detail/ResourceTabs/SecretDataTab/__tests__/auth-types.test.ts
  shell/components/Resource/Detail/ResourceTabs/SecretDataTab/auth-types.ts
  shell/edit/secret/registry.vue
Due: shell

Bump joi to 17.13.4 to fix GHSA-q7cg-457f-vx79 (CVE-2026-48038)
  shell/yarn.lock
  yarn.lock
Due: shell

feat(#15606): Add global setting field for delete-infra-machine-on-failure-after (#18294)
  shell/assets/translations/en-us.yaml
  shell/config/__tests__/settings.test.ts
  shell/config/settings.ts
  shell/edit/management.cattle.io.setting/delete-machine-on-failure-after.vue
Due: shell

Bump fast-uri to 3.1.4 to fix GHSA-4c8g-83qw-93j6 and GHSA-v2hh-gcrm-f6hx (CVE-2026-13676, CVE-2026-16221) (#18444)
  cypress/yarn.lock
  docusaurus/yarn.lock
  shell/yarn.lock
  storybook/yarn.lock
  yarn.lock
Due: shell

Bump immutable to 5.1.9 to fix GHSA-v56q-mh7h-f735 and GHSA-xvcm-6775-5m9r (#18446)
  shell/yarn.lock
Due: shell

Bump serialize-javascript to 7.0.5 to fix CPU Exhaustion DoS (GHSA-qj8w-gfj5-8c6v, CVE-2026-34043)
  docusaurus/package.json
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Due: shell

Bump svgo to 2.8.3 (2.x) and 3.3.4 (3.x) to fix GHSA-2p49-hgcm-8545 (#18452)
  docusaurus/yarn.lock
  shell/yarn.lock
  yarn.lock
Due: shell

address wrongful output of screen readers when interacting with KeyValue component
  shell/components/form/KeyValue.vue
  shell/components/form/__tests__/KeyValue.test.ts
Due: shell

Update EOM message for community
  shell/assets/translations/en-us.yaml
  shell/utils/dynamic-content/support-notice.ts
Due: shell

update hosted cluster provisioning specs for new provider page titles
  cypress/e2e/tests/pages/manager/aks-cluster-provisioning.spec.ts
  cypress/e2e/tests/pages/manager/eks-cluster-provisioning.spec.ts
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
Due: none

changes following review
  scripts/e2e-k3s-start.sh
  shell/components/ResourceDetail/index.vue
Due: shell

[16725][actions]Added options to have URL for easy access and to comment on the assoc… (#18406)
  .github/workflows/auto-retry.yaml
Due: none

Bump serialize-javascript to 7.0.5 to fix CPU Exhaustion DoS (GHSA-qj8w-gfj5-8c6v, CVE-2026-34043) (#18456)
  docusaurus/package.json
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Due: shell

Bump joi to 17.13.4 to fix GHSA-q7cg-457f-vx79 (CVE-2026-48038) (#18455)
  shell/yarn.lock
  yarn.lock
Due: shell

Added a daily sweep and automatically added on PR creation
  .github/workflows/dependabot-milestone.yaml
  .github/workflows/scripts/dependabot-milestone.sh
Due: none

Bump postcss to 8.5.10 to fix GHSA-7fh5-64p2-3v2j and GHSA-qx2v-qp2m-jg93
  package.json
  shell/package.json
  shell/yarn.lock
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Due: shell

remove duplicated code
  pkg/rancher-components/src/components/Card/Card.vue
  pkg/rancher-components/src/components/RcSeparator/RcSeparator.vue
  pkg/rancher-components/src/components/RcSeparator/index.ts
  pkg/rancher-components/src/index.ts
Due: rancher-components

Fixes to use a different logic using the data from the TEST run
  .github/workflows/auto-retry.yaml
Due: none

e2e: full rebuild instead of pod restart when steve/RBAC is wedged
  scripts/e2e-k3s-start.sh
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
