Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Add tests
  shell/components/form/Members/__tests__/MembershipEditor.test.ts
Due: shell

Mute all the Vue console warnings
  jest.setup.js
Due: none

Update tests for ArrayList component
  shell/components/form/__tests__/ArrayList.test.ts
Due: shell

Fixed broken banner text in Global settings (#13597)
  cypress/e2e/po/pages/global-settings/settings.po.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  shell/list/management.cattle.io.setting.vue
Due: shell

Wire in sorting/filtering clusters on on new human name label
  shell/config/labels-annotations.js
  shell/pages/home.vue
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

Updates
  shell/config/labels-annotations.js
  shell/pages/home.vue
  shell/plugins/steve/steve-pagination-utils.ts
  shell/utils/cluster.js
Due: shell

fix all instances of CodeMirror component inside LabeledInput (#13626)
  shell/edit/monitoring.coreos.com.prometheusrule/AlertingRule.vue
  shell/edit/monitoring.coreos.com.prometheusrule/RecordingRule.vue
Due: shell

Debugging
  shell/edit/auth/saml.vue
  shell/mixins/auth-config.js
Due: shell

update nutanix logo to the new brand
  shell/assets/images/providers/nutanix.svg
Due: shell

Add missing import for Principal component
  shell/components/form/Members/MembershipEditor.vue
Due: shell

Add unlisted required prop
  shell/components/form/Members/__tests__/MembershipEditor.test.ts
Due: shell

Add data-testid to markup
  shell/components/form/Members/MembershipEditor.vue
Due: shell

Debugging
  shell/edit/auth/saml.vue
Due: shell

backport - fix project members not showing up
  shell/components/form/Members/MembershipEditor.vue
Due: shell

add percy config
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/cypress.sh
  cypress/jenkins/init.sh
  package.json
Due: none

Debugging
  shell/mixins/auth-config.js
Due: shell

[FIX] Hid version management for RKE1
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/components/VersionManagement.vue
Due: none

feat: emit keyup event for labeledinput
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/components/form/UnitInput.vue
Due: shell, rancher-components

add-ownerref-for-create.yaml
  shell/models/__tests__/workload.test.ts
  shell/plugins/steve/__tests__/steve-class.test.ts
  shell/plugins/steve/steve-class.js
Due: shell

fix broken extension tests in master (#13588)
  .github/workflows/scripts/check-creators-workflows-code.sh
  .github/workflows/test-extension-workflows-master.yml
Due: none

update nutanix logo to the new brand (#13631)
  shell/assets/images/providers/nutanix.svg
Due: shell

Correct data-testid definition
  shell/components/form/Members/MembershipEditor.vue
Due: shell

fix aks import error handling; add validator test
  pkg/aks/components/CruAks.vue
  pkg/aks/components/Import.vue
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

fix gke select values
  pkg/gke/components/AdvancedOptions.vue
  pkg/gke/components/AuthScopes.vue
  pkg/gke/components/Config.vue
  pkg/gke/components/GKENodePool.vue
Due: none

`ServiceType.vue`: Make `headless` and `clusterIp` computed props
  shell/components/formatter/ServiceType.vue
Due: shell

fix test
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
Due: none

Updating how we move the title using css
  cypress/e2e/tests/pages/explorer2/cluster-project-members.spec.ts
  shell/components/ResourceDetail/Masthead.vue
Due: shell

Fixed some of th ecomments and #13630
  pkg/imported/components/CruImported.vue
  shell/components/form/SchedulingCustomization.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/models/cluster.js
Due: shell

Update tests to check user removal
  shell/components/form/Members/__tests__/MembershipEditor.test.ts
Due: shell

The page `Cluster: Create Harvester` crashes when the vgpudevice request fails
  pkg/harvester-manager/machine-config/harvester.vue
Due: none

Re-enable unit test
  pkg/aks/components/__tests__/Config.test.ts
Due: none

Fix dark mode color for dropdown group (#13607)
  pkg/aks/components/__tests__/Config.test.ts
  shell/assets/styles/themes/_dark.scss
Due: shell

Preventing the UI from overriding custom vapp fields when they're set
  shell/machine-config/vmwarevsphere.vue
Due: shell

Remove Vue 3 information from the what's new message
  shell/assets/translations/en-us.yaml
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
