Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Rename rancher-version to runtime-rancher-version
  .github/workflows/test.yaml
  branches-metadata.json
Due: none

Use get-branch-metadata.sh to get the runtime-rancher-version for e2e
  .github/workflows/test.yaml
Due: none

Encapsulating shell utils in ref comment sections
  cypress/support/utils/shell.ts
Due: none

Changes follong self review - part 1
  shell/components/formatter/SecretOrigin.vue
  shell/config/labels-annotations.js
  shell/config/pagination-table-headers.js
  shell/config/table-headers.js
  shell/list/projectsecret.vue
  shell/models/secret.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/types/store/type-map.ts
Due: shell

Bump js-yaml to 3.15.0/4.3.0 in cypress to fix GHSA-52cp-r559-cp3m, GHSA-h67p-54hq-rp68 (CVE-2026-59869, CVE-2026-53550) (#18610)
  cypress/yarn.lock
Due: none

Changes follong self review - part 2
  shell/components/formatter/SecretOrigin.vue
  shell/config/pagination-table-headers.js
  shell/models/secret.js
Due: shell

Changes following self review - part 2
  shell/models/secret.js
Due: shell

Give each memory value its own unit in ConsumptionGauge
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/__tests__/ConsumptionGauge.test.ts
  shell/detail/__tests__/node.test.ts
  shell/detail/node.vue
Due: shell

Type firstSuffix as string in formatSi options
  shell/utils/units.js
Due: shell

Assert on t() args instead of reading en-us.yaml in gauge test
  shell/components/__tests__/ConsumptionGauge.test.ts
  shell/utils/units.js
Due: shell

Address review feedback on tooltip accessibility
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  shell/assets/translations/en-us.yaml
  shell/components/form/KeyValue.vue
  shell/directives/__tests__/clean-tooltip-role.test.ts
  shell/directives/clean-tooltip.ts
  shell/edit/auditlog.cattle.io.auditpolicy/AdditionalRedactions.vue
  shell/edit/workload/index.vue
Due: shell, rancher-components

Use type instead of id for rendering auth provider components
  shell/mixins/login.js
  shell/models/management.cattle.io.authconfig.js
  shell/pages/auth/login.vue
Due: shell

Display ID along with type
  shell/mixins/login.js
  shell/pages/auth/login.vue
Due: shell

Remove unused import
  shell/pages/auth/login.vue
Due: shell

Fix keyed lookups for auth providers
  shell/components/nav/Header.vue
  shell/mixins/login.js
  shell/models/management.cattle.io.authconfig.js
  shell/pages/auth/login.vue
  shell/pages/auth/logout.vue
Due: shell

Seperate the list and create pages
  shell/assets/translations/en-us.yaml
  shell/config/router/routes.js
  shell/models/__tests__/management.cattle.io.authconfig.test.ts
  shell/models/management.cattle.io.authconfig.js
  shell/pages/c/_cluster/auth/config/_id.vue
  shell/pages/c/_cluster/auth/config/create.vue
  shell/pages/c/_cluster/auth/config/index.vue
  shell/utils/auth.js
Due: shell

Fix list page styles
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/auth/config/create.vue
  shell/pages/c/_cluster/auth/config/index.vue
Due: shell

Resolve typescript errors in test
  shell/models/__tests__/management.cattle.io.authconfig.test.ts
Due: shell

feat: support selecting VM network for ippool and DHCP mode
  pkg/harvester-manager/components/HarvesterServiceAddOnConfig.vue
  shell/assets/translations/en-us.yaml
  shell/config/labels-annotations.js
Due: shell

cm to listen on update
  shell/components/CodeMirror.vue
Due: shell

fix(rancher-prime): fix eslint warnings in offline registration changes
  pkg/rancher-prime/pages/registration.composable.test.ts
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

fix(rancher-prime): clarify offline registration download timeout errors
  pkg/rancher-prime/l10n/en-us.yaml
  pkg/rancher-prime/pages/registration.composable.test.ts
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Merge pull request #18535 from richard-cox/disable-local-auth-docs
  shell/assets/translations/en-us.yaml
  shell/components/auth/AuthBanner.vue
  shell/pages/c/_cluster/auth/config/index.vue
Due: shell

Prevent removal of required OIDC scopes in auth config (#18567)
  shell/components/form/ArrayList.vue
  shell/components/form/__tests__/ArrayList.test.ts
  shell/edit/auth/__tests__/oidc.test.ts
  shell/edit/auth/oidc.vue
Due: shell

Bump fast-uri to 3.1.5 to fix GHSA-7p8r-x3mc-p8w7 (CVE-2026-18446)
  cypress/yarn.lock
  docusaurus/yarn.lock
  shell/yarn.lock
  storybook/yarn.lock
  yarn.lock
Due: shell

changes following co-pilot review
  shell/components/form/ResourceLabeledSelect.vue
Due: shell

Fix empty create token cluster scope selector - also use SSP
  shell/components/form/labeled-select-utils/useLabeledSelectPagination.ts
  shell/edit/__tests__/token.test.ts
  shell/edit/token.vue
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

Bump postcss to 8.5.25 to fix GHSA-fxqj-rqcc-2cmp (CVE-2026-69153)
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  storybook/yarn.lock
  yarn.lock
Due: shell

[18506] ESLINT reading dropped rules from migration (#18611)
  cypress/e2e/po/components/fleet/fleet-dashboard-workspace-card.po.ts
  cypress/e2e/po/components/kubectl.po.ts
  cypress/e2e/po/other-products/compliance.po.ts
  cypress/e2e/po/pages/about.po.ts
  cypress/e2e/po/pages/account-api-keys-create_key.po.ts
  cypress/e2e/po/pages/account-api-keys.po.ts
  cypress/e2e/po/pages/diagnostics.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/fleet/fleet-dashboard.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.bundle.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.bundlenamespacemapping.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.cluster.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.clusterregistrationtoken.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.fleetworkspace.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.gitreporestriction.po.ts
  cypress/e2e/po/pages/global-settings/home-links.po.ts
  cypress/e2e/po/pages/home.po.ts
  cypress/e2e/po/pages/istio/istio-dashboard.po.ts
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/po/pages/preferences.po.ts
  cypress/e2e/po/pages/rancher-setup-configure.po.ts
  cypress/e2e/po/pages/rancher-setup-login.po.ts
  eslint.config.base.mjs
  jest.config.js
  pkg/aks/provisioner.ts
  pkg/eks/provisioner.ts
  pkg/imported/provisioner.ts
  shell/components/Window/__tests__/ContainerShell.test.ts
  shell/core/plugin.ts
  shell/edit/workload/__tests__/Upgrading.test.ts
  shell/eslint.config.base.mjs
  shell/pages/c/_cluster/monitoring/index.vue
  shell/plugins/steve/projectAndNamespaceFiltering.utils.ts
  shell/plugins/steve/steve-pagination-utils.ts
  shell/utils/back-off.ts
  shell/utils/error.js
  shell/utils/fleet.ts
  shell/utils/gc/gc.ts
  shell/utils/poller.js
  shell/utils/versions.ts
Due: shell

Align key-spacing in ArrayList disabledList prop
  shell/components/form/ArrayList.vue
Due: shell

Fix URL (backport of PR 18417)
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
Due: none

Align key-spacing in ArrayList disabledList prop (#18628)
  shell/components/form/ArrayList.vue
Due: shell

Fix Fleet target clusters with BundleNamespaceMapping
  shell/models/__tests__/fleet-application.test.ts
  shell/models/__tests__/fleet.cattle.io.bundle.test.ts
  shell/models/fleet-application.js
  shell/models/fleet.cattle.io.bundle.js
Due: shell

Add Fleet e2e tests for 2.12 App Bundle features
  cypress/e2e/po/pages/fleet/fleet.cattle.io.application.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.helmop.po.ts
  cypress/e2e/tests/pages/fleet/gitrepo-oci-polling.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo-subpaths.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo-target-clusters.spec.ts
  cypress/e2e/tests/pages/fleet/helmop-wizard.spec.ts
Due: none

Move shared GitRepo test constants to blueprints
  cypress/e2e/blueprints/fleet/gitrepos.ts
  cypress/e2e/tests/pages/fleet/gitrepo-oci-polling.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo-subpaths.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo-target-clusters.spec.ts
Due: none

Fix Fleet e2e tests after first CI run
  cypress/e2e/po/pages/fleet/fleet.cattle.io.application.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.helmop.po.ts
  cypress/e2e/tests/pages/fleet/gitrepo-target-clusters.spec.ts
  cypress/e2e/tests/pages/fleet/helmop-wizard.spec.ts
Due: none

Seed a real label selector in the target-clusters test
  cypress/e2e/tests/pages/fleet/gitrepo-target-clusters.spec.ts
Due: none

Fix matchExpression indentation lint in target-clusters spec
  cypress/e2e/tests/pages/fleet/gitrepo-target-clusters.spec.ts
Due: none

Added unit test
  shell/components/fleet/HelmOpAppCoConfigTab.vue
  shell/components/fleet/__tests__/AppCoChartGrid.test.ts
  shell/components/fleet/__tests__/HelmOpAppCoConfigTab.test.ts
  shell/edit/__tests__/fleet.cattle.io.helmop.appco.test.ts
  shell/pages/c/_cluster/fleet/application/suse-app-collection/ChartDetailHeader.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/__tests__/ChartDetailHeader.test.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
