Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  harvester:
    paths: 
    - pkg/harvester
  rancher-components:
    paths: 
    - pkg/rancher-components

Replace @nuxtjs/axios with axios and axios-retry
  package.json
  shell/package.json
  yarn.lock
Due: shell

Remove @nuxtjs/webpack-profile
  pkg/rancher-components/README.md
  shell/package.json
  yarn.lock
Due: shell, rancher-components

Pin resolution for glob after rebase
  package.json
  yarn.lock
Due: none

Update yarn.lock after rebase
  yarn.lock
Due: none

Generate yarn file
  yarn.lock
Due: none

Add dependency
  package.json
  yarn.lock
Due: none

Remove nuxt global var in app template
  shell/initialize/App.vue
Due: shell

add node group length validation unit tests
  pkg/eks/components/CruEKS.vue
  pkg/eks/components/__tests__/CruEKS.test.ts
Due: none

Consolidate extension creators into one package
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/publishing.md
  shell/creators/extension/app/app.package.json
  shell/creators/extension/app/files/.eslintignore
  shell/creators/extension/app/files/.eslintrc.js
  shell/creators/extension/app/files/.github/workflows/build-extension-catalog.yml
  shell/creators/extension/app/files/.github/workflows/build-extension-charts.yml
  shell/creators/extension/app/files/.gitignore
  shell/creators/extension/app/files/.gitlab-ci.yml
  shell/creators/extension/app/files/.vscode/settings.json
  shell/creators/extension/app/files/babel.config.js
  shell/creators/extension/app/files/tsconfig.json
  shell/creators/extension/app/files/vue.config.js
  shell/creators/extension/app/init
  shell/creators/extension/app/package.json
  shell/creators/extension/init
  shell/creators/extension/package.json
  shell/creators/extension/pkg/files/babel.config.js
  shell/creators/extension/pkg/files/index.ts
  shell/creators/extension/pkg/files/tsconfig.json
  shell/creators/extension/pkg/files/vue.config.js
  shell/creators/extension/pkg/init
  shell/creators/extension/pkg/package.json
  shell/creators/extension/pkg/pkg.package.json
  shell/creators/extension/pkg/vue-shim.ts
  shell/creators/extension/update/init
  shell/creators/extension/update/package.json
  shell/creators/extension/update/upgrade
  shell/scripts/publish-shell.sh
Due: shell

validate presence of managed node groups for non-import clusters
  pkg/eks/components/CruEKS.vue
  pkg/eks/l10n/en-us.yaml
  pkg/eks/util/validators.ts
Due: none

Add agent tls mode to global settings (#11287)
  shell/assets/translations/en-us.yaml
  shell/config/settings.ts
  shell/edit/management.cattle.io.setting.vue
Due: shell

test removing other extensions
  shell/scripts/test-plugins-build.sh
Due: shell

uncommented other extensions
  shell/scripts/test-plugins-build.sh
Due: shell

Updated package name
  shell/scripts/test-plugins-build.sh
Due: shell

experimenting
  shell/scripts/test-plugins-build.sh
Due: shell

added CAPI ui to the list of extensions to test
  shell/scripts/test-plugins-build.sh
Due: shell

Add missing `Banner` component to display warning
  shell/edit/management.cattle.io.setting.vue
Due: shell

Pin version for babel/plugin-proposal-private-methods
  package.json
  yarn.lock
Due: none

Change UI default to nudge users towards encryption...
  shell/edit/resources.cattle.io.backup.vue
Due: shell

EKS - validate that at least one node group is defined (#11604)
  pkg/eks/components/CruEKS.vue
  pkg/eks/components/__tests__/CruEKS.test.ts
  pkg/eks/l10n/en-us.yaml
  pkg/eks/util/validators.ts
Due: none

[2.9.next1] EKS - validate that at least one node group is defined (#11606)
  pkg/eks/components/CruEKS.vue
  pkg/eks/components/__tests__/CruEKS.test.ts
  pkg/eks/l10n/en-us.yaml
  pkg/eks/util/validators.ts
Due: none

Change from api.neuvector.com to permission.neuvector.com api group and leverage CRD, not CR, for NeuVector-realted resource in role creation
  shell/assets/translations/en-us.yaml
  shell/components/auth/RoleDetailEdit.vue
  shell/config/roles.ts
Due: shell

Fix Unsupported Azure warning message, show it only if Azure is an option
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

[backport] 11611 Fix Unsupported Azure warning message, show it only if Azure is an option
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

finished elemental spec
  cypress/e2e/po/pages/extensions-compatibility-tests/elemental.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
Due: none

final test elemental spec
  .github/workflows/extensions-compatibility-tests.yaml
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
Due: none

Remove or replace all the @nuxt libraries (#11302)
  .eslintignore
  .eslintrc.js
  .github/workflows/rancher-components.yaml
  .github/workflows/test.yaml
  .vscode/settings.json
  package.json
  pkg/rancher-components/README.md
  pkg/rancher-components/babel.config.js
  scripts/har
  scripts/standalone/index.js
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/sortable-config.ts
  shell/components/nuxt/nuxt-build-indicator.vue
  shell/components/nuxt/nuxt-child.js
  shell/components/nuxt/nuxt-error.vue
  shell/components/nuxt/nuxt-link.client.js
  shell/components/nuxt/nuxt-loading.vue
  shell/config/types.js
  shell/creators/app/files/.eslintrc.js
  shell/creators/app/files/vue.config.js
  shell/detail/workload/index.vue
  shell/initialize/App.vue
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/machine-config/vmwarevsphere-config.ts
  shell/machine-config/vmwarevsphere.vue
  shell/models/apps.statefulset.js
  shell/models/batch.cronjob.js
  shell/package.json
  shell/pkg/tsconfig.json
  shell/plugins/formatters.js
  shell/public/index.html
  shell/scripts/vue-migrate.js
  shell/vue.config.js
  yarn.lock
Due: shell, rancher-components

[INT] Added CAPI ui to the list of extensions to test (#11398)
  shell/scripts/test-plugins-build.sh
Due: shell

Select vGpus by type; Remove vGpu profile from labels
  pkg/harvester-manager/machine-config/harvester.vue
Due: harvester

some minor adjustments to elemental spec + start work on kubewarden spec
  .github/workflows/extensions-compatibility-tests.yaml
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/kubewarden.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

We had a place where value was data and not a prop
  shell/components/nav/Jump.vue
  shell/components/nav/WorkspaceSwitcher.vue
Due: shell

tidy up pr to prepare for merge + stop kw spec form running + working on kw spec
  .github/workflows/check-plugins.yaml
  .github/workflows/docusaurus.yaml
  .github/workflows/extensions-compatibility-tests.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/kubewarden.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

changes
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
Due: none

fix lint issues
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/kubewarden.spec.ts
Due: none

wip
  .github/workflows/test.yaml
Due: none

common container/runs on, use bci image
  .github/workflows/test.yaml
Due: none

others
  .github/workflows/check-plugins.yaml
  .github/workflows/docusaurus.yaml
  .github/workflows/storybook.yaml
Due: none

Restore Harvester nuxt global vars in app init
  shell/initialize/App.vue
Due: shell
