Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Avoid using general 'actions' class name
  shell/components/GrowlManager.vue
  shell/components/nav/NotificationCenter/Notification.vue
Due: shell

Add a maxiumum number of notifications
  shell/store/notifications.ts
Due: shell

Improve growl integration
  shell/store/growl.js
  shell/store/notifications.ts
Due: shell

Initial version
  shell/assets/translations/en-us.yaml
  shell/components/GrowlManager.vue
  shell/components/nav/Header.vue
  shell/components/nav/NotificationCenter/Notification.vue
  shell/components/nav/NotificationCenter/TestPanel.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/config/store.js
  shell/initialize/app-extended.js
  shell/pages/home.vue
  shell/store/growl.js
  shell/store/index.js
  shell/store/notifications.ts
  shell/utils/release-notes.ts
Due: shell

Localisations
  shell/assets/translations/en-us.yaml
  shell/components/nav/NotificationCenter/Notification.vue
  shell/components/nav/NotificationCenter/NotificationHeader.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/store/notifications.ts
Due: shell

Fix lint issue
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Fix release notes seen issue breading login landing page
  shell/pages/home.vue
Due: shell

Remove todo and tweak comments
  shell/store/notifications.ts
Due: shell

Address feedback from walk through
  shell/assets/translations/en-us.yaml
  shell/components/nav/NotificationCenter/Notification.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/store/notifications.ts
Due: shell

Always show a read notification indicator
  shell/components/nav/NotificationCenter/index.vue
  shell/store/notifications.ts
Due: shell

Add test ids and updated e2e tests, fix lint
  .gitignore
  cypress/e2e/po/components/notification-center.po.ts
  cypress/e2e/po/components/notification.po.ts
  cypress/e2e/po/pages/home.po.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  shell/components/nav/NotificationCenter/Notification.vue
  shell/components/nav/NotificationCenter/NotificationHeader.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/pages/home.vue
Due: shell

Update .gitignore
  .gitignore
Due: none

Remove test code
  shell/components/nav/NotificationCenter/TestPanel.vue
  shell/pages/home.vue
Due: shell

Bump version number to match backend
  shell/config/version.js
Due: shell

Remove dev readme file
  shell/components/nav/NotificationCenter/README.md
Due: shell

Fix e2e test
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Work around version issues
  cypress/e2e/po/components/notification-center.po.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  shell/config/version.js
Due: shell

Add simple developer docs, update type comments, bump icon package version number
  docs/developer/images/notification-example.png
  docs/developer/images/notification-headerbar.png
  docs/developer/notification-center.md
  package.json
  shell/store/notifications.ts
Due: shell

Fleet code clean-up
  shell/components/SlideInPanelManager.vue
  shell/components/fleet/dashboard/ResourceCard.vue
  shell/mixins/preset.js
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Update lock file
  yarn.lock
Due: none

Fix a number of watch based issues
  shell/components/nav/TopLevelMenu.helper.ts
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/index.js
  shell/plugins/steve/resourceWatcher.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/plugins/steve/subscribe.js
  shell/types/store/pagination.types.ts
  shell/types/store/subscribe.types.ts
  shell/utils/pagination-wrapper.ts
Due: shell

update sorting logic by adding durationSinceRelease
  shell/store/catalog.js
Due: shell

Handle new vai-on updates to resources (#13150)
  shell/assets/translations/en-us.yaml
  shell/components/ResourceTable.vue
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/selection.js
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/config/settings.ts
  shell/mixins/resource-fetch-api-pagination.js
  shell/mixins/resource-fetch.js
  shell/mixins/resource-table-watch.js
  shell/pages/c/_cluster/explorer/EventsTable.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/getters.js
  shell/plugins/dashboard-store/mutations.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/actions.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/plugins/steve/subscribe.js
  shell/store/index.js
  shell/types/resources/settings.d.ts
  shell/types/store/dashboard-store.types.ts
  shell/types/store/pagination.types.ts
  shell/types/store/subscribe.types.ts
  shell/utils/pagination-utils.ts
  shell/utils/pagination-wrapper.ts
  shell/utils/settings.ts
Due: shell

Disable SSP for side nav and home page cluster list - See https://github.com/rancher/dashboard/issues/14493
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

update css space variables
  shell/assets/styles/base/_variables.scss
Due: shell

fix e2e test
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
Due: none

remove type description + minor styling
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

update index.d.ts
  pkg/rancher-components/types/index.d.ts
Due: rancher-components

update refresh button and search input
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

search input placeholder
  shell/assets/translations/en-us.yaml
Due: shell

update arrow icon position in vue-select
  shell/assets/styles/vendor/vue-select.scss
Due: shell

Adding a test to check the Resource UI elements in the Chart Wizard
  cypress/e2e/po/pages/explorer/charts/install-charts.po.ts
  cypress/e2e/tests/pages/charts/chart-install-wizard.spec.ts
Due: none

Add comment
  shell/list/namespace.vue
Due: shell

update logic to remove value prop
  pkg/rancher-components/src/components/RcFilterPanel/RcFilterPanel.test.ts
  pkg/rancher-components/src/components/RcFilterPanel/RcFilterPanel.vue
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell, rancher-components

rename footer item click
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

add screen reader message for opening on a new tab
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/AddRepoLink.vue
Due: shell

check for option.label
  pkg/rancher-components/src/components/RcFilterPanel/RcFilterPanel.vue
Due: rancher-components

revert space variable changes and update .outlet padding instead
  shell/assets/styles/base/_variables.scss
  shell/assets/styles/global/_layout.scss
Due: shell

revert spacing change
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  shell/assets/styles/global/_layout.scss
Due: shell

add changes to test oidc flow
  shell/components/auth/login/github.vue
  shell/components/auth/login/ldap.vue
  shell/components/auth/login/oauth.vue
  shell/components/auth/login/oidc.vue
  shell/components/auth/login/saml.vue
  shell/pages/auth/login.vue
  shell/pages/auth/verify.vue
  shell/store/auth.js
  shell/utils/auth.js
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
