Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

add e2e test for issue 9800
  cypress/e2e/po/edit/management.cattle.io.globalrole.po.ts
  cypress/e2e/po/edit/role.po.ts
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
Due: none

update developer docs
  docusaurus/docs/testing/e2e-test.md
Due: none

Removing the unauthenticated middleware
  shell/components/templates/error.vue
  shell/components/templates/standalone.vue
  shell/components/templates/unauthenticated.vue
  shell/config/middleware.js
  shell/middleware/authenticated.js
  shell/middleware/unauthenticated.js
  shell/mixins/brand.js
Due: shell

Handle case where issue number if empty in fixed notation
  .github/workflows/scripts/pr-gh-project.js
Due: none

Update build-and-upload-release.yaml
  .github/workflows/build-and-upload-release.yaml
Due: none

WIP
  shell/config/secret.js
  shell/edit/logging-flow/Match.vue
  shell/edit/logging-flow/index.vue
Due: shell

Add unit test
  shell/store/__tests__/catalog.test.ts
Due: shell

Revert "This fixes an issue where catalog/charts were stale after a repo was updated"
  shell/detail/catalog.cattle.io.app.vue
  shell/mixins/chart.js
  shell/pages/c/_cluster/apps/charts/index.vue
  shell/utils/install-redirect.js
Due: shell

Allow for specific exception thrown when visiting docs page
  cypress/e2e/tests/pages/generic/get-support.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/support/utils/exception-utils.ts
Due: none

Get the id from enabled vGpus when creating Harvester clusters
  pkg/harvester-manager/machine-config/harvester.vue
  shell/config/types.js
Due: shell, harvester

Get enabled vGPUs list before update
  pkg/harvester-manager/machine-config/harvester.vue
Due: harvester

Revert changes to pr-gh-project, Neil will update this separately
  .github/workflows/scripts/pr-gh-project.js
Due: none

Handle case where issue number if empty in fixed notation (#10925)
  .github/workflows/scripts/pr-gh-project.js
Due: none

Add e2e test for resource search and namespace filter issue
  cypress/e2e/po/dialog/ResourceSearchDialog.po.ts
  cypress/e2e/po/pages/explorer/cluster-dashboard.po.ts
  cypress/e2e/tests/pages/explorer/resource-search.spec.ts
  shell/components/nav/Header.vue
Due: shell

Fix lint issues
  cypress/e2e/po/dialog/ResourceSearchDialog.po.ts
  cypress/e2e/tests/pages/explorer/resource-search.spec.ts
Due: none

Fix clusterId check
  pkg/harvester-manager/machine-config/harvester.vue
Due: harvester

add e2e test to check default grafana storage size for statefulset type
  cypress/e2e/po/pages/explorer/charts/tabs/grafana-tab.po.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  shell/chart/monitoring/grafana/index.vue
  shell/config/types.js
Due: shell

Select vGpus by id instead of vGpu type
  pkg/harvester-manager/machine-config/harvester.vue
Due: harvester

make default grafana size reusable for both pvc and statefulset types
  cypress/e2e/po/pages/explorer/charts/tabs/grafana-tab.po.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  shell/chart/monitoring/grafana/index.vue
  shell/config/types.js
Due: shell

Cluster Details - Conditions and Related
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/lists/cluster-conditions-list.po.ts
  cypress/e2e/po/lists/cluster-provisioning-log.po.ts
  cypress/e2e/po/lists/cluster-referred-to-list.po.ts
  cypress/e2e/po/lists/machine-pools-list.po.ts
  cypress/e2e/po/pages/cluster-manager/cluster-manager-list.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Add i18n string usage checker script (#10805)
  .github/workflows/test.yaml
  docusaurus/docs/code-base-works/on-screen-text-and-translations.md
  scripts/check-i18n
  shell/components/AsyncButton.vue
  shell/components/CommunityLinks.vue
  shell/components/GlobalRoleBindings.vue
  shell/components/ResourceDetail/Masthead.vue
  shell/components/SortableTable/index.vue
  shell/components/TypeDescription.vue
  shell/components/Wizard.vue
  shell/components/fleet/FleetRepos.vue
  shell/config/home-links.js
  shell/config/uiplugins.js
  shell/edit/management.cattle.io.setting.vue
  shell/edit/monitoring.coreos.com.alertmanagerconfig/receiverConfig.vue
  shell/edit/workload/mixins/workload.js
  shell/edit/workload/storage/emptyDir.vue
  shell/mixins/auth-config.js
  shell/models/fleet.cattle.io.gitrepo.js
  shell/models/management.cattle.io.globalrole.js
  shell/models/monitoring.coreos.com.receiver.js
  shell/models/service.js
  shell/pages/c/_cluster/longhorn/index.vue
  shell/pages/c/_cluster/neuvector/index.vue
  shell/pages/c/_cluster/uiplugins/index.vue
  shell/pages/support/index.vue
  shell/plugins/plugin.js
  shell/store/type-map.js
  shell/utils/time.js
  shell/utils/validators/index.js
Due: shell

e2e to test server-url validation
  cypress/e2e/po/edit/settings.po.ts
  cypress/e2e/tests/pages/global-settings/settings-p2.spec.ts
  shell/edit/management.cattle.io.setting.vue
Due: shell

Removing the i18n middleware from the application
  jest.setup.js
  shell/config/middleware.js
  shell/initialize/App.js
  shell/initialize/client.js
  shell/initialize/plugins.js
  shell/middleware/i18n.js
  shell/plugins/i18n.js
  shell/store/index.js
Due: shell

Add e2e test to check default grafana storage size for statefulset type (#10933)
  cypress/e2e/po/pages/explorer/charts/tabs/grafana-tab.po.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  shell/chart/monitoring/grafana/index.vue
  shell/config/types.js
Due: shell

fix home page test
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Only logout if the user is logged in
  shell/pages/auth/logout.vue
  shell/store/auth.js
Due: shell

wip
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke2.spec.ts
Due: none

fix cluster prov test
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke1.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke1.spec.ts
Due: none

e2e: Add tests for job clone bug
  cypress/e2e/po/pages/explorer/workloads-jobs.po.ts
  cypress/e2e/tests/pages/explorer/workloads/jobs.spec.ts
Due: none

Add e2e test
  cypress/e2e/po/lists/chart-repositories.po.ts
  cypress/e2e/po/pages/chart-repositories.po.ts
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
Due: none

fixed typo
  shell/plugins/shortkey.js
Due: shell

refactored plugins
  jest.setup.js
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioButton.test.ts
  shell/components/__tests__/AsyncButton.test.ts
  shell/components/__tests__/CruResource.test.ts
  shell/components/__tests__/EtcdInfoBanner.test.ts
  shell/components/form/__tests__/KeyValue.test.ts
  shell/edit/__tests__/kontainerDriver.test.ts
  shell/edit/__tests__/monitoring.coreos.com.prometheusrule.test.ts
  shell/edit/__tests__/nodeDriver.test.ts
  shell/edit/__tests__/service.test.ts
  shell/edit/auth/__tests__/AuthProviderWarningBanners.test.ts
  shell/edit/auth/__tests__/azuread.test.ts
  shell/edit/networking.k8s.io.networkpolicy/__tests__/PolicyRuleTarget.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/CustomCommand.test.ts
  shell/edit/workload/__tests__/Job.test.ts
  shell/initialize/index.js
  shell/initialize/plugins.js
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/pages/c/_cluster/explorer/tools/__tests__/index.test.ts
  shell/plugins/clean-html-directive.js
  shell/plugins/clean-tooltip-directive.js
  shell/plugins/codemirror.js
  shell/plugins/directives.js
  shell/plugins/global-formatters.js
  shell/plugins/index.js
  shell/plugins/int-number.js
  shell/plugins/portal-vue.js
  shell/plugins/portal.js
  shell/plugins/positive-int-number.js
  shell/plugins/resize.js
  shell/plugins/shortkey.js
  shell/plugins/tooltip.js
  shell/plugins/trim-whitespace.js
  shell/plugins/v-select.js
  storybook/.storybook/preview.js
Due: shell, rancher-components

removed unused function and comment
  shell/initialize/plugins.js
  shell/plugins/clean-tooltip-directive.js
Due: shell

changes based on our discussion
  shell/initialize/plugins.js
  shell/plugins/portal-vue.js
  shell/plugins/resize.js
  shell/plugins/shortkey.js
  shell/plugins/tooltip.js
  shell/plugins/v-select.js
Due: shell

fixed v-select
  jest.setup.js
  shell/initialize/plugins.js
  storybook/.storybook/preview.js
Due: shell

fixed console error
  jest.setup.js
  shell/components/__tests__/ButtonGroup.test.ts
  shell/plugins/clean-tooltip-directive.js
  shell/plugins/index.js
  shell/plugins/trim-whitespace.js
  storybook/.storybook/preview.js
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  harvester: any of: pkg/harvester
  rancher-components: any of: pkg/rancher-components
