Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

fix issue with poor labels in table checkboxes (#18830)
  shell/assets/translations/en-us.yaml
  shell/components/ResourceTable.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/__tests__/THead.test.ts
  shell/components/SortableTable/__tests__/selection-labels.test.ts
  shell/components/SortableTable/index.vue
Due: shell

Fix lingering a11y issues with Tabbed + Tab components (#18859)
  cypress/e2e/po/components/certificates.po.ts
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/edit/resource-detail.po.ts
  cypress/e2e/po/edit/services.po.ts
  cypress/e2e/po/other-products/logging/logging-clusterflow.po.ts
  cypress/e2e/po/pages/explorer/cluster-dashboard.po.ts
  cypress/e2e/po/pages/explorer/cluster-project-members.po.ts
  cypress/e2e/po/pages/explorer/ingress.po.ts
  cypress/e2e/po/pages/explorer/network-policy.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.application.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.bundle.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.cluster.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.clustergroup.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.fleetworkspace.po.ts
  cypress/e2e/po/pages/users-and-auth/roles.po.ts
  cypress/e2e/tests/pages/charts/chart-install-wizard.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/workloads.spec.ts
  cypress/e2e/tests/pages/extensions/extension-compatibility.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  cypress/e2e/tests/pages/manager/registries.spec.ts
  shell/components/Tabbed/Tab.vue
  shell/components/Tabbed/__tests__/index.test.ts
  shell/components/Tabbed/index.vue
  shell/detail/__tests__/__snapshots__/fleet.cattle.io.bundle.test.ts.snap
  shell/detail/helm.cattle.io.projecthelmchart.vue
  shell/pages/c/_cluster/uiplugins/__tests__/index.test.ts
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

[SURE-8192] Hyphenate the keyboard shortcut labels
  shell/components/nav/Header.vue
  shell/components/nav/NavActionBar.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/Header.test.ts
  shell/components/nav/__tests__/NavActionBar.test.ts
  shell/components/nav/__tests__/TopLevelMenu.test.ts
  shell/utils/platform.js
Due: shell

[SURE-8192] Say "No matching clusters" when a search finds none
  shell/assets/translations/en-us.yaml
Due: shell

[SURE-8192] Draw the focus the list was only pretending to have
  shell/components/nav/ClusterSwitcher.vue
  shell/components/nav/ClusterSwitcherRow.vue
  shell/components/nav/ClusterSwitcherSkeleton.vue
  shell/components/nav/Header.vue
  shell/components/nav/__tests__/ClusterSwitcher.test.ts
Due: shell

swith source of extension for compatibility tests
  .github/workflows/extension-compatibility-test.yml
Due: none

swith source of extension for compatibility tests
  docs/developer/extension-test/extension-test-correlation.md
  docs/developer/extension-test/extension-test-overview.md
Due: none

switch source of extension for compatibility tests (#19091)
  .github/workflows/extension-compatibility-test.yml
  docs/developer/extension-test/extension-test-correlation.md
  docs/developer/extension-test/extension-test-overview.md
Due: none

[SURE-8192] Let the flyout and the shelf rows finish leaving
  shell/components/nav/ClusterSwitcher.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/ClusterSwitcher.test.ts
Due: shell

Add Storage tab to workload detail page
  shell/assets/translations/en-us.yaml
  shell/detail/workload/index.vue
  shell/models/__tests__/workload.service.test.ts
  shell/models/workload.service.js
Due: shell

Add PersistentVolume detail page
  shell/assets/translations/en-us.yaml
  shell/detail/__tests__/persistentvolume.test.ts
  shell/detail/persistentvolume/index.vue
  shell/models/__tests__/persistentvolume.test.ts
  shell/models/persistentvolume.js
Due: shell

Add PersistentVolumeClaim detail page
  shell/assets/translations/en-us.yaml
  shell/detail/__tests__/persistentvolumeclaim.test.ts
  shell/detail/persistentvolumeclaim/index.vue
  shell/models/__tests__/persistentvolumeclaim.test.ts
  shell/models/persistentvolumeclaim.js
Due: shell

fix helper text color, use v-show instead of v-if in rcsection
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  shell/assets/styles/base/_helpers.scss
Due: shell, rancher-components

[#16735] Drop the template comment restating the v-if condition
  shell/components/Resource/Detail/Metadata/index.vue
Due: shell

[SURE-8192] Size the flyout's skeleton from what is already known
  shell/components/nav/ClusterSwitcher.vue
  shell/components/nav/ClusterSwitcherRow.vue
  shell/components/nav/ClusterSwitcherSkeleton.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/ClusterSwitcher.test.ts
Due: shell

[SURE-8192] Put back the comments that were not mine to cut
  shell/components/nav/TopLevelMenu.vue
Due: shell

fix inspector anchor
  .github/workflows/ci-failure-inspection.yaml
  cypress/jenkins/inspector/README.md
  cypress/jenkins/inspector/src/jenkins-client.js
Due: none

Remove invalid CSS declarations the browser dropped
  pkg/rancher-components/src/components/Card/Card.vue
  pkg/rancher-components/src/components/StringList/StringList.vue
  shell/assets/styles/vendor/vue-select.scss
  shell/components/DetailText.vue
  shell/components/SelectIconGrid.vue
  shell/components/SimpleBox.vue
  shell/components/form/Footer.vue
  shell/components/form/ResourceTabs/index.vue
  shell/components/formatter/Link.vue
  shell/components/graph/Circle.vue
  shell/components/nav/Favorite.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/edit/logging.banzaicloud.io.output/index.vue
  shell/edit/networking.k8s.io.networkpolicy/PolicyRuleTarget.vue
  shell/edit/token.vue
  shell/pages/c/_cluster/fleet/index.vue
Due: shell, rancher-components

Add stylelint to the lint pipeline
  package.json
  stylelint.config.mjs
  yarn.lock
Due: none

lint
  shell/components/form/ArrayList.vue
  shell/components/form/ArrayListGrouped.vue
  shell/components/form/MatchExpressions.vue
  shell/components/form/NodeAffinity.vue
Due: shell

Fixed kubeconfig not being shwon as yaml
  cypress/e2e/po/lists/kubeconfig-list.po.ts
  cypress/e2e/po/pages/cluster-manager/kubeconfig.po.ts
  cypress/e2e/tests/pages/manager/cloud-credential.spec.ts
  cypress/e2e/tests/pages/manager/kubeconfig.spec.ts
  shell/components/Drawer/ResourceDetailDrawer/__tests__/composables.test.ts
  shell/components/Drawer/ResourceDetailDrawer/composables.ts
Due: shell

fix extension location type error
  shell/core/plugin-helpers.ts
  shell/core/types.ts
Due: shell

Move machine pool management into a composable
  shell/composables/useMachinePools.test.ts
  shell/composables/useMachinePools.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Add a file-backed text area control and use it for certificates
  pkg/aks/components/Config.vue
  pkg/eks/components/NodeGroup.vue
  pkg/rancher-prime/pages/Registration.vue
  shell/assets/translations/en-us.yaml
  shell/chart/istio.vue
  shell/chart/rancher-backup/S3.vue
  shell/cloud-credential/gcp.vue
  shell/components/ResourceYaml.vue
  shell/components/form/FileImageSelector.vue
  shell/components/form/FileSelector.vue
  shell/components/form/FileSelectorTextArea.vue
  shell/components/form/KeyValue.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/components/form/__tests__/FileSelector.test.ts
  shell/components/form/__tests__/FileSelectorTextArea.test.ts
  shell/dialog/ImportDialog.vue
  shell/dialog/KnownHostsEditDialog.vue
  shell/edit/auth/github.vue
  shell/edit/auth/googleoauth.vue
  shell/edit/auth/ldap/config.vue
  shell/edit/auth/oidc.vue
  shell/edit/auth/saml.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/ACE.vue
  shell/edit/secret/ssh.vue
  shell/edit/secret/tls.vue
  shell/pages/c/_cluster/settings/brand.vue
  shell/utils/file.ts
Due: shell

Align the file-backed text area with the design measurements
  shell/components/form/FileSelectorTextArea.vue
  shell/components/form/__tests__/FileSelectorTextArea.test.ts
Due: shell

[SURE-8192] Reserve the drag cursor for an actual drag
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

Fixed e2e test
  cypress/e2e/po/pages/cluster-manager/kubeconfig.po.ts
  cypress/e2e/tests/pages/manager/kubeconfig.spec.ts
Due: none

Address RcModal review feedback
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: rancher-components

Tighten the stylelint setup after review
  package.json
  shell/assets/styles/vendor/vue-select.scss
  stylelint.config.mjs
  yarn.lock
Due: shell

copilot feedback
  shell/components/Drawer/ResourceDetailDrawer/__tests__/composables.test.ts
  shell/components/Drawer/ResourceDetailDrawer/composables.ts
  shell/components/Drawer/ResourceDetailDrawer/index.vue
Due: shell

Keep the file reading helper with FileSelector
  shell/components/form/FileSelector.vue
  shell/components/form/FileSelectorTextArea.vue
  shell/utils/file.ts
Due: shell

Use the file-backed text area for every certificate-style field
  pkg/aks/components/Config.vue
  pkg/eks/components/NodeGroup.vue
  shell/chart/rancher-backup/S3.vue
  shell/cloud-credential/gcp.vue
  shell/components/form/FileSelectorTextArea.vue
  shell/edit/auth/github.vue
  shell/edit/auth/googleoauth.vue
  shell/edit/auth/ldap/config.vue
  shell/edit/auth/oidc.vue
  shell/edit/auth/saml.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/ACE.vue
  shell/edit/secret/ssh.vue
Due: shell

Enable block-no-empty in the stylelint config
  stylelint.config.mjs
Due: none

Name the transform callback type so lint stops flagging the annotation
  shell/components/form/FileSelectorTextArea.vue
Due: shell

[#16735] Only render the detail-page identifying-info column when it has content (#19001)
  shell/components/Resource/Detail/Metadata/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/index.vue
Due: shell

Removed Ingress option for community
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/__tests__/Basics.test.ts
  shell/edit/provisioning.cattle.io.cluster/ingress/IngressCards.vue
  shell/edit/provisioning.cattle.io.cluster/ingress/index.vue
  shell/edit/provisioning.cattle.io.cluster/shared.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

[SURE-8192] Give the switcher's chip its own cluster count back
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.helper.test.ts
  shell/components/nav/__tests__/TopLevelMenu.test.ts
  shell/utils/cluster.js
Due: shell

[SURE-8192] Serialize every write to the shared preference
  shell/store/__tests__/prefs.test.ts
  shell/store/prefs.ts
  shell/utils/cluster-pref-writer.ts
Due: shell

[SURE-8192] Shorten the cluster list's load-error copy
  shell/assets/translations/en-us.yaml
Due: shell

update unit tests
  pkg/rancher-components/src/components/RcSection/RcSection.test.ts
  shell/core/plugin-helpers.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/Filters.test.ts.snap
Due: shell, rancher-components
