Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Remove the stray listitem role from Select (#19156)
  cypress/e2e/tests/accessibility/baseline.json
  shell/components/form/Select.vue
  shell/components/form/__tests__/Select.test.ts
Due: shell

Bump @rancher/shell to 3.0.14-rc.2
  shell/package.json
Due: shell

fixes dashboard 17933
  shell/components/ResourceList/Masthead.vue
  shell/core/__tests__/plugin-products-helpers.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
  shell/core/productDebugger.d.ts
  shell/core/productDebugger.js
  shell/core/types.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell

fix merge conflicts + additional fixes to make sure there is no problem in terms of extension compatibility
  shell/components/ResourceList/Masthead.vue
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/__tests__/plugin-products-extend.test.ts
  shell/core/__tests__/plugin-products-new.test.ts
  shell/core/__tests__/plugin-products-scenarios.test.ts
  shell/core/__tests__/plugin-products-side-menu.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
  shell/plugins/dashboard-store/resource-class.js
  shell/utils/__tests__/extension-product-routing.test.ts
  shell/utils/extension-product-routing.ts
Due: shell

Count and list the local cluster in the cluster switcher
  cypress/e2e/blueprints/nav/fake-cluster.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  shell/components/nav/ClusterSwitcher.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/ClusterSwitcher.test.ts
  shell/components/nav/__tests__/TopLevelMenu.helper.test.ts
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

Make the whole highlighted switcher row clickable again
  shell/components/nav/ClusterSwitcherRow.vue
Due: shell

Keep the switcher row's inset on the row, and tidy up around it
  cypress/e2e/blueprints/nav/fake-cluster.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  shell/components/nav/ClusterSwitcher.vue
  shell/components/nav/ClusterSwitcherRow.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/__tests__/TopLevelMenu.helper.test.ts
Due: shell

Drop the drag hint from the pinned tooltip when nothing can be reordered
  shell/assets/translations/en-us.yaml
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

Keep the app bar version label on one line
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

update pr based on comment - move type definition to internal
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-internal.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
Due: shell

Declare the pinned tooltip's keys, and tidy up after the review
  shell/components/nav/ClusterSwitcher.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

fix issue with overview page in side menu not being highlighted properly
  shell/components/nav/Group.vue
  shell/components/nav/__tests__/Group.test.ts
Due: shell

Update test workflow to change tags depending on instance being prime
  .github/workflows/test.yaml
Due: none

Recompile agentic workflows onto gh-aw v0.88.8
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-accessibility-review.md
  .github/workflows/daily-issue-grooming.lock.yml
  .github/workflows/daily-issue-grooming.md
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-repo-status.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/pr-fix.lock.yml
Due: none

Add Qase case IDs to deployments e2e spec
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Due: none

Cover the three version text sizes in the app bar e2e
  cypress/e2e/po/components/version-number.po.ts
  cypress/e2e/tests/pages/generic/version.spec.ts
Due: none

Recompile agentic workflows on an unblocked gh-aw
  .github/aw/actions-lock.json
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/enhancement-fixer.lock.yml
  .github/workflows/enhancement-fixer.md
Due: none

#19147 New UX design for sortable table in functionality and style
  shell/components/ResourceTable.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/selection.js
Due: shell

expose localHeaders on the external product API
  docusaurus/docs/extensions/api/nav/product-registration.md
  pkg/cert-manager/index.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-internal.ts
Due: shell

lint
  shell/components/Resource/Detail/Masthead/__tests__/index.test.ts
Due: shell

Fix duplicate and unnamed landmarks on the chart detail page
  cypress/e2e/tests/accessibility/baseline.json
  shell/components/SlideInPanelManager.vue
  shell/components/__tests__/SlideInPanelManager.spec.ts
  shell/pages/c/_cluster/apps/charts/__tests__/chart.test.ts
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

Prune the stale Secret describe landmark-unique baseline entry
  cypress/e2e/tests/accessibility/baseline.json
Due: none

e2e: only expect the Prime support notification for admin users
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Fix duplicate and unnamed landmarks on the chart detail page (#19185)
  cypress/e2e/tests/accessibility/baseline.json
  shell/components/SlideInPanelManager.vue
  shell/components/__tests__/SlideInPanelManager.spec.ts
  shell/pages/c/_cluster/apps/charts/__tests__/chart.test.ts
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

Name protocol filters as the cards name them
  shell/dialog/AddAuthProviderDialog.vue
  shell/dialog/__tests__/AddAuthProviderDialog.test.ts
Due: shell

Drop the auth provider info the redirect used to need
  shell/dialog/AddAuthProviderDialog.vue
  shell/utils/__tests__/auth.test.ts
  shell/utils/auth.js
Due: shell

Announce what a provider search found
  shell/assets/translations/en-us.yaml
  shell/dialog/AddAuthProviderDialog.vue
  shell/dialog/__tests__/AddAuthProviderDialog.test.ts
Due: shell

Say which protocol filter is in effect
  shell/dialog/AddAuthProviderDialog.vue
  shell/dialog/__tests__/AddAuthProviderDialog.test.ts
Due: shell

Add the Remuda workflow
  .github/workflows/remuda.yml
Due: none

fix: worker nodes metric dashboard (#18858)
  shell/detail/__tests__/node.test.ts
  shell/detail/node.vue
  shell/models/cluster/node.js
  shell/pages/c/_cluster/explorer/index.vue
Due: shell

Replace the login landscape artwork
  shell/assets/images/pl/dark/login-landscape.svg
  shell/assets/images/pl/login-landscape.svg
Due: shell

Allow ranges in peerDependencies
  pkg/rancher-components/package.json
  scripts/check-packages-sync
Due: rancher-components

Keep resource popover mounted when the resource updates
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/__tests__/identifying-fields.test.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
Due: shell

Migrate shell/dialog buttons to RcButton
  cypress/e2e/po/pages/explorer/cluster-project-members.po.ts
  cypress/e2e/po/prompts/deactivateDriverDialog.po.ts
  shell/dialog/AddClusterMemberDialog.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/dialog/AddExtensionReposDialog.vue
  shell/dialog/AddProjectMemberDialog.vue
  shell/dialog/AddonConfigConfirmationDialog.vue
  shell/dialog/AssignToDialog.vue
  shell/dialog/ChangePasswordDialog.vue
  shell/dialog/DeactivateDriverDialog.vue
  shell/dialog/DeveloperLoadExtensionDialog.vue
  shell/dialog/DiagnosticTimingsDialog.vue
  shell/dialog/DisableAuthProviderDialog.vue
  shell/dialog/DrainNode.vue
  shell/dialog/ExtensionCatalogInstallDialog.vue
  shell/dialog/ExtensionCatalogUninstallDialog.vue
  shell/dialog/FeatureFlagListDialog.vue
  shell/dialog/ForceMachineRemoveDialog.vue
  shell/dialog/GenericPrompt.vue
  shell/dialog/GitRepoForceUpdateDialog.vue
  shell/dialog/HelmOpForceUpdateDialog.vue
  shell/dialog/ImportDialog.vue
  shell/dialog/InstallExtensionDialog.vue
  shell/dialog/Ipv6NetworkingDialog.vue
  shell/dialog/KnownHostsEditDialog.vue
  shell/dialog/MoveNamespaceDialog.vue
  shell/dialog/OidcClientSecretDialog.vue
  shell/dialog/RedeployWorkloadDialog.vue
  shell/dialog/RollbackWorkloadDialog.vue
  shell/dialog/RotateCertificatesDialog.vue
  shell/dialog/RotateEncryptionKeyDialog.vue
  shell/dialog/ScalePoolDownDialog.vue
  shell/dialog/SloDialog.vue
  shell/dialog/UninstallExistingExtensionDialog.vue
  shell/dialog/UninstallExtensionDialog.vue
  shell/dialog/WechatDialog.vue
Due: shell

Add an error variant to RcButton and finish shell/dialog
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
  pkg/rancher-components/src/components/RcButtonSplit/RcButtonSplit.vue
  shell/assets/styles/themes/_modern.scss
  shell/dialog/DisableAuthProviderDialog.vue
  shell/dialog/OidcClientSecretDialog.vue
  shell/dialog/ScalePoolDownDialog.vue
  storybook/src/stories/Components/RcButton.stories.ts
Due: shell, rancher-components

Update yarn.lock for bumped dependency versions
  yarn.lock
Due: none

Update cypress/yarn.lock for bumped dependency versions
  cypress/yarn.lock
Due: none
