Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Update body background color variable
  shell/assets/styles/base/_basic.scss
Due: shell

Move colors into new files
  shell/assets/styles/base/_color-classic.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell

Provide defaults for new variables
  shell/assets/styles/global/_button.scss
  shell/assets/styles/vendor/vue-select.scss
  shell/components/nav/TopLevelMenu.vue
Due: shell

Replace `--body__bg` with `--body-bg`
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_resource.scss
  shell/assets/styles/global/_table.scss
  shell/assets/styles/global/_tooltip.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/Carousel.vue
  shell/components/ClusterIconMenu.vue
  shell/components/ForceDirectedTreeChart.vue
  shell/components/GroupPanel.vue
  shell/components/ResourceSummary.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/Tabbed/index.vue
  shell/components/Wizard.vue
  shell/components/graph/Bar.vue
  shell/components/nav/NamespaceFilter.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/pages/fail-whale.vue
Due: shell, rancher-components

Fix unit test and add dark theme basics
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/__tests__/ButtonGroup.test.ts
Due: shell

Update dark theme test for brand image
  shell/components/BrandImage.vue
Due: shell

Fix kubectl explain icon
  shell/components/IconOrSvg.vue
  shell/utils/color.js
Due: shell

Update styles and colors for new theme
  pkg/kubectl-explain/components/ExplainPanel.vue
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_csp.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/ButtonGroup.vue
  shell/components/CodeMirror.vue
  shell/components/EmberPage.vue
  shell/components/SideNav.vue
  shell/components/SortableTable/index.vue
  shell/components/form/LabeledSelect.vue
  shell/components/nav/Group.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/pages/c/_cluster/explorer/tools/index.vue
  shell/utils/color.js
  storybook/src/stories/foundation/Colors.mdx
Due: shell, rancher-components

Update user name color in User preferences dropdown
  shell/components/nav/Header.vue
Due: shell

Add a modern theme/brand
  shell/assets/brand/modern/metadata.json
  shell/assets/styles/app.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/assets/translations/en-us.yaml
  shell/store/prefs.js
Due: shell

Update Prime, light, and dark themes
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/nav/Group.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell, rancher-components

Fix active hover styles for svg in primary nav
  shell/components/nav/TopLevelMenu.vue
Due: shell

Fix suse view chart info button styles
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Update `.bg-primary`
  shell/assets/styles/themes/_modern.scss
Due: shell

Fix layout of actions in projects/namespaces
  shell/components/ExplorerProjectsNamespaces.vue
Due: shell

Lint fix
  shell/components/nav/Group.vue
Due: shell

Make `-hover` usage consistent
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/nav/Group.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell

Fix community dark simple box background
  shell/assets/styles/themes/_modern.scss
Due: shell

Add missing defaults for base theme
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/assets/styles/global/_button.scss
  shell/components/nav/TopLevelMenu.vue
Due: shell, rancher-components

Add new light & dark modern themes
  shell/assets/styles/app.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/translations/en-us.yaml
  shell/store/prefs.js
Due: shell

Fix spacing for remove button in array list
  shell/components/form/ArrayList.vue
Due: shell

Move variables into new files
  shell/assets/styles/base/_variables-classic.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell

Fix issues with user retention menu button
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  shell/assets/styles/global/_button.scss
  shell/list/management.cattle.io.user.vue
Due: shell, rancher-components

set harvester chart values in before save hook instead of saveOverride
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Fix display of buttons in detail pages
  shell/components/Drawer/Chrome.vue
  shell/components/Resource/Detail/TitleBar/index.vue
Due: shell

Make padding consistent for SideNav items
  shell/components/nav/Group.vue
  shell/components/nav/Type.vue
Due: shell

Update default action column width to match button styles
  shell/components/SortableTable/index.vue
Due: shell

Update e2e-docker-start to use chad's image
  scripts/e2e-docker-start
Due: none

Update test.yaml
  .github/workflows/test.yaml
Due: none

Update test.yaml to define E2E_RANCHER_LOG
  .github/workflows/test.yaml
Due: none

fix e2e test
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
Due: none

Update package.json for docker:local:logs
  package.json
Due: none

Try another way to enable debugging
  scripts/e2e-docker-start
Due: none

Set isOpen to false when select closes
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
Due: shell

Move focus back to select wrapper on close
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
Due: shell

Defer more select open state logic to wrapper
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
Due: shell

Resolve new masthead issues in regards to harvester
  shell/components/Drawer/ResourceDetailDrawer/__tests__/composables.test.ts
  shell/components/Drawer/ResourceDetailDrawer/composables.ts
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/ResourceDetail/Masthead/__tests__/index.test.ts
  shell/components/ResourceDetail/Masthead/index.vue
  shell/components/ResourceDetail/__tests__/index.test.ts
  shell/components/ResourceDetail/index.vue
  shell/components/SlideInPanelManager.vue
  shell/composables/useIsNewDetailPageEnabled.ts
Due: shell

Close when no selection is made
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
Due: shell

Revert change to input
  shell/components/form/ArrayList.vue
Due: shell

Adding a quick fix to allow showing graph view option for fleet
  shell/components/Resource/Detail/TitleBar/__tests__/composables.test.ts
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/Resource/Detail/TitleBar/index.vue
Due: shell
