Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Disable capi, stackstate, and harvester extension tests
  shell/scripts/test-plugins-build.sh
Due: shell

keep disable and enable buttons next to each other
  shell/models/catalog.cattle.io.clusterrepo.js
Due: shell

address pr comments
  shell/components/form/ColorInput.vue
  shell/dialog/AddCustomBadgeDialog.vue
Due: shell

address pr comments
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/base/_mixins.scss
  shell/assets/styles/global/_form.scss
Due: shell

asdassad
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  pkg/harvester-manager/types.js
  shell/components/ResourceTable.vue
  shell/components/SortableTable/index.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/mutations.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/subscribe.js
  shell/store/index.js
  shell/utils/pagination-utils.ts
  shell/utils/settings.ts
  shell/utils/uiplugins.ts
Due: shell

Add dropdown separator component
  shell/components/RcDropdownSeparator.vue
Due: shell

Update aria roles, states, and properties for DropdownTrigger
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Close dropdown on activate
  shell/components/RcDropdown.vue
  shell/components/RcDropdownItem.vue
Due: shell

Clean up unused imports and console statements
  shell/components/RcDropdown.vue
  shell/components/nav/Header.vue
Due: shell

Rename fields to dropdownContainer
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Annotate poc
  shell/components/RcDropdown.vue
  shell/components/RcDropdownCollection.vue
  shell/components/RcDropdownItem.vue
Due: shell

Build the collection of dropdown items in the `RcDropdown` root
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Add eslint rule to ingore unused variables that begin with `_`
  pkg/rancher-components/.eslintrc.js
Due: rancher-components

Add dropdown trigger component
  shell/components/RcDropdown.vue
  shell/components/RcDropdownTrigger.vue
Due: shell

Remove dropdown collection component
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownCollection.vue
  pkg/rancher-components/src/components/RcDropdown/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Replace user menu in header with RcDropdown component
  shell/components/nav/Header.vue
Due: shell

Fix types for Rancher Components
  pkg/rancher-components/types/index.d.ts
  shell/tsconfig.json
Due: shell, rancher-components

Target first tabbable element in dropdown
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

Fix focus-visible styles
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Rename `setTrigger()` to `registerTrigger()`
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

[POC] Add an accessible dropdown component
  shell/components/RcButton.vue
  shell/components/RcDropdown.vue
  shell/components/RcDropdownCollection.vue
  shell/components/RcDropdownItem.vue
  shell/components/nav/Header.vue
Due: shell

Close dropdown menu when escape is pressed and trigger has focus
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Expose `focusFirstElement()` to the dropdown trigger
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Update styles
  shell/components/RcButton.vue
  shell/components/RcDropdown.vue
  shell/components/RcDropdownCollection.vue
Due: shell

Fix type export
  pkg/rancher-components/src/components/RcButton/index.ts
Due: rancher-components

Configure focus and keyboard navigation in RcDropdown
  shell/components/RcDropdown.vue
  shell/components/RcDropdownItem.vue
Due: shell

Move RcDropdown to Rancher Components
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownCollection.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownSeparator.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/components/RcDropdown/index.ts
  pkg/rancher-components/src/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Rename popper slot to dropdownCollection
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Expose focus function in RcButton
  shell/components/RcButton.vue
Due: shell

Replace action menu with new component
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell

Fix type errors in RcButton and RcDropdown
  shell/components/RcButton.vue
  shell/components/RcDropdown.vue
Due: shell

Target popperContainer with a ref
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

Move RcButton to Rancher Components
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/index.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/index.ts
  pkg/rancher-components/types/index.d.ts
Due: rancher-components

Move RcButton types to separate file
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/index.ts
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Add `btn-sm` class to the button component
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  shell/components/nav/Header.vue
Due: shell, rancher-components

Remove extra padding around buttons in header
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/components/nav/Header.vue
Due: shell, rancher-components

Allow for dropdown menu items to be disabled
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Add aria-label to dropdown menu
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/assets/translations/en-us.yaml
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Remove RcDropdownCollection from list of exports
  pkg/rancher-components/src/index.ts
Due: rancher-components

check version compatibility when there are multiple matchings + refactor
  shell/models/catalog.cattle.io.app.js
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/pages/c/_cluster/explorer/tools/index.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
