Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

address pr comments
  cypress/e2e/tests/pages/explorer/service-discovery/services.spec.ts
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/components/CruResource.vue
  shell/components/ResourceDetail/index.vue
  shell/dialog/InstallExtensionDialog.vue
  storybook/src/stories/Components/Banner.stories.ts
Due: shell, rancher-components

remove code comments + add info to storybook
  shell/components/CruResource.vue
  shell/components/ResourceDetail/Masthead/latest.vue
  shell/components/ResourceDetail/index.vue
  shell/components/Wizard.vue
  shell/components/__tests__/CruResource.test.ts
  shell/components/form/Error.vue
  shell/components/form/Footer.vue
  shell/dialog/GenericPrompt.vue
  shell/dialog/ImportDialog.vue
  shell/dialog/InstallExtensionDialog.vue
  shell/pages/auth/login.vue
  shell/pages/auth/setup.vue
  shell/pages/c/_cluster/uiplugins/index.vue
  storybook/src/stories/Components/Banner.mdx
Due: shell

Added CAPI provisioning cluster section
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Added new provisioner type definitions
  shell/core/types-provisioning.ts
Due: shell

added test
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
Due: shell

Move the rollout script to ui internal tools
  .github/OWNERS.md
  scripts/github/apply-codeowners.sh
Due: none

remove unecessary check
  shell/mixins/vue-select-overrides.js
Due: shell

bump shell version (#18722)
  shell/package.json
Due: shell

support setting cluster name annotation (#18636)
  cypress/e2e/po/components/key-value.po.ts
  cypress/e2e/po/components/labels-annotations.po.ts
  cypress/e2e/tests/pages/manager/name-annotation.spec.ts
  scripts/type-check-baseline.txt
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/Metadata/index.vue
  shell/components/form/KeyValue.vue
  shell/components/form/Labels.vue
  shell/components/form/__tests__/KeyValue.test.ts
  shell/config/labels-annotations.js
  shell/models/provisioning.cattle.io.cluster.js
  shell/plugins/steve/hybrid-class.js
Due: shell

removed transient state checks for machine scale down test
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
Due: none

Resolve type errors related to query-params imports
  scripts/type-check-baseline.txt
  shell/types/rancher/index.d.ts
Due: shell

Remove type-map and dashboard-store shims
  scripts/type-check-baseline.txt
  shell/types/rancher/index.d.ts
Due: shell

Fix typegen issues for plugin build validation
  shell/plugins/dashboard-store/index.js
  shell/scripts/typegen.sh
  tsconfig.type-check.json
Due: shell

Drop transitively-emitted declarations
  shell/scripts/typegen.sh
Due: shell

Rewrite inline relative type imports
  shell/scripts/typegen.sh
Due: shell

Remove `/index` from steve import
  shell/plugins/steve/index.js
Due: shell

Wait for the extra workload before deriving pagination count
  cypress/e2e/tests/pages/explorer2/workloads/cronjobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/statefulsets.spec.ts
Due: none

Added CAPI provisioning cluster section (#18643)
  shell/core/types-provisioning.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

address wrongful output of screen readers when interacting with KeyValue component
  shell/components/form/KeyValue.vue
  shell/components/form/__tests__/KeyValue.test.ts
Due: shell

adjust indexes and bring back missing slot
  shell/components/form/KeyValue.vue
  shell/components/form/__tests__/KeyValue.test.ts
Due: shell

Migrate root project to Yarn Berry 4.17.1
  .gitignore
  .yarnrc
  .yarnrc.yml
  package.json
  scripts/yarn-no-lock.sh
  yarn.lock
Due: none

Migrate shell, storybook, and docusaurus
  .gitignore
  docusaurus/.yarnrc.yml
  docusaurus/package.json
  docusaurus/yarn.lock
  shell/.yarnrc.yml
  shell/package.json
  shell/yarn.lock
  storybook/.yarnrc.yml
  storybook/package.json
  storybook/yarn.lock
Due: shell

Update CI workflows and scripts for Yarn Berry
  .github/actions/setup/action.yaml
  .github/workflows/build-and-upload.yaml
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
  .github/workflows/build-extensions-test.yml
  .github/workflows/create-pr-build-extension-charts.yml
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-accessibility-review.md
  .github/workflows/docusaurus.yaml
  .github/workflows/rancher-components.yaml
  .github/workflows/release-cypress-pkg.yaml
  .github/workflows/release-rancher-components.yml
  .github/workflows/release-shell-pkg.yaml
  .github/workflows/scripts/build-dashboard.sh
  .github/workflows/scripts/test-extensions-creators-build.sh
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
  .github/workflows/update-cloud-data.yml
  scripts/build-e2e
  scripts/build-embedded
  scripts/build-hosted
  scripts/patch-docker-container
  scripts/standalone/package.sh
  shell/scripts/test-plugins-build.sh
Due: shell

Migrate scaffolder and docs to Yarn Berry
  AGENTS.md
  creators/extension/app/files/.yarnrc
  creators/extension/app/files/.yarnrc.yml
  creators/extension/app/init
  creators/extension/package.json
  docs/agents.md/agents/tools.md
  docs/agents.md/contributors/node-dependencies.md
  docusaurus/docs/extensions/unit-testing.md
  docusaurus/docs/internal/guide/package-management.md
Due: none

Invoke yarn install directly instead of through install:ci
  .github/actions/setup/action.yaml
  .github/workflows/docusaurus.yaml
  .github/workflows/release-rancher-components.yml
  .github/workflows/scripts/build-dashboard.sh
  .github/workflows/test.yaml
  docusaurus/package.json
  package.json
  scripts/local-e2e
Due: none

Enable Corepack in test.yaml install jobs
  .github/workflows/test.yaml
Due: none

Stop vue-cli registering the Babel plugin as a service plugin
  shell/vue.config.js
Due: shell

Declare `@vue/cli-plugin-babel` at root for Berry
  package.json
  yarn.lock
Due: none

Make root Jest resolution deterministic under Berry
  jest.config.js
Due: none

Migrate cypress package to Yarn Berry
  cypress/.yarnrc.yml
  cypress/package.json
  cypress/yarn.lock
Due: none

Restore default-immutable installs under Yarn Berry
  .yarnrc.yml
  creators/extension/app/files/.yarnrc.yml
  cypress/.yarnrc.yml
  docusaurus/.yarnrc.yml
  shell/.yarnrc.yml
  storybook/.yarnrc.yml
Due: shell

Configure registries through Yarn Berry's environment
  shell/scripts/test-plugins-build.sh
Due: shell

Document the immutable install and release-age policy
  AGENTS.md
  docs/agents.md/contributors/node-dependencies.md
  docusaurus/docs/internal/guide/package-management.md
Due: none

Fix extension creator scaffolding for Yarn Berry
  .github/workflows/scripts/test-extensions-creators-build.sh
  creators/extension/app/init
  creators/extension/app/package.json
Due: none

Pass --no-immutable where a lockfile must be built
  .github/workflows/scripts/test-extensions-creators-build.sh
  docusaurus/docs/extensions/extensions-getting-started.md
Due: none

Align jest moduleNameMapper keys to satisfy key-spacing
  jest.config.js
Due: none

Default unset variables in Yarn-evaluated scripts
  AGENTS.md
  package.json
Due: none
