Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Added a test
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Due: none

addressed comment
  pkg/harvester-manager/models/harvesterhci.io.management.cluster.js
Due: none

Disabled editing Harvester cluster from Cluster management
  pkg/harvester-manager/models/harvesterhci.io.management.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

fixed tags and ports
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/machine-config/google.vue
Due: shell

apply pagination to secrets
  shell/components/PaginatedResourceTable.vue
  shell/config/labels-annotations.js
  shell/config/query-params.js
  shell/config/table-headers.js
  shell/edit/secret/index.vue
  shell/list/secret.vue
  shell/models/secret.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/types/store/pagination.types.ts
Due: shell

normalize/handleConflict refactoring
  shell/mixins/create-edit-view/impl.js
  shell/models/cluster.x-k8s.io.machinedeployment.js
  shell/plugins/dashboard-store/normalize.js
Due: shell

Implement resource-class/_saveYaml unit tests
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
Due: shell

Implement normalize.test.ts
  shell/plugins/dashboard-store/__tests__/normalize.test.ts
  shell/plugins/dashboard-store/normalize.js
Due: shell

Handle conflict errors in resource-class.js/saveYaml PUT requests
  shell/components/ResourceYaml.vue
  shell/edit/configmap.vue
  shell/models/fleet.cattle.io.cluster.js
  shell/plugins/dashboard-store/resource-class.js
Due: shell

[backport 2.11.4] Fix YAML 409 conflict errors
  shell/components/ResourceYaml.vue
  shell/edit/configmap.vue
  shell/mixins/create-edit-view/impl.js
  shell/models/cluster.x-k8s.io.machinedeployment.js
  shell/models/fleet.cattle.io.cluster.js
  shell/plugins/dashboard-store/__tests__/normalize.test.ts
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
  shell/plugins/dashboard-store/normalize.js
  shell/plugins/dashboard-store/resource-class.js
Due: shell

[backport 2.10.8] Fix YAML 409 conflict errors
  shell/components/ResourceYaml.vue
  shell/edit/configmap.vue
  shell/mixins/create-edit-view/impl.js
  shell/models/cluster.x-k8s.io.machinedeployment.js
  shell/models/fleet.cattle.io.cluster.js
  shell/plugins/dashboard-store/__tests__/normalize.test.ts
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
  shell/plugins/dashboard-store/normalize.js
  shell/plugins/dashboard-store/resource-class.js
Due: shell

fix item 2: All page content should be contained by landmarks
  pkg/kubectl-explain/components/SlideInPanel.vue
  shell/components/AppModal.vue
  shell/components/SlideInPanelManager.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
Due: shell

fix item 8. Interactive controls must not be nested
  shell/components/nav/Group.vue
Due: shell

fix item 11. autocomplete attribute must be used correctly
  shell/components/auth/login/ldap.vue
  shell/components/form/ChangePassword.vue
  shell/edit/monitoring.coreos.com.receiver/auth.vue
  shell/edit/monitoring.coreos.com.receiver/types/email.vue
  shell/pages/auth/login.vue
Due: shell

fix item 6. ARIA attributes must conform to valid values
  shell/components/Tabbed/index.vue
  shell/components/Wizard.vue
Due: shell

fix bug on item 6. and fix item 7. <ul> and <ol> must only directly contain <li>, <script> or <template> elements
  shell/components/Wizard.vue
Due: shell

fix item 4. Elements must only use permitted ARIA attributes
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  shell/components/LocaleSelector.vue
  shell/components/ProgressBarMulti.vue
  shell/components/form/KeyValue.vue
  shell/components/formatter/WorkloadHealthScale.vue
  shell/components/nav/Favorite.vue
  shell/edit/workload/index.vue
Due: shell, rancher-components

fix item 10. ARIA toggle fields must have an accessible name
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
Due: rancher-components

fix item 14. ARIA input fields must have an accessible name
  shell/components/nav/NamespaceFilter.vue
Due: shell

fix item 12. Form elements must have labels
  shell/components/form/ChangePassword.vue
Due: shell

fix item 15. Buttons must have discernible text
  shell/assets/translations/en-us.yaml
  shell/components/Tabbed/index.vue
  shell/components/nav/Header.vue
Due: shell

fix item 16. Images must have alternative text
  shell/assets/translations/en-us.yaml
  shell/components/IconOrSvg.vue
  shell/components/nav/Header.vue
Due: shell

fix wrong role in hidden inputs
  shell/components/form/ChangePassword.vue
Due: shell

address pr comments
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  shell/components/LocaleSelector.vue
  shell/components/ProgressBarMulti.vue
  shell/components/auth/login/ldap.vue
  shell/components/form/KeyValue.vue
  shell/components/form/Select.vue
  shell/edit/monitoring.coreos.com.receiver/auth.vue
  shell/edit/monitoring.coreos.com.receiver/types/email.vue
  shell/edit/workload/index.vue
Due: shell, rancher-components

finish fix item 17. ARIA role should be appropriate for the element
  shell/assets/styles/global/_form.scss
  shell/components/form/KeyValue.vue
Due: shell

working on item 17
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

add resolution for minimatch pkg and bump creators version
  creators/extension/app/app.package.json
  creators/extension/package.json
Due: none

Fleet add HelmOps count in Workspace details page
  shell/detail/management.cattle.io.fleetworkspace.vue
  shell/models/management.cattle.io.fleetworkspace.js
Due: shell

add resolution for minimatch pkg and bump creators version (#14708)
  creators/extension/app/app.package.json
  creators/extension/package.json
Due: none

add resolution for minimatch pkg and bump creators version (#14709)
  creators/extension/app/app.package.json
  creators/extension/package.json
Due: none

Fleet add HelmOps column in Workspaces table
  cypress/e2e/tests/pages/fleet/resources/workspaces.spec.ts
  shell/assets/translations/en-us.yaml
  shell/config/product/fleet.js
Due: shell

Fleet Dashboard refinements, font sizes, spacings, etc.
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Expand/collapse cards icon
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Min width to H2 parent, not child
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Lint fixes
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

fix long cluster names (truncate) on home page cluster list if the cluster is not active
  shell/pages/home.vue
Due: shell

fix long cluster names (truncate) on home page cluster list if the cluster is not active (#14717)
  shell/pages/home.vue
Due: shell

Major Changes
  shell/assets/translations/en-us.yaml
  shell/components/PaginatedResourceTable.vue
  shell/components/ResourceList/index.vue
  shell/components/ResourceTable.vue
  shell/composables/useIsNewDetailPageEnabled.ts
  shell/config/product/explorer.js
  shell/config/query-params.js
  shell/config/router/routes.js
  shell/config/table-headers.js
  shell/config/types.js
  shell/edit/secret/index.vue
  shell/list/projectsecret.vue
  shell/list/secret.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/mixins/resource-fetch.js
  shell/models/secret.js
  shell/pages/c/_cluster/explorer/projectsecret.vue
  shell/plugins/steve/steve-pagination-utils.ts
  shell/types/kube/kube-api.ts
  shell/types/store/pagination.types.ts
Due: shell

add new component to support rich translation
  shell/components/RichTranslation.vue
Due: shell
