Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

[2.10.2] fix aks region being overwritten when editing unprovisioned aks clusters (#13038)
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

Pin Rancher version to v2.11-2053ce644a31cd8053d1f58e2487154b0b8513b6-head for e2e tests
  package.json
  scripts/e2e-docker-start
Due: none

Set dependabot interval to weekly
  .github/dependabot.yml
Due: none

automation: fleet cluster groups tests
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/edit/fleet/fleet.cattle.io.clustergroup.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.clustergroup.po.ts
  cypress/e2e/tests/pages/fleet/cluster-groups.spec.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
Due: none

update validation message
  pkg/aks/l10n/en-us.yaml
Due: none

validate that AKS node pool count is no more than 1000
  pkg/aks/l10n/en-us.yaml
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/validators.ts
Due: none

validate that AKS node pool count is no more than 1000 (#13039)
  pkg/aks/l10n/en-us.yaml
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/validators.ts
Due: none

update filtering condition
  shell/models/catalog.cattle.io.app.js
Due: shell

lint
  shell/models/catalog.cattle.io.app.js
Due: shell

removed extra comment
  shell/models/catalog.cattle.io.app.js
Due: shell

Adding GKE credential to jenkinsfile
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/jenkins/init.sh
Due: none

Fix state is not reset when feature flag API request fails
  cypress/e2e/po/components/card.po.ts
  cypress/e2e/po/pages/global-settings/feature-flags.po.ts
  cypress/e2e/tests/pages/global-settings/feature-flags.spec.ts
  shell/list/management.cattle.io.feature.vue
Due: shell

Update copyright for SUSE
  README.md
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
Due: shell

Update notificationBlockList
  shell/config/settings.ts
  shell/plugins/steve/__tests__/header-warnings.test.ts
Due: shell

working on yaml editor (how to prevent from being a focus trap - no solution yet)
  pkg/rancher-components/src/components/Card/Card.vue
  shell/components/AppModal.vue
  shell/components/CodeMirror.vue
  shell/components/Import.vue
  shell/components/YamlEditor.vue
  shell/components/form/LabeledSelect.vue
  shell/components/nav/Header.vue
  shell/directives/focus-trap.js
  shell/initialize/install-directives.js
  shell/mixins/vue-select-overrides.js
  shell/package.json
  shell/yarn.lock
Due: shell, rancher-components

Update copyright for SUSE (#13117)
  README.md
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
Due: shell

Backport #12896
  shell/components/fleet/FleetRepos.vue
  shell/components/formatter/FleetClusterSummaryGraph.vue
  shell/components/formatter/FleetSummaryGraph.vue
  shell/detail/fleet.cattle.io.cluster.vue
  shell/models/fleet.cattle.io.bundle.js
  shell/models/fleet.cattle.io.gitrepo.js
  shell/pages/c/_cluster/fleet/index.vue
  shell/utils/auth.js
Due: shell

skip gitrepo test
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

fix keyboard nav on settings list page + settings edit page
  shell/assets/translations/en-us.yaml
  shell/components/ResourceDetail/Masthead.vue
  shell/list/management.cattle.io.setting.vue
Due: shell

[2.10.2] validate that AKS node pool count is no more than 1000 (#13040)
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  pkg/aks/l10n/en-us.yaml
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/validators.ts
Due: none

optimize the iteration through matching charts versions
  shell/models/catalog.cattle.io.app.js
Due: shell

Adding deprecated messaging to the performance settings page
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

backport fix for the badge background color issue
  shell/components/ClusterIconMenu.vue
  shell/components/nav/TopLevelMenu.vue
  shell/models/management.cattle.io.cluster.js
Due: shell

Fix gitrepo bundle list and bundle list when there's a gitrepo that does not target any clusters
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  shell/components/fleet/FleetBundles.vue
  shell/list/fleet.cattle.io.bundle.vue
Due: shell

Fix gitrepo bundle list and bundle list when there's a gitrepo that does not target any clusters
  shell/components/fleet/FleetBundles.vue
  shell/list/fleet.cattle.io.bundle.vue
Due: shell

Disable sorry cypress
  package.json
Due: none

Merge cypress screenshots artifacts
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

automation: fix flaky tests based on jenkins failures
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

Bump Vue to 3.5.13
  package.json
  pkg/rancher-components/package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell, rancher-components

Disabled failing AKS test
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

Remove neuvector from `test-plugins-build.sh`
  shell/scripts/test-plugins-build.sh
Due: shell

Remove missing `standard/no-callback-literal` eslint rule
  pkg/gke/components/AccountAccess.vue
Due: none

Resolve lint warning
  .eslintrc.js
Due: none

Update vue shims
  creators/extension/pkg/vue-shim.ts
  pkg/rancher-components/src/shim-vue.d.ts
  shell/types/vue-shim.d.ts
Due: shell, rancher-components

Resolve vue-router error
  shell/config/router/routes.js
Due: shell

Fixed LabeledSelect not emitting search explicitly
  shell/components/auth/SelectPrincipal.vue
  shell/components/form/LabeledSelect.vue
Due: shell

Allow to switch Cypress command with cy2 on env var
  scripts/e2e
Due: none

Remove coverage flag
  scripts/e2e
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
