Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

minor styling
  shell/components/formatter/InternalExternalIP.vue
Due: shell

removed unused console
  shell/edit/cloudcredential.vue
Due: shell

fixed table
  pkg/aks/provisioner.ts
  pkg/eks/provisioner.ts
  pkg/gke/provisioner.ts
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.vue
  shell/assets/translations/en-us.yaml
  shell/config/product/manager.js
  shell/config/settings.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/hostedprovider.js
  shell/pages/c/_cluster/manager/hostedprovider/index.vue
  shell/store/plugins.js
  shell/store/type-map.js
  shell/utils/settings.ts
Due: shell, rancher-components

tmp
  pkg/aks/l10n/en-us.yaml
  pkg/aks/provisioner.ts
  pkg/eks/l10n/en-us.yaml
  pkg/eks/provisioner.ts
  pkg/gke/l10n/en-us.yaml
  pkg/gke/provisioner.ts
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.vue
  shell/assets/translations/en-us.yaml
  shell/components/ResourceList/Masthead.vue
  shell/config/product/manager.js
  shell/config/router/routes.js
  shell/config/settings.ts
  shell/config/types.js
  shell/core/types-provisioning.ts
  shell/edit/cloudcredential.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/hostedprovider.js
  shell/pages/c/_cluster/manager/hostedprovider/index.vue
  shell/store/plugins.js
  shell/store/type-map.js
  shell/utils/settings.ts
Due: shell, rancher-components

lint
  shell/pages/c/_cluster/manager/hostedprovider/index.vue
Due: shell

fixed some issues
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/po/pages/cluster-manager/kontainer-drivers.po.ts
  cypress/e2e/po/pages/cluster-manager/node-drivers.po.ts
  docusaurus/docs/extensions/api/components/node-driver/about-drivers.md
  docusaurus/docs/internal/code-base-works/machine-drivers.md
  docusaurus/extensions_versioned_docs/version-v2/usecases/node-driver/about-drivers.md
  shell/edit/cloudcredential.vue
  shell/utils/settings.ts
Due: shell

fixed lint
  shell/edit/cloudcredential.vue
Due: shell

remove cillium ipv6 checkbox
  cypress/e2e/tests/pages/manager/cilium-cni.spec.ts
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/__tests__/Basics.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/Networking.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

fix bad merge conflict resolution; fix tests
  shell/edit/provisioning.cattle.io.cluster/__tests__/Networking.test.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

fix agent-tls-mode test
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

fix fleet dashboard tests
  cypress/e2e/po/components/fleet/fleet-dashboard-workspace-card.po.ts
  cypress/e2e/po/pages/fleet/fleet-dashboard.po.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
Due: none

fix side nav highlight test
  cypress/e2e/po/side-bars/product-side-nav.po.ts
Due: none

wrip
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

oops
  shell/edit/cloudcredential.vue
Due: shell

set flannel masq true when cluster cidr or service cidr look like ipv6; conditionally show flannel masq warning
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

improve logic for internalSameAsExternal
  shell/components/formatter/InternalExternalIP.vue
Due: shell

Fixed PR feedback - Removed requiredInt validation since UnitInput converts to integer anyway - Added `busy` back for disabled.
  shell/edit/provisioning.cattle.io.cluster/tabs/MachinePool.vue
  shell/utils/validators/machine-pool.ts
Due: shell

Support displaying multiple ips (#15743)
  shell/assets/translations/en-us.yaml
  shell/components/formatter/InternalExternalIP.vue
  shell/components/formatter/__tests__/InternalExternalIP.test.ts
  shell/models/cluster.x-k8s.io.machine.js
  shell/models/cluster/node.js
Due: shell

fix logging chart test
  cypress/e2e/po/components/kubectl.po.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
Due: none

support oidc provider tests 2.12
  cypress/e2e/tests/priority/oidc-provider-setup.spec.ts
Due: none

fixed edit
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/management.cattle.io.kontainerdriver.js
Due: shell

Fixing view yaml in general and specifically in the case of provisioning clusters
  shell/components/ResourceDetail/index.vue
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

fixed comment
  shell/edit/cloudcredential.vue
Due: shell

Fixes a warning that's show on tables when a tab isn't present
  shell/components/form/ResourceTabs/composable.ts
Due: shell

Switched to blank cluster
  cypress/e2e/po/pages/users-and-auth/users.po.ts
  shell/config/product/auth.js
Due: shell

Updating the Users PO to use the local cluster
  cypress/e2e/po/pages/users-and-auth/users.po.ts
Due: none

Fixed an issue where the current cluster is used when navigating to the auth configuration portion of the app
  shell/config/product/auth.js
Due: shell

Resolving some e2e issues
  cypress/e2e/tests/navigation/side-nav/product-side-nav-highlighting.spec.ts
Due: none

Attempt to fix the remaining e2e tests
  cypress/e2e/po/pages/users-and-auth/users.po.ts
  cypress/e2e/tests/pages/generic/prime.spec.ts
Due: none

Added Hosted provider page (#15732)
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/po/pages/cluster-manager/kontainer-drivers.po.ts
  cypress/e2e/po/pages/cluster-manager/node-drivers.po.ts
  docusaurus/docs/extensions/api/components/node-driver/about-drivers.md
  docusaurus/docs/internal/code-base-works/machine-drivers.md
  docusaurus/extensions_versioned_docs/version-v2/usecases/node-driver/about-drivers.md
  pkg/aks/l10n/en-us.yaml
  pkg/aks/provisioner.ts
  pkg/eks/l10n/en-us.yaml
  pkg/eks/provisioner.ts
  pkg/gke/l10n/en-us.yaml
  pkg/gke/provisioner.ts
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.vue
  shell/assets/translations/en-us.yaml
  shell/components/ResourceList/Masthead.vue
  shell/config/product/manager.js
  shell/config/router/routes.js
  shell/config/settings.ts
  shell/config/types.js
  shell/core/types-provisioning.ts
  shell/edit/cloudcredential.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/management.cattle.io.kontainerdriver.js
  shell/pages/c/_cluster/manager/hostedprovider/index.vue
  shell/store/plugins.js
  shell/utils/settings.ts
Due: shell, rancher-components

refactor: merge the same cloudInit userdata and network into same option
  pkg/harvester-manager/machine-config/harvester.vue
Due: none

update pr based on comment
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/utils/__tests__/cluster.test.ts
  shell/utils/object.js
Due: shell

fix unit test
  shell/utils/__tests__/object.test.ts
Due: shell

backport pr 15751
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/utils/__tests__/object.test.ts
  shell/utils/object.js
Due: shell

fix problem with Kubewarden chart upgrade (#15751)
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/utils/__tests__/object.test.ts
  shell/utils/object.js
Due: shell

backport pr 15751 (#15762)
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/utils/__tests__/object.test.ts
  shell/utils/object.js
Due: shell

fix cloud creds tests part 2
  cypress/e2e/tests/pages/manager/cloud-credential.spec.ts
Due: none

resolve cluster-manager tests 2.12
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

Fixing an issue with using show configuration within extensions
  shell/components/Resource/Detail/Metadata/composables.ts
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/Resource/Detail/composables.ts
Due: shell

Fixing a warning around importDrawer we would see when creating new extensions
  scripts/check-i18n-links
  shell/config/query-params.ts
  shell/config/version.ts
  shell/pkg/dynamic-importer.lib.js
Due: shell
