Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

[12961] Change translation | Add tooltip to Paths | Removed unused css | Fixed typo | Removed unused form validators
  shell/assets/translations/en-us.yaml
  shell/edit/auditlog.cattle.io.auditpolicy/AdditionalRedactions.vue
  shell/edit/auditlog.cattle.io.auditpolicy/Filters.vue
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/index.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/index.vue
  shell/list/auditlog.cattle.io.auditpolicy.vue
  shell/models/auditlog.cattle.io.auditpolicy.js
  shell/plugins/steve/steve-class.js
Due: shell

Fix cluster management machines namespace links
  shell/components/formatter/LinkName.vue
Due: shell

Update path for pkceMethod label
  shell/edit/auth/oidc.vue
Due: shell

Address PR feedback
  shell/components/ResourceTable.vue
Due: shell

Fix incorrect path for unit test reports
  .github/workflows/test.yaml
Due: none

[12961] Added the auditPolicy detail | removed unused component from the auditPolicy edit
  shell/detail/auditlog.cattle.io.auditpolicy.vue
  shell/edit/auditlog.cattle.io.auditpolicy/index.vue
Due: shell

Replace deprecated RcButton boolean props with variant/size
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownMenu.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  pkg/rancher-prime/pages/Registration.vue
  shell/components/ActionMenuShell.vue
  shell/components/DynamicContent/DynamicContentCloseButton.vue
  shell/components/LocaleSelector.vue
  shell/components/Resource/Detail/TitleBar/__tests__/index.test.ts
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/components/fleet/FleetClusterTargets/index.vue
  shell/components/fleet/FleetGitRepoPaths.vue
  shell/components/fleet/FleetValuesFrom.vue
  shell/components/fleet/dashboard/ResourceDetails.vue
  shell/components/formatter/Autoscaler.vue
  shell/components/nav/Header.vue
  shell/components/nav/NamespaceFilter.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/pages/c/_cluster/explorer/EventsTable.vue
  shell/pages/c/_cluster/fleet/index.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
Due: shell, rancher-components

[12961] Fixed snapshot for General on auditPolicy
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/General.test.ts.snap
Due: shell

Addressing feedback
  shell/components/DetailText.vue
Due: shell

slack notification fix
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/init.sh
  cypress/jenkins/slack-notification.sh
Due: none

Improved error handling around loading WebGL (#16458)
  .github/workflows/test.yaml
  cypress/e2e/po/components/kubectl.po.ts
  shell/components/Window/ContainerShell.vue
Due: shell

fix(rc-dropdown): fix memory leak by removing pointerdown listener correctly
  shell/composables/useClickOutside.ts
Due: shell

Store all test results as artifacts (#16427)
  .github/workflows/test.yaml
  .gitignore
  cypress/base-config.ts
  jest.config.js
  package.json
  yarn.lock
Due: none

remove cillium ipv6 checkbox
  cypress/e2e/tests/pages/manager/cilium-cni.spec.ts
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/__tests__/Basics.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

fix issue where flannel masq input is still displayed when flannel is not in use
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

fix bad merge conflict resolution; fix tests
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

remove console log
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

set flannel masq true when cluster cidr or service cidr look like ipv6; conditionally show flannel masq warning
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

fix tests after rebase;
  shell/edit/provisioning.cattle.io.cluster/__tests__/Networking.test.ts
Due: shell

wrip
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

fix issue when selecting ipv6 opts before selecting k3s
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

Fix cluster count when there are Harvester clusters
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/Type.vue
  shell/config/product/manager.js
  shell/config/types.js
  shell/pages/home.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/getters.js
  shell/plugins/dashboard-store/index.js
  shell/plugins/dashboard-store/mutations.js
  shell/types/store/dashboard-store.types.ts
  shell/utils/pagination-wrapper.ts
Due: shell

Add detailPageAdditionalActions to detail page TitleBar (#16448)
  shell/components/Resource/Detail/TitleBar/__tests__/composables.test.ts
  shell/components/Resource/Detail/TitleBar/__tests__/index.test.ts
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell

Prevent PRs from merging if they do not track the correct milestone for the target branch (#16064)
  .github/workflows/scripts/pr-check-milestone.sh
  .github/workflows/valid-pr.yaml
Due: none

Run workflow to ensure PR milestone matches branch milestone
  .github/workflows/valid-pr.yaml
Due: none

Run workflow to ensure PR milestone matches branch milestone
  .github/workflows/valid-pr-description.yaml
  .github/workflows/valid-pr.yaml
Due: none

add automation to create agents and persons from root files
  agents.md
  docs/agents/agents.md
  docs/agents/root_agents.md
  docs/agents/root_personas.md
  docs/contributors/contributors.md
  personas.md
  scripts/generate-agent-and-persona-mds.sh
Due: none

Updates following review
  agents.md
  docs/agents/README
  docs/agents/root_agents.md
  docs/contributors/contributors.md
Due: none

Initial contributors and agents
  agents.md
  contributors.md
  docs/agents/agents.md
  docs/agents/personas.md
  docs/contributors/contributors.md
Due: none

Minor tweaks + added GEMINI.md symlink to AGENTS.md
  AGENTS.md
  GEMINI.md
  docs/agents.md/contributors/3_unit-tests.md
  docs/agents.md/personas/qa_software_developer.md
  docs/agents.md/template_agents.md
Due: none

fix file name...
  docs/agents.md/agents/boundaries.md
Due: none

Fix incorrect usage of backport bot, updating agents README
  docs/agents.md/README
  docs/agents.md/contributors/resolving_gh_issues.md
Due: none

Allow keys without spaces to wordwrap in tooltips.
  shell/components/DetailText.vue
Due: shell

[16502] Removed the empty row | Fixed tests to check it , changed stub | Changed the option that checks the subRow using same of the actual stateDescription subRow
  shell/components/SortableTable/index.vue
  shell/components/fleet/FleetClusters.vue
  shell/components/fleet/__tests__/FleetClusters.test.ts
Due: shell

Fix lint
  shell/utils/pagination-wrapper.ts
Due: shell

Fix unit tests
  shell/components/nav/Type.vue
  shell/components/nav/__tests__/Type.test.ts
Due: shell

Fix lint
  shell/components/nav/__tests__/Type.test.ts
Due: shell

Enable editing of custom claims for keycloak provider
  shell/edit/auth/__tests__/oidc.test.ts
  shell/edit/auth/oidc.vue
Due: shell

jenkins - html publisher fix 2.12
  cypress/jenkins/cypress.config.jenkins.ts
Due: none
