Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Update Rancher Icons
  package.json
  shell/package.json
  yarn.lock
Due: shell

Replace custom icons with icon fonts
  shell/assets/images/providers/Gemini.svg
  shell/assets/images/providers/OpenAI.svg
  shell/assets/images/providers/local.svg
  shell/pages/c/_cluster/settings/ai-assistant/index.vue
  shell/pages/c/_cluster/settings/ai-assistant/toggle-group.vue
Due: shell

Bump `@rancher/icons` to 2.0.49
  package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell

fix: harvester logo is missing
  shell/components/nav/Header.vue
Due: shell

Add layouts options
  shell/components/nav/WindowManager/composables/usePanelsHandler.ts
  shell/components/nav/WindowManager/composables/useTabsHandler.ts
  shell/components/nav/WindowManager/index.vue
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/store/wm.ts
Due: shell

Support showHeader option
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/index.vue
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/store/wm.ts
Due: shell

Re-implement WindowManager - support multiple windows and tabs
  cypress/e2e/po/components/kubectl.po.ts
  cypress/e2e/po/components/shell.po.ts
  docusaurus/docs/internal/code-base-works/api-resources-and-schemas.md
  docusaurus/docs/internal/code-base-works/directory-structure.md
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemSelect.vue
  shell/assets/styles/global/_layout.scss
  shell/assets/translations/en-us.yaml
  shell/components/EmberPage.vue
  shell/components/Window/ChartReadme.vue
  shell/components/Window/ContainerLogs.vue
  shell/components/Window/ContainerLogsActions.vue
  shell/components/Window/ContainerShell.vue
  shell/components/Window/KubectlShell.vue
  shell/components/Window/MachineSsh.vue
  shell/components/Window/Window.vue
  shell/components/Window/__tests__/ContainerLogs.test.ts
  shell/components/Window/__tests__/ContainerShell.test.ts
  shell/components/nav/Header.vue
  shell/components/nav/WindowManager/PinArea.vue
  shell/components/nav/WindowManager/composables/useComponentsMount.ts
  shell/components/nav/WindowManager/composables/useDimensionsHandler.ts
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/composables/useResizeHandler.ts
  shell/components/nav/WindowManager/composables/useTabsHandler.ts
  shell/components/nav/WindowManager/index.vue
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/TabBodyContainer.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/config/store.js
  shell/store/wm.js
  shell/store/wm.ts
  shell/utils/dynamic-importer.js
Due: shell, rancher-components

Fix switch tabs and code refactoring
  shell/components/Window/__tests__/ContainerShell.test.ts
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/composables/useTabsHandler.ts
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/store/wm.ts
Due: shell

Support lock windows option
  shell/components/nav/WindowManager/PinArea.vue
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/TabBodyContainer.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/store/wm.ts
Due: shell

Fix dimensions handler
  shell/components/nav/WindowManager/PinArea.vue
  shell/components/nav/WindowManager/composables/useDimensionsHandler.ts
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/composables/useResizeHandler.ts
  shell/components/nav/WindowManager/constants.ts
  shell/store/wm.ts
Due: shell

add-context-to-test
  shell/components/fleet/dashboard/ResourceCard.vue
  shell/pages/c/_cluster/explorer/index.vue
  shell/pages/c/_cluster/fleet/index.vue
  shell/store/ui-context.ts
Due: shell

Add window-manager type def
  shell/components/nav/WindowManager/composables/useDimensionsHandler.ts
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/composables/usePanelsHandler.ts
  shell/components/nav/WindowManager/composables/useResizeHandler.ts
  shell/components/nav/WindowManager/composables/useTabsHandler.ts
  shell/components/nav/WindowManager/index.vue
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/store/wm.ts
  shell/types/window-manager.ts
Due: shell

Fix labels
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemSelect.vue
Due: rancher-components

Implement ui-context directive and store
  shell/config/store.js
  shell/directives/ui-context.ts
  shell/initialize/install-directives.js
Due: shell

adjust shell api methods args signature + add notification center to shell api + remove growls from shell api + other small updates
  docusaurus/docs/extensions/screenshots/intellisense.png
  docusaurus/docs/extensions/shell-api.md
  docusaurus/docusaurus.config.js
  docusaurus/extensionSidebar.js
  docusaurus/src/css/custom.css
  docusaurus/static/img/notification.png
  docusaurus/static/img/notifications/error.png
  docusaurus/static/img/notifications/success.png
  docusaurus/static/img/notifications/warning.png
  shell/apis/intf/shell.ts
  shell/apis/shell/growl.ts
  shell/apis/shell/index.ts
  shell/apis/shell/modal.ts
  shell/apis/shell/notifications.ts
  shell/apis/shell/slide-in.ts
  shell/store/notifications.ts
  shell/types/internal-api/shell/modal.d.ts
  shell/types/notifications/index.ts
Due: shell

fix broken docs build + fix broken unit test
  docusaurus/docs/extensions/shell-api.md
  shell/components/__tests__/SlideInPanelManager.spec.ts
Due: shell

fix broken docs build
  docusaurus/docs/extensions/shell-api.md
Due: none

Fixing an issue where we stopped showing the yaml editor when an error occurred
  shell/components/ResourceDetail/index.vue
Due: shell

update PR based on comments
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/Inactivity.vue
Due: shell

Latest changes
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/CopyToClipboard.vue
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/components/ResourceDetail/index.vue
  shell/components/SortableTable/index.vue
  shell/components/templates/default.vue
  shell/directives/ui-context.ts
  shell/pages/c/_cluster/explorer/index.vue
  shell/store/ui-context.ts
Due: shell

lint
  shell/components/ResourceDetail/index.vue
  shell/components/templates/default.vue
  shell/config/router/navigation-guards/clusters.js
  shell/store/index.js
Due: shell

lint
  shell/store/index.js
Due: shell

removed 1.30 support for 2.12 for eks
  pkg/eks/assets/data/eks-versions.js
Due: none

fix broken links with absolute paths
  docusaurus/docs/extensions/shell-api.md
Due: none

fix type error from vue-router that prevents correct build
  docusaurus/docs/extensions/shell-api.md
  docusaurus/package.json
  docusaurus/tsconfig.paths.json
Due: none

v4
  shell/assets/translations/en-us.yaml
  shell/pages/home.vue
  shell/types/resources/settings.d.ts
  shell/utils/pagination-utils.ts
Due: shell

move preserve addon methods to util file
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/utils/cluster.js
Due: shell

add safeguard against the 'none' case
  shell/utils/cluster.js
Due: shell

better naming
  shell/utils/cluster.js
Due: shell

minor refactor
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/utils/cluster.js
Due: shell

revert refactor
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/utils/cluster.js
Due: shell

display warning banner conditionally
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/AddOnConfig.vue
Due: shell

Add GitHub App auth provider (#15500)
  cypress/e2e/po/components/labeled-input.po.ts
  cypress/e2e/po/edit/auth/githubapp.po.ts
  cypress/e2e/po/pages/users-and-auth/authProvider.po.ts
  cypress/e2e/tests/pages/users-and-auth/githubapp.spec.ts
  shell/assets/images/vendor/githubapp.svg
  shell/assets/translations/en-us.yaml
  shell/config/product/auth.js
  shell/edit/auth/AuthProviderWarningBanners.vue
  shell/edit/auth/github-app-steps.vue
  shell/edit/auth/github-steps.vue
  shell/edit/auth/github.vue
  shell/models/management.cattle.io.authconfig.js
  shell/pages/auth/verify.vue
  shell/store/auth.js
Due: shell

add system api to shell api
  docusaurus/docs/extensions/shell-api.md
  docusaurus/static/img/system.png
  shell/apis/intf/shell.ts
  shell/apis/shell/index.ts
  shell/apis/shell/system.ts
  shell/pages/home.vue
Due: shell

fix: yarn install for rancher-extension-stackstate
  .github/workflows/check-plugins.yaml
Due: none

disable test extension build for stackstate due to issue with node version bump
  shell/scripts/test-plugins-build.sh
Due: shell

add dropdown menu to change rows count in events table in cluster dashboard (#14622)
  cypress/e2e/po/pages/explorer/cluster-dashboard.po.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/explorer/EventsTable.vue
Due: shell

disable test extension build for stackstate due to issue with node version bump (#15629)
  shell/scripts/test-plugins-build.sh
Due: shell

Add fleature flag and prevent navigation item
  pkg/rancher-prime/config/navigation.ts
  pkg/rancher-prime/index.test.ts
  shell/store/features.js
Due: shell

Restrict access to Registration for admin only; add tests
  pkg/rancher-prime/index.test.ts
  pkg/rancher-prime/index.ts
Due: none
