Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  harvester:
    paths: 
    - pkg/harvester
  rancher-components:
    paths: 
    - pkg/rancher-components

remove unused po
  cypress/e2e/tests/extensions/kubewarden/kubewarden.spec.ts
Due: none

address pr comments + fix merge conflicts
  cypress/e2e/po/extensions/kubewarden/kubewarden.utils.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

redo PR based on previous PR 11626 and taking into account changes to the utils files + comment unwanted workflow runs
  cypress/e2e/po/extensions/kubewarden/kubewarden.utils.ts
  cypress/e2e/tests/extensions/kubewarden/kubewarden.spec.ts
Due: none

working on neuvector e2e
  cypress/e2e/po/extensions/neuvector/neuvector.utils.ts
  cypress/e2e/tests/extensions/neuvector/neuvector.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

neuvector e2e tests now working
  .github/workflows/extensions-compatibility-tests.yaml
  cypress/e2e/po/extensions/neuvector/neuvector.utils.ts
  cypress/e2e/tests/extensions/neuvector/neuvector.spec.ts
Due: none

increase timeout for neuvector chart install
  cypress/e2e/tests/extensions/neuvector/neuvector.spec.ts
Due: none

Refactor logic to improve existing job type
  cypress/jenkins/init.sh
Due: none

address merge problems
  cypress/e2e/po/extensions/kubewarden/kubewarden.utils.ts
Due: none

address merge problems
  cypress/e2e/tests/extensions/kubewarden/kubewarden.spec.ts
Due: none

add missing class outlet to outermost element of the page
  shell/pages/c/_cluster/manager/jwt.authentication/index.vue
Due: shell

fix race condition when opening namespace selector
  shell/components/nav/NamespaceFilter.vue
Due: shell

Reenabling branding e2e tests
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
  cypress/e2e/tests/pages/global-settings/settings-p2.spec.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
Due: none

Resolve error: `TypeError: this.slots['header-left'] is not a function`
  shell/components/SortableTable/index.vue
Due: shell

versions
  package.json
  shell/components/nav/WindowManager/ContainerLogs.og.vue
  shell/components/nav/WindowManager/ContainerLogs.prime.vue
  shell/components/nav/WindowManager/ContainerLogs.scroller.vue
  shell/initialize/install-plugins.js
  shell/package.json
  yarn.lock
Due: shell

fix rendering string instead of html
  shell/components/nav/NamespaceFilter.vue
Due: shell

actual prime
  shell/components/nav/WindowManager/ContainerLogs.prime.vue
Due: shell

warning fix
  shell/components/nav/WindowManager/ContainerLogs.vue
Due: shell

add missing class outlet to outermost element of the page (#11750)
  shell/pages/c/_cluster/manager/jwt.authentication/index.vue
Due: shell

Tweaks to docs (#11739)
  docusaurus/docs/extensions/rancher-2.10-support.md
  docusaurus/docs/extensions/rancher-2.9-support.md
Due: none

add check if npm tag should be pre-release
  shell/scripts/publish-shell.sh
Due: shell

update npm tag to legacy-v2 + add version check for pre-release
  shell/scripts/publish-shell.sh
Due: shell

fix rendering raw html on tooltips by global configuration
  jest.setup.js
  shell/components/nav/NamespaceFilter.vue
  shell/initialize/install-plugins.js
  shell/plugins/floating-vue.js
  storybook/.storybook/preview.js
Due: shell

fix flaky e2e tests
  .github/workflows/test.yaml
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Due: none

lint
  shell/plugins/floating-vue.js
Due: shell

Fix naming after a change was reverted on corral-packages
  cypress/jenkins/init.sh
Due: none

pass attributes from parent
  shell/components/form/LabeledSelect.vue
Due: shell

add missing bits to make saml slo feature work + fix notations + fix propagation of data on TextAreaAutoGrow
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
  shell/components/nav/Header.vue
  shell/edit/auth/saml.vue
Due: shell, rancher-components

remove upper limit on kube version for default annotations
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Due: shell

Remove drone build status from README
  README.md
Due: none

Update publish shell workflow to allow for independent release of either shell or creators packages (#11697)
  .github/workflows/release-shell-pkg.yaml
  .github/workflows/scripts/check-package-tag-version.sh
  shell/creators/extension/package.json
  shell/scripts/publish-shell.sh
  shell/scripts/test-plugins-build.sh
Due: shell

Ensure @rancher/shell version using tags
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
  .github/workflows/check-plugins.yaml
  creators/extension/app/app.package.json
  creators/extension/app/files/.eslintignore
  creators/extension/app/files/.eslintrc.js
  creators/extension/app/files/.github/workflows/build-extension-catalog.yml
  creators/extension/app/files/.github/workflows/build-extension-charts.yml
  creators/extension/app/files/.gitignore
  creators/extension/app/files/.gitlab-ci.yml
  creators/extension/app/files/.vscode/settings.json
  creators/extension/app/files/babel.config.js
  creators/extension/app/files/tsconfig.json
  creators/extension/app/files/vue.config.js
  creators/extension/app/init
  creators/extension/app/package.json
  creators/extension/init
  creators/extension/package.json
  creators/extension/pkg/files/babel.config.js
  creators/extension/pkg/files/index.ts
  creators/extension/pkg/files/tsconfig.json
  creators/extension/pkg/files/vue.config.js
  creators/extension/pkg/init
  creators/extension/pkg/package.json
  creators/extension/pkg/pkg.package.json
  creators/extension/pkg/vue-shim.ts
  creators/extension/update/init
  creators/extension/update/package.json
  creators/extension/update/upgrade
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/publishing.md
  package.json
  tsconfig.json
Due: none

Npm publish
  shell/scripts/publish-shell.sh
Due: shell

Update
  .github/workflows/release-shell-pkg.yaml
  shell/scripts/publish-shell.sh
  shell/scripts/test-plugins-build.sh
Due: shell

remove upper limit on kube version for default annotations (#11768)
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Due: shell

Add NPM_REGISTRY to publish args
  shell/scripts/publish-shell.sh
Due: shell

fix header user menu styling
  shell/assets/styles/global/_tooltip.scss
  shell/components/nav/Header.vue
Due: shell

fixing tooltip
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
Due: rancher-components

fix styling for locale selectors
  shell/assets/styles/global/_layout.scss
Due: shell

fixing tooltips and metions of tooltips and dropdowns wherever I could find them
  cypress/e2e/po/components/keyboard-mapping-indicator.po.ts
  cypress/e2e/po/components/sortable-table.po.ts
  shell/assets/styles/global/_tooltip.scss
  shell/components/ActionDropdown.vue
  shell/components/LocaleSelector.vue
  shell/components/SideNav.vue
  shell/components/fleet/FleetStatus.vue
  shell/components/formatter/AppSummaryGraph.vue
  shell/components/formatter/FleetSummaryGraph.vue
  shell/components/formatter/MachineSummaryGraph.vue
  shell/components/formatter/Scale.vue
  shell/components/formatter/Weight.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/WindowManager/ContainerLogs.vue
  shell/detail/helm.cattle.io.projecthelmchart.vue
Due: shell

working on popover fix
  shell/assets/styles/global/_tooltip.scss
Due: shell
