Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Stop the runner image build writing cache it never reads
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/disk-report.sh
  cypress/jenkins/init.sh
Due: none

Add UI owners list and comment-only CODEOWNERS
  .github/CODEOWNERS
  .github/OWNERS.md
  scripts/github/apply-codeowners.sh
Due: none

updates after feedback
  cypress/e2e/tests/pages/explorer2/storage/project-secrets.spec.ts
Due: none

add second token
  .github/workflows/ci-failure-inspection.yaml
  cypress/jenkins/inspector/src/github-client.js
  cypress/jenkins/inspector/src/inspect.js
Due: none

Show Gateway API HTTPRoutes and endpoints on workload detail
  shell/assets/translations/en-us.yaml
  shell/components/formatter/WorkloadDetailEndpoints.vue
  shell/components/formatter/__tests__/WorkloadDetailEndpoints.test.ts
  shell/config/product/explorer.js
  shell/config/table-headers.js
  shell/config/types.js
  shell/detail/workload/index.vue
  shell/models/__tests__/gateway.networking.k8s.io.httproute.test.ts
  shell/models/__tests__/workload.test.ts
  shell/models/gateway.networking.k8s.io.gateway.js
  shell/models/gateway.networking.k8s.io.httproute.js
  shell/models/workload.js
Due: shell

harden deduplication
  .github/workflows/ci-failure-inspection.yaml
  cypress/jenkins/inspector/src/github-client.js
  cypress/jenkins/inspector/src/inspect.js
Due: none

Ensure that auth provider name is sent in payload
  shell/components/auth/login/github.vue
  shell/pages/auth/verify.vue
  shell/store/__tests__/auth.test.ts
  shell/store/auth.js
Due: shell

Stabilize imported generic cluster e2e spec
  cypress/e2e/po/components/list-row.po.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/lists/provisioning.cattle.io.cluster.po.ts
  cypress/e2e/po/pages/cluster-manager/cluster-manager-list.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Restore longer timeout on disabled-repository badge check
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

Gate job clone action menu on list finishing loading
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
Due: none

Clone job via direct navigation instead of the list action menu
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
Due: none

Give imported harvester cluster a unique name per attempt
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Due: none

Wait for statefulset to be queryable before Redeploy Dialog tests
  cypress/e2e/tests/pages/explorer2/workloads/statefulsets.spec.ts
Due: none

fix legacy (pre 2.12) project scoped secrets (#15963)
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  package.json
  shell/components/formatter/SecretOrigin.vue
  shell/config/labels-annotations.js
  shell/config/pagination-table-headers.js
  shell/config/table-headers.js
  shell/list/projectsecret.vue
  shell/list/secret.vue
  shell/models/__tests__/secret.projects.test.ts
  shell/models/__tests__/secret.steve.test.ts
  shell/models/__tests__/secret.test.ts
  shell/models/secret.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/store/index.js
  shell/types/rancher/index.d.ts
  shell/types/store/type-map.ts
Due: shell

Fix sorting secret origin with vai disabled
  shell/config/table-headers.js
  shell/models/secret.js
Due: shell

Fixes after merge - one lint fix for a rule we might have lsot in master - one package.json e2e fix that's not needed
  package.json
  shell/models/secret.js
Due: shell

Reload logging installed-apps list until it returns the app
  cypress/e2e/tests/pages/charts/logging.spec.ts
Due: none

add shim to fix vueRouter issue
  shell/pkg/__tests__/vue-router.lib.test.ts
  shell/pkg/vue-router.lib.js
  shell/pkg/vue.config.js
Due: shell

Fixes after merge - one lint fix for a rule we might have lsot in master - one package.json e2e fix that's not needed
  package.json
Due: none

Gate ingress edit action menu on list finishing loading
  cypress/e2e/tests/pages/explorer/service-discovery/ingress.spec.ts
Due: none

add correct aria-labels to convey state in the hamburguer menu toggle button
  shell/assets/translations/en-us.yaml
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

fix unit tests
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

address pr comments
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

add shim to fix vueRouter issue (#18657)
  shell/pkg/__tests__/vue-router.lib.test.ts
  shell/pkg/vue-router.lib.js
  shell/pkg/vue.config.js
Due: shell

bump shell version
  shell/package.json
Due: shell

Fix typos in English translation strings
  shell/assets/translations/en-us.yaml
Due: shell

Navigate directly in workload pagination-is-hidden tests
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/statefulsets.spec.ts
Due: none

Recover from fail-whale in cluster dashboard navigation test
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
Due: none

Fix a typo (#18227)
  docusaurus/docs/extensions/performance/scaling/lists.md
Due: none

Fix typos in English translation strings (#18653)
  shell/assets/translations/en-us.yaml
Due: shell

minor updates
  pkg/rancher-components/src/components/Banner/Banner.vue
  storybook/src/stories/Components/Banner.stories.ts
Due: rancher-components

add issues in PR
  cypress/e2e/tests/pages/explorer/service-discovery/services.spec.ts
  shell/components/CruResource.vue
  shell/components/ResourceDetail/Masthead/latest.vue
  shell/components/ResourceDetail/index.vue
  shell/components/Wizard.vue
  shell/components/__tests__/CruResource.test.ts
  shell/components/form/Error.vue
  shell/components/form/Footer.vue
  shell/dialog/GenericPrompt.vue
  shell/dialog/ImportDialog.vue
  shell/dialog/InstallExtensionDialog.vue
  shell/pages/auth/login.vue
  shell/pages/auth/setup.vue
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

update Banner component to allow for multiple roles + adjust role of Banner depending on usage context + add unit tests
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/components/CruResource.vue
  shell/components/ResourceDetail/Masthead/latest.vue
  shell/components/ResourceDetail/index.vue
  shell/components/Wizard.vue
  shell/components/auth/AuthBanner.vue
  shell/components/form/Error.vue
  shell/components/form/Footer.vue
  shell/dialog/GenericPrompt.vue
  shell/dialog/ImportDialog.vue
  shell/dialog/InstallExtensionDialog.vue
  shell/pages/auth/login.vue
  shell/pages/auth/setup.vue
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell, rancher-components

fixes
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/components/CruResource.vue
  shell/components/ResourceDetail/Masthead/latest.vue
  shell/components/ResourceDetail/index.vue
  shell/components/Wizard.vue
  shell/components/form/Error.vue
  shell/components/form/Footer.vue
  shell/dialog/GenericPrompt.vue
  shell/dialog/ImportDialog.vue
  shell/dialog/InstallExtensionDialog.vue
  shell/pages/auth/login.vue
  shell/pages/auth/setup.vue
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell, rancher-components
