Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Replace validation tooltip with a banner in array list
  shell/components/form/ArrayList.vue
Due: shell

more copilot
  pkg/imported/components/__tests__/CruImported.test.ts
Due: none

enable test isolation for limited permission and fleet agent tests
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
Due: none

Remove ui-index global setting
  cypress/e2e/blueprints/global_settings/settings-data.ts
  cypress/e2e/tests/pages/global-settings/settings-p2.spec.ts
  shell/assets/translations/en-us.yaml
  shell/config/settings.ts
Due: shell

Remove ui-index from zh-hans translations
  shell/assets/translations/zh-hans.yaml
Due: shell

Update permissions of valid-milestone-change
  .github/workflows/valid-milestone-change.yml
Due: none

harden the args traversing in the creators part + fix docs + bump creators package
  creators/extension/init
  creators/extension/package.json
  docusaurus/docs/extensions/extensions-getting-started.md
Due: none

fix 17888
  creators/extension/pkg/pkg.package.json
Due: none

[17894] Add an variable to disable the Agentic Workflows
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-accessibility-review.md
  .github/workflows/daily-issue-grooming.lock.yml
  .github/workflows/daily-issue-grooming.md
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-repo-status.md
  .github/workflows/daily-stale-issue-manager.lock.yml
  .github/workflows/daily-stale-issue-manager.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/daily-test-improver.md
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
Due: none

Design Doc Template
  docusaurus/docs/internal/guide/feature-design-doc.md
  docusaurus/internalSidebar.js
Due: none

Add node scheduling regression test for #16092
  cypress/e2e/po/components/workloads/node-scheduling.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/workloads.spec.ts
Due: none

Fix documentation for node v24 getting started with @latest (#17893)
  creators/extension/init
  creators/extension/package.json
  creators/extension/pkg/pkg.package.json
  docusaurus/docs/extensions/extensions-getting-started.md
Due: none

Updated current milestones
  branches-metadata.json
Due: none

[17894] Add a variable to disable the Agentic Workflows (#17895)
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-accessibility-review.md
  .github/workflows/daily-issue-grooming.lock.yml
  .github/workflows/daily-issue-grooming.md
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-repo-status.md
  .github/workflows/daily-stale-issue-manager.lock.yml
  .github/workflows/daily-stale-issue-manager.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/daily-test-improver.md
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
Due: none

e2e test: preserve port name
  cypress/e2e/tests/pages/explorer/service-discovery/ingress.spec.ts
Due: none

Updated current milestones (#17901)
  branches-metadata.json
Due: none

[2.15]Fix hosted provider details page (#16797)
  cypress/e2e/blueprints/manager/hosted-cluster-mocks.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail-hosted.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/e2e/tests/pages/manager/hosted-cluster-details.spec.ts
  pkg/aks/components/NodePoolDetailTab.vue
  pkg/aks/index.ts
  pkg/aks/provisioner.ts
  pkg/eks/components/NodePoolDetailTab.vue
  pkg/eks/index.ts
  pkg/eks/provisioner.ts
  pkg/gke/components/NodePoolDetailTab.vue
  pkg/gke/index.ts
  pkg/gke/provisioner.ts
  pkg/imported/provisioner.ts
  shell/assets/translations/en-us.yaml
  shell/components/MgmtNodeList.vue
  shell/components/form/ResourceTabs/index.vue
  shell/core/types-provisioning.ts
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/models/management.cattle.io.node.js
Due: shell

test(cypress): validate cy.session() login cache
  cypress/support/commands/rancher-api-commands.ts
Due: none

Revert "Merge pull request #17800 from rancher/dependabot/npm_and_yarn/storybook/qs-6.15.2"
  storybook/yarn.lock
Due: none

Revert "Merge pull request #17775 from rancher/dependabot/npm_and_yarn/js-cookie-3.0.7"
  yarn.lock
Due: none

Revert "Merge pull request #17766 from rancher/dependabot/github_actions/actions/create-github-app-token-3.2.0"
  .github/workflows/port-issue.yaml
  .github/workflows/port-pr.yaml
  .github/workflows/pr-gh-project-processor.yaml
  .github/workflows/valid-milestone-change.yml
Due: none

Revert "Merge pull request #17429 from rancher/dependabot/github_actions/actions/setup-node-6.4.0"
  .github/workflows/add-issue-labels.yaml
  .github/workflows/build-and-upload.yaml
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
  .github/workflows/build-extensions-test.yml
  .github/workflows/check-plugins.yaml
  .github/workflows/create-pr-build-extension-charts.yml
  .github/workflows/docusaurus.yaml
  .github/workflows/pr-gh-project-processor.yaml
  .github/workflows/pr-gh-project.yaml
  .github/workflows/rancher-components.yaml
  .github/workflows/release-cypress-pkg.yaml
  .github/workflows/release-rancher-components.yml
  .github/workflows/release-shell-pkg.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
  .github/workflows/update-cloud-data.yml
Due: none

Revert "Merge pull request #17899 from rancher/dependabot/npm_and_yarn/shell/axios-1.16.0"
  shell/package.json
  shell/yarn.lock
Due: shell

Revert "Merge pull request #17896 from rancher/dependabot/npm_and_yarn/axios-1.16.0"
  package.json
  yarn.lock
Due: none

fix deep-nesting
  shell/utils/__tests__/object.test.ts
  shell/utils/object.js
Due: shell

backport PR 17892
  cypress/e2e/po/components/checkbox-input.po.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  shell/edit/management.cattle.io.user.vue
Due: shell

backport PR 16644
  shell/utils/__tests__/object.test.ts
  shell/utils/object.js
Due: shell

fix deep-nesting (#17911)
  shell/utils/__tests__/object.test.ts
  shell/utils/object.js
Due: shell

Pin e2e tag to v2.15-2cc6c46753bc8de0aa2f603515ffa854d1a6963d-head
  branches-metadata.json
Due: none

ingress rules, overrides
  pkg/capa/components/ClusterConfiguration.vue
  pkg/capa/components/IngressRules.vue
  pkg/capa/components/Networking.vue
  pkg/capa/components/SecurityOverrides.vue
  pkg/capa/l10n/en-us.yaml
Due: none

network security
  pkg/capa/components/ClusterConfiguration.vue
  pkg/capa/components/IngressRules.vue
  pkg/capa/components/Networking.vue
  pkg/capa/components/SecurityOverrides.vue
  pkg/capa/l10n/en-us.yaml
Due: none

Set e2e tag to head
  branches-metadata.json
Due: none

New changes for fleet app-co based on new design
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  shell/assets/translations/en-us.yaml
  shell/components/fleet/AppCoChartGrid.vue
  shell/components/fleet/AppCoEmptyState.vue
  shell/components/fleet/AppCoPageHeader.vue
  shell/components/fleet/FleetClusterTargets/TargetsList.vue
  shell/components/fleet/FleetClusterTargets/index.vue
  shell/components/fleet/FleetValuesFrom.vue
  shell/components/fleet/GitRepoTargetTab.vue
  shell/components/fleet/HelmOpAppCoConfigTab.vue
  shell/components/fleet/HelmOpAppCoResourcesSection.vue
  shell/components/fleet/HelmOpTargetOptionsSection.vue
  shell/components/fleet/HelmOpTargetTab.vue
  shell/components/fleet/HelmOpValuesTab.vue
  shell/components/form/Labels.vue
  shell/composables/useChart.ts
  shell/edit/fleet.cattle.io.helmop.vue
  shell/edit/provisioning.cattle.io.cluster/Labels.vue
  shell/models/fleet.cattle.io.helmop.js
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
  shell/pages/c/_cluster/apps/charts/chart.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/charts.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/credentials.vue
  shell/utils/fleet-appco.ts
Due: shell, rancher-components

Reverted to master when I started
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

Updated to use class instead of inline style
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
Due: rancher-components

Assert that `can update password-min-length` is immutable when set by env
  cypress/e2e/po/pages/global-settings/settings.po.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  shell/components/Setting.vue
Due: shell

Apply changes
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  shell/components/fleet/FleetClusterTargets/TargetsList.vue
Due: shell, rancher-components

multiple units for refresh interval
  cypress/e2e/po/edit/chart-repositories.po.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  shell/assets/translations/en-us.yaml
  shell/edit/catalog.cattle.io.clusterrepo.vue
  shell/models/__tests__/catalog.cattle.io.clusterrepo.test.ts
  shell/models/catalog.cattle.io.clusterrepo.js
  shell/utils/__tests__/time.test.ts
  shell/utils/time.ts
Due: shell

remove extra space
  shell/assets/translations/en-us.yaml
Due: shell
