Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Fix long secret values causing page horizontal scroll (#16433)
  shell/components/DetailText.vue
Due: shell

Improved error handling around loading WebGL (#16458)
  .github/workflows/test.yaml
  cypress/e2e/po/components/kubectl.po.ts
  shell/components/nav/WindowManager/ContainerShell.vue
Due: shell

Improved error handling around loading WebGL (#16458)
  .github/workflows/test.yaml
  cypress/e2e/po/components/kubectl.po.ts
  shell/components/Window/ContainerShell.vue
Due: shell

fixed request
  cypress/e2e/blueprints/explorer/workloads/deployments/deployment-create.ts
Due: none

style: fix word break
  shell/components/CodeMirror.vue
Due: shell

Update branches metadata for February
  branches-metadata.json
Due: none

[16502] Fix to console error whenever the nextRow doesnt exist which happen on the last line
  shell/components/SortableTable/selection.js
Due: shell

Fix case where no count for namespace (occurs in e2e tests with mock data)
  shell/components/ResourceTable.vue
Due: shell

[e2e][ai] Fix flaky test #18764
  cypress/e2e/po/pages/explorer/charts/install-charts.po.ts
  cypress/e2e/tests/pages/manager/registries.spec.ts
Due: none

Create Agents, Personas and Contributors files (#16388)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/agents.md/README
  docs/agents.md/agents/boundaries.md
  docs/agents.md/agents/tools.md
  docs/agents.md/contributors/1_contributors.md
  docs/agents.md/contributors/3_e2e-tests.md
  docs/agents.md/contributors/3_unit-tests.md
  docs/agents.md/contributors/resolving_gh_issues.md
  docs/agents.md/personas/qa_software_developer.md
  docs/agents.md/personas/software_developer.md
  docs/agents.md/template_agents.md
  package.json
  scripts/generate-agent-and-persona-mds.sh
Due: none

test
  test
Due: none

Add OIDC scopes from driver
  shell/store/__tests__/auth.test.ts
Due: shell

[e2e][ai] Fix the logging.spec.ts - #18781 #2
  cypress/e2e/tests/pages/charts/logging.spec.ts
Due: none

wip
  .vscode/settings.json
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/models/cluster.x-k8s.io.machine.js
  shell/models/cluster.x-k8s.io.machinedeployment.js
Due: shell

Improve agents unit test
  AGENTS.md
  docs/agents.md/contributors/3_e2e-tests.md
  docs/agents.md/contributors/3_unit-tests.md
Due: none

Create GH workflow to monitor agents sub files and if changed update and commit root agents
  .github/workflows/update-agents-md.yml
Due: none

testing deployment spec test tags
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Due: none

[e2e][ai] Fix namespace-picker.spec.ts #18795/3
  cypress/e2e/tests/pages/explorer2/namespace-picker.spec.ts
Due: none

fix target namespace for charts (#16372)
  shell/mixins/__tests__/chart.test.ts
  shell/mixins/chart.js
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Fix PSS side nav highlight issue (#16462)
  shell/config/product/explorer.js
  shell/edit/__tests__/projectsecret.test.ts
  shell/edit/projectsecret.vue
  shell/list/projectsecret.vue
  shell/models/secret.js
Due: shell

[16523] Added to fleet agent the same options of the cluster agent for CruImported and rke2
  pkg/imported/components/CruImported.vue
  shell/components/form/SchedulingCustomization.vue
  shell/config/settings.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/AgentConfiguration.vue
  shell/utils/cluster.js
Due: shell

[16523] Added the config for the imported screen | added unit test
  pkg/imported/components/CruImported.vue
  shell/components/form/__tests__/SchedulingCustomization.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2-fleet-cluster-agent.test.ts
  shell/utils/__tests__/cluster-agent-configuration.test.ts
Due: shell

Replace deprecated RcButton boolean props with variant/size
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownMenu.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  pkg/rancher-prime/pages/Registration.vue
  shell/components/ActionMenuShell.vue
  shell/components/DynamicContent/DynamicContentCloseButton.vue
  shell/components/LocaleSelector.vue
  shell/components/fleet/FleetClusterTargets/index.vue
  shell/components/fleet/FleetGitRepoPaths.vue
  shell/components/fleet/FleetValuesFrom.vue
  shell/components/formatter/Autoscaler.vue
  shell/components/nav/Header.vue
  shell/components/nav/NamespaceFilter.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/pages/c/_cluster/explorer/EventsTable.vue
  shell/pages/c/_cluster/fleet/index.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
Due: shell, rancher-components

[e2e][ai] Fix #18803/1 - compliance and namespace-picker
  cypress/e2e/tests/pages/charts/compliance.spec.ts
  cypress/e2e/tests/pages/explorer2/namespace-picker.spec.ts
Due: none

keep vai enabled - jenkins
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/jenkins/init.sh
Due: none

slack notification fix
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/init.sh
  cypress/jenkins/slack-notification.sh
Due: none

[16523] Fixed Unit Test
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2-fleet-cluster-agent.test.ts
Due: shell

Replace deprecated RcButton boolean props with variant/size (#16493)
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownMenu.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  pkg/rancher-prime/pages/Registration.vue
  shell/components/ActionMenuShell.vue
  shell/components/DynamicContent/DynamicContentCloseButton.vue
  shell/components/LocaleSelector.vue
  shell/components/fleet/FleetClusterTargets/index.vue
  shell/components/fleet/FleetGitRepoPaths.vue
  shell/components/fleet/FleetValuesFrom.vue
  shell/components/formatter/Autoscaler.vue
  shell/components/nav/Header.vue
  shell/components/nav/NamespaceFilter.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/pages/c/_cluster/explorer/EventsTable.vue
  shell/pages/c/_cluster/fleet/index.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
Due: shell, rancher-components

Remove a deprecated warning we were getting on ResourceTable pages.
  shell/components/ResourceTable.vue
Due: shell

replace endpoints NORMAN.USER with the public api ones
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  cypress/e2e/tests/pages/user-menu/account-api-keys.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/form/ChangePassword.vue
  shell/config/types.js
  shell/list/group.principal.vue
  shell/list/management.cattle.io.user.vue
  shell/mixins/browser-tab-visibility.js
  shell/models/ext.cattle.io.groupmembershiprefreshrequest.js
  shell/models/ext.cattle.io.passwordchangerequest.js
  shell/models/ext.cattle.io.selfuser.js
  shell/models/management.cattle.io.user.js
  shell/pages/auth/login.vue
  shell/pages/auth/setup.vue
  shell/plugins/dashboard-store/resource-class.js
Due: shell

test
  cypress/e2e/blueprints/explorer/workloads/deployments/deployment-create.ts
  cypress/e2e/po/components/Resource/Detail/Card/scaler.po.ts
  cypress/e2e/po/components/Resource/Detail/Card/statusCard.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  shell/components/Resource/Detail/Card/Scaler.vue
  shell/components/Resource/Detail/Card/StatusCard/index.vue
Due: shell

small changes
  cypress/e2e/po/components/Resource/Detail/Card/statusCard.po.ts
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.vue
Due: rancher-components

Add custom type to resource quotas
  shell/assets/translations/en-us.yaml
  shell/components/form/ResourceQuota/Project.vue
  shell/components/form/ResourceQuota/ProjectRow.vue
  shell/components/form/ResourceQuota/shared.js
Due: shell

fix broken pss detail route
  shell/config/router/routes.js
  shell/models/secret.js
Due: shell

unit test
  shell/models/__tests__/secret.test.ts
Due: shell

more unit tests
  shell/models/__tests__/secret.test.ts
Due: shell
