Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Update styles for dropdown
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  shell/assets/styles/themes/_dark.scss
Due: shell, rancher-components

Add comments to document dropdown implementation
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownCollection.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Fix refactor regressions
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Fix border radius for dropdowns
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/assets/styles/global/_tooltip.scss
  shell/assets/styles/themes/_light.scss
Due: shell, rancher-components

Remove the need to provide `dropdownCollection`
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownCollection.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Add box shadow to dropdown menu
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

Add button role to RcButton
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Update avatar styles
  shell/components/nav/Header.vue
Due: shell

Set dropdownitem focus on mouseenter
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Add doc strings with examples to new components
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Fix hover styles
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell

feat: Add Traditional Chinese (zh-Hant) localization
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
  package.json
  pkg/aks/components/AksNodePool.vue
  pkg/harvester-manager/l10n/zh-hans2.yaml
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/assets/translations/zh-hant.yaml
  shell/components/ButtonMultiAction.vue
  shell/components/CommunityLinks.vue
  shell/components/auth/Principal.vue
  shell/config/__test__/home-links.test copy.ts
  shell/edit/auth/saml.vue
  shell/pages/diagnostic.vue
  shell/store/i18n.js
  yarn.lock
Due: shell

feat: Add Traditional Chinese (zh-Hant) localization
  pkg/harvester-manager/l10n/zh-hans2.yaml
  pkg/harvester-manager/l10n/zh-hant.yaml
Due: none

Wire in newly supported mgmt cluster status.connected property
  shell/components/nav/TopLevelMenu.helper.ts
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

Ensure we wait for both PUTs
  cypress/e2e/po/pages/home.po.ts
Due: none

Improve comments
  cypress/e2e/po/side-bars/page-actions.po.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Change test order
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Add aria label to table filter input
  shell/assets/translations/en-us.yaml
  shell/components/SortableTable/index.vue
Due: shell

Add aria label yaml editor for Import YAML
  shell/assets/translations/en-us.yaml
  shell/components/YamlEditor.vue
Due: shell

update the yarn file
  yarn.lock
Due: none

Add focus ring to toggle switch
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.vue
Due: rancher-components

add initial percy covergae
  cypress/e2e/tests/pages/generic/login.spec.ts
  cypress/support/e2e.ts
  package.json
  yarn.lock
Due: none

Remove top/bottom padding for user info
  shell/components/nav/Header.vue
Due: shell

Fix regression in NamespaceFilter selected items
  shell/components/nav/NamespaceFilter.vue
Due: shell

Change SUSE Collective link
  cypress/e2e/tests/pages/generic/links.spec.ts
  shell/assets/translations/en-us.yaml
  shell/config/home-links.js
  shell/pages/c/_cluster/settings/links.vue
Due: shell

Improve e2e test
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Move env var to only be available to publish step
  .github/workflows/storybook.yaml
Due: none

Fix lint issue
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Fleet: Add created by label in GitRepo details page
  shell/assets/translations/en-us.yaml
  shell/components/ResourceDetail/Masthead.vue
  shell/detail/fleet.cattle.io.gitrepo.vue
  shell/models/fleet.cattle.io.gitrepo.js
Due: shell

Move env var to only be available to publish step (#13299)
  .github/workflows/storybook.yaml
Due: none

Fleet: Add created by label in Bundle details page
  shell/detail/fleet.cattle.io.bundle.vue
  shell/models/fleet.cattle.io.bundle.js
Due: shell

Improve e2e test reliability
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Adding missing e2e test tags
  cypress/e2e/tests/pages/generic/prime.spec.ts
Due: none

Auth page not accessible to standard user (admin tests seem sufficient)
  cypress/e2e/tests/pages/generic/prime.spec.ts
Due: none

Ensure types are generated for version file
  shell/scripts/typegen.sh
Due: shell

Add support for different doc links
  cypress/e2e/po/edit/auth/azuread.po.ts
  cypress/e2e/tests/pages/generic/prime.spec.ts
  pkg/rancher-prime/assets/rancher-prime.svg
  pkg/rancher-prime/babel.config.js
  pkg/rancher-prime/docs.ts
  pkg/rancher-prime/index.ts
  pkg/rancher-prime/package.json
  pkg/rancher-prime/tsconfig.json
  pkg/rancher-prime/vue.config.js
  shell/components/CommunityLinks.vue
  shell/config/version.js
  shell/core/plugin.ts
  shell/core/plugins.js
  shell/core/types.ts
  shell/plugins/clean-html.js
  shell/plugins/plugin.js
  shell/vue.config.js
Due: shell

Update doc links
  pkg/rancher-prime/docs.ts
Due: none

Update to remove plugin remove for builtin extensions
  shell/core/plugins.js
Due: shell

Fix lint
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Fix e2e test so it works for standard user
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
