Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Add restriction for searchUsingServiceAccount config to specific types
  shell/edit/auth/ldap/__tests__/config.test.ts
  shell/edit/auth/ldap/config.vue
Due: shell

Use computed over direct check due lack of rendering issues with the prop
  shell/edit/auth/ldap/config.vue
Due: shell

Remove support for K8s 1.28 and 1.29 for Rancher 2.11.0 (#13227)
  pkg/eks/assets/data/eks-versions.js
Due: none

Removing unload logic from the plugin load logic
  shell/core/plugins.js
Due: shell

Update styles for dropdown items
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  shell/assets/styles/themes/_dark.scss
Due: shell, rancher-components

Fix refactor regressions
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Update styles for dropdown
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  shell/assets/styles/themes/_dark.scss
Due: shell, rancher-components

Add new ghost button role
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
  shell/components/nav/Header.vue
Due: shell, rancher-components

Add comments to document dropdown implementation
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownCollection.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Revert change to RcButton types
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Add aria-labels for dropdown triggers
  shell/assets/translations/en-us.yaml
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell

Update placement of dropdown menu
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

Remove the need to provide `dropdownCollection`
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownCollection.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Remove the `Take me to the area I last visited` option from the login landing page preference
  cypress/support/commands/rancher-api-commands.ts
  shell/assets/translations/en-us.yaml
  shell/components/LandingPagePreference.vue
  shell/components/templates/default.vue
  shell/pages/home.vue
  shell/store/prefs.js
  shell/types/resources/userPreferences.d.ts
Due: shell

Add tooltip for searchUsingServiceAccount
  shell/assets/translations/en-us.yaml
  shell/edit/auth/ldap/config.vue
Due: shell

Fix typo in container shell failure message
  shell/assets/translations/en-us.yaml
Due: shell

Focus first element regardless of click or key press
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Add focus styles for dropdown menu item
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Fix hover styles
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell

Fix border radius for dropdowns
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/assets/styles/global/_tooltip.scss
  shell/assets/styles/themes/_light.scss
Due: shell, rancher-components

address grep filter issue
  .github/workflows/test.yaml
  cypress.config.ts
  cypress/jenkins/cypress.config.jenkins.ts
  package.json
Due: none

Set dropdownitem focus on mouseenter
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Crontab @daily marked as invalid in Rancher Cronjobs (#13214)
  package.json
  pkg/rancher-components/package.json
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/package.json
  shell/utils/validators/cron-schedule.js
  shell/utils/validators/formRules/__tests__/index.test.ts
  shell/utils/validators/formRules/index.ts
  storybook/src/stories/Form/Input.mdx
  storybook/src/stories/Form/Input.stories.ts
  yarn.lock
Due: shell, rancher-components

Add box shadown to dropdown menu
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

styling
  pkg/eks/components/Config.vue
  pkg/eks/components/Networking.vue
  pkg/eks/components/NodeGroup.vue
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/components/Nodes.vue
  pkg/imported/l10n/en-us.yaml
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/ACE.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell, rancher-components

Auth Providers: Add search_using_service_account field (#13223)
  shell/assets/translations/en-us.yaml
  shell/edit/auth/ldap/__tests__/config.test.ts
  shell/edit/auth/ldap/config.vue
Due: shell

Adding CIS chart UI tests
  cypress/e2e/po/other-products/cis-benchmark.po.ts
  cypress/e2e/tests/pages/charts/cis-benchmark.spec.ts
Due: none

Add doc strings with examples to new components
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Extensions: Add hooks to support virtual clusters (#11064)
  shell/core/plugin.ts
  shell/core/plugins.js
  shell/core/types-provisioning.ts
  shell/core/types.ts
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/models/provisioning.cattle.io.cluster.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/steve-class.js
  shell/scripts/typegen.sh
Due: shell

fix workload health accessibility (#13220)
  shell/assets/translations/en-us.yaml
  shell/components/ProgressBarMulti.vue
  shell/components/form/PlusMinus.vue
  shell/components/formatter/WorkloadHealthScale.vue
Due: shell

fix exts tests failing
  .github/workflows/build-extension-charts.yml
Due: none

update some github actions to v4
  .github/workflows/build-and-upload.yaml
  .github/workflows/build-test.yaml
  .github/workflows/docusaurus.yaml
  .github/workflows/pr-zube.yaml
  .github/workflows/rancher-components.yaml
  .github/workflows/release-rancher-components.yml
  .github/workflows/test.yaml
  docusaurus/docs/guide/build-for-container-registry.md
Due: none

Add error handling to extension load
  shell/core/plugins.js
Due: shell

Fix formatting following rebase
  shell/core/plugins.js
Due: shell

Remove close button from banner and move to a page action
  shell/assets/translations/en-us.yaml
  shell/components/BannerGraphic.vue
  shell/config/page-actions.js
  shell/pages/home.vue
Due: shell

Update home.vue to fix lint
  shell/pages/home.vue
Due: shell

Add error handling to extension load (#13204)
  shell/core/plugins.js
Due: shell

wired in, NOT tested
  shell/components/form/ResourceSelector.vue
  shell/edit/networking.k8s.io.networkpolicy/PolicyRule.vue
  shell/edit/networking.k8s.io.networkpolicy/PolicyRuleTarget.vue
  shell/edit/networking.k8s.io.networkpolicy/PolicyRules.vue
  shell/edit/networking.k8s.io.networkpolicy/index.vue
  shell/edit/service.vue
  shell/models/service.js
  shell/models/workload.js
  shell/pages/c/_cluster/longhorn/index.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogUninstallDialog.vue
  shell/plugins/dashboard-store/resource-class.js
  shell/utils/selector.js
Due: shell

improvement
  shell/edit/service.vue
  shell/utils/selector.js
Due: shell

Fix commmands typo
  shell/assets/translations/en-us.yaml
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
