Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Expose `focusFirstElement()` to the dropdown trigger
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Update e2e tests
  cypress/e2e/po/side-bars/page-actions.po.ts
  cypress/e2e/po/side-bars/user-menu.po.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Inline single-use functions
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

Close dropdown menu when escape is pressed and trigger has focus
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Fix type export
  pkg/rancher-components/src/components/RcButton/index.ts
Due: rancher-components

Replace user menu in header with RcDropdown component
  shell/components/nav/Header.vue
Due: shell

Close dropdown on activate
  shell/components/RcDropdown.vue
  shell/components/RcDropdownItem.vue
Due: shell

Add `btn-sm` class to the button component
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  shell/components/nav/Header.vue
Due: shell, rancher-components

Add aria-label to dropdown menu
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/assets/translations/en-us.yaml
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Remove extra padding around buttons in header
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/components/nav/Header.vue
Due: shell, rancher-components

Rename fields to dropdownContainer
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Remove dropdown collection component
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownCollection.vue
  pkg/rancher-components/src/components/RcDropdown/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Rename `setTrigger()` to `registerTrigger()`
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Move RcButton types to separate file
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/index.ts
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Improve type inferrence via `InstanceType` and `UseTemplateRef`
  pkg/rancher-components/src/components/RcButton/types.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Add eslint rule to ingore unused variables that begin with `_`
  pkg/rancher-components/.eslintrc.js
Due: rancher-components

Target popperContainer with a ref
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

Move RcButton to Rancher Components
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/index.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/index.ts
  pkg/rancher-components/types/index.d.ts
Due: rancher-components

Revert change to RcButton types
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Fix focus-visible styles
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Add dropdown separator component
  shell/components/RcDropdownSeparator.vue
Due: shell

Add dropdown trigger component
  shell/components/RcDropdown.vue
  shell/components/RcDropdownTrigger.vue
Due: shell

Clean up unused imports and console statements
  shell/components/RcDropdown.vue
  shell/components/nav/Header.vue
Due: shell

Target first tabbable element in dropdown
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

Rename popper slot to dropdownCollection
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Rename `RcDropdown.d.ts` to `types.ts`
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownCollection.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
  shell/components/nav/Header.vue
Due: shell, rancher-components

Update aria roles, states, and properties for DropdownTrigger
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Update placement of dropdown menu
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
Due: rancher-components

Fix types for Rancher Components
  pkg/rancher-components/types/index.d.ts
  shell/tsconfig.json
Due: shell, rancher-components

Build the collection of dropdown items in the `RcDropdown` root
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Group logic related to providing Dropdown context and collection
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownCollection.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Allow for dropdown menu items to be disabled
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Move shared types for RcDropdown into a declaration file
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.d.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Remove unused imports
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Move shared types for RcButton into a declaration file
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Update styles for dropdown items
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  shell/assets/styles/themes/_dark.scss
Due: shell, rancher-components

Add aria-labels for dropdown triggers
  shell/assets/translations/en-us.yaml
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell

Add focus styles for dropdown menu item
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Add new ghost button role
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
  shell/components/nav/Header.vue
Due: shell, rancher-components

Focus first element regardless of click or key press
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components
