Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Derive feature-flag row count from the UI's hidden-flag filter (#18792)
  cypress/e2e/tests/pages/global-settings/feature-flags.spec.ts
Due: none

Added alternate cases - Github avatar users when there is no profile picture - Added a debug
  shell/components/auth/Principal.vue
  shell/components/auth/__tests__/Principal.test.ts
  shell/models/__tests__/principal.test.ts
  shell/models/principal.js
Due: shell

Added a fallback to get the data using the missing userId. Fill up the principal data that is shown in the table.
  shell/components/auth/Principal.vue
  shell/components/auth/__tests__/Principal.test.ts
Due: shell

Add cross-version extension compatibility test suite
  .github/aw/actions-lock.json
  .github/workflows/extension-compatibility-test.yml
  .github/workflows/extension-test-orchestrator.yml
  .github/workflows/extension-test-runner.lock.yml
  .github/workflows/extension-test-runner.md
  cypress/e2e/po/pages/extensions/developer-load.po.ts
  cypress/e2e/tests/pages/extensions/extension-compatibility.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  docs/developer/extension-test/extension-test-correlation.md
  docs/developer/extension-test/extension-test.pdf
  scripts/e2e-extension-k3s-start.sh
Due: none

Commit added new commitID and doc
  .github/workflows/extension-compatibility-test.yml
  docs/developer/extension-test/extension-test-overview.md
Due: none

Removed CI that uses AI
  .github/aw/actions-lock.json
  .github/workflows/extension-test-orchestrator.yml
  .github/workflows/extension-test-runner.lock.yml
  .github/workflows/extension-test-runner.md
Due: none

Remove my user from the executor
  .github/workflows/extension-compatibility-test.yml
  docs/developer/extension-test/extension-test-overview.md
Due: none

Notify Slack with per-version extension compatibility results
  .github/workflows/extension-compatibility-test.yml
Due: none

Reverted actions-lock.json to master
  .github/aw/actions-lock.json
Due: none

Changed so it doesnt run on the suite. Added @extensionsCompatibility tag
  cypress/e2e/tests/pages/extensions/extension-compatibility.spec.ts
Due: none

Drop redundant @cypress/code-coverage js-yaml resolutions
  cypress/package.json
  cypress/yarn.lock
  package.json
Due: none

Fix RcSection counter badge contrast and add content group
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/components/RcSection/RcSectionContentGroup.test.ts
  pkg/rancher-components/src/components/RcSection/RcSectionContentGroup.vue
  pkg/rancher-components/src/components/RcSection/index.ts
  shell/assets/styles/themes/_modern.scss
  storybook/src/stories/Components/RcSection.stories.ts
Due: shell, rancher-components

Bump brace-expansion to 1.1.18, 2.1.4 and 5.0.9
  docusaurus/yarn.lock
  shell/yarn.lock
Due: shell

Bump js-yaml to 3.15.1 and 4.3.1 across all lockfiles
  cypress/package.json
  cypress/yarn.lock
  docusaurus/yarn.lock
  package.json
  shell/yarn.lock
  yarn.lock
Due: shell

Add content group layout components and use them in RcSection
  pkg/rancher-components/src/components/Layout/RcContentGroup/RcContentGroup.test.ts
  pkg/rancher-components/src/components/Layout/RcContentGroup/RcContentGroup.vue
  pkg/rancher-components/src/components/Layout/RcContentGroup/index.ts
  pkg/rancher-components/src/components/Layout/RcContentGroups/RcContentGroups.test.ts
  pkg/rancher-components/src/components/Layout/RcContentGroups/RcContentGroups.vue
  pkg/rancher-components/src/components/Layout/RcContentGroups/index.ts
  pkg/rancher-components/src/components/Layout/index.ts
  pkg/rancher-components/src/components/RcSection/RcSection.test.ts
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/components/RcSection/RcSectionContentGroup.vue
  pkg/rancher-components/src/components/RcSection/index.ts
  pkg/rancher-components/src/index.ts
  shell/components/fleet/FleetClusterTargets/index.vue
  shell/components/fleet/HelmOpAppCoConfigTab.vue
  shell/components/fleet/HelmOpAppCoResourcesSection.vue
  shell/components/fleet/HelmOpTargetOptionsSection.vue
  shell/components/fleet/__tests__/HelmOpAppCoConfigTab.test.ts
  shell/components/fleet/__tests__/HelmOpAppCoResourcesSection.test.ts
  shell/components/fleet/__tests__/HelmOpTargetOptionsSection.test.ts
  shell/components/fleet/__tests__/__snapshots__/HelmOpTargetOptionsSection.test.ts.snap
  storybook/src/stories/Components/RcContentGroup.stories.ts
  storybook/src/stories/Components/RcSection.stories.ts
Due: shell, rancher-components

Point tab aria-controls at the panels they control
  shell/components/CruResource.vue
  shell/components/Wizard.vue
  shell/components/__tests__/CruResource.test.ts
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/TabBodyContainer.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/components/nav/WindowManager/panels/__tests__/TabBodyContainer.test.ts
  shell/components/nav/WindowManager/panels/__tests__/tab-body.test.ts
  shell/components/nav/WindowManager/panels/tab-body.ts
Due: shell

Bump js-yaml to 3.15.1 and 4.3.1 across all lockfiles (#18784)
  cypress/package.json
  cypress/yarn.lock
  docusaurus/yarn.lock
  package.json
  shell/yarn.lock
  yarn.lock
Due: shell

Switch logo depending on whether Harvester or SUSE Virtualisation
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  shell/assets/images/pl/dark/suse-virtualization.svg
  shell/assets/images/pl/suse-virtualization.svg
  shell/store/i18n.js
Due: shell

Fix lint
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
Due: none

Bump brace-expansion to 1.1.18, 2.1.4 and 5.0.9 (#18791)
  docusaurus/yarn.lock
  shell/yarn.lock
Due: shell

Show inline error for unknown resource type or resource id
  shell/components/ResourceDetail/__tests__/index.test.ts
  shell/components/ResourceDetail/index.vue
Due: shell

Removed Legacy feature and unsupported Azure provider
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/edit/provisioning.cattle.io.cluster/__tests__/Basics.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/store/__tests__/features.test.ts
  shell/store/features.js
Due: shell

lint
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

removed dead code from catalog.cattle.io.app
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/models/catalog.cattle.io.app.js
Due: shell

Type-check eks test suites
  pkg/eks/components/__tests__/Config.test.ts
  pkg/eks/components/__tests__/CruEKS.test.ts
  pkg/eks/components/__tests__/Networking.test.ts
  pkg/eks/components/__tests__/NodeGroup.test.ts
Due: none

Update comment for `poolTaints` validator
  pkg/aks/components/Config.vue
Due: none

Regenerate the vue-tsc type-check baseline
  scripts/type-check-baseline.txt
Due: none

Specify a proper type for `defaultAksConfig`
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/Config.test.ts
  pkg/aks/types/index.ts
Due: none

Fix the aks type errors that @pkg resolution exposes
  pkg/aks/components/AksNodePool.vue
  pkg/aks/components/Config.vue
  pkg/aks/components/CruAks.vue
  pkg/aks/types/index.ts
  pkg/aks/util/aks-regions.ts
  pkg/aks/util/aks.ts
Due: none

Point the @pkg alias at the repo's pkg directory
  pkg/eks/tsconfig.json
  pkg/eks/types/index.d.ts
  pkg/eks/util/validators.ts
  pkg/gke/tsconfig.json
  pkg/imported/tsconfig.json
  tsconfig.paths.json
Due: none

Restore aliased imports in the cluster provider tests
  pkg/aks/components/Config.vue
  pkg/aks/components/__tests__/AksNodePool.test.ts
  pkg/aks/components/__tests__/Config.test.ts
  pkg/aks/components/__tests__/CruAks.test.ts
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/validators.ts
  pkg/eks/components/__tests__/Config.test.ts
  pkg/eks/components/__tests__/CruEKS.test.ts
  pkg/eks/components/__tests__/Networking.test.ts
  pkg/eks/components/__tests__/NodeGroup.test.ts
  pkg/gke/components/__tests__/Config.test.ts
  pkg/gke/components/__tests__/GKENodePool.test.ts
  pkg/gke/components/__tests__/Import.test.ts
  pkg/gke/components/__tests__/Networking.test.ts
  pkg/gke/util/__tests__/oauth.test.ts
  pkg/imported/components/__tests__/CruImported.test.ts
Due: none

Make the imported prop optional
  pkg/eks/components/__tests__/Config.test.ts
  pkg/eks/components/__tests__/CruEKS.test.ts
  pkg/eks/types/index.d.ts
Due: none

Apply eslint formatting to the retyped tests
  pkg/eks/components/__tests__/Config.test.ts
  pkg/eks/components/__tests__/CruEKS.test.ts
Due: none

Type-check gke test suites
  pkg/gke/components/__tests__/Config.test.ts
  pkg/gke/components/__tests__/GKENodePool.test.ts
  pkg/gke/components/__tests__/Import.test.ts
  pkg/gke/components/__tests__/Networking.test.ts
  pkg/gke/util/__tests__/oauth.test.ts
Due: none

Restore type inference in aks tests
  pkg/aks/components/__tests__/AksNodePool.test.ts
  pkg/aks/components/__tests__/Config.test.ts
  pkg/aks/components/__tests__/CruAks.test.ts
  pkg/aks/util/__tests__/validators.test.ts
Due: none

Type-check imported cluster test suite
  pkg/imported/components/__tests__/CruImported.test.ts
Due: none

Bump nanoid to 3.3.18 to fix GHSA-2v37-7h3g-55p8 (CVE-2026-67213) (#18801)
  docusaurus/yarn.lock
  package.json
  yarn.lock
Due: none

change ai model
  .github/workflows/ci-failure-inspection.yaml
  cypress/jenkins/inspector/README.md
  cypress/jenkins/inspector/src/ai-client.js
Due: none

Removed Legacy feature and unsupported Azure provider (#18773)
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/edit/provisioning.cattle.io.cluster/__tests__/Basics.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/models/catalog.cattle.io.app.js
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/store/__tests__/features.test.ts
  shell/store/features.js
Due: shell
