Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

update extensions po and e2e tests
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
Due: none

fix test
  cypress/e2e/tests/accessibility/shell.spec.ts
Due: none

Implement ui-context directive and store
  shell/config/store.js
  shell/directives/ui-context.ts
  shell/initialize/install-directives.js
  shell/store/ui-context.ts
Due: shell

Fix labels
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemSelect.vue
  shell/components/nav/WindowManager/ContainerLogsActions.vue
Due: shell, rancher-components

aks e2e test in progress
  cypress/e2e/blueprints/cluster_management/aks-default-settings.ts
  cypress/e2e/po/components/labeled-select.po.ts
  cypress/e2e/po/components/radio-group-input.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-aks.po.ts
  cypress/e2e/tests/pages/manager/aks-cluster-provisioning.spec.ts
Due: none

added more field validations
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-aks.po.ts
  cypress/e2e/tests/pages/manager/aks-cluster-provisioning.spec.ts
Due: none

work in progress
  cypress/e2e/blueprints/cluster_management/aks-default-settings.ts
  cypress/e2e/po/components/labeled-select.po.ts
  cypress/e2e/po/components/radio-input.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-aks.po.ts
  cypress/e2e/tests/pages/manager/aks-cluster-provisioning.spec.ts
Due: none

added more ui validations
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-aks.po.ts
  cypress/e2e/tests/pages/manager/aks-cluster-provisioning.spec.ts
Due: none

add aks provisioning e2e test
  cypress/e2e/po/components/radio-input.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-aks.po.ts
  cypress/e2e/tests/pages/manager/aks-cluster-provisioning.spec.ts
Due: none

add e2e aks provisioning tests
  cypress/e2e/po/components/radio-group-input.po.ts
Due: none

fix import
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
Due: shell

Fixed an issue where the current cluster is used when navigating to the auth configuration portion of the app
  shell/config/product/auth.js
Due: shell

Fixes a warning that's show on tables when a tab isn't present
  shell/components/form/ResourceTabs/composable.ts
Due: shell

fix test
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Due: none

Updating the Users PO to use the local cluster
  cypress/e2e/po/pages/users-and-auth/users.po.ts
Due: none

Create new method `resolveColorFilter()`
  shell/components/IconOrSvg.vue
Due: shell

Add new filter for active color
  shell/components/IconOrSvg.vue
Due: shell

Use resolve method for hover and main filters
  shell/components/IconOrSvg.vue
Due: shell

fix flickering
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Update UI e2e version when branching for release
  scripts/update-e2e-rancher-version.sh
Due: none

Implement the kubectl-explain to be consistent with the new drawer design
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/kubectl-explain/index.ts
  pkg/kubectl-explain/slide-in.js
Due: none

Switched to blank cluster
  cypress/e2e/po/pages/users-and-auth/users.po.ts
  shell/config/product/auth.js
Due: shell

Rename WindowManager
  shell/components/nav/PrimarySideWindow.vue
  shell/components/templates/default.vue
Due: shell

Add vm/secondary store
  shell/config/store.js
  shell/store/wm/index.js
  shell/store/wm/secondary.js
Due: shell

Implement SecondarySideWindow
  shell/assets/styles/global/_layout.scss
  shell/components/nav/SecondarySideWindow.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/store/wm/secondary.js
  shell/utils/dynamic-importer.js
Due: shell

Decouple PrimarySideWindow from Console components
  cypress/e2e/po/components/kubectl.po.ts
  cypress/e2e/po/components/shell.po.ts
  docusaurus/docs/internal/code-base-works/api-resources-and-schemas.md
  docusaurus/docs/internal/code-base-works/directory-structure.md
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemSelect.vue
  shell/assets/translations/en-us.yaml
  shell/components/CodeMirror.vue
  shell/components/Console/ChartReadme.vue
  shell/components/Console/ContainerLogs.vue
  shell/components/Console/ContainerLogsActions.vue
  shell/components/Console/ContainerShell.vue
  shell/components/Console/KubectlShell.vue
  shell/components/Console/MachineSsh.vue
  shell/components/Console/Window.vue
  shell/components/Console/__tests__/ContainerLogs.test.ts
  shell/components/Console/__tests__/ContainerShell.test.ts
  shell/components/EmberPage.vue
  shell/components/nav/PrimarySideWindow.vue
  shell/models/management.cattle.io.cluster.js
  shell/utils/dynamic-importer.js
Due: shell, rancher-components

Extensions API - handle async enabling actions
  shell/components/nav/Header.vue
Due: shell

Secondary window
  shell/components/nav/SecondarySideWindow.vue
  shell/store/wm/secondary.js
Due: shell

Fix resize conflic between Secondary and Primary side windows
  shell/components/nav/SecondarySideWindow.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
Due: shell

Handle PrimarySideWindow when secondary is open
  shell/components/DraggableZone.vue
  shell/components/nav/PrimarySideWindow.vue
  shell/components/nav/SecondarySideWindow.vue
Due: shell

css fixes
  shell/components/nav/SecondarySideWindow.vue
Due: shell

Add SecondarySideWindow resize functionality
  shell/components/nav/SecondarySideWindow.vue
  shell/store/wm/secondary.js
Due: shell

Improve PrimarySideWindow resize
  shell/components/nav/PrimarySideWindow.vue
Due: shell

Add grab cursor to primary window
  shell/components/nav/PrimarySideWindow.vue
Due: shell

Code clean-up
  shell/assets/translations/en-us.yaml
  shell/components/DraggableZone.vue
  shell/components/nav/PrimarySideWindow.vue
  shell/components/nav/SecondarySideWindow.vue
Due: shell

Fix labels
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemSelect.vue
  shell/components/Console/ContainerLogsActions.vue
Due: shell, rancher-components

add-context-to-test
  shell/components/fleet/dashboard/ResourceCard.vue
  shell/pages/c/_cluster/explorer/index.vue
  shell/pages/c/_cluster/fleet/index.vue
  shell/store/ui-context.ts
Due: shell

Resolving some e2e issues
  cypress/e2e/tests/navigation/side-nav/product-side-nav-highlighting.spec.ts
  cypress/e2e/tests/pages/users-and-auth/azuread.spec.ts
  cypress/e2e/tests/pages/users-and-auth/cognito.spec.ts
Due: none

redoing PR without changes
  cypress/e2e/blueprints/global_settings/settings-data.ts
  cypress/e2e/po/components/modal-with-card.po.ts
  cypress/e2e/po/pages/global-settings/performance.po.ts
  cypress/e2e/po/pages/global-settings/settings.po.ts
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/Inactivity.vue
  shell/config/query-params.js
  shell/config/settings.ts
  shell/config/types.js
  shell/list/projectsecret.vue
  shell/pages/auth/login.vue
  shell/store/auth.js
  shell/store/index.js
  shell/types/kube/kube-api.ts
  shell/utils/inactivity.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
