Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Support showHeader option
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/index.vue
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/store/wm.ts
Due: shell

Fix dimensions handler
  shell/components/nav/WindowManager/PinArea.vue
  shell/components/nav/WindowManager/composables/useDimensionsHandler.ts
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/composables/useResizeHandler.ts
  shell/components/nav/WindowManager/constants.ts
  shell/store/wm.ts
Due: shell

Support lock windows option
  shell/components/nav/WindowManager/PinArea.vue
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/TabBodyContainer.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/store/wm.ts
Due: shell

Fix switch tabs and code refactoring
  shell/components/Window/__tests__/ContainerShell.test.ts
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/composables/useTabsHandler.ts
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/store/wm.ts
Due: shell

Re-enable vai support for side nav and home page cluster lists (#15262)
  cypress/e2e/blueprints/nav/fake-cluster.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  shell/components/ResourceDetail/index.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/models/provisioning.cattle.io.cluster.js
  shell/plugins/__tests__/subscribe.events.test.ts
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/index.js
  shell/plugins/steve/mutations.js
  shell/plugins/steve/resourceWatcher.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/plugins/steve/subscribe.js
  shell/plugins/subscribe-events.ts
  shell/store/index.js
  shell/types/store/subscribe-events.types.ts
  shell/types/store/subscribe.types.ts
  shell/utils/pagination-wrapper.ts
Due: shell

fix e2e test
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Due: none

update docs by removing kamaji from partners page (#15578)
  docusaurus/extensions/catalog/partner/kamaji.yaml
Due: none

check if it fixes build
  docusaurus/package.json
Due: none

update docs, bump shell
  docusaurus/docs/extensions/performance/scaling/global-config.md
  shell/package.json
Due: shell

Add window-manager type def
  shell/components/nav/WindowManager/composables/useDimensionsHandler.ts
  shell/components/nav/WindowManager/composables/useDragHandler.ts
  shell/components/nav/WindowManager/composables/usePanelHandler.ts
  shell/components/nav/WindowManager/composables/usePanelsHandler.ts
  shell/components/nav/WindowManager/composables/useResizeHandler.ts
  shell/components/nav/WindowManager/composables/useTabsHandler.ts
  shell/components/nav/WindowManager/index.vue
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/store/wm.ts
  shell/types/window-manager.ts
Due: shell

Add fallback errors to help identify issues
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Move errors to i18n
  pkg/rancher-prime/l10n/en-us.yaml
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Remove notification if user is registered
  pkg/rancher-prime/config/constants.ts
  pkg/rancher-prime/index.ts
  pkg/rancher-prime/pages/registration.composable.test.ts
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Implement ui-context directive and store
  shell/config/store.js
  shell/directives/ui-context.ts
  shell/initialize/install-directives.js
  shell/store/ui-context.ts
Due: shell

update docusaurus config so that builds are successful + update comments on shell interface
  docusaurus/.gitignore
  docusaurus/docs/extensions/frameworks-api.md
  docusaurus/docs/extensions/shell-api.md
  docusaurus/docusaurus.config.js
  docusaurus/extensionSidebar.js
  docusaurus/package.json
  docusaurus/tsconfig-typedoc-integration.json
  docusaurus/tsconfig.paths.json
  shell/apis/intf/shell.ts
Due: shell

fix-fleet-appbundle-ssh-url-validation (#15477)
  shell/utils/validators/formRules/__tests__/index.test.ts
  shell/utils/validators/formRules/index.ts
Due: shell

fixing some problems with the shell apis
  shell/apis/shell/growl.ts
  shell/apis/shell/index.ts
  shell/apis/shell/modal.ts
  shell/components/ModalManager.vue
Due: shell

fix jwt auth tests p2
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
Due: none

Update prime theme colors
  shell/assets/styles/themes/_suse.scss
Due: shell

Update Prime theme colors
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/styles/themes/_suse.scss
Due: shell, rancher-components

Update Prime logos
  shell/assets/brand/suse/dark/rancher-logo.svg
  shell/assets/brand/suse/rancher-logo.svg
Due: shell

Preserve Prime colors in top level menu
  shell/assets/styles/themes/_suse.scss
  shell/components/ClusterIconMenu.vue
  shell/components/ClusterProviderIcon.vue
  shell/components/IconOrSvg.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell

Primary keyboard focus
  shell/assets/styles/themes/_modern.scss
Due: shell

Update Prime theme
  shell/assets/styles/themes/_modern.scss
  shell/assets/styles/themes/_suse.scss
Due: shell

Replace `!important` flag in favor of increased specificity
  shell/assets/styles/global/_button.scss
Due: shell

Remove `!important` flag from `bg-disabled` & `text-disabled`
  shell/assets/styles/base/_color.scss
Due: shell

Remove notification if user is registered (#15582)
  pkg/rancher-prime/config/constants.ts
  pkg/rancher-prime/index.ts
  pkg/rancher-prime/pages/registration.composable.test.ts
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Allow for custom class attrs in selector buttons
  shell/components/form/FileImageSelector.vue
  shell/components/form/FileSelector.vue
Due: shell

fix elemental tests
  cypress/e2e/po/pages/chart-installed-apps.po.ts
  cypress/e2e/tests/extensions/elemental/elemental.spec.ts
Due: none

fix problems with focus trap on slideInManager and ModalManager + update fleet dashboard to use correct + move vue to be a dev dependency of docusaurus + temp disconnect auto doc generation
  docusaurus/docusaurus.config.js
  docusaurus/extensionSidebar.js
  docusaurus/package.json
  shell/apis/intf/shell.ts
  shell/apis/shell/modal.ts
  shell/components/ModalManager.vue
  shell/components/SlideInPanelManager.vue
  shell/composables/focusTrap.ts
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

remove auto generated sidebar content from previous docs gen
  docusaurus/docs/extensions/advanced/typedoc-sidebar.cjs
Due: none

fix lint issues
  docusaurus/extensionSidebar.js
  shell/apis/intf/shell.ts
Due: shell

fix docusaurus build
  docusaurus/shell-api-MOVE-TO-DOCUSAURUS-DOCS-EXTENSIONS.md
Due: none

fine tuning inactivity logic + add missing change to deprecate inactivity performance setting
  shell/components/Inactivity.vue
  shell/pages/c/_cluster/settings/performance.vue
  shell/utils/inactivity.ts
Due: shell

fix e2e test
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

redoing PR without changes
  cypress/e2e/blueprints/global_settings/settings-data.ts
  cypress/e2e/po/components/modal-with-card.po.ts
  cypress/e2e/po/pages/global-settings/performance.po.ts
  cypress/e2e/po/pages/global-settings/settings.po.ts
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/Inactivity.vue
  shell/config/query-params.js
  shell/config/settings.ts
  shell/config/types.js
  shell/list/projectsecret.vue
  shell/pages/auth/login.vue
  shell/store/auth.js
  shell/store/index.js
  shell/types/kube/kube-api.ts
  shell/utils/inactivity.ts
Due: shell

fix stash apply
  shell/components/Inactivity.vue
  shell/utils/inactivity.ts
Due: shell

update inactivity utils module to a singleton + fix e2e test
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  shell/components/Inactivity.vue
  shell/utils/inactivity.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
