Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

[Automation] Added test to validate that Create button is disabled when attempting to create a project but name is not provided
  cypress/e2e/tests/pages/explorer/project-namespace.spec.ts
Due: none

Removing some of the simple inline middleware that just redirects from one page to another
  shell/config/router.js
  shell/pages/c/_cluster/apps/index.vue
  shell/pages/c/_cluster/auth/index.vue
  shell/pages/c/_cluster/index.vue
  shell/pages/c/_cluster/legacy/index.vue
  shell/pages/c/_cluster/manager/index.vue
  shell/pages/c/_cluster/mcapps/index.vue
  shell/pages/c/_cluster/settings/index.vue
Due: shell

[INT] Refactored some of the plugins - 2 (#10944)
  shell/components/__tests__/ButtonGroup.test.ts
  shell/initialize/index.js
  shell/initialize/plugins.js
  shell/plugins/codemirror.js
  shell/plugins/index.js
  shell/plugins/positive-int-number.js
  shell/plugins/trim-whitespace.js
  storybook/.storybook/preview.js
Due: shell

[INT] Refactored some of the plugins - 3
  jest.setup.js
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioButton.test.ts
  shell/components/__tests__/AsyncButton.test.ts
  shell/components/__tests__/CruResource.test.ts
  shell/components/__tests__/EtcdInfoBanner.test.ts
  shell/components/form/__tests__/KeyValue.test.ts
  shell/edit/__tests__/kontainerDriver.test.ts
  shell/edit/__tests__/monitoring.coreos.com.prometheusrule.test.ts
  shell/edit/__tests__/nodeDriver.test.ts
  shell/edit/__tests__/service.test.ts
  shell/edit/auth/__tests__/AuthProviderWarningBanners.test.ts
  shell/edit/auth/__tests__/azuread.test.ts
  shell/edit/networking.k8s.io.networkpolicy/__tests__/PolicyRuleTarget.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/CustomCommand.test.ts
  shell/edit/workload/__tests__/Job.test.ts
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/pages/c/_cluster/explorer/tools/__tests__/index.test.ts
  shell/plugins/clean-html-directive.js
  shell/plugins/clean-tooltip-directive.js
  shell/plugins/directives.js
  shell/plugins/index.js
  storybook/.storybook/preview.js
Due: shell, rancher-components

added int-number
  shell/plugins/index.js
  shell/plugins/int-number.js
Due: shell

fixed storybook
  storybook/.storybook/preview.js
Due: none

renamed directives.js into focus.js and removed unused mock in test
  shell/components/__tests__/NamespaceFilter.test.ts
  shell/plugins/focus.js
  shell/plugins/index.js
Due: shell

[Automation] Added test to validate that Create button is disabled when (#10970)
  cypress/e2e/tests/pages/explorer/project-namespace.spec.ts
Due: none

add e2e test for issue 10412 (#10898)
  cypress/e2e/blueprints/nav/edit-cluster.ts
  cypress/e2e/blueprints/nav/fake-cluster.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/edit/cluster-edit-generic.po.ts
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/RegistryConfigs.vue
Due: shell

Changes following review
  cypress/e2e/po/components/global-role-binding.po.ts
  cypress/e2e/po/edit/management.cattle.io.user.po.ts
Due: none

WIP2
  scripts/e2e-k3s-start
Due: none

WIP
  .github/workflows/temp-test-k3s.yaml
  .github/workflows/test.yaml
  package.json
  scripts/e2e-k3s-start
Due: none

WIP4
  .github/workflows/temp-test-k3s.yaml
  .github/workflows/test.yaml
  package.json
  scripts/e2e-k3s-start
Due: none

Tidying up
  cypress/support/commands/rancher-api-commands.ts
  scripts/e2e-k3s-start
Due: none

Tidying up
  .github/workflows/temp-test-k3s.yaml
  .github/workflows/test.yaml
  cypress/support/commands/rancher-api-commands.ts
  scripts/e2e-k3s-start
Due: none

Fix min length arg
  cypress/support/commands/rancher-api-commands.ts
  scripts/e2e-k3s-start
Due: none

WIP5
  scripts/e2e-k3s-start
Due: none

WIP6
  cypress/support/commands/rancher-api-commands.ts
  package.json
  scripts/e2e-k3s-start
Due: none

e2e fixes
  cypress/e2e/po/components/certificates.po.ts
  cypress/e2e/po/pages/explorer/cluster-dashboard.po.ts
  cypress/e2e/tests/pages/explorer/dashboard/certificates.spec.ts
Due: none

Add e2e test for server-url validation (#10937)
  cypress/e2e/blueprints/global_settings/settings-data.ts
  cypress/e2e/po/edit/settings.po.ts
  cypress/e2e/po/pages/rancher-setup-configure.po.ts
  cypress/e2e/tests/pages/global-settings/settings-p2.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
  shell/edit/management.cattle.io.setting.vue
  shell/pages/auth/setup.vue
Due: shell

[AUTOMATION] Added E2E test to confirm that imported cluster displays provider correctly
  cypress/e2e/po/lists/provisioning.cattle.io.cluster.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

addressed comment
  shell/plugins/focus.js
  shell/plugins/index.js
  shell/plugins/int-number.js
  shell/plugins/positive-int-number.js
Due: shell

Update user Deleted/Disabled labels
  shell/assets/translations/en-us.yaml
Due: shell

[INT] Refactored some of the plugins - 3 (#10946)
  jest.setup.js
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioButton.test.ts
  shell/components/__tests__/AsyncButton.test.ts
  shell/components/__tests__/CruResource.test.ts
  shell/components/__tests__/EtcdInfoBanner.test.ts
  shell/components/__tests__/NamespaceFilter.test.ts
  shell/components/form/__tests__/KeyValue.test.ts
  shell/edit/__tests__/kontainerDriver.test.ts
  shell/edit/__tests__/monitoring.coreos.com.prometheusrule.test.ts
  shell/edit/__tests__/nodeDriver.test.ts
  shell/edit/__tests__/service.test.ts
  shell/edit/auth/__tests__/AuthProviderWarningBanners.test.ts
  shell/edit/auth/__tests__/azuread.test.ts
  shell/edit/networking.k8s.io.networkpolicy/__tests__/PolicyRuleTarget.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/CustomCommand.test.ts
  shell/edit/workload/__tests__/Job.test.ts
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/pages/c/_cluster/explorer/tools/__tests__/index.test.ts
  shell/plugins/clean-html-directive.js
  shell/plugins/clean-tooltip-directive.js
  shell/plugins/focus.js
  shell/plugins/index.js
  shell/plugins/int-number.js
  shell/plugins/positive-int-number.js
  storybook/.storybook/preview.js
Due: shell, rancher-components

[INT] Moved directives into a separate folder
  jest.setup.js
  shell/directives/clean-html-directive.js
  shell/directives/clean-tooltip-directive.js
  shell/directives/focus.js
  shell/directives/index.js
  shell/directives/int-number.js
  shell/directives/positive-int-number.js
  shell/directives/trim-whitespace.js
  shell/initialize/index.js
  shell/initialize/plugins.js
  shell/plugins/index.js
  storybook/.storybook/preview.js
Due: shell

[AUTOMATION] Added E2E test to confirm that imported cluster displays provider correctly (#10976)
  cypress/e2e/po/lists/provisioning.cattle.io.cluster.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Resolve an issue where we weren't allowing users to login with other auth providers
  shell/pages/auth/login.vue
  shell/pages/auth/verify.vue
Due: shell

remove fake cluster from daemonset test + adjust e2e
  cypress/e2e/po/pages/explorer/workloads-daemonsets.po.ts
  cypress/e2e/tests/pages/explorer/workloads/daemonsets.spec.ts
Due: none

Initialize i18n after plugins load more
  shell/initialize/client.js
Due: shell

Fix vGPUs label
  pkg/harvester-manager/machine-config/harvester.vue
Due: harvester

Limit number of assigned vGpus to 1 for each Machine Pool
  pkg/harvester-manager/machine-config/harvester.vue
  shell/components/form/ArrayList.vue
Due: shell, harvester

remove fake cluster from daemonset test + adjust e2e (#10988)
  cypress/e2e/po/pages/explorer/workloads-daemonsets.po.ts
  cypress/e2e/tests/pages/explorer/workloads/daemonsets.spec.ts
Due: none

Fix for subscribing - only fetch resource version from resources if we need to AND steve cache is disabled
  shell/plugins/steve/subscribe.js
Due: shell

Workaround for failing kubewarden unit tests in check-plugin gate
  shell/utils/pagination-utils.ts
Due: shell

Changes following review
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

Add automated tests to ensure Chart icons are correct - includes some improvements to another test to ensure state is correct before and after - also includes some helpers for chart grid
  cypress/e2e/po/components/select-icon-grid.po.ts
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

show harvester cluster in fleet page (#9652) (#10951)
  shell/list/fleet.cattle.io.cluster.vue
  shell/utils/cluster.js
Due: shell

added backward compatibility
  jest.setup.js
  shell/directives/clean-html-directive.js
  shell/directives/clean-html.js
  shell/directives/clean-tooltip-directive.js
  shell/directives/clean-tooltip.js
  shell/directives/focus.js
  shell/directives/index.js
  shell/directives/int-number.js
  shell/directives/positive-int-number.js
  shell/directives/trim-whitespace.js
  shell/plugins/clean-html-directive.js
  shell/plugins/clean-tooltip-directive.js
  shell/plugins/directives.js
  shell/plugins/int-number.js
  shell/plugins/positive-int-number.js
  shell/plugins/trim-whitespace.js
  storybook/.storybook/preview.js
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  harvester: any of: pkg/harvester
  rancher-components: any of: pkg/rancher-components
