Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Restore the portable-shell note to the agents.md source
  docs/agents.md/contributors/node-dependencies.md
Due: none

Fixed comments from review
  shell/assets/translations/en-us.yaml
  shell/components/form/LabeledSelectWithCreate.vue
  shell/components/form/NameNsDescription.vue
  shell/components/form/NamespaceSelect.vue
  shell/components/form/__tests__/LabeledSelectWithCreate.test.ts
  shell/components/form/__tests__/NameNsDescription.test.ts
  shell/components/form/__tests__/NamespaceSelect.test.ts
  shell/types/components/labeledSelect.ts
Due: shell

e2e
  cypress/e2e/po/components/labeled-select-with-create.po.ts
Due: none

Added LabeledSelectWithCreate and NamespaceSelect components
  cypress/e2e/po/components/labeled-select-with-create.po.ts
  cypress/e2e/po/components/name-ns-description.po.ts
  cypress/e2e/po/pages/explorer/workloads-jobs.po.ts
  cypress/e2e/tests/pages/explorer/service-discovery/ingress.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  shell/components/form/LabeledSelectWithCreate.vue
  shell/components/form/NameNsDescription.vue
  shell/components/form/NamespaceSelect.vue
  shell/components/form/__tests__/LabeledSelectWithCreate.test.ts
  shell/components/form/__tests__/NameNsDescription.test.ts
  shell/components/form/__tests__/NamespaceSelect.test.ts
Due: shell

typo
  cypress/e2e/po/components/labeled-select-with-create.po.ts
Due: none

fix unit tests
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

add clear button to LabeledInput and replace search-box with a LabeledInput with a clear button
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/assets/translations/en-us.yaml
  shell/components/SortableTable/index.vue
  storybook/src/stories/Form/LabeledInput.stories.ts
Due: shell, rancher-components

fix CI type-check
  shell/composables/useLabeledFormElement.ts
Due: shell

fix lint issues
  storybook/src/stories/Form/LabeledInput.stories.ts
Due: none

address pr comments
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/composables/useLabeledFormElement.ts
Due: shell, rancher-components

Align root @vue/cli-service with pkg/rancher-components
  package.json
  yarn.lock
Due: none

Bootstrap CI installs through npm run install:ci
  .github/actions/setup/action.yaml
  .github/workflows/build-and-upload.yaml
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
  .github/workflows/build-extensions-test.yml
  .github/workflows/create-pr-build-extension-charts.yml
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-accessibility-review.md
  .github/workflows/docusaurus.yaml
  .github/workflows/rancher-components.yaml
  .github/workflows/release-cypress-pkg.yaml
  .github/workflows/release-rancher-components.yml
  .github/workflows/release-shell-pkg.yaml
  .github/workflows/scripts/build-dashboard.sh
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
  .github/workflows/update-cloud-data.yml
  AGENTS.md
  cypress/package.json
  docs/agents.md/contributors/node-dependencies.md
  docusaurus/package.json
  package.json
Due: none

fixed typing
  shell/components/form/__tests__/LabeledSelectWithCreate.test.ts
  shell/components/form/__tests__/NamespaceSelect.test.ts
Due: shell

fixed more typing
  shell/apis/shell/__tests__/proxy.test.ts
  shell/apis/shell/__tests__/slide-in.test.ts
Due: shell

Make logging install test independent across retries
  cypress/e2e/tests/pages/charts/logging.spec.ts
Due: none

Gate KubeConfig bulk-action on the cluster list finishing loading
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

add error to comment when reopen
  cypress/jenkins/inspector/src/github-client.js
  cypress/jenkins/inspector/src/inspect.js
Due: none

add ai to reopen comments
  cypress/jenkins/inspector/src/github-client.js
  cypress/jenkins/inspector/src/inspect.js
Due: none

enhance ai and sanitize text in description/comment
  cypress/jenkins/inspector/src/ai-client.js
  cypress/jenkins/inspector/src/fetch-utils.js
  cypress/jenkins/inspector/src/github-client.js
Due: none

add ai generated comment
  .github/workflows/ci-failure-inspection.yaml
  cypress/jenkins/inspector/src/ai-client.js
  cypress/jenkins/inspector/src/github-client.js
  cypress/jenkins/inspector/src/inspect.js
Due: none

catch up to phase2 and apply test config
  .github/workflows/ci-failure-inspection.yaml
Due: none

Guard the Corepack ordering inside the setup action
  .github/actions/setup/action.yaml
Due: none

Route the remaining jobs through the setup action
  .github/workflows/build-and-upload.yaml
  .github/workflows/check-plugins.yaml
  .github/workflows/docusaurus.yaml
  .github/workflows/rancher-components.yaml
  .github/workflows/release-cypress-pkg.yaml
  .github/workflows/release-rancher-components.yml
  .github/workflows/release-shell-pkg.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
  .github/workflows/update-cloud-data.yml
Due: none

Regenerate the accessibility workflow lock file
  .github/workflows/daily-accessibility-review.lock.yml
Due: none

Rewrite logging installed-apps wait to not abort the fetch
  cypress/e2e/tests/pages/charts/logging.spec.ts
Due: none

fix being able to select non-selectable items
  shell/components/form/LabeledSelect.vue
  shell/components/form/__tests__/LabeledSelect.test.ts
  shell/mixins/vue-select-overrides.js
Due: shell

Declare the Cypress reporting and tag filtering packages
  cypress/package.json
  cypress/yarn.lock
Due: none

Make the logging installed-app reliably appear before uninstall
  cypress/e2e/tests/pages/charts/logging.spec.ts
Due: none

Wait for fleet cluster Active before opening its detail
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
Due: none

Added LabeledSelectWithCreate and NamespaceSelect components (#18512)
  cypress/e2e/po/components/labeled-select-with-create.po.ts
  cypress/e2e/po/components/name-ns-description.po.ts
  cypress/e2e/po/pages/explorer/workloads-jobs.po.ts
  cypress/e2e/tests/pages/explorer/service-discovery/ingress.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  shell/apis/shell/__tests__/proxy.test.ts
  shell/apis/shell/__tests__/slide-in.test.ts
  shell/assets/translations/en-us.yaml
  shell/components/form/LabeledSelectWithCreate.vue
  shell/components/form/NameNsDescription.vue
  shell/components/form/NamespaceSelect.vue
  shell/components/form/__tests__/LabeledSelectWithCreate.test.ts
  shell/components/form/__tests__/NameNsDescription.test.ts
  shell/components/form/__tests__/NamespaceSelect.test.ts
  shell/types/components/labeledSelect.ts
Due: shell

Reset UI language to English before each gitrepo test
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

Add new RcDropdownGroup component
  pkg/rancher-components/src/components/RcDropdown/RcDropdownGroup.test.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdownGroup.vue
  pkg/rancher-components/src/components/RcDropdown/index.ts
  pkg/rancher-components/src/index.ts
  storybook/src/stories/Components/RcDropdown.stories.ts
Due: rancher-components

Migrate login buttons to RcButton
  shell/components/auth/login/github.vue
  shell/components/auth/login/ldap.vue
  shell/components/auth/login/oauth.vue
  shell/components/auth/login/oidc.vue
  shell/components/auth/login/saml.vue
Due: shell

Align workload pagination tests with the jobs spec style
  cypress/e2e/po/components/pagination.po.ts
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/cronjobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/statefulsets.spec.ts
Due: none

Shell 3.0.13-rc.1 release
  shell/package.json
Due: shell

Refactor auth provider selection on login page
  shell/assets/translations/en-us.yaml
  shell/components/auth/login/AuthProviderLogo.vue
  shell/components/auth/login/AuthProviderOption.vue
  shell/components/auth/login/AuthProviderSelect.vue
  shell/components/auth/login/__tests__/AuthProviderSelect.test.ts
  shell/mixins/login.js
  shell/models/__tests__/management.cattle.io.authconfig.test.ts
  shell/models/management.cattle.io.authconfig.js
  shell/pages/auth/__tests__/login.test.ts
  shell/pages/auth/login.vue
  shell/utils/__tests__/auth-providers.test.ts
  shell/utils/auth-providers.ts
Due: shell

Update tests
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/tests/pages/generic/login.spec.ts
Due: none

Stabilise autoscaler + import-cluster tab tests in hosted-cluster-details
  cypress/e2e/tests/pages/manager/hosted-cluster-details.spec.ts
Due: none

Fix two attempt-1 flakes: gitrepo language reset + settings kubeconfig list race
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

Wait for namespace-filter request after clearing selection
  cypress/e2e/po/components/namespace-filter.po.ts
  cypress/e2e/tests/pages/explorer2/namespace-picker.spec.ts
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
