Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

Fixing a race condition with how we update/reset the title to "Rancher" if a page doesn't set the title.
  shell/initialize/entry-helpers.js
Due: shell

update server-url test
  cypress/e2e/blueprints/global_settings/settings-data.ts
  cypress/e2e/tests/pages/global-settings/settings-p2.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

Removing two pieces of code in app-extended because they're not needed
  shell/initialize/app-extended.js
  shell/utils/nuxt.js
Due: shell

drivers tests
  cypress/e2e/po/components/ember/ember-modal-add-edit-cluster-driver.po.ts
  cypress/e2e/po/components/ember/ember-modal-add-edit-node-driver.po.ts
  cypress/e2e/po/edit/kontainer-driver.po.ts
  cypress/e2e/po/edit/kontainerDriver.po.ts
  cypress/e2e/po/edit/node-driver.po.ts
  cypress/e2e/po/edit/nodeDriver.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/po/lists/kontainer-drivers-list.po.ts
  cypress/e2e/po/lists/kontainerdriver.po.ts
  cypress/e2e/po/lists/node-drivers-list.po.ts
  cypress/e2e/po/lists/nodedriver.po.ts
  cypress/e2e/po/pages/cluster-manager/kontainer-drivers.po.ts
  cypress/e2e/po/pages/cluster-manager/node-drivers.po.ts
  cypress/e2e/po/pages/cluster-manager/rke-drivers.po.ts
  cypress/e2e/po/prompts/ResourceSearchDialog.po.ts
  cypress/e2e/po/prompts/deactivateDriverDialog.po.ts
  cypress/e2e/po/prompts/promptRemove.po.ts
  cypress/e2e/tests/pages/explorer/resource-search.spec.ts
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
  cypress/e2e/tests/pages/manager/node-drivers.spec.ts
Due: none

Remove version number from side nav and update app bar to show it instead (#11143)
  cypress/e2e/po/components/version-number.po.ts
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/pages/generic/version.spec.ts
  shell/components/SideNav.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell

Improve keyboard mapping display (#11131)
  cypress/e2e/po/components/keyboard-mapping-indicator.po.ts
  cypress/e2e/po/pages/explorer/yaml-editor.po.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/CodeMirror.vue
  shell/components/__tests__/CodeMirror.test.ts
Due: shell

add k8sdistro to harvester cloud config path + add unit test
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

fix issue with logging output buffer yaml not loading schema in create mode + sneaky fix for ingress list view where we were missing secondary schemas + add unit tests
  shell/edit/logging-flow/index.vue
  shell/edit/logging.banzaicloud.io.output/__tests__/logging.banzaicloud.io.output.test.ts
  shell/edit/logging.banzaicloud.io.output/index.vue
  shell/list/networking.k8s.io.ingress.vue
Due: shell

remove sneaky fix
  shell/list/networking.k8s.io.ingress.vue
Due: shell

Tidy up logic
  shell/plugins/dashboard-store/mutations.js
Due: shell

add fix for missing secondary schemas in ingress list view + add e2e test
  cypress/e2e/po/pages/explorer/ingress.po.ts
  cypress/e2e/tests/pages/explorer/service-discovery/ingress.spec.ts
  shell/components/formatter/IngressTarget.vue
  shell/list/networking.k8s.io.ingress.vue
Due: shell

fix check plugins build error
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
Due: shell

fix check plugins build error
  shell/edit/logging.banzaicloud.io.output/index.vue
Due: shell

Add basic e2e test
  cypress/e2e/po/components/footer.po.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/edit/catalog.cattle.io.clusterrepo.po.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  shell/edit/catalog.cattle.io.clusterrepo.vue
Due: shell

Improve reliability of gitrepo e2e test - Improve tidy up function (delete resources created, ensure all resources deleted) - Improve navigation to lists (wait for list to show before using)
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

Include Kubewarden extension tests
  cypress/e2e/po/pages/extensions/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

Fix broken links on readme and docs homepage
  README.md
  docusaurus/docusaurus.config.js
  docusaurus/src/components/Contribute/index.js
  docusaurus/src/components/HomepageFeatures/index.js
  docusaurus/src/pages/index.js
Due: none

Fix lint
  docusaurus/src/pages/index.js
Due: none

Fix broken links on readme and docs homepage (#11161)
  README.md
  docusaurus/docusaurus.config.js
  docusaurus/src/components/Contribute/index.js
  docusaurus/src/components/HomepageFeatures/index.js
  docusaurus/src/pages/index.js
Due: none

Fix broken image in README.md
  README.md
Due: none

Fix broken image in README.md (#11162)
  README.md
Due: none

Pulling out authentication code into router navigation guards
  cypress/e2e/po/lists/management.cattle.io.user.po.ts
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
  shell/config/router/index.js
  shell/config/router/navigation-guards/attempt-first-login.js
  shell/config/router/navigation-guards/index.js
  shell/config/router/navigation-guards/load-initial-settings.js
  shell/initialize/app-extended.js
  shell/middleware/authenticated.js
  shell/utils/router.js
Due: shell

enableRowActions looking at the wrong schema (#9759)
  shell/list/management.cattle.io.feature.vue
Due: shell

Fix e2e
  cypress/e2e/tests/pages/charts/rancher-backup.spec.ts
Due: none

Fix linting
  pkg/harvester-manager/machine-config/harvester.vue
Due: harvester

update patch script to copy pkg annotations to uiplugin resource
  shell/scripts/extension/helm/charts/ui-plugin-server/templates/_helpers.tpl
  shell/scripts/extension/helm/charts/ui-plugin-server/templates/cr.yaml
  shell/scripts/extension/helm/charts/ui-plugin-server/values.yaml
  shell/scripts/extension/helm/scripts/patch
Due: shell

type fixing
  shell/list/node.vue
  shell/types/store/pagination.types.ts
Due: shell

Storybook: Fix i18n
  storybook/.storybook/main.js
  storybook/.storybook/preview.js
Due: none

Storybook: Fix i18n (#11172)
  storybook/.storybook/main.js
  storybook/.storybook/preview.js
Due: none

add indent notation to metadata field
  shell/scripts/extension/helm/charts/ui-plugin-server/templates/cr.yaml
Due: shell

fix standard loading indicator
  shell/components/SortableTable/index.vue
Due: shell

update migration script to handle .sync modifier
  shell/scripts/vue-migrate.js
Due: shell

Remove usages of findAll for types supported by server-side pagination (#10795)
  pkg/harvester-manager/machine-config/harvester.vue
  shell/assets/translations/en-us.yaml
  shell/chart/__tests__/S3.test.ts
  shell/chart/rancher-backup/index.vue
  shell/components/form/ResourceLabeledSelect.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/components/form/labeled-select-utils/labeled-select-pagination.ts
  shell/components/formatter/CloudCredPublicData.vue
  shell/components/formatter/IngressTarget.vue
  shell/components/nav/NamespaceFilter.vue
  shell/config/product/explorer.js
  shell/detail/networking.k8s.io.ingress.vue
  shell/detail/node.vue
  shell/detail/workload/index.vue
  shell/edit/catalog.cattle.io.clusterrepo.vue
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/edit/helm.cattle.io.projecthelmchart.vue
  shell/edit/networking.k8s.io.ingress/Rules.vue
  shell/edit/networking.k8s.io.ingress/index.vue
  shell/edit/networking.k8s.io.networkpolicy/index.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/S3Config.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/RegistryConfigs.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
  shell/edit/resources.cattle.io.backup.vue
  shell/edit/resources.cattle.io.restore.vue
  shell/edit/service.vue
  shell/edit/serviceaccount.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/models/cloudcredential.js
  shell/models/helm.cattle.io.projecthelmchart.js
  shell/models/networking.k8s.io.ingress.js
  shell/models/workload.js
  shell/pages/c/_cluster/manager/cloudCredential/index.vue
  shell/plugins/dashboard-store/getters.js
  shell/plugins/steve/actions.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/plugins/steve/subscribe.js
  shell/store/type-map.js
  shell/store/type-map.utils.ts
  shell/utils/formatter.js
Due: shell, harvester

- improve filtering without pagination - update allowed fields given latest backend changes - enable on by default exact filter string matches (disable for lists
  pkg/harvester-manager/machine-config/harvester.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/detail/networking.k8s.io.ingress.vue
  shell/detail/node.vue
  shell/edit/networking.k8s.io.ingress/index.vue
  shell/edit/resources.cattle.io.backup.vue
  shell/edit/resources.cattle.io.restore.vue
  shell/edit/serviceaccount.vue
  shell/list/node.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/types/store/pagination.types.ts
Due: shell, harvester

remove temp code
  shell/plugins/steve/steve-pagination-utils.ts
  shell/utils/pagination-utils.ts
Due: shell

fix linting
  shell/list/node.vue
Due: shell

Add unit tests
  shell/mixins/__tests__/brand.spec.ts
Due: shell

Fetch only specific csp adapter helm apps... instead of all helm apps - Also do in parallel with settings (though these might have already been fetched)
  shell/mixins/brand.js
Due: shell

Fix following merge
  shell/mixins/brand.js
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  harvester: any of: pkg/harvester
  rancher-components: any of: pkg/rancher-components
