Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Bump Rancher Components to 0.3.0-alpha.3
  pkg/rancher-components/package.json
Due: rancher-components

fix issue when selecting ipv6 opts before selecting k3s
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

add slack notification
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/init.sh
  cypress/jenkins/slack-notification.sh
Due: none

Ensure that npm 11.5.1 or later is installed
  .github/workflows/release-rancher-components.yml
Due: none

Bump Rancher Components to 0.3.0-alpha.4
  pkg/rancher-components/package.json
Due: rancher-components

fix issue where flannel masq input is still displayed when flannel is not in use
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

remove console log
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

Added hosted provider extension documentation
  docusaurus/docs/extensions/advanced/provisioning.md
  docusaurus/docs/extensions/api/components/hosted-provider/components.md
  docusaurus/docs/extensions/api/components/hosted-provider/localization.md
  docusaurus/docs/extensions/api/components/hosted-provider/overview.md
  docusaurus/docs/extensions/api/components/hosted-provider/structure.md
  docusaurus/docs/extensions/api/components/node-driver/cloud-credential.md
  docusaurus/docs/extensions/introduction.md
  docusaurus/docs/extensions/screenshots/cluster-provisioning-hosted.png
  docusaurus/docs/extensions/usecases/hosted-provider.md
  docusaurus/docs/internal/code-base-works/machine-drivers.md
  docusaurus/extensionSidebar.js
Due: none

fix(workload): clear nodeName when resetting node scheduling
  shell/components/form/NodeScheduling.vue
Due: shell

Fix: Resource search no longer highlights current location (#16060)
  shell/components/nav/Group.vue
  shell/components/nav/Type.vue
  shell/components/nav/__tests__/Type.test.ts
  shell/dialog/SearchDialog.vue
Due: shell

Add helper script to check if a list of dependencies is used (#16069)
  scripts/check-deps
Due: none

fix redundant fallback
  shell/directives/clean-tooltip.ts
Due: shell

refactor to rely on floating-vue's defaults rather than our own
  shell/directives/__tests__/clean-tooltip.test.ts
  shell/directives/clean-tooltip.ts
Due: shell

force refetch of worload pods everytime
  shell/detail/workload/index.vue
  shell/models/workload.js
Due: shell

replace the old class with the new one
  cypress/e2e/tests/pages/explorer2/namespace-picker.spec.ts
  shell/directives/clean-tooltip.ts
Due: shell

fix unit test
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
Due: shell

rename
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

Update Rancher Shell release to use trusted providers
  .github/workflows/release-shell-pkg.yaml
Due: none

Bump shell version to 3.0.8-rc.11
  shell/package.json
Due: shell

update e2e test
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

increase initialVisibleChartsCount
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

Update repository in package.json
  package.json
  pkg/rancher-components/README.md
  shell/package.json
Due: shell, rancher-components

Bump shell version to 3.0.8-rc.12
  shell/package.json
Due: shell

temp
  cypress/README.md
  cypress/build.sh
  cypress/globals.d.ts
  cypress/package.json
  cypress/tsconfig.json
  cypress/yarn.lock
Due: none

temp-base-config
  cypress.config.ts
  cypress/base-config.ts
  cypress/build.sh
  cypress/extend-config.ts
  cypress/package.json
  scripts/cypress.ts
Due: none

temp-cypress-bin
  .eslintignore
  cypress/bin/cypress.js
  cypress/build.sh
  cypress/extend-config.ts
  cypress/package.json
  cypress/yarn.lock
Due: none

add ext point for TABLE hooks + add ability to select col positioning when adding a new TABLE_COL via extensions
  docusaurus/docs/extensions/api/table-columns.md
  docusaurus/docs/extensions/api/table.md
  docusaurus/docs/extensions/support-matrix.md
  docusaurus/extensionSidebar.js
  shell/components/ResourceTable.vue
  shell/components/SortableTable/index.vue
  shell/core/plugin.ts
  shell/core/types.ts
Due: shell

WIP
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/actions.js
  shell/plugins/steve/revision.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

more WIP
  shell/components/nav/TopLevelMenu.helper.ts
  shell/models/namespace.js
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/revision.ts
  shell/plugins/steve/subscribe.js
  shell/plugins/subscribe-events.ts
  shell/types/store/dashboard-store.types.ts
  shell/types/store/subscribe-events.types.ts
  shell/utils/back-off.ts
  shell/utils/pagination-wrapper.ts
Due: shell

very WIP
  shell/components/nav/TopLevelMenu.helper.ts
  shell/models/namespace.js
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/actions.js
  shell/plugins/steve/revision.ts
  shell/plugins/steve/subscribe.js
  shell/types/store/dashboard-store.types.ts
  shell/utils/back-off.ts
  shell/utils/pagination-wrapper.ts
Due: shell

more WIP
  shell/list/catalog.cattle.io.clusterrepo.vue
  shell/list/projectsecret.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/actions.js
  shell/plugins/steve/revision.ts
  shell/plugins/steve/subscribe.js
  shell/types/kube/kube-api.ts
  shell/types/rancher/steve.api.ts
  shell/types/store/dashboard-store.types.ts
  shell/utils/back-off.ts
  shell/utils/inactivity.ts
  shell/utils/pagination-wrapper.ts
Due: shell

add unit tests
  shell/components/__tests__/ResourceTable.test.ts
Due: shell

fix unit tests
  shell/components/__tests__/ResourceTable.test.ts
Due: shell

fix merge conflicts
  pkg/rancher-prime/tsconfig.json
  shell/apis/impl/apis.ts
  shell/apis/index.ts
  shell/apis/intf/shell.ts
  shell/apis/shell/growl.ts
  shell/apis/shell/index.ts
  shell/apis/shell/modal.ts
  shell/apis/shell/slide-in.ts
  shell/apis/vue-shim.d.ts
  shell/composables/useExtensionManager.ts
  shell/core/extension-manager-impl.js
  shell/core/plugins.js
  shell/initialize/install-plugins.js
  shell/plugins/internal-api/index.ts
  shell/plugins/internal-api/shared/base-api.ts
  shell/plugins/internal-api/shell/shell.api.ts
  shell/types/internal-api/shell/growl.d.ts
  shell/types/internal-api/shell/slideIn.d.ts
  shell/types/rancher/index.d.ts
  shell/types/vue-shim.d.ts
Due: shell

remove auto generated sidebar content from previous docs gen
  docusaurus/docs/extensions/advanced/typedoc-sidebar.cjs
Due: none

fixing some problems with the shell apis
  shell/apis/shell/growl.ts
  shell/apis/shell/index.ts
  shell/apis/shell/modal.ts
  shell/components/ModalManager.vue
Due: shell

fix lint issues
  docusaurus/extensionSidebar.js
  shell/apis/intf/shell.ts
Due: shell

fix merge conflicts
  docusaurus/docs/extensions/shell-api.md
  docusaurus/docusaurus.config.js
  docusaurus/extensionSidebar.js
  shell/apis/intf/shell.ts
  shell/apis/shell/growl.ts
  shell/apis/shell/modal.ts
  shell/apis/shell/slide-in.ts
  shell/components/SlideInPanelManager.vue
  shell/pages/c/_cluster/fleet/index.vue
  shell/store/slideInPanel.ts
Due: shell

working on integrating notification center with shell API
  shell/apis/intf/shell.ts
  shell/apis/shell/index.ts
  shell/apis/shell/notifications.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
