Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

[release-2.8] fix wf catalog build on creators + creators version bump (#13004)
  creators/extension/app/app.package.json
  creators/extension/app/files/.github/workflows/build-extension-catalog.yml
  creators/extension/package.json
Due: none

add script to do content match of creators workflows files
  .github/workflows/scripts/check-creators-workflows-code.sh
Due: none

fix keyboard nav for home page (#12966)
  pkg/rancher-components/src/components/Banner/Banner.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/styles/global/_button.scss
  shell/assets/translations/en-us.yaml
  shell/components/ActionMenu.vue
  shell/components/BannerGraphic.vue
  shell/components/ButtonMultiAction.vue
  shell/components/CommunityLinks.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/selection.js
  shell/pages/home.vue
Due: shell, rancher-components

Revert "Temporarily stop failing settings-p2 system registry setting e2e test"
  cypress/e2e/tests/pages/global-settings/settings-p2.spec.ts
Due: none

Fix failing e2e tests - fix cluster dashboard events test - fix and greatly improve flaky events test - fix hpa test - functional fixes - fix sorting/filtering events by object type - fix hpa columns
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer/dashboard/events.spec.ts
  cypress/e2e/tests/pages/explorer/service-discovery/horizontal-pod-autoscalers.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  shell/config/pagination-table-headers.js
  shell/config/product/explorer.js
Due: shell

[2.10] Fixed not being able to update node taints
  shell/components/form/Taints.vue
Due: shell

fixing spaces issue for tags
  cypress/e2e/tests/pages/generic/login.spec.ts
Due: none

[2.10] Fixed not being able to update node taints (#13014)
  shell/components/form/Taints.vue
Due: shell

Made the projects/namespaces list page paginated
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/PaginatedResourceTable.vue
  shell/components/ResourceTable.vue
  shell/config/settings.ts
  shell/mixins/resource-fetch.js
  shell/utils/settings.ts
Due: shell

Fixing an issue with SSP list pages with missing new resources
  shell/mixins/resource-fetch.js
Due: shell

Use a nicer way for defining a brand in an extension
  shell/core/plugin-brand.ts
  shell/core/plugin.ts
  shell/core/plugins.js
  shell/core/types.ts
  shell/mixins/brand.js
Due: shell

wip
  shell/components/Questions/Reference.vue
  shell/components/form/ResourceLabeledSelect.vue
Due: shell

Finish off questions/reference
  shell/components/Questions/Reference.vue
  shell/components/form/LabeledSelect.vue
  shell/components/form/ResourceLabeledSelect.vue
  shell/components/form/SecretSelector.vue
Due: shell

Namespace detail - workloads list
  shell/detail/catalog.cattle.io.app.vue
  shell/detail/namespace.vue
Due: shell

Fix lint issues
  shell/core/plugin-brand.ts
  shell/core/plugins.js
  shell/core/types.ts
  shell/pages/c/_cluster/settings/brand.vue
  shell/utils/settings.ts
Due: shell

Update ingress detail and edit pages - use common helper - both require services and secrets (of type cert) in a specific namespace - for ease, just use the existing mechanism
  shell/detail/networking.k8s.io.ingress.vue
  shell/edit/networking.k8s.io.ingress/index.vue
  shell/utils/ingress.ts
Due: shell

add codemirror error reporting
  pkg/eks/components/CruEKS.vue
  shell/components/CodeMirror.vue
  shell/components/YamlEditor.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/AddOnConfig.vue
Due: shell

added e2e test for addon config validation;
  cypress/e2e/po/components/addon-config.po.ts
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke2-custom.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/eks/components/CruEKS.vue
  shell/components/CodeMirror.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/AddOnConfig.vue
Due: shell

automation: fleet dashboard tests
  cypress/e2e/po/components/header.po.ts
  cypress/e2e/po/edit/fleet/gitrepo-edit.po.ts
  cypress/e2e/po/pages/fleet/fleet-dashboard.po.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
  cypress/support/types/menu-actions.ts
Due: none

Fix import
  shell/utils/settings.ts
Due: shell

Resolving some issues around rendering pagination loading on resource list pages
  shell/components/PaginatedResourceTable.vue
  shell/components/ResourceList/index.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/mixins/resource-fetch.js
Due: shell

Revert "[2.10] Disable vai tests given backend failures"
  .github/workflows/test.yaml
Due: none

tidying up ready for review
  shell/components/form/ResourceLabeledSelect.vue
  shell/components/form/ResourceSelector.vue
  shell/components/form/ResourceTabs/index.vue
  shell/detail/workload/index.vue
  shell/edit/logging-flow/index.vue
  shell/edit/networking.k8s.io.ingress/Rules.vue
  shell/edit/networking.k8s.io.networkpolicy/index.vue
  shell/edit/service.vue
  shell/list/node.vue
  shell/models/cluster/node.js
  shell/models/service.js
  shell/models/workload.js
  shell/plugins/steve/mutations.js
Due: shell

Tidying up ready to review
  shell/components/Questions/Reference.vue
  shell/detail/catalog.cattle.io.app.vue
  shell/detail/networking.k8s.io.ingress.vue
  shell/dialog/RollbackWorkloadDialog.vue
  shell/edit/autoscaling.horizontalpodautoscaler/index.vue
  shell/edit/networking.k8s.io.ingress/index.vue
  shell/edit/resources.cattle.io.backup.vue
  shell/edit/ui.cattle.io.navlink.vue
  shell/utils/ingress.ts
Due: shell

finish off functional stuff
  shell/components/PaginatedResourceTable.vue
  shell/detail/workload/index.vue
  shell/edit/logging-flow/index.vue
  shell/edit/networking.k8s.io.networkpolicy/index.vue
  shell/edit/service.vue
  shell/list/node.vue
  shell/list/persistentvolume.vue
  shell/list/service.vue
  shell/models/workload.js
  shell/pages/home.vue
  shell/plugins/steve/mutations.js
Due: shell

update gke networking to select the default network by default
  pkg/gke/components/Networking.vue
  pkg/gke/components/__tests__/Networking.test.ts
  pkg/gke/util/__mocks__/gcp.ts
Due: none

Align gitlab reusable workflow with release-2.9
  creators/extension/app/files/.gitlab-ci.yml
  creators/extension/package.json
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Due: shell

Update node and yq versions for extension gitlab workflow
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Due: shell

Align gitlab reusable workflow with release-2.8
  creators/extension/app/files/.gitlab-ci.yml
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Due: shell

Add warning for gitlab workflow target branch
  docusaurus/docs/extensions/publishing.md
  docusaurus/extensions_versioned_docs/version-v2/publishing.md
Due: none

Bump extension creator 1.0.9
  creators/extension/package.json
Due: none

account for codemirror being used with no options
  shell/components/CodeMirror.vue
Due: shell

update gke networking to select the default network by default (#13030)
  pkg/gke/components/Networking.vue
  pkg/gke/components/__tests__/Networking.test.ts
  pkg/gke/util/__mocks__/gcp.ts
Due: none

update gke networking to select the default network by default (#13031)
  pkg/gke/components/Networking.vue
  pkg/gke/components/__tests__/Networking.test.ts
  pkg/gke/util/__mocks__/gcp.ts
Due: none
