Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

Improve display and animation of close
  shell/components/CodeMirror.vue
Due: shell

Fix lint issues
  cypress/e2e/po/components/keyboard-mapping-indicator.po.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
  shell/components/CodeMirror.vue
Due: shell

Updates following review
  pkg/harvester-manager/machine-config/harvester.vue
  shell/components/form/ResourceLabeledSelect.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/components/form/labeled-select-utils/labeled-select-pagination.ts
  shell/components/formatter/IngressTarget.vue
  shell/components/nav/NamespaceFilter.vue
  shell/detail/networking.k8s.io.ingress.vue
  shell/detail/node.vue
  shell/edit/networking.k8s.io.ingress/Rules.vue
  shell/edit/networking.k8s.io.ingress/index.vue
  shell/edit/resources.cattle.io.backup.vue
  shell/edit/resources.cattle.io.restore.vue
  shell/edit/serviceaccount.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/pages/c/_cluster/manager/cloudCredential/index.vue
  shell/plugins/dashboard-store/getters.js
Due: shell, harvester

Support built-in plugin operator with feature flag
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/uiplugins/RemoveUIPlugins.vue
  shell/pages/c/_cluster/uiplugins/SetupUIPlugins.vue
  shell/pages/c/_cluster/uiplugins/__tests__/SetupUIPlugins.test.ts
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

adjust before and beforeEach hooks in kubewarden spec
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

remove waitForPage from addExtensionsRepository
  cypress/e2e/po/pages/extensions.po.ts
Due: none

adjust beforeEach hook on KW spec so that it matches what is on the extension spec, which is working as expected
  cypress/e2e/po/pages/extensions/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/uiplugins/SetupUIPlugins.vue
  shell/pages/c/_cluster/uiplugins/index.vue
  shell/store/features.js
Due: shell

Tweaks
  shell/components/SideNav.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell

Add automated tests
  cypress/e2e/po/components/version-number.po.ts
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/pages/generic/version.spec.ts
Due: none

fix(registries): always show advanced section
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
Due: shell

Clean up entry logic for vue.config (#11048)
  shell/components/__tests__/TabTitle.test.ts
  shell/config/router/index.js
  shell/config/store.js
  shell/core/plugins.js
  shell/directives/index.js
  shell/initialize/app-extended.js
  shell/initialize/entry-helpers.js
  shell/initialize/entry.js
  shell/initialize/install-components.js
  shell/initialize/install-directives.js
  shell/initialize/install-plugins.js
  shell/utils/config.js
  shell/vue.config.js
Due: shell

Update unit tests
  shell/components/__tests__/CodeMirror.test.ts
Due: shell

Fix unit test and reduce animation time
  shell/components/CodeMirror.vue
  shell/components/__tests__/CodeMirror.test.ts
Due: shell

Remove workload health until #10417 is resolved
  shell/list/workload.vue
  shell/mixins/resource-fetch-api-pagination.js
Due: shell

Updates following review
  pkg/harvester-manager/machine-config/harvester.vue
  shell/chart/__tests__/S3.test.ts
  shell/components/form/ResourceLabeledSelect.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/components/form/labeled-select-utils/labeled-select-pagination.ts
  shell/components/formatter/IngressTarget.vue
  shell/components/nav/NamespaceFilter.vue
  shell/config/product/explorer.js
  shell/detail/networking.k8s.io.ingress.vue
  shell/detail/node.vue
  shell/edit/networking.k8s.io.ingress/Rules.vue
  shell/edit/networking.k8s.io.ingress/index.vue
  shell/edit/resources.cattle.io.backup.vue
  shell/edit/resources.cattle.io.restore.vue
  shell/edit/serviceaccount.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/pages/c/_cluster/manager/cloudCredential/index.vue
  shell/plugins/dashboard-store/getters.js
  shell/plugins/steve/subscribe.js
Due: shell, harvester

Disable TS issues during migration
  .eslintrc.js
  pkg/aks/components/AksNodePool.vue
  pkg/aks/components/CruAks.vue
  pkg/aks/components/Taint.vue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
  pkg/rancher-components/src/components/StringList/StringList.vue
  shell/components/form/GitPicker.vue
  shell/mixins/compact-input.ts
  shell/mixins/labeled-form-element.ts
  shell/tsconfig.json
  tsconfig.json
Due: shell, rancher-components

Disable Vue2 based modal import and breaking plugin mock for Jest setup
  jest.setup.js
Due: none

Update Vue3 config to Webpack5 new syntax
  shell/vue.config.js
Due: shell

Migrate Vue.extend
  shell/mixins/compact-input.ts
  shell/mixins/labeled-form-element.ts
Due: shell

Migrate createLocalVue() for unit tests
  shell/chart/__tests__/S3.test.ts
  shell/components/__tests__/GrowlManager.test.ts
  shell/components/__tests__/PromptRestore.test.ts
  shell/config/__test__/home-links.test.ts
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/index.test.ts
  shell/edit/workload/__tests__/index.test.ts
  shell/edit/workload/storage/persistentVolumeClaim/__tests__/persistentvolumeclaim.test.ts
  shell/mixins/__tests__/chart.test.ts
Due: shell

Add catchTargetPageException
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

Update router imports, types and creation
  pkg/harvester-manager/routing/routing.ts
  shell/config/router/index.js
  shell/core/plugin-routes.ts
  shell/core/plugin.ts
  shell/core/types.ts
  shell/edit/management.cattle.io.podsecurityadmissionconfigurationtemplate.vue
  shell/initialize/app-extended.js
  shell/initialize/entry.js
  shell/vue.config.js
Due: shell, harvester

Rename Vue reserved name functions
  shell/initialize/entry-helpers.js
Due: shell

Fix manual exceptional case of Vue.set in an uncommon way
  shell/edit/provisioning.cattle.io.cluster/tabs/Advanced.vue
Due: shell

Fix slot leftover
  shell/components/StatusTable.vue
Due: shell

Add migration script with TODO actions
  .gitignore
  scripts/vue-migrate.js
Due: none

Update Vue config error handler with new syntax
  shell/utils/nuxt.js
Due: shell

Update migration script for router cases
  pkg/kubectl-explain/slide-in.js
  scripts/vue-migrate.js
Due: none

Add core-js version to align in every package manager
  scripts/vue-migrate.js
Due: none

Remove rectivity reassignments of Vue components
  shell/utils/nuxt.js
Due: shell

Remove window.Vue assignment
  shell/core/plugins-loader.js
Due: shell

Avoid Vue reserved words for Vuex cases
  shell/config/store.js
  shell/initialize/app-extended.js
Due: shell

Remove LocalVue cases for tests
  shell/components/__tests__/TabTitle.test.ts
  shell/pages/c/_cluster/uiplugins/__tests__/SetupUIPlugins.test.ts
Due: shell

Update vue-virtual-scroll-list through migration script
  scripts/vue-migrate.js
Due: none

Manually correcting test for element creation
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.test.ts
Due: rancher-components

Replace custom store i18n case in code over global variable function
  shell/components/form/MatchExpressions.vue
Due: shell

Script: Parse reassigned content; Correct library removal logic; set and slot fixes
  scripts/vue-migrate.js
Due: none

Add one component linting rule
  .eslintrc.js
Due: none

Remove unnecessary logic from i18n plugin
  shell/plugins/i18n.js
Due: shell

Script: Allow to remove values for regex cases
  scripts/vue-migrate.js
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  harvester: any of: pkg/harvester
  rancher-components: any of: pkg/rancher-components
