Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

update monitoring/istio tests
  cypress/e2e/blueprints/charts/prometheus-chart.ts
  cypress/e2e/po/components/radio-group-input.po.ts
  cypress/e2e/po/components/rc-item-card.po.ts
  cypress/e2e/po/other-products/logging/logging-clusterflow.po.ts
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/po/pages/explorer/charts/tabs/alerting-tab.po.ts
  cypress/e2e/po/pages/explorer/charts/tabs/grafana-tab.po.ts
  cypress/e2e/po/pages/explorer/charts/tabs/istio-tab.po.ts
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  shell/chart/monitoring/grafana/index.vue
Due: shell

add isFilterUpdating status for syncing the render + styling the sort dropdown
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

fix e2e test
  cypress/e2e/po/components/rc-item-card.po.ts
Due: none

Fleet fix missing pagination in Resources table
  shell/components/fleet/FleetResources.vue
Due: shell

Reverting the selectors on the list pages
  cypress/e2e/po/pages/explorer/config-map.po.ts
  cypress/e2e/po/pages/explorer/secrets.po.ts
Due: none

styling
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

add e2e tests
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

set cypress default viewport resolution
  cypress.config.ts
  cypress/e2e/tests/components/yaml-editor.spec.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
  cypress/jenkins/cypress.config.jenkins.ts
Due: none

lint
  cypress.config.ts
  cypress/jenkins/cypress.config.jenkins.ts
Due: none

try head again following overnight fixes
  scripts/e2e-docker-start
Due: none

removed 1.30 support for 2.12
  pkg/eks/assets/data/eks-versions.js
Due: none

Address more PR feedback - simplify close on action
  docs/developer/notification-center.md
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/nav/NotificationCenter/Notification.vue
  shell/components/nav/NotificationCenter/index.vue
Due: shell, rancher-components

Fix lint
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/nav/NotificationCenter/Notification.vue
Due: shell, rancher-components

Add support for vue route and extension init
  docs/developer/notification-center.md
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/nav/NotificationCenter/Notification.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/core/plugin.ts
  shell/core/types.ts
  shell/types/notifications/index.ts
Due: shell, rancher-components

Ensure onReady is only called once
  shell/components/nav/NotificationCenter/index.vue
  shell/store/auth.js
  shell/store/uiplugins.ts
  shell/utils/uiplugins.ts
Due: shell

Minor doc fix, fix issue with buttons when scrolled
  docs/developer/notification-center.md
  shell/components/nav/NotificationCenter/Notification.vue
Due: shell

Address PD feedback
  docs/developer/notification-center.md
  shell/components/nav/NotificationCenter/Notification.vue
  shell/core/plugin.ts
  shell/core/types.ts
  shell/utils/uiplugins.ts
Due: shell

Add support for vue route and extension init
  docs/developer/notification-center.md
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/nav/NotificationCenter/Notification.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/core/plugin.ts
  shell/core/types.ts
Due: shell, rancher-components

Fix lint
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
Due: rancher-components

Ensure onReady is only called once
  shell/components/nav/NotificationCenter/index.vue
Due: shell

Address PD feedback
  docs/developer/notification-center.md
  shell/core/plugin.ts
  shell/core/types.ts
Due: shell

Rancher as an OIDC provider (#14475)
  cypress/e2e/po/components/array-list.po.ts
  cypress/e2e/po/components/copy-to-clipboard-text.po.ts
  cypress/e2e/po/components/unit-input.po.ts
  cypress/e2e/po/detail/management.cattle.io.oidcclient.po.ts
  cypress/e2e/po/edit/management.cattle.io.oidcclient.po.ts
  cypress/e2e/po/lists/management.cattle.io.oidcclient-list.po.ts
  cypress/e2e/po/pages/users-and-auth/oidc-client.po.ts
  cypress/e2e/tests/pages/users-and-auth/oidcProvider.spec.ts
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
  scripts/e2e-docker-start
  shell/assets/images/key.svg
  shell/assets/styles/global/_labeled-input.scss
  shell/assets/translations/en-us.yaml
  shell/components/CruResource.vue
  shell/components/ResourceList/Masthead.vue
  shell/components/form/ArrayList.vue
  shell/components/form/NameNsDescription.vue
  shell/components/form/UnitInput.vue
  shell/config/labels-annotations.js
  shell/config/product/auth.js
  shell/config/query-params.js
  shell/config/router/navigation-guards/authentication.js
  shell/config/types.js
  shell/core/types.ts
  shell/detail/management.cattle.io.oidcclient.vue
  shell/dialog/OidcClientSecretDialog.vue
  shell/edit/management.cattle.io.oidcclient.vue
  shell/list/management.cattle.io.oidcclient.vue
  shell/models/management.cattle.io.oidcclient.js
  shell/store/type-map.js
  shell/utils/validators/formRules/index.ts
Due: shell, rancher-components

Tidy ups
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/nav/NotificationCenter/index.vue
Due: shell, rancher-components

Add one missing tidy up
  shell/components/nav/NotificationCenter/Notification.vue
Due: shell

ConfigMapSettings add clickable group title and adjust focus
  shell/components/ConfigMapSettings/Settings.vue
Due: shell

Fleet stick cancel button at the bottom in App Bundles create page
  shell/pages/c/_cluster/fleet/application/create.vue
Due: shell

Fleet fix git icons
  shell/components/fleet/FleetRepos.vue
  shell/models/fleet.cattle.io.gitrepo.js
Due: shell

Fleet fix dashboard Pie Charts dimensions
  shell/components/fleet/dashboard/ResourcePanel.vue
Due: shell

Fleet fix subtypes alignment in create App bundles page
  shell/pages/c/_cluster/fleet/application/create.vue
Due: shell

Fleet dashboard invert ViewMode button and CollapseAll
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Fleet fix collpase button layout and aria attributes
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

SlideInManager, close panel on unmount component
  shell/components/SlideInPanelManager.vue
Due: shell

ConfigMapSettings fix descriptions style
  shell/components/ConfigMapSettings/Settings.vue
Due: shell

Technical interview updated for latest codebase
  pkg/technical-interview/babel.config.js
  pkg/technical-interview/config/tech-interview.ts
  pkg/technical-interview/index.ts
  pkg/technical-interview/l10n/en-us.yaml
  pkg/technical-interview/package.json
  pkg/technical-interview/pages/tab-page.vue
  pkg/technical-interview/routing/interview-routing.ts
  pkg/technical-interview/tsconfig.json
  pkg/technical-interview/vue.config.js
Due: none

Wire in VAI_ENABLED env var (to avoid), fixed isVaiCacheEnabled (no value, use default)
  .github/workflows/test.yaml
  cypress.config.ts
  cypress/e2e/blueprints/blueprint.utils.ts
  cypress/support/commands/rancher-api-commands.ts
  package.json
Due: none

Quick fixes to resolve issues in the ConfigDrawer when rendering fleet resources
  shell/components/Drawer/ResourceDetailDrawer/ConfigTab.vue
Due: shell

test commit
  scripts/e2e-docker-start
Due: none

rename
  shell/config/types.js
  shell/pages/c/_cluster/apps/charts/index.vue
  shell/store/catalog.js
Due: shell

Add support for vue route and extension init (#14590)d
  docs/developer/notification-center.md
  shell/components/nav/NotificationCenter/Notification.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/core/plugin.ts
  shell/core/types.ts
  shell/store/auth.js
  shell/store/uiplugins.ts
  shell/types/notifications/index.ts
  shell/utils/uiplugins.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
