Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

rancher/cypress fix README
  cypress/README.md
Due: none

rancher/cypress fix template files to ready-to-use example
  cypress/README.md
  cypress/package.json
  cypress/template/cypress.config.ts
  cypress/template/e2e/example.spec.ts
  cypress/template/e2e/tests/features/example.spec.ts
  cypress/template/globals.d.ts
  cypress/template/support/commands.ts
  cypress/yarn.lock
Due: none

fix unit tests again
  shell/components/__tests__/ResourceTable.test.ts
Due: shell

[12961] Added the AuditPolicy CRUD | Added a growl for the steve-class when the name is autogenerated.
  shell/assets/translations/en-us.yaml
  shell/config/product/explorer.js
  shell/config/types.js
  shell/edit/auditlog.cattle.io.auditpolicy/AdditionalRedactions.vue
  shell/edit/auditlog.cattle.io.auditpolicy/Filters.vue
  shell/edit/auditlog.cattle.io.auditpolicy/General.vue
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/AdditionalRedactions.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/Filters.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/General.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/AdditionalRedactions.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/Filters.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/General.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/index.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/index.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/index.vue
  shell/edit/auditlog.cattle.io.auditpolicy/types.ts
  shell/list/auditlog.cattle.io.auditpolicy.vue
  shell/models/auditlog.cattle.io.auditpolicy.js
  shell/plugins/steve/__tests__/steve-class.test.ts
  shell/plugins/steve/steve-class.js
Due: shell

Bump @rancher/cypress to v1.0.1
  cypress/package.json
  cypress/yarn.lock
Due: none

[12961] Changed to Audit Log from Audit Logs
  shell/assets/translations/en-us.yaml
Due: shell

[12961] Added better message for the growl error for auditPolicy enable/disable
  shell/assets/translations/en-us.yaml
  shell/models/auditlog.cattle.io.auditpolicy.js
Due: shell

feat: add ifNotHaveType option to hide products when a type exists (#16072)
  shell/core/types.ts
  shell/store/__tests__/type-map.test.ts
  shell/store/type-map.js
Due: shell

rancher/cypress add bin
  .eslintignore
  cypress/bin/cypress.js
  cypress/build.sh
  cypress/extend-config.ts
  cypress/package.json
  cypress/yarn.lock
Due: none

rancher/cypress create base-config
  cypress.config.ts
  cypress/base-config.ts
  cypress/build.sh
  cypress/extend-config.ts
  cypress/package.json
  scripts/cypress.ts
Due: none

rancher/cypress - init package
  cypress/README.md
  cypress/build.sh
  cypress/globals.d.ts
  cypress/package.json
  cypress/tsconfig.json
  cypress/yarn.lock
Due: none

rancher/cypress add CLI, init command, fix README and code documentation
  .eslintignore
  .gitignore
  cypress.config.ts
  cypress/README.md
  cypress/bin/cli.js
  cypress/bin/init.js
  cypress/build.sh
  cypress/package.json
  cypress/template/README.md
  cypress/template/blueprints/example.json
  cypress/template/cypress.config.ts
  cypress/template/e2e/example.spec.ts
  cypress/template/globals.d.ts
  cypress/template/po/header.po.ts
  cypress/template/support/commands.ts
  cypress/template/support/e2e.ts
Due: none

rancher/cypress build ts
  cypress/.npmignore
  cypress/base-config.ts
  cypress/bin/cypress.js
  cypress/build.sh
  cypress/package.json
  cypress/tsconfig.build.json
  cypress/tsconfig.json
  cypress/yarn.lock
Due: none

rancher/cypress fix typescript errors which block tsc build
  cypress/base-config.ts
  cypress/e2e/blueprints/nav/fake-cluster.ts
  cypress/e2e/po/components/ember/ember-form-pod-security-template.po.ts
  cypress/e2e/po/edit/kontainer-driver.po.ts
  cypress/e2e/po/edit/node-driver.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/edit/cluster-edit-generic.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/edit/cluster-edit-rke2-custom.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/pages/chart-installed-apps.po.ts
  cypress/e2e/po/pages/chart-repositories.po.ts
  cypress/e2e/po/pages/explorer/workloads-pods.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads-deployments.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.application.po.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/chainable.ts
  cypress/support/commands/commands.ts
  cypress/support/commands/rancher-api-commands.ts
  cypress/support/e2e.ts
Due: none

rancher/cypress fix peerDependencies
  cypress/package.json
Due: none

rancher/cypress add release workflow; add publish and move build script
  .github/workflows/release-cypress-pkg.yaml
  cypress/README.md
  cypress/package.json
  cypress/scripts/build.sh
  cypress/scripts/publish.sh
Due: none

rancher/cypress nit
  cypress/scripts/build.sh
Due: none

rancher/cypress Bump sha.js; bump @cypress/rancher to v1.0.2
  cypress/package.json
  cypress/yarn.lock
Due: none

[12961] Removed error list logic | Removed ._error from models | added unit test for models
  shell/list/auditlog.cattle.io.auditpolicy.vue
  shell/models/__tests__/auditlog.cattle.io.auditpolicy.test.ts
  shell/models/auditlog.cattle.io.auditpolicy.js
Due: shell

fix availability version
  docusaurus/docs/extensions/shell-api.md
Due: none

rancher/cypress add new templates; bump v1.0.3
  cypress/README.md
  cypress/package.json
  cypress/template/e2e/tests/setup/rancher-setup.spec.ts
Due: none

vnode wip
  pkg/imported/components/CruImported.vue
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/CruResource.vue
  shell/components/TableOfContents/index.vue
Due: shell, rancher-components

WIP: New API for products
  shell/components/EmptyProductPage.vue
  shell/components/nav/Group.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/core/extension-manager-impl.js
  shell/core/plugin-products.ts
  shell/core/plugin-resource-type.ts
  shell/core/plugin.ts
  shell/core/types.ts
  shell/pages/c/_cluster/_product/index.vue
  shell/plugins/plugin.js
  shell/store/type-map.js
  shell/types/rancher/index.d.ts
  shell/utils/dynamic-importer.js
  shell/utils/router.js
Due: shell

fix availability version (#16190)
  docusaurus/docs/extensions/shell-api.md
Due: none

Disable failing test
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

fix nightly run extension tests (#16183)
  shell/scripts/publish-shell.sh
Due: shell

Fix update-count warning
  shell/components/form/ResourceTabs/composable.ts
Due: shell

wgtsfsfsdfsfsdfggfgdfgdfg
  shell/plugins/steve/subscribe.js
  shell/types/rancher/steve.api.ts
  shell/utils/back-off.ts
  shell/utils/pagination-wrapper.ts
Due: shell

Fix update-count warning (#16198)
  shell/components/form/ResourceTabs/composable.ts
Due: shell

rancher/cypress check cypress build errors
  .github/workflows/test.yaml
  cypress/scripts/build.sh
  cypress/tsconfig.build.json
Due: none

Added hosted provider extension documentation
  docusaurus/docs/extensions/advanced/provisioning.md
  docusaurus/docs/extensions/api/components/hosted-provider/components.md
  docusaurus/docs/extensions/api/components/hosted-provider/localization.md
  docusaurus/docs/extensions/api/components/hosted-provider/overview.md
  docusaurus/docs/extensions/api/components/hosted-provider/structure.md
  docusaurus/docs/extensions/api/components/node-driver/cloud-credential.md
  docusaurus/docs/extensions/introduction.md
  docusaurus/docs/extensions/screenshots/cluster-provisioning-hosted.png
  docusaurus/docs/extensions/usecases/hosted-provider.md
  docusaurus/docs/internal/code-base-works/machine-drivers.md
  docusaurus/extensionSidebar.js
Due: none

some typos
  docusaurus/docs/extensions/provisioning/hosted-provider/overview.md
  docusaurus/docs/extensions/provisioning/localization.md
  docusaurus/docs/extensions/provisioning/overview.md
  docusaurus/docs/extensions/usecases/hosted-provider.md
Due: none
