Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Reviewing, now on 24
  shell/components/fleet/AppCoPageHeader.vue
  shell/components/fleet/FleetClusterTargets/TargetsList.vue
  shell/components/fleet/HelmOpAppCoConfigTab.vue
  shell/components/fleet/HelmOpAppCoResourcesSection.vue
  shell/components/fleet/HelmOpTargetOptionsSection.vue
  shell/components/fleet/HelmOpTargetTab.vue
  shell/components/fleet/HelmOpValuesTab.vue
  shell/components/form/LabeledSelect.vue
  shell/components/form/Labels.vue
  shell/edit/fleet.cattle.io.helmop.vue
  shell/edit/provisioning.cattle.io.cluster/Labels.vue
  shell/types/components/buttonGroup.ts
Due: shell

Reviweing files, 32 files now
  shell/composables/useChart.ts
  shell/pages/c/_cluster/fleet/application/suse-app-collection/ChartDetailBody.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/ChartDetailHeader.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/chart.vue
Due: shell

Keep OIDC accessMode default as unrestricted during enable
  shell/mixins/__tests__/auth-config.test.ts
  shell/mixins/auth-config.js
Due: shell

Combine OIDC accessMode comment into single line
  shell/mixins/auth-config.js
Due: shell

Include original warning in OIDC accessMode comment
  shell/mixins/auth-config.js
Due: shell

Reviewed all files
  shell/assets/translations/en-us.yaml
  shell/edit/fleet.cattle.io.helmop.vue
  shell/models/fleet.cattle.io.helmop.js
  shell/pages/c/_cluster/apps/charts/AppChartCardSubHeader.vue
  shell/pages/c/_cluster/fleet/application/create.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/ChartDetailBody.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/ChartDetailHeader.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/chart.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/charts.vue
  shell/pages/c/_cluster/fleet/application/suse-app-collection/credentials.vue
  shell/utils/fleet-appco.ts
Due: shell

Fixed gap
  shell/components/fleet/HelmOpTargetOptionsSection.vue
Due: shell

Fixed the gap
  shell/components/fleet/HelmOpAppCoResourcesSection.vue
Due: shell

[16870] Added e2e and unit tests
  cypress/e2e/tests/pages/fleet/fleet-cluster-target-display-name.spec.ts
  shell/components/fleet/__tests__/FleetClusterTargets.test.ts
  shell/models/__tests__/fleet-application.test.ts
  shell/models/__tests__/fleet.cattle.io.bundle.test.ts
Due: shell

[16870] Fix the lint and unit tests after the master rebase
  shell/components/fleet/__tests__/FleetClusterTargets.test.ts
  shell/models/__tests__/fleet-application.test.ts
  shell/models/__tests__/fleet.cattle.io.bundle.test.ts
Due: shell

[16870] Fix e2e-test to add a custom target on the gitRepo creation
  cypress/e2e/blueprints/fleet/gitrepos.ts
  cypress/e2e/tests/pages/fleet/fleet-cluster-target-display-name.spec.ts
Due: none

Fixed e2e test
  cypress/e2e/tests/pages/fleet/fleet-cluster-target-display-name.spec.ts
Due: none

Fixed e2e test based on wrong test
  cypress/e2e/tests/pages/fleet/fleet-cluster-target-display-name.spec.ts
Due: none

Added unit tests
  shell/components/fleet/__tests__/AppCoEmptyState.test.ts
  shell/components/fleet/__tests__/AppCoVersionSelect.test.ts
  shell/components/fleet/__tests__/ClusterSelectionFields.test.ts
  shell/components/fleet/__tests__/FleetSecretSelector.test.ts
  shell/components/fleet/__tests__/FleetValuesFrom.test.ts
  shell/components/fleet/__tests__/HelmOpAppCoResourcesSection.test.ts
  shell/components/fleet/__tests__/HelmOpResourcesSection.test.ts
  shell/components/fleet/__tests__/HelmOpTargetOptionsSection.test.ts
  shell/components/fleet/__tests__/__snapshots__/AppCoEmptyState.test.ts.snap
  shell/components/fleet/__tests__/__snapshots__/AppCoVersionSelect.test.ts.snap
  shell/components/fleet/__tests__/__snapshots__/ClusterSelectionFields.test.ts.snap
  shell/components/fleet/__tests__/__snapshots__/HelmOpTargetOptionsSection.test.ts.snap
  shell/composables/useHelmOpResources.test.ts
  shell/models/__tests__/fleet-application.test.ts
  shell/models/__tests__/fleet.cattle.io.helmop.test.ts
  shell/utils/__tests__/fleet-appco.test.ts
Due: shell

Fixed unit tests and lint
  shell/assets/translations/en-us.yaml
  shell/components/fleet/AppCoChartGrid.vue
  shell/components/fleet/AppCoEmptyState.vue
  shell/components/fleet/AppCoPageHeader.vue
  shell/components/fleet/FleetClusterTargets/ClusterSelectionFields.vue
  shell/components/fleet/FleetClusterTargets/TargetsList.vue
  shell/components/fleet/HelmOpAppCoResourcesSection.vue
  shell/components/fleet/HelmOpTargetOptionsSection.vue
  shell/components/fleet/__tests__/AppCoEmptyState.test.ts
  shell/components/fleet/__tests__/AppCoVersionSelect.test.ts
  shell/components/fleet/__tests__/ClusterSelectionFields.test.ts
  shell/components/fleet/__tests__/HelmOpAppCoResourcesSection.test.ts
  shell/components/fleet/__tests__/HelmOpResourcesSection.test.ts
  shell/components/fleet/__tests__/__snapshots__/AppCoEmptyState.test.ts.snap
Due: shell

Fix unit test and lint error
  shell/components/fleet/AppCoChartGrid.vue
Due: shell

Updated snapshot and fixed router check test
  shell/edit/__tests__/fleet.cattle.io.helmop.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/General.test.ts.snap
Due: shell

Remove support for K8s 1.33 for rancher 2.15.0 (#17856)
  pkg/eks/assets/data/eks-versions.js
Due: none

fix lint error
  pkg/capa/utils.ts
Due: none

fi xlint warnings
  pkg/capa/components/Networking.vue
  pkg/capa/machine-config/capa.vue
  pkg/capa/machine-config/utils.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Update Kubewarden extension name
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

Restrict cluster switch shortcut to Cluster Explorer only (#17855)
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

Disable workspaceSwitcher on appCo pages
  shell/components/nav/Header.vue
  shell/components/nav/__tests__/Header.test.ts
  shell/config/router/routes.js
Due: shell

Added the white background on chart page
  shell/pages/c/_cluster/fleet/application/suse-app-collection/ChartDetailHeader.vue
Due: shell

Skip setting nested null values when parent path is already a primitive
  shell/utils/__tests__/object.test.ts
  shell/utils/object.js
Due: shell

Fixed the backbutton on the createflow, and add less conidtions for Rancher prime
  shell/edit/__tests__/fleet.cattle.io.helmop.test.ts
  shell/edit/fleet.cattle.io.helmop.vue
  shell/models/__tests__/fleet.cattle.io.helmop.test.ts
  shell/models/fleet.cattle.io.helmop.js
Due: shell

Fix lint
  shell/edit/__tests__/fleet.cattle.io.helmop.test.ts
Due: shell

fix readme section pushing versions section out of view
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

enable test isolation for limited permission and fleet agent tests
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
Due: none

fix overlapping in lower resolutions
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

Fix readme section pushing versions section out of view (#17949)
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

Rename Azure AD references to Entra ID
  shell/assets/translations/en-us.yaml
  shell/edit/auth/azuread.vue
Due: shell

Change unrestricted access banner from error to warning
  shell/components/auth/AllowedPrincipals.vue
  shell/components/auth/__tests__/AllowedPrincipals.test.ts
Due: shell

Fix RcTag sizing and vertical text centering in metadata tags
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.vue
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/index.vue
  shell/components/Resource/Detail/Metadata/KeyValue.vue
  shell/components/Resource/Detail/Metadata/KeyValueRow.vue
Due: shell, rancher-components

Add min-width: 0 to .tag-data for flex truncation
  shell/components/Resource/Detail/Metadata/KeyValueRow.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
