Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

Fix the focus directive
  shell/directives/focus.js
Due: shell

Fix `PromptRemove.vue`
  shell/components/PromptRemove.vue
Due: shell

Fix feature flag modal
  shell/list/management.cattle.io.feature.vue
Due: shell

Fix remaining modals
  shell/components/AssignTo.vue
  shell/components/DisableAuthProviderModal.vue
  shell/components/ModalWithCard.vue
  shell/components/MoveModal.vue
  shell/components/PromptChangePassword.vue
  shell/components/PromptRestore.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogLoadDialog.vue
Due: shell

Fixed the remaining lint warnings and errors
  .eslintrc.js
  pkg/eks/components/CruEKS.vue
  pkg/harvester-manager/routing/routing.ts
  pkg/kubectl-explain/slide-in.js
  shell/components/Questions/index.vue
  shell/components/StatusTable.vue
  shell/components/auth/SelectPrincipal.vue
  shell/components/form/ArrayList.vue
  shell/components/form/InputWithSelect.vue
  shell/components/form/KeyValue.vue
  shell/components/form/MatchExpressions.vue
  shell/components/form/NameNsDescription.vue
  shell/components/form/Ports.vue
  shell/components/nav/NamespaceFilter.vue
  shell/core/plugin.ts
  shell/core/types.ts
  shell/edit/monitoring.coreos.com.prometheusrule/index.vue
  shell/initialize/entry-helpers.js
  shell/initialize/install-plugins.js
  shell/mixins/__tests__/chart.test.ts
  shell/plugins/directives.js
  shell/store/__tests__/catalog.test.ts
  shell/vue.config.js
Due: shell, harvester

fix(auth/oidc): fix inability to modify issuer and auth endpoint
  shell/edit/auth/oidc.vue
Due: shell

fix(auth/oidc): reset issuer and auth endpoint if oidcUrls.url is empty
  shell/edit/auth/oidc.vue
Due: shell

Fix duplicate group and options when creating global, cluster and project/namespace roles
  shell/assets/translations/en-us.yaml
  shell/components/auth/RoleDetailEdit.vue
  shell/config/roles.ts
Due: shell

Add a helper script to build and update the dashboard UI in a running container
  scripts/patch-docker-container
Due: none

Disable E2E coverage instrumentation
  package.json
Due: none

E2E: Remove hardcoded TEST_BASE_URL from command
  .github/workflows/test.yaml
  package.json
Due: none

Correct manual v-model prop mutation for non value names
  shell/components/Import.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
Due: shell

fix default aks pool name and add unit test (#11644)
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

fix default aks pool name and add unit test (#11645)
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

Fixing the remaining compiler errors.
  shell/components/CruResource.vue
  shell/components/formatter/PrincipalGroupBindings.vue
Due: shell

Fix slot syntax
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  shell/components/ButtonDropdown.vue
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/LocaleSelector.vue
  shell/components/ResourceList/index.vue
  shell/components/SideNav.vue
  shell/components/fleet/FleetStatus.vue
  shell/components/form/LabeledSelect.vue
  shell/components/nav/Jump.vue
  shell/components/nav/WindowManager/ContainerLogs.vue
  shell/detail/helm.cattle.io.projecthelmchart.vue
  shell/dialog/AddClusterMemberDialog.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/dialog/AddProjectMemberDialog.vue
  shell/dialog/AddonConfigConfirmationDialog.vue
  shell/dialog/DeactivateDriverDialog.vue
  shell/dialog/DiagnosticTimingsDialog.vue
  shell/dialog/DrainNode.vue
  shell/dialog/ForceMachineRemoveDialog.vue
  shell/dialog/GenericPrompt.vue
  shell/dialog/RollbackWorkloadDialog.vue
  shell/dialog/RotateCertificatesDialog.vue
  shell/dialog/RotateEncryptionKeyDialog.vue
  shell/dialog/SaveAsRKETemplateDialog.vue
  shell/dialog/ScaleMachineDownDialog.vue
  shell/dialog/ScalePoolDownDialog.vue
  shell/edit/auth/azuread.vue
  shell/edit/auth/github.vue
  shell/edit/auth/googleoauth.vue
  shell/edit/auth/ldap/index.vue
  shell/edit/auth/oidc.vue
  shell/edit/auth/saml.vue
  shell/list/group.principal.vue
  shell/list/management.cattle.io.user.vue
  shell/list/provisioning.cattle.io.cluster.vue
  shell/machine-config/vmwarevsphere.vue
  shell/pages/c/_cluster/manager/drivers/kontainerDriver/index.vue
Due: shell, harvester

Fix RKE1/RKE2 toggle switch when creating a cluster
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

Update jest setup
  jest.setup.js
Due: none

Resolve a batch of unit test failures
  pkg/eks/components/__tests__/Config.test.ts
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.test.ts
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.test.ts
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.vue
  pkg/rancher-components/src/components/StringList/StringList.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
  shell/components/__tests__/ApplicationCard.test.ts
  shell/components/__tests__/ButtonGroup.test.ts
  shell/components/__tests__/ConsumptionGauge.test.ts
  shell/components/form/__tests__/FileImageSelector.test.ts
  shell/components/form/__tests__/UnitInput.test.ts
  shell/edit/workload/__tests__/Job.test.ts
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell, rancher-components

Disable TS lint check for rancher/components
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
  pkg/rancher-components/src/components/StringList/StringList.vue
Due: rancher-components

Linter: Fix rancher/components types after refactoring
  pkg/rancher-components/.eslintrc.js
  pkg/rancher-components/src/components/BadgeState/BadgeState.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
Due: rancher-components

Fix broken extension point to add replace home page
  shell/config/router/routes.js
  shell/core/plugin.ts
Due: shell

Simplify if
  shell/core/plugin.ts
Due: shell

Resolve error: `TypeError: this.slots['header-left'] is not a function`
  shell/components/SortableTable/index.vue
Due: shell

Just testing
  cypress/support/utils/settings-utils.ts
Due: none

Test2
  cypress/support/utils/settings-utils.ts
Due: none

More test
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

Test3
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

T4
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

t5
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

t
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

s
  cypress/e2e/po/pages/rancher-setup-login.po.ts
Due: none

Cypress was having issues with using static name assignment with a class that has member sharing the same name.
  shell/config/router/navigation-guards/clusters.js
  shell/utils/error.js
Due: shell

yyyy
  cypress/e2e/po/pages/rancher-setup-login.po.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
  shell/pages/auth/login.vue
Due: shell

tt
  shell/pages/auth/setup.vue
Due: shell

Update unit tests
  pkg/aks/components/__tests__/Taint.test.ts
  shell/chart/__tests__/S3.test.ts
  shell/cloud-credential/__tests__/azure.test.ts
  shell/components/AppModal.vue
  shell/components/__tests__/AppModal.test.ts
  shell/components/__tests__/AsyncButton.test.ts
  shell/components/__tests__/BackLink.test.ts
  shell/components/__tests__/Collapse.test.ts
  shell/components/__tests__/GrowlManager.test.ts
  shell/components/__tests__/PercentageBar.test.ts
  shell/components/__tests__/ProjectRow.test.ts
  shell/components/form/__tests__/NameNsDescription.test.ts
  shell/components/formatter/__tests__/WorkloadDetailEndpoints.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/DrainOptions.test.ts
  shell/pages/c/_cluster/uiplugins/__tests__/SetupUIPlugins.test.ts
Due: shell

Fixing value binding in the <Select> component
  shell/components/form/Select.vue
Due: shell

Fixing how we forward classes to the select element.
  shell/components/form/Select.vue
Due: shell

Fixing value bindings with our user preference pages
  shell/components/LandingPagePreference.vue
  shell/pages/prefs.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  harvester: any of: pkg/harvester
  rancher-components: any of: pkg/rancher-components
