Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

flakey - events list
  cypress/e2e/tests/pages/explorer/dashboard/events.spec.ts
Due: none

flaky - users list
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
Due: none

fix e2e test
  cypress/e2e/po/pages/cluster-manager/namespace.po.ts
Due: none

add loading more indicator
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/__tests__/index.test.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

fix css
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

flake - more, now rare, failures due to lost userpreferences
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/cronjobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/statefulsets.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
Due: none

fix chart placeholder icon
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.test.ts
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
Due: rancher-components

Move express to devDependencies
  package.json
  shell/package.json
  shell/yarn.lock
Due: shell

Charts loading more (#18094)
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.test.ts
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/__tests__/index.test.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell, rancher-components

flakey - attempt to fix roles
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
Due: none

flakey - extensions - part 1 - uninstall - give more time to show page content, though get the feeling after 10 seconds it would never show (something else is wrong)
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

Repositories Refresh Interval (#17924)
  cypress/e2e/po/edit/chart-repositories.po.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/form/NameNsDescription.vue
  shell/edit/__tests__/catalog.cattle.io.clusterrepo.test.ts
  shell/edit/catalog.cattle.io.clusterrepo.vue
  shell/models/__tests__/catalog.cattle.io.clusterrepo.test.ts
  shell/models/catalog.cattle.io.clusterrepo.js
  shell/utils/__tests__/duration.test.ts
  shell/utils/duration.js
  shell/utils/duration.ts
Due: shell

Add resolution for CVE
  cypress/package.json
  package.json
Due: none

remove chinese translation
  shell/assets/translations/zh-hans.yaml
Due: shell

fix persistency issue
  shell/chart/rancher-monitoring-dashboards/index.vue
Due: shell

unit tests
  shell/chart/__tests__/rancher-monitoring-dashboards-index.test.ts
Due: shell

Chart Install UI improvements (#17150)
  cypress/e2e/po/pages/explorer/charts/install-charts.po.ts
  cypress/e2e/tests/pages/charts/chart-install-wizard.spec.ts
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/Wizard.vue
  shell/mixins/__tests__/chart.test.ts
  shell/mixins/chart.js
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

lint
  shell/chart/__tests__/rancher-monitoring-dashboards-index.test.ts
Due: shell

temporarily remove failing preg tset
  shell/components/form/__tests__/PrivateRegistry.test.ts
Due: shell

secret picker in global settings
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/edit/management.cattle.io.setting/index.vue
  shell/edit/management.cattle.io.setting/system-default-registry-pull-secrets.vue
Due: shell

allow custom settings components
  shell/components/form/PrivateRegistry.vue
  shell/edit/management.cattle.io.setting/index.vue
  shell/edit/management.cattle.io.setting/system-default-registry-pull-secrets.vue
Due: shell

rough cut in imported clusters
  pkg/aks/components/CruAks.vue
  pkg/gke/components/CruGKE.vue
  pkg/imported/components/CruImported.vue
  shell/assets/translations/en-us.yaml
  shell/components/form/PrivateRegistry.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/config/settings.ts
  shell/plugins/dashboard-store/getters.js
  shell/plugins/dashboard-store/resource-class.js
  shell/utils/validators/private-registry.ts
Due: shell

fix setting path
  shell/utils/validators/private-registry.ts
Due: shell

use same component for all cluster private registry ui
  pkg/aks/components/CruAks.vue
  pkg/eks/components/CruEKS.vue
  pkg/gke/components/CruGKE.vue
  pkg/imported/components/CruImported.vue
  shell/components/form/PrivateRegistry.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
Due: shell

todos in install.vue; fix path in cluster registries
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/aks/components/CruAks.vue
  pkg/eks/components/CruEKS.vue
  pkg/eks/types/index.d.ts
  pkg/gke/components/CruGKE.vue
  pkg/imported/components/CruImported.vue
  shell/assets/translations/en-us.yaml
  shell/components/form/PrivateRegistry.vue
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/utils/validators/__tests__/private-registry.test.ts
  shell/utils/validators/private-registry.ts
Due: shell

single-secret chart flow working
  pkg/aks/components/Config.vue
  pkg/aks/components/CruAks.vue
  pkg/eks/components/CruEKS.vue
  pkg/gke/components/CruGKE.vue
  pkg/imported/components/CruImported.vue
  shell/assets/translations/en-us.yaml
  shell/components/form/PrivateRegistry.constants.ts
  shell/components/form/PrivateRegistry.vue
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

needs tests
  shell/assets/translations/en-us.yaml
  shell/components/form/PrivateRegistry.vue
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

unit tests
  shell/components/form/PrivateRegistry.vue
  shell/components/form/__tests__/PrivateRegistry.test.ts
Due: shell

add install unit tests
  shell/components/form/PrivateRegistry.vue
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
Due: shell

lint
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

lint again
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Test PR to investigate first time run CI failure stats
  README.md
Due: none

Remove lock
  cypress/yarn.lock
Due: none

flaky - attempt 2 to fix roles
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
Due: none

improvements to e2e-k3s-start
  scripts/e2e-k3s-start.sh
Due: none

flakey - attempt 3 to fix roles
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
Due: none

Disable cluster shell and keyboard shortcut
  shell/components/nav/Header.vue
  shell/components/templates/default.vue
  shell/store/features.js
Due: shell

Address PR feedback
  shell/models/cluster.x-k8s.io.machine.js
  shell/models/cluster/node.js
Due: shell

Fix lint issue
  shell/components/templates/default.vue
Due: shell
