Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Migrated editing imported cluster to Vue
  pkg/imported/components/Nodes.vue
Due: none

changed basics
  pkg/imported/components/Nodes.vue
Due: none

styling
  pkg/imported/components/Nodes.vue
Due: none

[FEAT] Switched from creating provisioning cluster for cluster import
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/import/cluster-import.generic.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/aks/l10n/en-us.yaml
  pkg/gke/l10n/en-us.yaml
  pkg/imported/assets/generic.svg
  pkg/imported/components/CruImported.vue
  pkg/imported/index.ts
  pkg/imported/l10n/en-us.yaml
  pkg/imported/provisioner.ts
  pkg/imported/util/validators.ts
  shell/core/types-provisioning.ts
  shell/detail/cluster.vue
  shell/edit/provisioning.cattle.io.cluster/import.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/cluster.js
Due: shell

marked anme as required
  pkg/imported/components/CruImported.vue
Due: none

Adressed comments
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/aks/l10n/en-us.yaml
  pkg/imported/components/CruImported.vue
  pkg/imported/provisioner.ts
  pkg/imported/util/validators.ts
Due: none

Removed wrong file
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  shell/detail/cluster.vue
Due: shell

typo
  pkg/aks/l10n/en-us.yaml
Due: none

fixed some errors
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  pkg/aks/l10n/en-us.yaml
  pkg/imported/l10n/en-us.yaml
Due: none

Fixed comments
  pkg/imported/components/CruImported.vue
  pkg/imported/index.ts
  pkg/imported/provisioner.ts
  pkg/imported/util/validators.ts
  shell/core/types-provisioning.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

removed import
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

Fix Header keyboard navigation (#13369)
  cypress/e2e/po/pages/explorer/config-map.po.ts
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  pkg/kubectl-explain/components/ExplainPanel.vue
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/kubectl-explain/l10n/en-us.yaml
  pkg/rancher-components/src/components/Card/Card.vue
  shell/assets/styles/base/_basic.scss
  shell/assets/translations/en-us.yaml
  shell/components/AppModal.vue
  shell/components/AsyncButton.vue
  shell/components/CodeMirror.vue
  shell/components/Import.vue
  shell/components/YamlEditor.vue
  shell/components/nav/Header.vue
  shell/components/nav/Jump.vue
  shell/components/nav/WindowManager/ContainerLogs.vue
  shell/components/nav/WindowManager/ContainerShell.vue
  shell/components/nav/WindowManager/index.vue
Due: shell, rancher-components

fix form fields missing label associations (#13429)
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/pages/auth/login.vue
  shell/utils/string.js
Due: shell, rancher-components

fix tab component keyboard navigation (#13439)
  shell/components/Tabbed/index.vue
Due: shell

small sortable table a11y fixes (#13448)
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/translations/en-us.yaml
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
Due: shell, rancher-components

Add v-bind="$data" to PromptRemove.vue
  shell/components/PromptRemove.vue
Due: shell

temp
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/Wizard.vue
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Don't show built-in extensions by default
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

add label connection to dropdown on LabeledSelect + add missing roles and connections
  shell/components/LandingPagePreference.vue
  shell/components/PodSecurityAdmission.vue
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
  shell/pages/prefs.vue
Due: shell

address pr comments
  shell/assets/translations/en-us.yaml
  shell/components/LandingPagePreference.vue
  shell/components/form/LabeledSelect.vue
Due: shell

prevent scroll when hitting arrow down key on selects
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
Due: shell

Add simple API for adding a settings page
  shell/core/plugin.ts
  shell/core/types.ts
Due: shell

Add joinStringList function
  shell/utils/__tests__/array.test.ts
  shell/utils/array.ts
Due: shell

Correct scopes merging issues
  shell/store/__tests__/auth.test.ts
  shell/store/auth.js
Due: shell

Updating the wording used for etcd snapshots
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/index.vue
Due: shell

WIP: Accessibility e2e test suite and support
  .gitignore
  cypress.config.ts
  cypress/e2e/tests/accessibility/login.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/accessiblity.ts
  cypress/support/e2e.ts
  cypress/support/plugins/accessibility/index.ts
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: none

Add e2e job for accessibility tests
  .github/workflows/test.yaml
  cypress.config.ts
  cypress/e2e/tests/accessibility/login.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/accessiblity.ts
  cypress/support/plugins/accessibility/index.ts
Due: none

Fix a11y tests
  .github/workflows/test.yaml
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

Fix setup issue
  .github/workflows/test.yaml
Due: none

Fix lint
  cypress.config.ts
  cypress/e2e/tests/accessibility/login.spec.ts
Due: none

Tweak tests
  cypress/e2e/tests/accessibility/login.spec.ts
Due: none

Add report upload
  .github/workflows/test.yaml
Due: none

Test debugging
  .github/workflows/test.yaml
  cypress/e2e/tests/accessibility/login.spec.ts
Due: none

Remove failure gate on a11y screenshots
  .github/workflows/test.yaml
Due: none

Fix lint issues
  cypress/support/commands/accessiblity.ts
  cypress/support/plugins/accessibility/index.ts
Due: none

Upload a11y screenshots
  .github/workflows/test.yaml
Due: none

Remove test
  cypress/e2e/tests/accessibility/login.spec.ts
Due: none

Fix screenshot folder
  cypress/support/plugins/accessibility/index.ts
Due: none

Build out more tests to cover a11y
  cypress/e2e/po/pages/account-api-keys.po.ts
  cypress/e2e/tests/accessibility/login.spec.ts
  cypress/e2e/tests/accessibility/shell.spec.ts
Due: none

Create a11y report
  .github/workflows/test.yaml
  cypress.config.ts
  cypress/support/commands/accessiblity.ts
  cypress/support/plugins/accessibility/index.ts
Due: none
