Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Fleet HelmOps add polling interal
  shell/assets/translations/en-us.yaml
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/edit/fleet.cattle.io.helmop.vue
  shell/models/fleet-application.js
  shell/models/fleet.cattle.io.gitrepo.js
  shell/models/fleet.cattle.io.helmop.js
Due: shell

Fleet add HelmOp validation wizard
  shell/edit/fleet.cattle.io.helmop.vue
Due: shell

Fleet fix applications intro when empty table in dashboard
  shell/components/fleet/FleetApplications.vue
  shell/pages/c/_cluster/fleet/application/create.vue
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Fleet remove webhook tooltip from HelmOp
  shell/assets/translations/en-us.yaml
  shell/edit/fleet.cattle.io.helmop.vue
  shell/models/fleet-application.js
  shell/models/fleet.cattle.io.gitrepo.js
Due: shell

Fleet add HelmOp to ifHaveType product check
  shell/config/product/fleet.js
  shell/pages/c/_cluster/fleet/application/create.vue
Due: shell

Fleet fix GitRepo unit tests
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.helmop.vue
Due: shell

13959 Fleet fix Git ssh repo url
  shell/models/fleet.cattle.io.gitrepo.js
Due: shell

Fleet improve applications source field; remove link if URL is not HTTPS, OCI, SSH; cleanup code
  shell/components/formatter/FleetApplicationSource.vue
  shell/models/fleet.cattle.io.gitrepo.js
  shell/models/fleet.cattle.io.helmop.js
  shell/utils/fleet.ts
Due: shell

Fleet switch workspace when navigate to Applications edit page
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/edit/fleet.cattle.io.helmop.vue
Due: shell

Fix unit tests
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
Due: shell

Fleet fix unit tests
  shell/pages/c/_cluster/fleet/__tests__/index.test.ts
Due: shell

Fleet HelmOps various fixes
  shell/components/fleet/FleetApplications.vue
  shell/components/fleet/dashboard/ResourceCard.vue
  shell/components/fleet/dashboard/ResourceDetails.vue
  shell/components/fleet/dashboard/ResourcePanel.vue
  shell/list/fleet.cattle.io.gitrepo.vue
  shell/list/fleet.cattle.io.helmop.vue
  shell/pages/c/_cluster/fleet/application/index.vue
  shell/types/fleet.d.ts
  shell/utils/fleet-types.ts
  shell/utils/fleet.ts
Due: shell

Fix lint
  shell/components/fleet/dashboard/ResourceDetails.vue
Due: shell

lint
  shell/types/fleet.d.ts
Due: shell

Minor tweaks to cloud update script and GH workflow script (#14477)
  .github/workflows/scripts/update-cloud-data.sh
  scripts/azure/update-data
Due: none

fix network policies
  cypress/e2e/tests/pages/explorer/policy/network-policy.spec.ts
Due: none

first test
  shell/config/router/navigation-guards/authentication.js
  shell/utils/auth.js
Due: shell

remove cookie removal (would not work on /verify routes)
  shell/config/router/navigation-guards/authentication.js
Due: shell

test
  shell/config/router/navigation-guards/authentication.js
Due: shell

breakthrough
  cypress/e2e/po/components/array-list.po.ts
  cypress/e2e/po/components/copy-to-clipboard-text.po.ts
  cypress/e2e/po/edit/oidc-clients.po.ts
  cypress/e2e/tests/pages/users-and-auth/oidcProvider.spec.ts
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
  shell/assets/images/key.svg
  shell/components/auth/login/github.vue
  shell/components/auth/login/ldap.vue
  shell/components/auth/login/oauth.vue
  shell/components/auth/login/oidc.vue
  shell/components/auth/login/saml.vue
  shell/config/router/navigation-guards/authentication.js
  shell/edit/management.cattle.io.oidcclient.vue
  shell/pages/auth/login.vue
  shell/pages/auth/verify.vue
  shell/store/auth.js
  shell/utils/auth.js
Due: shell, rancher-components

working on feature (finished flow)
  cypress/e2e/po/components/array-list.po.ts
  cypress/e2e/po/components/unit-input.po.ts
  cypress/e2e/po/edit/oidc-clients.po.ts
  cypress/e2e/po/lists/oidc-clients-list.po.ts
  cypress/e2e/po/pages/users-and-auth/oidc-client.po.ts
  cypress/e2e/tests/pages/users-and-auth/oidcProvider.spec.ts
  shell/components/auth/login/github.vue
  shell/components/auth/login/ldap.vue
  shell/components/auth/login/oauth.vue
  shell/components/auth/login/oidc.vue
  shell/components/auth/login/saml.vue
  shell/edit/management.cattle.io.oidcclient.vue
  shell/pages/auth/login.vue
  shell/pages/auth/verify.vue
  shell/store/auth.js
  shell/utils/auth.js
Due: shell

logic almost finished as a poc + a bit of e2e testing (needs work on flow + finish e2e + implement card)
  cypress/e2e/po/components/copy-to-clipboard-text.po.ts
  cypress/e2e/po/edit/oidc-clients.po.ts
  cypress/e2e/po/lists/oidc-clients-list.po.ts
  cypress/e2e/po/pages/users-and-auth/oidc-client.po.ts
  cypress/e2e/tests/pages/users-and-auth/oidcProvider.spec.ts
  scripts/e2e-docker-start
  shell/assets/styles/global/_labeled-input.scss
  shell/assets/translations/en-us.yaml
  shell/components/ResourceList/Masthead.vue
  shell/components/form/ArrayList.vue
  shell/components/form/UnitInput.vue
  shell/config/product/auth.js
  shell/config/types.js
  shell/core/types.ts
  shell/dialog/OidcClientSecretDialog.vue
  shell/edit/management.cattle.io.oidcclient.vue
  shell/list/management.cattle.io.oidcclient.vue
  shell/pages/auth/login.vue
  shell/store/type-map.js
  shell/utils/auth.js
  shell/utils/validators/formRules/index.ts
Due: shell

cleanup
  shell/config/router/navigation-guards/authentication.js
Due: shell

fix lint issues
  shell/edit/management.cattle.io.oidcclient.vue
Due: shell

Changes following review
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
  cypress/e2e/tests/pages/explorer/policy/network-policy.spec.ts
  cypress/e2e/tests/priority/no-vai-setup.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

replace pathWithDefaultSteveParams with ?*
  cypress/e2e/po/pages/explorer/api-services.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/users-and-auth/roles.po.ts
  cypress/e2e/tests/accessibility/shell.spec.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
  cypress/e2e/tests/pages/charts/rancher-backup.spec.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  cypress/e2e/tests/pages/explorer/dashboard/certificates.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/e2e/tests/pages/manager/cloud-credential.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
  cypress/e2e/tests/pages/manager/eks-cluster-provisioning.spec.ts
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  cypress/support/utils/request-utils.ts
Due: none

when vai is on make it the deployment page the default workload type
  shell/config/product/explorer.js
  shell/store/type-map.js
Due: shell

fixes
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/dashboard/certificates.spec.ts
  cypress/support/commands/rancher-api-commands.ts
  cypress/support/utils/request-utils.ts
Due: none

test feature flag enable
  scripts/e2e-docker-start
Due: none

converted rc component to regular
  cypress/e2e/po/components/filter-panel.po.ts
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  pkg/rancher-components/src/components/RcFilterPanel/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/components/FilterPanel.vue
  shell/components/__tests__/FilterPanel.test.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell, rancher-components

fix import
  shell/components/__tests__/FilterPanel.test.ts
Due: shell

fix type
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
Due: rancher-components

When leaving a list, if we're paginated, forget it (clear cache, stop watches)
  shell/mixins/resource-fetch-api-pagination.js
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/subscribe.js
Due: shell

single card styling
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

refactor logging test and add step to select namespaces
  cypress/e2e/po/other-products/logging/logging-clusterflow-po.ts
  cypress/e2e/po/other-products/logging/logging-clusteroutput.po.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
Due: none

fix problem with headless chrome in CI not having access to navigator clipboard
  cypress/e2e/tests/pages/users-and-auth/oidcProvider.spec.ts
Due: none

Adding the TitleBar and Metadata related component for the detail page redesign
  shell/assets/images/icons/document.svg
  shell/assets/translations/en-us.yaml
  shell/components/ButtonWithIcon.vue
  shell/components/Resource/Detail/Card/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/Annotations/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/Annotations/composable.ts
  shell/components/Resource/Detail/Metadata/Annotations/index.vue
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/composable.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/index.vue
  shell/components/Resource/Detail/Metadata/KeyValue.vue
  shell/components/Resource/Detail/Metadata/Labels/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/Labels/composable.ts
  shell/components/Resource/Detail/Metadata/Labels/index.vue
  shell/components/Resource/Detail/Metadata/Rectangle.vue
  shell/components/Resource/Detail/Metadata/__tests__/KeyValue.test.ts
  shell/components/Resource/Detail/Metadata/__tests__/Rectangle.test.ts
  shell/components/Resource/Detail/Metadata/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/composables.ts
  shell/components/Resource/Detail/Metadata/index.vue
  shell/components/Resource/Detail/TitleBar/Title.vue
  shell/components/Resource/Detail/TitleBar/Top.vue
  shell/components/Resource/Detail/TitleBar/__tests__/Title.test.ts
  shell/components/Resource/Detail/TitleBar/__tests__/Top.test.ts
  shell/components/Resource/Detail/TitleBar/__tests__/index.test.ts
  shell/components/Resource/Detail/TitleBar/composable.ts
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/components/Resource/Detail/Top/index.vue
  shell/core/plugin-helpers.ts
Due: shell

fix item card focus styling
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
Due: rancher-components

FilterPanel Component (#14406)
  cypress/e2e/po/components/filter-panel.po.ts
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  cypress/e2e/tests/accessibility/shell.spec.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
  pkg/rancher-components/types/index.d.ts
  shell/assets/styles/global/_layout.scss
  shell/assets/translations/en-us.yaml
  shell/components/FilterPanel.vue
  shell/components/__tests__/FilterPanel.test.ts
  shell/config/query-params.js
  shell/models/chart.js
  shell/pages/c/_cluster/apps/charts/AddRepoLink.vue
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
  shell/pages/c/_cluster/apps/charts/StatusLabel.vue
  shell/pages/c/_cluster/apps/charts/index.vue
  shell/store/catalog.js
Due: shell, rancher-components

Default to modern theme
  shell/assets/brand/classic/metadata.json
  shell/assets/styles/app.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_modern.scss
Due: shell
