Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Explicitly invoke `this.mixinFetch()`
  shell/edit/auth/azuread.vue
Due: shell

Fix failing test by updating auth requirements
  cypress/e2e/po/pages/explorer/project-secrets.po.ts
  cypress/e2e/tests/pages/explorer2/storage/project-secrets.spec.ts
  shell/edit/secret/basic.vue
Due: shell

Add min-width floor to prevent metadata row wrapping
  shell/components/Resource/Detail/TitleBar/index.vue
Due: shell

Prevent metadata row height from growing at narrow widths
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/index.vue
Due: shell

remove extensions compatibility e2e tests since they are deprecated fo a long time
  .github/workflows/extensions-compatibility-tests.yaml
  cypress/e2e/po/extensions/elemental/elemental.utils.ts
  cypress/e2e/po/extensions/extensions-compatibility.utils.ts
  cypress/e2e/tests/extensions/elemental/elemental.spec.ts
Due: none

Remove stgregistry for release-2.14
  branches-metadata.json
Due: none

remove extensions compatibility e2e tests since they are deprecated fo a long time (#17491)
  .github/workflows/extensions-compatibility-tests.yaml
  cypress/e2e/po/extensions/elemental/elemental.utils.ts
  cypress/e2e/po/extensions/extensions-compatibility.utils.ts
  cypress/e2e/tests/extensions/elemental/elemental.spec.ts
Due: none

address final comments
  shell/apis/intf/resources-api/resource-base.ts
  shell/apis/intf/resources-api/resource-constants.ts
  shell/apis/intf/resources-api/resources-api.ts
  shell/types/store/dashboard-store.types.ts
Due: shell

Fixing some of the more notable size discrepencies with RcButton
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/pages/explorer/charts/install-charts.po.ts
  cypress/e2e/po/pages/explorer/project-secrets.po.ts
  cypress/e2e/po/pages/explorer/secrets.po.ts
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/ActionDropdownShell.vue
  shell/components/CruResourceFooter.vue
  shell/components/Resource/Detail/Metadata/KeyValueRow.vue
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/components/ResourceList/Masthead.vue
  shell/components/SortableTable/index.vue
  shell/components/Wizard.vue
  shell/components/nav/HeaderPageActionMenu.vue
  shell/components/nav/NotificationCenter/index.vue
  storybook/src/stories/Components/RcButton.stories.ts
Due: shell, rancher-components

An attempt at wrapping the RcButton with a link to prevent regression.
  shell/components/ResourceList/Masthead.vue
Due: shell

Provided a convenience prop in RcButton to support links shaped like buttons
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  shell/components/Resource/Detail/TitleBar/__tests__/__snapshots__/index.test.ts.snap
  shell/components/ResourceList/Masthead.vue
Due: shell, rancher-components

Updated storybook
  storybook/.storybook/preview.ts
  storybook/src/stories/Components/RcButton.mdx
  storybook/src/stories/Components/RcButton.stories.ts
Due: none

Found an area where we had additional margin being adding in the sortable table bulk actions.
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Removed the change to the RcButton default size.
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/CruResourceFooter.vue
  shell/components/Resource/Detail/Metadata/KeyValueRow.vue
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/components/ResourceList/Masthead.vue
  shell/components/SortableTable/index.vue
  shell/components/Wizard.vue
  shell/components/nav/HeaderPageActionMenu.vue
  shell/components/nav/NotificationCenter/index.vue
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
Due: shell, rancher-components

Reintroducing the role attribute
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  shell/components/Resource/Detail/TitleBar/__tests__/__snapshots__/index.test.ts.snap
Due: shell, rancher-components

Fixing a size issue I noticed with the notifcation button.
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/ActionDropdownShell.vue
Due: shell, rancher-components

Make custom node SSH user configurable via CUSTOM_NODE_USER
  cypress/base-config.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
Due: none

Updates following new index fields, bug fix
  cypress/e2e/blueprints/manager/v2prov-capi-cluster-mocks.ts
  shell/components/SortableTable/selection.js
  shell/config/pagination-table-headers.js
  shell/list/provisioning.cattle.io.cluster.vue
  shell/models/management.cattle.io.cluster.js
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

Make custom node SSH user configurable via CUSTOM_NODE_USER
  cypress.config.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Clip identifying-info grid cell to prevent overflow into adjacent columns
  shell/components/Resource/Detail/Metadata/index.vue
Due: shell

tmp
  pkg/capa/assets/amazonecapa-black.svg
  pkg/capa/assets/amazonecapa.svg
  pkg/capa/babel.config.js
  pkg/capa/components/CruCAPA.vue
  pkg/capa/components/Networking.vue
  pkg/capa/index.ts
  pkg/capa/l10n/en-us.yaml
  pkg/capa/machine-config/capa.vue
  pkg/capa/package.json
  pkg/capa/provisioner.ts
  pkg/capa/tsconfig.json
  pkg/capa/types/index.d.ts
  pkg/capa/vue.config.js
  shell/assets/translations/en-us.yaml
  shell/config/product/manager.js
  shell/config/router/routes.js
  shell/config/types.js
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/pages/c/_cluster/manager/capiProvider/create.vue
  shell/pages/c/_cluster/manager/capiProvider/index.vue
Due: shell

Use content-based label sizing to prevent namespace value truncation
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/index.vue
Due: shell

Throw on unknown validation rules
  shell/composables/useFormValidation.ts
Due: shell

open readme in a separate standalone page
  shell/assets/translations/en-us.yaml
  shell/components/templates/standalone.vue
  shell/config/router/routes.js
  shell/pages/__tests__/readme.test.ts
  shell/pages/c/_cluster/apps/charts/__tests__/chart.test.ts
  shell/pages/c/_cluster/apps/charts/chart.vue
  shell/pages/readme.vue
  shell/utils/__tests__/chart.test.ts
  shell/utils/chart.js
Due: shell

Add rows reference check to SortableTable sort cache
  shell/components/SortableTable/__tests__/sorting.test.ts
  shell/components/SortableTable/sorting.js
Due: shell

Preserve namespace value visibility at narrow viewports
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/index.vue
Due: shell

fix scrolling issue
  shell/config/router/routes.js
  shell/mixins/brand.js
Due: shell

Chart readme standalone page (#17501)
  shell/assets/translations/en-us.yaml
  shell/components/templates/standalone.vue
  shell/config/router/routes.js
  shell/mixins/brand.js
  shell/pages/__tests__/readme.test.ts
  shell/pages/c/_cluster/apps/charts/__tests__/chart.test.ts
  shell/pages/c/_cluster/apps/charts/chart.vue
  shell/pages/readme.vue
  shell/utils/__tests__/chart.test.ts
  shell/utils/chart.js
Due: shell

add missing repo owner gate to a job
  .github/workflows/test-extension-workflows-master.yml
  .github/workflows/test-extension-workflows-release-2.8.yml
  .github/workflows/test-extension-workflows-release-2.9.yml
Due: none

several fixes
  cypress/e2e/blueprints/manager/v2prov-capi-cluster-mocks.ts
  shell/assets/translations/en-us.yaml
  shell/config/pagination-table-headers.js
  shell/config/product/manager.js
  shell/config/table-headers.js
  shell/list/provisioning.cattle.io.cluster.vue
  shell/models/management.cattle.io.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Update usages of PCIC - where not needed, remove - where needed try to use MCIC instead
  pkg/harvester-manager/config/harvester-manager.js
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
  shell/components/form/WorkloadPorts.vue
  shell/components/nav/TopLevelMenu.vue
  shell/config/product/manager.js
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/edit/service.vue
  shell/edit/workload/mixins/workload.js
  shell/models/cluster.js
  shell/models/cluster.x-k8s.io.machine.js
  shell/models/cluster.x-k8s.io.machinedeployment.js
  shell/models/cluster.x-k8s.io.machineset.js
  shell/models/ext.cattle.io.kubeconfig.ts
  shell/models/management.cattle.io.cluster.js
  shell/models/management.cattle.io.node.js
  shell/models/management.cattle.io.nodepool.js
  shell/models/rke.cattle.io.etcdsnapshot.js
  shell/pages/c/_cluster/explorer/index.vue
  shell/pages/diagnostic.vue
Due: shell

Adjust tooltip if links.shell is disabled
  shell/assets/translations/en-us.yaml
  shell/components/nav/Header.vue
Due: shell

fix lint
  shell/components/nav/Header.vue
Due: shell

fix bulk delete when onyl a single row is selected
  shell/components/SortableTable/selection.js
Due: shell

add duplicate pool names validation
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/tabs/MachinePool.vue
  shell/utils/validators/machine-pool.ts
Due: shell

Test improved
  shell/utils/__tests__/pagination-utils.test.ts
Due: shell

fix case sensitive validation issue + unit tests
  shell/edit/provisioning.cattle.io.cluster/__tests__/MachinePool.test.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/MachinePool.vue
Due: shell

Remove the unused import
  shell/utils/__tests__/pagination-utils.test.ts
Due: shell

Update url validation to accept hostnames without periods in it (#17460)
  package.json
  shell/edit/auth/oidc.vue
  shell/models/networking.k8s.io.ingress.js
  shell/pages/auth/setup.vue
  shell/utils/validators/__tests__/setting.test.js
  shell/utils/validators/formRules/__tests__/index.test.ts
  shell/utils/validators/formRules/index.ts
  shell/utils/validators/setting.js
Due: shell

Improved tests
  shell/utils/__tests__/settings.test.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
