Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

fix e2e tests
  cypress/e2e/po/side-bars/product-side-nav.po.ts
Due: none

remove concept of legacy for deprecated in the docs
  docusaurus/docs/extensions/api/deprecated/concepts-deprecated.md
  docusaurus/docs/extensions/api/deprecated/custom-page.md
  docusaurus/docs/extensions/api/deprecated/products-deprecated.md
  docusaurus/docs/extensions/api/deprecated/resource-page.md
  docusaurus/docs/extensions/api/deprecated/routing.md
  docusaurus/docs/extensions/api/deprecated/side-menu.md
  docusaurus/docs/extensions/api/deprecated/templates.md
  docusaurus/docs/extensions/api/headers.md
  docusaurus/docs/extensions/api/products.md
  docusaurus/docs/extensions/introduction.md
  docusaurus/docs/extensions/support-matrix.md
  docusaurus/docs/extensions/usecases/deprecated/cluster-level-product.md
  docusaurus/docs/extensions/usecases/deprecated/top-level-product.md
  docusaurus/extensionSidebar.js
Due: none

remove support for headers + cleanup docs and unit tests + remove type declarations
  docusaurus/docs/extensions/api/headers.md
  docusaurus/docs/extensions/api/products.md
  shell/core/__tests__/column-builder.test.ts
  shell/core/__tests__/plugin-products.test.ts
  shell/core/column-builder.ts
  shell/core/columns.ts
  shell/core/plugin-products.ts
  shell/core/plugin-types.ts
  shell/types/rancher/index.d.ts
Due: shell

fix build error
  shell/types/rancher/index.d.ts
Due: shell

addressing PR comments
  shell/components/ResourceList/Masthead.vue
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products.ts
  shell/core/plugin-types.ts
  shell/core/plugin.ts
  shell/core/types.ts
Due: shell

addressing PR comments
  shell/core/__tests__/plugin-products.test.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products.ts
  shell/core/plugin-types.ts
  shell/core/plugin.ts
  shell/core/types.ts
  shell/store/type-map.js
Due: shell

drop support for overriding base components for resource pages + turn plugin-product-helpers into a class + improve TS typing + fix children ordering method to not mutate original array + adjust docs
  docusaurus/docs/extensions/api/products.md
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products.ts
  shell/core/types.ts
Due: shell

fix type definitions for check-plugins-build https://github.com/rancher/dashboard/actions/runs/22397235299/job/64833924640\?pr\=16352
  shell/core/plugin-products.ts
  shell/scripts/typegen.sh
Due: shell

remove temp builtin extension
  pkg/add-new-prod/babel.config.js
  pkg/add-new-prod/components/Test.vue
  pkg/add-new-prod/detail/upgrade.cattle.io.plan.vue
  pkg/add-new-prod/docs.ts
  pkg/add-new-prod/index.ts
  pkg/add-new-prod/l10n/en-us.yaml
  pkg/add-new-prod/package.json
  pkg/add-new-prod/tsconfig.json
  pkg/add-new-prod/vue.config.js
Due: none

remove unused method declaration
  shell/core/plugin.ts
  shell/core/types.ts
Due: shell

fix a couple of bugs found on PR review + move all new prod reg types to a dedicated file + fix several TS and lint errors + update unit tests
  docusaurus/docs/extensions/api/products.md
  shell/core/__tests__/plugin-products-helpers.test.ts
  shell/core/__tests__/plugin-products.test.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products.ts
  shell/core/plugin-types.ts
  shell/core/plugin.ts
  shell/core/types.ts
  shell/store/__tests__/type-map.test.ts
  shell/store/type-map.js
Due: shell

fix lint issues
  shell/core/plugin-products.ts
Due: shell

extend classes for plugin-products + improve unit tests
  shell/core/__tests__/plugin-products.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products-type-guards.ts
  shell/core/plugin-products.ts
Due: shell

update docs + fix lint issue
  docusaurus/docs/extensions/advanced/hooks.md
  docusaurus/docs/extensions/advanced/stores.md
  docusaurus/docs/extensions/api/products.md
  docusaurus/docs/extensions/usecases/add-new-product.md
  docusaurus/docs/extensions/usecases/extend-existing-product.md
  shell/core/types.ts
Due: shell

fix
  shell/scripts/typegen.sh
Due: shell

fix type definitions for check-plugins-build https://github.com/rancher/dashboard/actions/runs/22403651686/job/64857134797\?pr\=16352
  shell/core/plugin-products.ts
  shell/scripts/typegen.sh
Due: shell

add 'addProduct' with a string as arg for a simple usecase as a starting point + fix lint issue + revert docs changes
  docusaurus/docs/extensions/advanced/create-page-in-an-existing-product.md
  docusaurus/docs/extensions/advanced/hooks.md
  docusaurus/docs/extensions/advanced/stores.md
  docusaurus/docs/extensions/api/concepts.md
  docusaurus/docs/extensions/api/nav/custom-page.md
  docusaurus/docs/extensions/api/nav/products.md
  docusaurus/docs/extensions/api/nav/resource-page.md
  docusaurus/docs/extensions/api/nav/routing.md
  docusaurus/docs/extensions/api/nav/side-menu.md
  docusaurus/docs/extensions/api/nav/templates.md
  docusaurus/docs/extensions/api/overview.md
  docusaurus/docs/extensions/api/products.md
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/introduction.md
  docusaurus/docs/extensions/support-matrix.md
  docusaurus/docs/extensions/usecases/add-new-product.md
  docusaurus/docs/extensions/usecases/cluster-level-product.md
  docusaurus/docs/extensions/usecases/extend-existing-product.md
  docusaurus/docs/extensions/usecases/top-level-product.md
  docusaurus/extensionSidebar.js
  shell/core/__tests__/plugin-products.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
  shell/core/types.ts
Due: shell

fix lint issues
  shell/core/__tests__/plugin-products.test.ts
Due: shell

address PR comments regarding product labels + fix issues with plugins builds
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/core/__tests__/plugin-products.test.ts
  shell/core/plugin-products.ts
  shell/core/plugin-types.ts
Due: shell

add extendable flag to product registration for core prods and builtin extensions + add check for extending only 'extendable' products + add unit tests
  pkg/harvester-manager/config/harvester-manager.js
  shell/config/product/apps.js
  shell/config/product/auth.js
  shell/config/product/backup.js
  shell/config/product/compliance.js
  shell/config/product/explorer.js
  shell/config/product/fleet.js
  shell/config/product/gatekeeper.js
  shell/config/product/istio.js
  shell/config/product/logging.js
  shell/config/product/longhorn.js
  shell/config/product/manager.js
  shell/config/product/monitoring.js
  shell/config/product/navlinks.js
  shell/config/product/neuvector.js
  shell/config/product/settings.js
  shell/config/product/uiplugins.js
  shell/core/__tests__/plugin-products.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/types.ts
Due: shell

fix type definitions for check-plugins-build https://github.com/rancher/dashboard/actions/runs/22400767035/job/64846443613\?pr\=16352
  shell/core/plugin-products.ts
  shell/scripts/typegen.sh
Due: shell

address pr comments
  shell/components/nav/Header.vue
  shell/core/__tests__/plugin-products.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products.ts
  shell/core/plugin-types.ts
  shell/core/types.ts
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/plugin.js
  shell/store/type-map.js
Due: shell

address pr comments
  shell/components/SideNav.vue
  shell/core/plugin.ts
  shell/core/types.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell

fix unit tests
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
Due: shell

Add NEW_APP_INSTANCE query param for chart reinstall flow
  shell/config/query-params.js
Due: shell

Fix isInstalled check to support multiple chart instances
  shell/models/__tests__/chart.test.ts
  shell/models/chart.js
Due: shell

Add canInstallNew and installedInstances support to chart mixin
  shell/mixins/chart.js
Due: shell

Handle NEW_APP_INSTANCE flag in install wizard
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Add split button and instance selector to chart detail page
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

Fix chart page object selector for install button
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
Due: none

copilot feedback
  shell/mixins/chart.js
Due: shell

fix accessibility
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

chore: bump shell version to 3.0.9-rc.7
  shell/package.json
Due: shell

automatically enforce frozen-lockfile, provide a helper to avoid when calling install/add/upgrade
  creators/extension/app/files/.yarnrc
  creators/extension/app/files/.yarnrc.yml
  docs/agents.md/contributors/1_contributors.md
  docusaurus/docs/extensions/advanced/fix-annotations-published-extensions.md
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/internal/getting-started/quickstart.md
  package.json
  pkg/rancher-components/README.md
  scripts/local-e2e
  scripts/patch-docker-container
  scripts/yarn-no-lock.sh
  shell/scripts/extension/publish
  shell/scripts/publish-shell.sh
Due: shell, rancher-components

add missing yarnrc
  .yarnrc
Due: none

Add docs
  AGENTS.md
  docs/agents.md/contributors/1_contributors.md
  docs/agents.md/contributors/node-dependencies.md
  docusaurus/docs/internal/guide/package-management.md
Due: none

Fix check-plugin-build
  creators/extension/app/init
Due: none

fix: resolve #17066 — Action menu needs tidying and terminology being made consistent
  shell/components/ResourceList/resource.management.detail.vue
Due: shell

fix: resolve #17025 — Ensure user can see new field details when viewing a global role
  shell/models/rbac.authorization.k8s.io.globalrole.ts
Due: shell

fix: resolve #17025 — Ensure user can see new field details when viewing a global role
  shell/pages/c-manager/auth/security/roles/index.vue
Due: shell
