Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

bump creators version
  creators/extension/package.json
Due: none

first iteration
  .github/workflows/scripts/test-extensions-creators-builds.sh
  .github/workflows/test-extension-workflows-master.yml
Due: none

Add completion log
  creators/extension/migrate/init
  creators/extension/migrate/utils/content.js
Due: none

Tackle issues with migration script (#12730)
  creators/extension/migrate/init
  creators/extension/migrate/tasks/packageUpdates.js
  creators/extension/migrate/utils/content.js
  creators/extension/package.json
Due: none

update dependencies and resolutions to get a correct package build
  creators/extension/app/app.package.json
  creators/extension/package.json
Due: none

fix issue with display of fleet and cattle agent status on cluster dashboard view with very limited user permissions (#12710)
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  shell/pages/c/_cluster/explorer/index.vue
Due: shell

Fix lines moved by mistake that relate to istio telemetry
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
Due: shell

Shell: Bump elliptic from 6.6.0 to 6.6.1
  shell/yarn.lock
Due: shell

Align app and pkg creators to master
  creators/extension/app/app.package.json
  creators/extension/app/init
  creators/extension/package.json
  creators/extension/pkg/init
Due: none

Align pkg and app creators with master
  creators/extension/app/app.package.json
  creators/extension/app/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
Due: none

Fix node version
  creators/extension/pkg/package.json
Due: none

Shell: Bump cookie from 0.5.0 to 0.7.0
  shell/package.json
  shell/yarn.lock
Due: shell

Add e2e test for selecting Longhorn CSI Pod storage
  cypress/e2e/po/components/workloads/pod-storage.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  shell/edit/workload/storage/csi/index.vue
  shell/edit/workload/storage/index.vue
Due: shell

Create methods for getting CSI option labels
  shell/edit/workload/storage/csi/index.vue
Due: shell

Update name for pod storage tab
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  shell/edit/workload/index.vue
Due: shell

Replace periods with `-` in translation key
  shell/assets/translations/en-us.yaml
Due: shell

Remove a stutter in the sentence. (#12742)
  docusaurus/docs/internal/getting-started/concepts.md
Due: none

fixed some console errors for standard user (#12479)
  shell/components/ResourceDetail/Masthead.vue
  shell/components/ResourceDetail/index.vue
  shell/list/management.cattle.io.podsecurityadmissionconfigurationtemplate.vue
  shell/models/nodedriver.js
Due: shell

[2.10.1] Fix editing rke2/k3s clusters in 'pending' state (#12736)
  shell/models/__tests__/management.cattle.io.cluster.test.ts
  shell/models/management.cattle.io.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

[2.9.5] Fix editing rke2/k3s clusters in 'pending' state (#12738)
  shell/assets/translations/en-us.yaml
  shell/components/formatter/ClusterProvider.vue
  shell/models/__tests__/management.cattle.io.cluster.test.ts
  shell/models/__tests__/provisioning.cattle.io.cluster.test.ts
  shell/models/management.cattle.io.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

[2.9.5] Align pkg and app creators with master (#12755)
  creators/extension/app/app.package.json
  creators/extension/app/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
Due: none

Align pkg and app creators with master (#12756)
  creators/extension/app/app.package.json
  creators/extension/app/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
Due: none

expose refreshInterval input field for cluster repos
  cypress/e2e/po/edit/chart-repositories.po.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  shell/assets/translations/en-us.yaml
  shell/edit/catalog.cattle.io.clusterrepo.vue
Due: shell

Check default limit values in UI while creating a Pod with the Form
  cypress/e2e/po/components/workloads/pod.po.ts
  cypress/e2e/po/components/workloads/pods/pod-container-general.po.ts
  cypress/e2e/po/components/workloads/pods/pod-container-resources.po.ts
  cypress/e2e/po/components/workloads/pods/pod-container.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
Due: none

Fixed cluster page throwing error if imported cluster is broken
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Porting - disable Harvester legacy versions
  pkg/harvester-manager/config/harvester-manager.js
  pkg/harvester-manager/edit/harvesterhci.io.management.cluster.vue
  pkg/harvester-manager/l10n/en-us.yaml
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  pkg/harvester-manager/models/harvesterhci.io.management.cluster.js
Due: none

Remove legacy pkg download logic
  pkg/harvester-manager/models/harvesterhci.io.management.cluster.js
Due: none

Two fixes - changes namespaces kicked of side nav cluster requests (thought pinnedIds changed) - fix generic lists re-fetching given ns filter changes (they don't have namespaced arg)
  shell/components/nav/TopLevelMenu.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/mixins/resource-fetch.js
Due: shell

fixes / updates
  shell/assets/translations/en-us.yaml
  shell/components/PaginatedResourceTable.vue
  shell/components/ResourceList/index.vue
  shell/components/SortableTable/index.vue
  shell/config/product/apps.js
  shell/config/product/explorer.js
  shell/config/table-headers.js
  shell/list/catalog.cattle.io.clusterrepo.vue
  shell/list/node.vue
  shell/list/persistentvolume.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/mixins/resource-fetch.js
  shell/pages/c/_cluster/explorer/EventsTable.vue
  shell/pages/c/_cluster/settings/performance.vue
  shell/pages/home.vue
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

Add condition for latestPackage.dependencies
  creators/extension/package.json
  creators/extension/update/init
  creators/extension/update/upgrade
Due: none

testing/tidying
  shell/config/settings.ts
  shell/list/catalog.cattle.io.clusterrepo.vue
  shell/mixins/resource-fetch.js
  shell/pages/c/_cluster/explorer/EventsTable.vue
Due: shell

Add condition for latestPackage.dependencies (#12789)
  creators/extension/package.json
  creators/extension/update/init
  creators/extension/update/upgrade
Due: none

Add condition for latestPackage.dependencies (#12788)
  creators/extension/package.json
  creators/extension/update/init
  creators/extension/update/upgrade
Due: none

Adding `emits` to all rancher-components to fix linting rules
  eslint-plugin-local-rules/index.js
  pkg/rancher-components/src/components/Banner/Banner.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.vue
  pkg/rancher-components/src/components/StringList/StringList.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
  shell/components/form/UnitInput.vue
  shell/components/form/__tests__/UnitInput.test.ts
  shell/composables/useLabeledFormElement.ts
Due: shell, rancher-components

WIP - Rest of workload lists
  shell/config/product/explorer.js
  shell/config/settings.ts
  shell/list/networking.k8s.io.ingress.vue
  shell/list/persistentvolume.vue
  shell/list/service.vue
  shell/list/workload.vue
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

Remove `onChanges()` method in `ResourceYaml.vue`
  shell/components/ResourceYaml.vue
Due: shell

change script to bash + bump version
  creators/extension/package.json
  creators/extension/update/upgrade
Due: none

change script to bash + bump version (#12808)
  creators/extension/package.json
  creators/extension/update/upgrade
Due: none

update
  .github/workflows/scripts/test-extensions-creators-build.sh
Due: none
