Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Fix type errors introduced by TypeScript 5.9
  pkg/eks/util/validators.ts
  shell/utils/crypto/encryption.ts
Due: shell

Keep the migrated dialog buttons at their original height
  shell/dialog/AddClusterMemberDialog.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/dialog/AddExtensionReposDialog.vue
  shell/dialog/AddProjectMemberDialog.vue
  shell/dialog/AddonConfigConfirmationDialog.vue
  shell/dialog/AssignToDialog.vue
  shell/dialog/ChangePasswordDialog.vue
  shell/dialog/DeactivateDriverDialog.vue
  shell/dialog/DeveloperLoadExtensionDialog.vue
  shell/dialog/DiagnosticTimingsDialog.vue
  shell/dialog/DisableAuthProviderDialog.vue
  shell/dialog/DrainNode.vue
  shell/dialog/ExtensionCatalogInstallDialog.vue
  shell/dialog/ExtensionCatalogUninstallDialog.vue
  shell/dialog/FeatureFlagListDialog.vue
  shell/dialog/ForceMachineRemoveDialog.vue
  shell/dialog/GenericPrompt.vue
  shell/dialog/GitRepoForceUpdateDialog.vue
  shell/dialog/HelmOpForceUpdateDialog.vue
  shell/dialog/ImportDialog.vue
  shell/dialog/InstallExtensionDialog.vue
  shell/dialog/Ipv6NetworkingDialog.vue
  shell/dialog/KnownHostsEditDialog.vue
  shell/dialog/MoveNamespaceDialog.vue
  shell/dialog/OidcClientSecretDialog.vue
  shell/dialog/RedeployWorkloadDialog.vue
  shell/dialog/RollbackWorkloadDialog.vue
  shell/dialog/RotateCertificatesDialog.vue
  shell/dialog/RotateEncryptionKeyDialog.vue
  shell/dialog/ScalePoolDownDialog.vue
  shell/dialog/SloDialog.vue
  shell/dialog/UninstallExistingExtensionDialog.vue
  shell/dialog/UninstallExtensionDialog.vue
  shell/dialog/WechatDialog.vue
Due: shell

Explain why the resource popover component is module scoped
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
Due: shell

Name the variant destructive and drop its pressed state
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
  pkg/rancher-components/src/components/RcButtonSplit/RcButtonSplit.vue
  shell/dialog/DisableAuthProviderDialog.vue
  shell/dialog/OidcClientSecretDialog.vue
  shell/dialog/ScalePoolDownDialog.vue
  storybook/src/stories/Components/RcButton.stories.ts
Due: shell, rancher-components

Take the destructive button colours from the design tokens
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  shell/assets/styles/themes/_modern.scss
Due: shell, rancher-components

Open RcModal focus on the first control, and name its scrolling body
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  pkg/rancher-components/src/components/RcModal/useModal.ts
  storybook/src/stories/Components/RcModal.mdx
Due: rancher-components

Fix the remaining minor a11y violations from the a11y suite
  cypress/e2e/tests/accessibility/baseline.json
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/kubectl-explain/components/__tests__/SlideInPanel.test.ts
  shell/components/form/KeyValue.vue
  shell/components/form/__tests__/KeyValue.test.ts
  shell/edit/__tests__/catalog.cattle.io.clusterrepo.test.ts
  shell/edit/catalog.cattle.io.clusterrepo.vue
Due: shell

Make agentic workflow prose readable at a glance
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
  .github/workflows/enhancement-fixer.lock.yml
  .github/workflows/enhancement-fixer.md
  .github/workflows/shared/fix-from-backlog.md
  .github/workflows/shared/lessons.md
  .github/workflows/shared/writing.md
Due: none

Recompile agentic workflows onto gh-aw v0.88.8 (#19196)
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-accessibility-review.md
  .github/workflows/daily-issue-grooming.lock.yml
  .github/workflows/daily-issue-grooming.md
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-repo-status.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/pr-fix.lock.yml
Due: none

Keep the app bar version label on one line (#19192)
  cypress/e2e/po/components/version-number.po.ts
  cypress/e2e/tests/pages/generic/version.spec.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

Bump joi to 17.13.8 to fix GHSA-gg4h-3hg2-grpc and GHSA-6w3j-5fw6-r9vr (#19137)
  docusaurus/yarn.lock
Due: none

Trim the stylelint ignore list to paths the lint glob can reach
  stylelint.config.mjs
Due: none

Count and list the local cluster in the cluster switcher (#19184)
  cypress/e2e/blueprints/nav/fake-cluster.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/nav/ClusterSwitcher.vue
  shell/components/nav/ClusterSwitcherRow.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/ClusterSwitcher.test.ts
  shell/components/nav/__tests__/TopLevelMenu.helper.test.ts
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

Fleet: keep a valid workspace when the stored selection is gone
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
  shell/store/__tests__/index.test.ts
  shell/store/index.js
Due: shell

Fleet: confine the workspace check to restoring the selection
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
  shell/config/router/navigation-guards/clusters.js
  shell/store/__tests__/index.test.ts
  shell/store/index.js
Due: shell

Fleet: drop a deleted workspace when the switcher is mounted again
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
Due: shell

Fleet: assert the workspace selector without waiting for a list
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
Due: none

Fleet: wait for the stored workspace before reloading in the test
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
Due: none

Fleet: only replace the mounted selection when the workspace is gone
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
Due: shell

Fleet: correct the workspace without rewriting the preference
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
  shell/store/__tests__/index.test.ts
  shell/store/index.js
Due: shell

Fleet: correct the selection against the options the switcher renders
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
  shell/store/__tests__/index.test.ts
Due: shell

Fleet: restore through the same path when the workspace list arrives
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
  shell/config/router/navigation-guards/clusters.js
  shell/store/__tests__/index.test.ts
  shell/store/index.js
Due: shell

Fleet: never rewrite the preference when the options empty out
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
Due: shell

Fleet: never rewrite the preference on the no-permission path
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
  shell/store/__tests__/index.test.ts
Due: shell

fix: clarify local vs S3 etcd snapshot retention scope in cluster UI
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/S3Config.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/index.vue
Due: shell

Report a Fleet bundle waiting on a dependency as waiting, not as an error (#19145)
  shell/assets/translations/en-us.yaml
  shell/components/fleet/__tests__/FleetSummary.test.ts
  shell/models/__tests__/fleet-application.test.ts
  shell/models/__tests__/fleet.cattle.io.bundle.test.ts
  shell/models/fleet-application.js
  shell/models/fleet.cattle.io.bundle.js
  shell/pages/c/_cluster/fleet/graph/__tests__/config.test.ts
  shell/pages/c/_cluster/fleet/graph/config.js
  shell/plugins/dashboard-store/resource-class.js
  shell/utils/__tests__/fleet.test.ts
  shell/utils/fleet.ts
Due: shell

Fleet: correct the selection through the store action everywhere
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
Due: shell

Offer a policy the same credentials the app bundle forms offer
  shell/components/fleet/FleetPolicyAllowList.vue
  shell/components/fleet/FleetPolicySourceSection.vue
  shell/components/fleet/__tests__/FleetPolicySourceSection.test.ts
  shell/edit/__tests__/fleet.cattle.io.policy.test.ts
  shell/edit/fleet.cattle.io.policy.vue
  shell/types/fleet.d.ts
Due: shell

add ability to conditionally hide/display overview pages of a ProductChildGroup + add tests
  docusaurus/docs/extensions/api/nav/product-registration.md
  shell/components/nav/Group.vue
  shell/components/nav/__tests__/Group.test.ts
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/__tests__/plugin-products-nav-tree.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-external.ts
Due: shell

fix merge conflicts + additional fixes to make sure there is no problem in terms of extension compatibility
  shell/components/ResourceList/Masthead.vue
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/__tests__/plugin-products-extend.test.ts
  shell/core/__tests__/plugin-products-new.test.ts
  shell/core/__tests__/plugin-products-scenarios.test.ts
  shell/core/__tests__/plugin-products-side-menu.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
  shell/plugins/dashboard-store/resource-class.js
  shell/utils/__tests__/extension-product-routing.test.ts
  shell/utils/extension-product-routing.ts
Due: shell

fixes dashboard 17933
  shell/components/ResourceList/Masthead.vue
  shell/core/__tests__/plugin-products-helpers.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
  shell/core/productDebugger.d.ts
  shell/core/productDebugger.js
  shell/core/types.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell

update pr based on comment - move type definition to internal
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-internal.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
Due: shell

Fleet: keep the uncorrected paths uncorrected when routing them through the store
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
  shell/store/__tests__/index.test.ts
  shell/store/index.js
Due: shell

Add GitHub Projects style views to resource tables
  shell/assets/translations/en-us.yaml
  shell/components/ResourceTable.vue
  shell/components/SortableTable/grouping.js
  shell/components/SortableTable/index.vue
  shell/components/TableViews/TableViewQueryInput.vue
  shell/components/TableViews/TableViewsBar.vue
  shell/store/prefs.ts
  shell/utils/__tests__/table-views.test.ts
  shell/utils/table-views.ts
Due: shell

Keep a function groupBy out of the sort fields and fix column value lookup
  shell/components/SortableTable/sorting.js
  shell/utils/table-views.ts
Due: shell

Replace the plain table filter box with the views query input
  shell/components/ResourceTable.vue
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Redesign resource table toolbar (GitHub Projects style)
  shell/assets/translations/en-us.yaml
  shell/components/ResourceTable.vue
  shell/components/SortableTable/actions.js
  shell/components/SortableTable/index.vue
  shell/components/TableViews/TableViewsBar.vue
Due: shell

Fix missing bulk actions after the toolbar redesign
  shell/components/SortableTable/index.vue
Due: shell

Bulk-actions cog: openable when nothing selected so the options are visible
  shell/components/SortableTable/index.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
