Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Fix lint issues
  shell/utils/validators/cron-schedule.js
  shell/utils/validators/formRules/__tests__/index.test.ts
Due: shell

Fix missing await async calls; Remove this.harvesterRepository assignement to avoid PUT conflict
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  shell/utils/uiplugins.ts
Due: shell

Address PR feedback
  shell/assets/translations/en-us.yaml
  shell/core/plugin.ts
  shell/core/types-provisioning.ts
  shell/core/types.ts
  shell/list/provisioning.cattle.io.cluster.vue
Due: shell

Update steve-class.js so we always get an array
  shell/plugins/steve/steve-class.js
Due: shell

Add sublabel and chron type with hints
  storybook/src/stories/Form/Input.mdx
  storybook/src/stories/Form/Input.stories.ts
Due: none

Add @daily case to the input stories
  storybook/src/stories/Form/Input.mdx
  storybook/src/stories/Form/Input.stories.ts
Due: none

Add multiline type story for input
  storybook/src/stories/Form/Input.mdx
  storybook/src/stories/Form/Input.stories.ts
Due: none

Added Cron error case
  storybook/src/stories/Form/Input.mdx
  storybook/src/stories/Form/Input.stories.ts
Due: none

Add chron tests for input label
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

Add periodical case as exceptions
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

Fix type definition
  shell/core/types.ts
Due: shell

Linter fix
  storybook/src/stories/Form/Input.stories.ts
Due: none

Correct unit test definition
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
Due: rancher-components

changed basics
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/components/Nodes.vue
Due: none

Migrated editing imported cluster to Vue
  cypress/e2e/po/components/ace.po.ts
  cypress/e2e/po/components/labeled-input.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/imported/babel.config.js
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/components/Nodes.vue
  pkg/imported/index.ts
  pkg/imported/l10n/en-us.yaml
  pkg/imported/package.json
  pkg/imported/provisioner.ts
  pkg/imported/tsconfig.json
  pkg/imported/vue.config.js
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/ACE.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
  shell/utils/cluster.js
Due: shell

fixes
  pkg/imported/components/CruImported.vue
  pkg/imported/index.ts
Due: none

fixed empty lines
  pkg/imported/package.json
  pkg/imported/tsconfig.json
Due: none

update yarn lock file
  yarn.lock
Due: none

update yarn dependeciens to latest
  yarn.lock
Due: none

automation: add coverage for labeledinput using v-model.value.number
  cypress/e2e/po/components/component.po.ts
  cypress/e2e/po/edit/policy/network-policy.po.ts
  cypress/e2e/po/pages/explorer/network-policy.po.ts
  cypress/e2e/po/pages/global-settings/performance.po.ts
  cypress/e2e/tests/pages/explorer/policy/network-policy.spec.ts
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
Due: none

added cleanup set after the test to remove the created cluster and cloud credentials
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
Due: none

modified GKE components to have an unique id
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-gke.po.ts
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
  pkg/gke/components/CruGKE.vue
Due: none

addressed changes requested from PR review
  cypress.config.ts
  cypress/e2e/po/components/labeled-select.po.ts
  cypress/e2e/po/edit/base-cloud-credentials.po.ts
  cypress/e2e/po/edit/cloud-credentials-gke.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-gke.po.ts
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
Due: none

e2e test that creates GKE cluster with default settings
  cypress.config.ts
  cypress/e2e/po/components/button-file-selector.po.ts
  cypress/e2e/po/components/labeled-select.po.ts
  cypress/e2e/po/edit/base-cloud-credentials.po.ts
  cypress/e2e/po/edit/cloud-credentials-gke.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-gke.po.ts
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
  pkg/gke/components/CruGKE.vue
Due: none

automation: services tests
  cypress/e2e/po/components/growl-manager.po.ts
  cypress/e2e/po/components/key-value.po.ts
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/edit/resource-detail.po.ts
  cypress/e2e/po/edit/services.po.ts
  cypress/e2e/po/pages/explorer/services.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/global-settings/home-links.po.ts
  cypress/e2e/tests/pages/explorer/service-discovery/services.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  shell/components/form/KeyValue.vue
  shell/components/form/__tests__/KeyValue.test.ts
Due: shell

Fleet: Add cluster labels
  shell/assets/translations/en-us.yaml
  shell/components/fleet/FleetClusters.vue
  shell/models/fleet.cattle.io.cluster.js
Due: shell

e2e: Add metadata input field to createAmazonRke2Cluster; Check fleet clusters labels
  cypress/e2e/po/lists/fleet/fleet.cattle.io.cluster.po.ts
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

temp
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
Due: none

fix style regression (#13213)
  shell/assets/styles/vendor/vue-select.scss
Due: shell

Add workload typeDisplay
  shell/list/workload.vue
Due: shell

fix workload health accessibility
  shell/assets/translations/en-us.yaml
  shell/components/ProgressBarMulti.vue
  shell/components/form/PlusMinus.vue
  shell/components/formatter/WorkloadHealthScale.vue
Due: shell

Add LPDAP option for search
  shell/assets/translations/en-us.yaml
  shell/edit/auth/ldap/config.vue
Due: shell

Add unit tests for LDAP config
  shell/edit/auth/ldap/__tests__/config.test.ts
  shell/edit/auth/ldap/config.vue
Due: shell

more test cases
  cypress/e2e/po/lists/chart-repositories.po.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

adding more description
  cypress/e2e/tests/pages/generic/login.spec.ts
Due: none

toleration options for apps install/upgrade
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

removed standardUser tag from the e2e test
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
Due: none

Remove support for K8s 1.28 and 1.29 for Rancher 2.11.0
  pkg/eks/assets/data/eks-versions.js
Due: none

make home banner image close button always visible because of accessibility
  shell/components/BannerGraphic.vue
Due: shell
