Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

ux feedback ;
  shell/components/CruResource.vue
  shell/components/TableOfContents/TableOfContents.vue
Due: shell

fix jittery toc resize using a transition; add a breakpoint to hide the toc when less than our laptop width
  shell/components/CruResource.vue
Due: shell

toc resize but a little jittery
  shell/components/CruResource.vue
Due: shell

minor performance enhancement on label calc
  shell/components/TableOfContents/composables.ts
Due: shell

remove console logs
  shell/components/CruResource.vue
Due: shell

re-enable failing tests
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/AdditionalRedactions.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/Filters.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/General.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/AdditionalRedactions.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/Filters.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/index.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/index.test.ts
Due: shell

revert tsconfig change
  shell/tsconfig.json
Due: shell

add comment to computeTocContainerHeight
  shell/components/CruResource.vue
Due: shell

update auditpolicy snapshot following cruresource prop addition
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/index.test.ts.snap
Due: shell

feedback; allow label passthrough
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  shell/components/Tabbed/Tab.vue
  shell/components/Tabbed/index.vue
  shell/components/TableOfContents/composables.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell, rancher-components

revert unrelated pod detail change
  shell/detail/pod.vue
Due: shell

hack away ts error?
  shell/components/TableOfContents/composables.ts
Due: shell

fix test
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

add comment explaning 0-wait debounce
  shell/components/TableOfContents/composables.ts
Due: shell

remove console log
  pkg/rancher-components/src/components/Accordion/Accordion.vue
Due: rancher-components

remove test-breaking cruresource css change
  shell/components/CruResource.vue
Due: shell

pr feedback
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
Due: shell

pr feedback, minus getCurrentInstance use in useInSummary
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  shell/components/CruResource.vue
  shell/components/Tabbed/Tab.vue
  shell/components/Tabbed/index.vue
  shell/components/TableOfContents/composables.ts
Due: shell, rancher-components

fix ts errors; fix tabbed not registering with ToC
  shell/components/Tabbed/index.vue
  shell/components/TableOfContents/composables.ts
Due: shell

fix user test
  cypress/e2e/po/components/fixed-banner.po.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  shell/edit/management.cattle.io.user.vue
Due: shell

pr feedback
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  shell/components/CruResource.vue
  shell/components/Tabbed/Tab.vue
  shell/components/Tabbed/index.vue
  shell/components/TableOfContents/composables.ts
Due: shell, rancher-components

lint
  shell/components/CruResource.vue
Due: shell

fix String->string
  shell/components/TableOfContents/composables.ts
Due: shell

remove test accordions; fix e2e test merge
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/imported/components/CruImported.vue
Due: none

unit tests
  shell/components/formatter/__tests__/InternalExternalIP.test.ts
Due: shell

add qase ids
  cypress/e2e/tests/components/yaml-editor.spec.ts
  cypress/e2e/tests/pages/explorer/apps/index.spec.ts
  cypress/e2e/tests/pages/explorer/service-discovery/horizontal-pod-autoscalers.spec.ts
  cypress/e2e/tests/pages/explorer2/index.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/persistent-volume-claims.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/secrets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/replicasets.spec.ts
Due: none

fix richtranslation ts compilation errors for extensions
  shell/components/RichTranslation.vue
  shell/plugins/clean-html.d.ts
Due: shell

16118 table of contents (#16383)
  cypress/e2e/po/components/fixed-banner.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  pkg/eks/components/CruEKS.vue
  pkg/imported/components/CruImported.vue
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  shell/assets/styles/global/_layout.scss
  shell/assets/translations/en-us.yaml
  shell/components/CruResource.vue
  shell/components/Tabbed/Tab.vue
  shell/components/Tabbed/index.vue
  shell/components/TableOfContents/TableOfContents.vue
  shell/components/TableOfContents/composables.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/index.test.ts.snap
  shell/edit/management.cattle.io.user.vue
Due: shell, rancher-components

fix e2e test
  cypress/e2e/po/edit/chart-repositories.po.ts
  shell/edit/catalog.cattle.io.clusterrepo.vue
Due: shell

remove unused import
  cypress/e2e/po/edit/chart-repositories.po.ts
Due: none

surface linux only suffix on the version selector + update the header version
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Fix InternalExternalIP formatter compatibility with MgmtNode IP properties (#18022)
  shell/components/formatter/InternalExternalIP.vue
  shell/components/formatter/__tests__/InternalExternalIP.test.ts
Due: shell

fixes and tweaks
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-internal.ts
  shell/core/plugin-products-top-level.ts
Due: shell

fix pages --> children
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-external.ts
Due: shell

Updates following review
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-internal.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products-type-guards.ts
  shell/types/store/type-map.ts
Due: shell

address pr comments
  shell/apis/__tests__/useVersion.test.ts
  shell/apis/index.ts
  shell/apis/intf/version.ts
  shell/apis/version/__tests__/version.test.ts
  shell/apis/version/index.ts
  shell/config/version.ts
Due: shell

address pr fails on pipeline
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  scripts/check-i18n-links
  shell/config/__tests__/version.test.ts
  shell/config/version.d.ts
  shell/scripts/typegen.sh
Due: shell

address pr fails on pipeline
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

[11513] Fixed UI, moved logic out to ByStateSection
  shell/pages/c/_cluster/explorer/workload-dashboard/ByStateSection.vue
  shell/pages/c/_cluster/explorer/workload-dashboard/__tests__/composable.test.ts
  shell/pages/c/_cluster/explorer/workload-dashboard/composable.ts
  shell/pages/c/_cluster/explorer/workload-dashboard/types.ts
Due: shell

address pr fails on pipeline
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  cypress/tsconfig.build.json
Due: none
