Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

Add architecture info in cluster homepage - header
  shell/assets/translations/en-us.yaml
  shell/config/labels-annotations.js
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  shell/pages/c/_cluster/explorer/index.vue
Due: shell

Add architecture info in home page - clusters table
  shell/assets/translations/en-us.yaml
  shell/models/provisioning.cattle.io.cluster.js
  shell/pages/home.vue
Due: shell

Add architecture in Cluster managements table
  shell/config/product/manager.js
  shell/list/provisioning.cattle.io.cluster.vue
Due: shell

Add tooltip for mixed architecture
  shell/list/provisioning.cattle.io.cluster.vue
  shell/models/provisioning.cattle.io.cluster.js
  shell/pages/c/_cluster/explorer/index.vue
  shell/pages/home.vue
Due: shell

Fix e2e tests, check provider and version row content
  cypress/e2e/tests/pages/generic/home.spec.ts
  shell/config/product/manager.js
Due: shell

Capitalize Architecture column/label
  shell/models/provisioning.cattle.io.cluster.js
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  shell/pages/c/_cluster/explorer/index.vue
Due: shell

Fix unit tests
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
Due: shell

Update workflow to use secrets (#10804)
  .github/workflows/pr-gh-project.yaml
  .github/workflows/scripts/pr-gh-project.js
Due: none

extend e2e test to cover login reload scenario
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
Due: none

uncomment tests
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
Due: none

Add i18n check to GH Action workflow
  .github/workflows/test.yaml
Due: none

Rancher UI branding customisation is not persistent on the login screen (#10796)
  cypress/e2e/po/components/password.po.ts
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
  shell/mixins/brand.js
Due: shell

fix storage class not being selected properly
  cypress/e2e/tests/pages/charts/rancher-backup.spec.ts
  shell/chart/rancher-backup/index.vue
Due: shell

lint
  cypress/e2e/tests/pages/charts/rancher-backup.spec.ts
Due: none

add feature tag
  cypress/e2e/tests/pages/charts/rancher-backup.spec.ts
Due: none

minor refactor
  shell/chart/rancher-backup/index.vue
Due: shell

Add required permission to write id token
  .github/workflows/pr-gh-project.yaml
Due: none

Add required permission to write id token (#10810)
  .github/workflows/pr-gh-project.yaml
Due: none

Sort by raw value instead of string value
  shell/config/table-headers.js
Due: shell

Add Unknown to architecture possible values; Add translations
  shell/assets/translations/en-us.yaml
  shell/models/provisioning.cattle.io.cluster.js
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  shell/pages/c/_cluster/explorer/index.vue
Due: shell

recreate phil PR 10801 for testing
  jest.setup.js
  shell/components/form/__tests__/KeyValue.test.ts
  shell/composables/useStore.ts
  shell/initialize/index.js
  shell/initialize/plugins.js
  shell/plugins/i18n.js
Due: shell

Set scrollbar auto in Card.vue
  pkg/rancher-components/src/components/Card/Card.vue
Due: rancher-components

add check for cluster name in tooltip
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
Due: none

Adding support for custom cluster
  cypress.config.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/jenkins/init.sh
Due: none

add assertion
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
Due: none

clean up projects/namespace created in cluster dashboard tests and add check for filter
  cypress/e2e/tests/pages/explorer/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
Due: none

enable retries
  cypress.config.ts
Due: none

disable retries
  cypress.config.ts
Due: none

update test to select cattle-fleet-system
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
Due: none

add waits to namespace-picker and gitrepo tests
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

Add new fields to user details getter
  shell/models/management.cattle.io.user.js
Due: shell

add storageClasses to watch block
  shell/chart/rancher-backup/index.vue
Due: shell

automation: part 2 of fixing flaky tests (#10792)
  cypress/e2e/tests/pages/explorer/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

node group size labels and tags should be editable
  pkg/eks/components/NodeGroup.vue
Due: none

Migrating some of the authenticated middleware into stores
  cypress/e2e/tests/setup/rancher-setup.spec.ts
  shell/middleware/authenticated.js
  shell/plugins/back-button.js
  shell/store/index.js
  shell/utils/authentication.js
Due: shell

fix test
  cypress/e2e/tests/pages/charts/rancher-backup.spec.ts
Due: none

remove unnecessary watch item
  shell/chart/rancher-backup/index.vue
Due: shell

Update workflow to add issue to board and update its status
  .github/workflows/scripts/pr-gh-project.js
  .github/workflows/scripts/request.js
Due: none

No need to set this to undefined
  .github/workflows/scripts/pr-gh-project.js
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  harvester: any of: pkg/harvester
  rancher-components: any of: pkg/rancher-components
