Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Match nav search abbreviations instead of fetching short names and other fixes (#18952)
  shell/assets/translations/en-us.yaml
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/components/nav/NavActionBar.vue
  shell/components/nav/__tests__/NavActionBar.test.ts
  shell/composables/__tests__/useResourceShortNames.test.ts
  shell/composables/useResourceShortNames.ts
  shell/config/product/explorer.js
  shell/config/product/fleet.js
  shell/store/__tests__/type-map.applyProducts.test.ts
  shell/store/type-map.js
  shell/types/store/type-map.ts
  shell/utils/__tests__/fuzzy.test.ts
  shell/utils/fuzzy.ts
Due: shell

Make counter badge colours configurable and add RcContentGroup
  pkg/rancher-components/src/components/Layout/RcContentGroup/RcContentGroup.test.ts
  pkg/rancher-components/src/components/Layout/RcContentGroup/RcContentGroup.vue
  pkg/rancher-components/src/components/Layout/RcContentGroup/index.ts
  pkg/rancher-components/src/components/Layout/index.ts
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.test.ts
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.vue
  pkg/rancher-components/src/components/Pill/RcCounterBadge/types.ts
  pkg/rancher-components/src/components/RcSection/RcSection.test.ts
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/index.ts
  shell/assets/styles/themes/_modern.scss
  shell/components/fleet/FleetClusterTargets/index.vue
  shell/components/fleet/HelmOpAppCoConfigTab.vue
  shell/components/fleet/HelmOpAppCoResourcesSection.vue
  shell/components/fleet/__tests__/HelmOpAppCoConfigTab.test.ts
  shell/components/fleet/__tests__/HelmOpAppCoResourcesSection.test.ts
  storybook/src/stories/Components/Pill/RcCounterBadge.stories.ts
  storybook/src/stories/Components/RcContentGroup.stories.ts
  storybook/src/stories/Components/RcSection.stories.ts
Due: shell, rancher-components

[#17256] markRaw dynamic NavHeaderRight component to avoid Vue reactive warning
  shell/components/nav/Header.vue
  shell/components/nav/__tests__/Header.test.ts
Due: shell

[#16720] Secret list/detail use secret type, not kind
  shell/assets/translations/en-us.yaml
  shell/models/__tests__/secret.test.ts
  shell/models/secret.js
Due: shell

[#16735] Left-align detail header labels/annotations when no identifying info
  shell/components/Resource/Detail/Metadata/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/index.vue
Due: shell

Separate machine pool logic into a composable
  shell/composables/useMachinePools.test.ts
  shell/composables/useMachinePools.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

fix kw test 2.15 backport
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

[#17256] Centralize markRaw for dynamic components in getDynamic
  shell/components/nav/Header.vue
  shell/components/nav/__tests__/Header.test.ts
  shell/core/__tests__/extension-manager-impl.test.js
  shell/core/extension-manager-impl.js
Due: shell

fix kw test 2.14 backport
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

Make login welcome assertion brand agnostic
  cypress/e2e/po/pages/login-page.po.ts
Due: none

Cache Rancher version login checks
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

real-time highlighting
  shell/components/CodeMirror.vue
  shell/components/YamlEditor.vue
  shell/components/YamlOverridesEditor.vue
  shell/components/__tests__/CodeMirror.test.ts
  shell/components/__tests__/YamlOverridesEditor.test.ts
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
  shell/pages/c/_cluster/apps/charts/install.vue
  shell/utils/__tests__/chart-values.test.ts
  shell/utils/chart-values.ts
Due: shell

Bring back the one-provider login pattern
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/tests/pages/generic/login.spec.ts
  shell/assets/translations/en-us.yaml
  shell/pages/auth/__tests__/login.test.ts
  shell/pages/auth/login.vue
Due: shell

Tie the active nav item to the primary button colours
  shell/assets/styles/__tests__/theme-contrast.test.ts
  shell/assets/styles/themes/_modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/IconOrSvg.vue
  shell/components/nav/Group.vue
  shell/components/nav/TopLevelMenu.vue
  shell/utils/__tests__/color.test.ts
  shell/utils/color.js
Due: shell

Align nav selection and Prime tokens with the Figma spec
  shell/assets/styles/__tests__/theme-contrast.test.ts
  shell/assets/styles/themes/_modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/utils/__tests__/color.test.ts
  shell/utils/color.js
Due: shell

[#16720] Show raw secret type on detail page to match list column
  shell/models/__tests__/secret.test.ts
  shell/models/secret.js
Due: shell

sort deprecated StorageClass provisioners below supported ones
  shell/edit/__tests__/storage.k8s.io.storageclass.test.ts
  shell/edit/storage.k8s.io.storageclass/index.vue
Due: shell

Remove role="textbox" from search inputs
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/components/Window/ContainerLogs.vue
  shell/components/Window/__tests__/ContainerLogs.test.ts
  shell/pages/c/_cluster/apps/charts/__tests__/index.test.ts
  shell/pages/c/_cluster/apps/charts/index.vue
  shell/pages/c/_cluster/fleet/__tests__/index.test.ts
  shell/pages/c/_cluster/fleet/index.vue
Due: shell, rancher-components

support IP6 values in Chart Questions ipaddr type (#19009)
  shell/utils/validators/__tests__/cidr.test.ts
  shell/utils/validators/cidr.js
Due: shell

fix: attempt logic
  shell/utils/__tests__/uiplugins-extra.test.ts
  shell/utils/uiplugins.ts
Due: shell

[#17256] Store dynamic NavHeaderRight component with markRaw to avoid Vue reactive-component warning (#18995)
  shell/components/nav/Header.vue
  shell/components/nav/__tests__/Header.test.ts
  shell/core/__tests__/extension-manager-impl.test.js
  shell/core/extension-manager-impl.js
Due: shell

[#16828] Add Deployed column to workload lists
  shell/config/pagination-table-headers.js
  shell/config/product/explorer.js
  shell/config/table-headers.js
  shell/models/__tests__/workload.test.ts
  shell/models/workload.js
Due: shell

test(e2e): pin Rancher image/agent to a known-good head build (4cd8c7d)
  branches-metadata.json
Due: none

Use release-2.16 helm chart in CI, to fix CI
  branches-metadata.json
  scripts/e2e-k3s-start.sh
Due: none

test(e2e): pin Rancher image/agent to head build f7438dd (pre-k3s-bump)
  branches-metadata.json
Due: none

[JIRA][12458] Show Cluster and Project Members to users with the Manage Project Members role (#18840)
  shell/components/ExplorerMembers.vue
  shell/components/form/Members/MembershipEditor.vue
  shell/components/form/Members/ProjectMembershipEditor.vue
  shell/components/form/Members/__tests__/MembershipEditor.test.ts
  shell/config/product/explorer.js
  shell/edit/management.cattle.io.project.vue
  shell/store/type-map.js
  shell/utils/project-permissions.ts
Due: shell

test(e2e): read LOCAL branches-metadata.json so the pinned Rancher tag applies
  scripts/e2e-k3s-start.sh
Due: none

Remove role="textbox" from search inputs (#19012)
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/components/Window/ContainerLogs.vue
  shell/components/Window/__tests__/ContainerLogs.test.ts
  shell/pages/c/_cluster/apps/charts/__tests__/index.test.ts
  shell/pages/c/_cluster/apps/charts/index.vue
  shell/pages/c/_cluster/fleet/__tests__/index.test.ts
  shell/pages/c/_cluster/fleet/index.vue
Due: shell, rancher-components

Update agent instructions with unit test feedback (#18973)
  AGENTS.md
  docs/agents.md/contributors/2_unit-tests.md
Due: none

fix(test): mock management/schemaFor in MembershipEditor.remove spec
  shell/components/form/Members/__tests__/MembershipEditor.remove.test.ts
Due: shell

test(e2e): pin Rancher image to last-good build to unblock CI (temporary)
  branches-metadata.json
  scripts/e2e-docker-start
  scripts/e2e-k3s-start.sh
Due: none

debounce chart values preview to fix typing lag on large files
  shell/components/YamlOverridesEditor.vue
  shell/components/__tests__/YamlOverridesEditor.test.ts
Due: shell

speed up chart values preview by parsing overrides once and diffing only the changed line window
  shell/components/CodeMirror.vue
  shell/components/YamlOverridesEditor.vue
  shell/components/__tests__/YamlOverridesEditor.test.ts
  shell/utils/__tests__/chart-values.test.ts
  shell/utils/chart-values.ts
Due: shell

fix(test): mock management/schemaFor in MembershipEditor.remove spec (+ temporary e2e image pin to unblock CI) (#19018)
  branches-metadata.json
  scripts/e2e-docker-start
  scripts/e2e-k3s-start.sh
  shell/components/form/Members/__tests__/MembershipEditor.remove.test.ts
Due: shell

[SURE-10584] Clarify create-user feedback when role assignment fails
  shell/assets/translations/en-us.yaml
  shell/edit/__tests__/management.cattle.io.user.test.ts
  shell/edit/management.cattle.io.user.vue
Due: shell

Update users e2e test for the create-user rollback behavior
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
Due: none

Surface the role-assignment reason on the orphaned-account error
  shell/edit/__tests__/management.cattle.io.user.test.ts
  shell/edit/management.cattle.io.user.vue
Due: shell

Route multi-banner assertions through FixedBannerPo
  cypress/e2e/po/components/fixed-banner.po.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
Due: none

[SURE-10584] Drop the rolled-back notice; keep only the orphaned-account warning
  cypress/e2e/po/components/fixed-banner.po.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  shell/assets/translations/en-us.yaml
  shell/edit/__tests__/management.cattle.io.user.test.ts
  shell/edit/management.cattle.io.user.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
