Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  harvester:
    paths: 
    - pkg/harvester
  rancher-components:
    paths: 
    - pkg/rancher-components

set cypress numTestsKeptInMemory to 0
  .github/workflows/test.yaml
  scripts/e2e
Due: none

rebased moved data to blueprint
  cypress/e2e/blueprints/agent-configuration/agent-configuration-payload.ts
  cypress/e2e/blueprints/agent-configuration/agent-configuration-rke1-data.ts
Due: none

clean up moved/deleted files after rebase
  .github/workflows/test.yaml
  cypress/e2e/po/pages/users-and-auth/users-and-auth.po.ts
  cypress/e2e/tests/pages/manager/rke1-generic.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users-and-auth.spec.ts
  cypress/globals.d.ts
  cypress/support/commands.ts
Due: none

add comment and skip failing test
  cypress/e2e/tests/pages/explorer/cluster-dashboard.spec.ts
Due: none

break rke1 agent config fields into individual describe blocks
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
  cypress/e2e/tests/pages/manager/agent-configuration-rke1.spec.ts
Due: none

add tags to nested describe blocks
  cypress/e2e/tests/pages/manager/agent-configuration-rke1.spec.ts
Due: none

add manager tag
  cypress/e2e/tests/pages/manager/agent-configuration-rke1.spec.ts
Due: none

remove after function from out describe block
  cypress/e2e/tests/pages/manager/agent-configuration-rke1.spec.ts
Due: none

do not run rke1 agent config tests with standard user
  cypress.config.ts
  cypress/e2e/tests/pages/manager/agent-configuration-rke1.spec.ts
Due: none

add retry logic for failing user creation network request (#10261)
  cypress/e2e/po/edit/management.cattle.io.user.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/tests/pages/explorer/cluster-project-members.spec.ts
  shell/components/CruResource.vue
Due: shell

Fix highlight main nav menu items (#10212)
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/pages/charts/istio.spec.ts
  cypress/e2e/tests/pages/explorer/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
  shell/components/nav/TopLevelMenu.vue
  shell/config/product/fleet.js
Due: shell

fix issue where LabeledInput input event was not working for type multiline
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

Skip snapshots e2e tests
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Add e2e tests: RKE1 cluster details
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail-rke1-custom.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail-snapshots.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/pages/cluster-manager/cluster-manager-list.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/detail/provisioning.cattle.io.cluster.vue
Due: shell

Address change request
  cypress/e2e/blueprints/manager/cluster-snapshots.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail-snapshots.po.ts
  cypress/e2e/po/lists/snapshots-list.po.ts
  cypress/e2e/po/pages/cluster-manager/cluster-manager-list.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Set depaginate flag for snapshots
  shell/config/product/explorer.js
  shell/config/product/manager.js
Due: shell

Mock snapshots list e2e test; clean up code
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

fix lint
  cypress/e2e/tests/pages/manager/agent-configuration-rke1.spec.ts
Due: none

feat(log): support global log
  pkg/image-repo/components/LogV1.vue
  pkg/image-repo/components/LogV2.vue
  pkg/image-repo/pages/c/_cluster/manager/image/log.vue
  pkg/image-repo/routing/routing.js
Due: none

refactor(LabelsV1): move header to AdminConfig component
  pkg/image-repo/components/AdminConfig.vue
  pkg/image-repo/components/LabelsV1.vue
Due: none

Fix parse-tag-name script to use correct GITHUB_WORKFLOW_TYPE
  shell/scripts/extension/parse-tag-name
Due: shell

Fix missing script parse-tag-name
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
Due: none

Update 'Upload charts artifact' step condition to work for tagged releases
  .github/workflows/build-extension-charts.yml
Due: none

add query param rkeType to cluster creation url + add logic to take into consideration rkeType query param when reading cluster provisioning create url + replace some strings for consts + add e2e
  cypress/e2e/blueprints/manager/clusterProviderUrlCheck.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/config/query-params.js
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

Aws In-tree support
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

remove 1.27 testing code
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Update vue shim
  pkg/rancher-components/src/shim-vue.d.ts
Due: rancher-components

fix(CatalogList): fix catalog action menu display error
  shell/pages/c/_cluster/uiplugins/CatalogList/index.vue
Due: shell

fix issue where LabeledInput input event was not working for type multiline (#10272)
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

Fix parse-tag-name script to use correct GITHUB_WORKFLOW_TYPE (#10278)
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
  shell/scripts/extension/parse-tag-name
Due: shell

add css rules to truncate long project names in projects list and title on project edit/details
  shell/assets/translations/en-us.yaml
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/ResourceDetail/Masthead.vue
Due: shell

Add null checks for Clusters agentConfig property
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Handle protect-kernel-defaults value in case of machineSelectorConfig is missing
  shell/edit/provisioning.cattle.io.cluster/__tests__/Advanced.test.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/Advanced.vue
Due: shell

Minor code refactoring
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Relocate mock data from Advanced unit tests
  shell/edit/provisioning.cattle.io.cluster/__tests__/Advanced.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/utils/cluster.ts
Due: shell

Fix typo
  shell/edit/provisioning.cattle.io.cluster/__tests__/Advanced.test.ts
Due: shell

add warning banner when amazon out of tree cloud provider is selected
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

recreate PR 9914 for backport
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

backport of PR 9643
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

remove testing code
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell
