Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Update Resource detail test typings
  shell/components/Drawer/ResourceDetailDrawer/__tests__/ConfigTab.test.ts
  shell/components/Drawer/ResourceDetailDrawer/__tests__/YamlTab.test.ts
  shell/components/Resource/Detail/Card/StateCard/__tests__/composables.test.ts
  shell/components/Resource/Detail/Card/__tests__/PodsCard.test.ts
  shell/components/Resource/Detail/Masthead/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/__tests__/identifying-fields.test.ts
  shell/components/Resource/Detail/Preview/__tests__/Preview.spec.ts
  shell/components/Resource/Detail/ResourcePopover/__tests__/ResourcePopoverCard.test.ts
  shell/components/Resource/Detail/TitleBar/__tests__/composables.test.ts
  shell/components/Resource/Detail/TitleBar/__tests__/index.test.ts
Due: shell

Drop the query-params .js import workaround
  shell/components/Drawer/ResourceDetailDrawer/__tests__/ConfigTab.test.ts
  shell/components/Drawer/ResourceDetailDrawer/__tests__/YamlTab.test.ts
  shell/components/Questions/__tests__/Boolean.test.ts
  shell/components/Questions/__tests__/Float.test.ts
  shell/components/Questions/__tests__/Int.test.ts
  shell/components/Questions/__tests__/String.test.ts
  shell/components/Questions/__tests__/Yaml.test.ts
  shell/components/form/__tests__/LabeledSelect.test.ts
  shell/components/form/__tests__/Select.test.ts
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
Due: shell

Update core component test typings
  shell/components/__tests__/AppModal.test.ts
  shell/components/__tests__/AsyncButton.test.ts
  shell/components/__tests__/Certificates.test.ts
  shell/components/__tests__/CodeMirror.test.ts
  shell/components/__tests__/FailWhale.test.ts
  shell/components/__tests__/FilterPanel.test.ts
  shell/components/__tests__/FixedBanner.test.ts
  shell/components/__tests__/LazyImage.spec.ts
  shell/components/__tests__/NamespaceFilter.test.ts
  shell/components/__tests__/PodSecurityAdmission.test.ts
  shell/components/__tests__/PopoverCard.test.ts
  shell/components/__tests__/RichTranslation.test.ts
  shell/components/__tests__/TabTitle.test.ts
Due: shell

Replace blanket any casts with described shapes
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/__tests__/identifying-fields.test.ts
  shell/components/__tests__/FailWhale.test.ts
  shell/components/fleet/__tests__/FleetClusters.test.ts
  shell/components/form/__tests__/Select.test.ts
  shell/components/formatter/__tests__/KubeconfigClusters.test.ts
  shell/components/formatter/__tests__/WorkloadDetailEndpoints.test.ts
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  shell/pages/c/_cluster/uiplugins/__tests__/index.test.ts
Due: shell

Update fleet, formatter and nav test typings
  shell/components/Tabbed/__tests__/index.test.ts
  shell/components/fleet/__tests__/ClusterSelectionFields.test.ts
  shell/components/fleet/__tests__/FleetClusters.test.ts
  shell/components/fleet/__tests__/FleetSummary.test.ts
  shell/components/formatter/__tests__/ClusterLink.test.ts
  shell/components/formatter/__tests__/FleetSummaryGraph.test.ts
  shell/components/formatter/__tests__/KubeconfigClusters.test.ts
  shell/components/formatter/__tests__/LiveDate.test.ts
  shell/components/formatter/__tests__/ServiceTargets.test.ts
  shell/components/nav/__tests__/Group.test.ts
  shell/components/nav/__tests__/TopLevelMenu.test.ts
Due: shell

Update dialog, list and page test typings
  shell/dialog/__tests__/KnownHostsEditDialog.test.ts
  shell/dialog/__tests__/RedeployWorkloadDialog.test.ts
  shell/dialog/__tests__/RotateEncryptionKeyDialog.test.ts
  shell/dialog/__tests__/ScaleMachineDownDialog.test.ts
  shell/list/__tests__/workload.test.ts
  shell/machine-config/__tests__/generic.test.ts
  shell/pages/__tests__/diagnostic.test.ts
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  shell/pages/c/_cluster/longhorn/__tests__/longhorn.index.test.ts
  shell/pages/c/_cluster/uiplugins/__tests__/index.test.ts
Due: shell

Wrap the widened TitleBar mount options
  shell/components/Resource/Detail/TitleBar/__tests__/index.test.ts
Due: shell

Update Questions and Window test typings
  shell/components/Questions/__tests__/Boolean.test.ts
  shell/components/Questions/__tests__/Float.test.ts
  shell/components/Questions/__tests__/Int.test.ts
  shell/components/Questions/__tests__/String.test.ts
  shell/components/Questions/__tests__/Yaml.test.ts
  shell/components/Window/__tests__/ContainerLogs.test.ts
  shell/components/Window/__tests__/ContainerShell.test.ts
Due: shell

Type the vSphere machine-config test instance
  shell/machine-config/__tests__/vmwarevsphere.test.ts
Due: shell

Expose the emitter behind the EC2 networking wrapper
  shell/machine-config/components/__tests__/EC2Networking.test.ts
Due: shell

Describe the shapes the component tests reach for
  shell/components/Resource/Detail/ViewOptions/__tests__/index.test.ts
  shell/components/__tests__/LazyImage.spec.ts
  shell/components/__tests__/PodSecurityAdmission.test.ts
  shell/components/__tests__/TabTitle.test.ts
  shell/components/form/__tests__/Command.test.ts
  shell/components/form/__tests__/Probe.test.ts
  shell/components/form/__tests__/Taints.test.ts
  shell/components/formatter/__tests__/KubeconfigClusters.test.ts
Due: shell

Restore the AsyncButton describedby assertion
  shell/components/__tests__/AsyncButton.test.ts
Due: shell

Update form component test typings
  shell/components/form/ResourceQuota/__tests__/ResourceQuotaEntry.test.ts
  shell/components/form/__tests__/ArrayList.test.ts
  shell/components/form/__tests__/BannerSettings.test.ts
  shell/components/form/__tests__/Command.test.ts
  shell/components/form/__tests__/FileImageSelector.test.ts
  shell/components/form/__tests__/FileSelector.test.ts
  shell/components/form/__tests__/HookOption.test.ts
  shell/components/form/__tests__/LabeledSelect.test.ts
  shell/components/form/__tests__/Labels.test.ts
  shell/components/form/__tests__/MatchExpressions.test.ts
  shell/components/form/__tests__/Networking.test.ts
  shell/components/form/__tests__/NodeAffinity.test.ts
  shell/components/form/__tests__/NodeScheduling.test.ts
  shell/components/form/__tests__/PodAffinity.test.ts
  shell/components/form/__tests__/PrivateRegistry.test.ts
  shell/components/form/__tests__/Probe.test.ts
  shell/components/form/__tests__/SSHKnownHosts.test.ts
  shell/components/form/__tests__/SchedulingCustomization.test.ts
  shell/components/form/__tests__/Security.test.ts
  shell/components/form/__tests__/Select.test.ts
  shell/components/form/__tests__/SelectOrCreateAuthSecret.test.ts
  shell/components/form/__tests__/Taints.test.ts
  shell/components/form/__tests__/UnitInput.test.ts
Due: shell

Restore the query-params mode constants
  shell/components/form/__tests__/ArrayList.test.ts
  shell/components/form/__tests__/Command.test.ts
  shell/components/form/__tests__/HookOption.test.ts
  shell/components/form/__tests__/Labels.test.ts
  shell/components/form/__tests__/MatchExpressions.test.ts
  shell/components/form/__tests__/NodeAffinity.test.ts
  shell/components/form/__tests__/NodeScheduling.test.ts
  shell/components/form/__tests__/PodAffinity.test.ts
  shell/components/form/__tests__/Probe.test.ts
  shell/components/form/__tests__/SSHKnownHosts.test.ts
  shell/components/form/__tests__/SchedulingCustomization.test.ts
  shell/components/form/__tests__/Security.test.ts
  shell/components/form/__tests__/SelectOrCreateAuthSecret.test.ts
  shell/components/nav/__tests__/Group.test.ts
  shell/dialog/__tests__/KnownHostsEditDialog.test.ts
Due: shell

Regenerate the vue-tsc type-check baseline
  scripts/type-check-baseline.txt
Due: none

Apply eslint formatting to the retyped tests
  shell/components/Resource/Detail/Masthead/__tests__/index.test.ts
  shell/components/Resource/Detail/TitleBar/__tests__/index.test.ts
  shell/components/Tabbed/__tests__/index.test.ts
  shell/dialog/__tests__/RotateEncryptionKeyDialog.test.ts
Due: shell

Type the last two test mounts precisely
  scripts/type-check-baseline.txt
  shell/components/Window/__tests__/ContainerShell.test.ts
  shell/components/__tests__/FilterPanel.test.ts
Due: shell

Fix alignment on banner text when left aligned (#18885)
  shell/components/BannerGraphic.vue
Due: shell

Replace the remaining any types in the retyped tests
  shell/components/Window/__tests__/ContainerShell.test.ts
  shell/components/__tests__/Certificates.test.ts
  shell/components/__tests__/PodSecurityAdmission.test.ts
  shell/components/__tests__/TabTitle.test.ts
  shell/components/fleet/__tests__/FleetSummary.test.ts
  shell/components/form/__tests__/Probe.test.ts
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/pages/__tests__/diagnostic.test.ts
Due: shell

Fix side-nav e2e tests for independent group expansion
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
Due: none

Fixed changing region may lead to AKS cluster being provisioned with unsupported k8s version
  pkg/aks/components/Config.vue
  pkg/aks/components/__tests__/Config.test.ts
Due: none

[SURE-8192] Cluster switcher redesign: pinned + recent rail/flyout (#11043)
  shell/assets/translations/en-us.yaml
  shell/components/nav/ClusterSwitcher.vue
  shell/components/nav/ClusterSwitcherRow.vue
  shell/components/nav/Pinned.vue
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/ClusterSwitcher.test.ts
  shell/components/nav/__tests__/ClusterSwitcherRow.test.ts
  shell/components/nav/__tests__/TopLevelMenu.helper.test.ts
  shell/components/nav/__tests__/TopLevelMenu.test.ts
  shell/models/management.cattle.io.cluster.js
  shell/store/__tests__/prefs.test.ts
  shell/store/index.js
  shell/store/prefs.ts
  shell/utils/__tests__/cluster-pref-writer.test.ts
  shell/utils/__tests__/recent-clusters.test.ts
  shell/utils/cluster-pref-writer.ts
  shell/utils/recent-clusters.ts
Due: shell

Address review feedback on tooltip accessibility
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  shell/assets/translations/en-us.yaml
  shell/components/form/KeyValue.vue
  shell/directives/__tests__/clean-tooltip-role.test.ts
  shell/directives/clean-tooltip.ts
  shell/edit/auditlog.cattle.io.auditpolicy/AdditionalRedactions.vue
  shell/edit/workload/index.vue
Due: shell, rancher-components

Fix tooltip role misassignment and aria-label on info icons
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  shell/components/form/KeyValue.vue
  shell/directives/clean-tooltip.ts
  shell/edit/auditlog.cattle.io.auditpolicy/AdditionalRedactions.vue
  shell/edit/workload/index.vue
Due: shell, rancher-components

switch to ssp for list pages
  pkg/cert-manager/__tests__/index.test.ts
  pkg/cert-manager/__tests__/product-registration.test.ts
  pkg/cert-manager/edit/cert-manager.io.certificate.vue
  pkg/cert-manager/index.ts
  pkg/cert-manager/table-headers.ts
  shell/components/form/ResourceLabeledSelect.vue
  shell/components/form/__tests__/ResourceLabeledSelect.test.ts
  shell/core/plugin-products-internal.ts
  shell/core/types.ts
Due: shell

remove redundant comment
  shell/components/form/ResourceLabeledSelect.vue
Due: shell

update comment
  pkg/cert-manager/config/nav.ts
Due: none

switch to standalone overview page
  pkg/cert-manager/__tests__/product-registration.test.ts
  pkg/cert-manager/config/nav.ts
  pkg/cert-manager/index.ts
Due: none

Fix "Should be able to clone a job" E2E test failure (#18781)
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
Due: none

add tag
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
Due: none

[SURE-8192] e2e: update side-menu page objects + spec for the redesigned cluster switcher
  cypress/e2e/blueprints/nav/fake-cluster.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
Due: none

[SURE-8192] Honor hide-local-cluster setting for the fixed local slot
  shell/components/nav/TopLevelMenu.vue
Due: shell

[SURE-8192] Fix broken local-cluster links after local moved to its own slice
  shell/models/__tests__/namespace.test.ts
  shell/models/__tests__/provisioning.cattle.io.cluster.test.ts
  shell/models/namespace.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Announce tooltip text to screen readers
  cypress/e2e/po/components/labeled-input.po.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.test.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.test.ts
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  pkg/rancher-components/src/components/RcIconTooltip/RcIconTooltip.test.ts
  pkg/rancher-components/src/components/RcIconTooltip/RcIconTooltip.vue
  pkg/rancher-components/src/components/RcIconTooltip/index.ts
  pkg/rancher-components/src/components/RcIconTooltip/types.ts
  pkg/rancher-components/src/index.ts
  shell/assets/translations/en-us.yaml
  shell/components/form/KeyValue.vue
  shell/directives/__tests__/clean-tooltip-activation.test.ts
  shell/directives/__tests__/clean-tooltip-description.test.ts
  shell/directives/__tests__/clean-tooltip-persistence.test.ts
  shell/directives/__tests__/clean-tooltip-role.test.ts
  shell/directives/__tests__/clean-tooltip.test.ts
  shell/directives/__tests__/utils/tooltip.ts
  shell/directives/clean-tooltip.ts
  shell/edit/auditlog.cattle.io.auditpolicy/AdditionalRedactions.vue
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/General.test.ts.snap
  shell/edit/workload/index.vue
  shell/machine-config/vmwarevsphere.vue
  storybook/src/stories/Components/RcIconTooltip.stories.ts
Due: shell, rancher-components

Reach non-public members from tests by element access
  pkg/rancher-prime/pages/Registration.test.ts
  scripts/type-check-baseline.txt
  shell/plugins/steve/__tests__/actions.test.ts
  shell/plugins/steve/__tests__/steve-pagination-utils.test.ts
  shell/plugins/steve/actions.js
Due: shell

Added CAPI extension docs
  docusaurus/docs/extensions/provisioning/capi-provisioner.md
  docusaurus/docs/extensions/provisioning/overview.md
  shell/core/types-provisioning.ts
Due: shell

Train over lessons
  .github/agents/lessons/dead-code.md
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

fix(azure) Fix cn azure default region (#17926)
  pkg/aks/components/CruAks.vue
Due: none

Retry pagination text assertions to fix flaky list tests
  cypress/e2e/po/components/pagination.po.ts
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/cronjobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/statefulsets.spec.ts
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
