Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  harvester:
    paths: 
    - pkg/harvester
  rancher-components:
    paths: 
    - pkg/rancher-components

echo on e2e-docker-start
  scripts/e2e-docker-start
Due: none

another test run
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

change branch
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

adjust branch for 2.9
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

tidy up pr to prepare for merge + stop kw spec form running + working on kw spec
  .github/workflows/check-plugins.yaml
  .github/workflows/docusaurus.yaml
  .github/workflows/extensions-compatibility-tests.yaml
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/kubewarden.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

final test elemental spec
  .github/workflows/extensions-compatibility-tests.yaml
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
Due: none

some minor adjustments to elemental spec + start work on kubewarden spec
  .github/workflows/extensions-compatibility-tests.yaml
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/kubewarden.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
Due: none

finished elemental spec
  cypress/e2e/po/pages/extensions-compatibility-tests/elemental.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
Due: none

fix lint issues
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/kubewarden.spec.ts
Due: none

finalized workflow + remove echos from e2e-docker-start + working on elemental spec
  .github/workflows/extensions-compatibility-tests.yaml
  cypress/e2e/po/components/labeled-select.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/elemental.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/extensions-compatibility.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/elemental.spec.ts
  scripts/e2e-docker-start
Due: none

add build of UI
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

changes
  .github/workflows/storybook.yaml
  .github/workflows/test.yaml
Due: none

revert test.yaml
  .github/workflows/test.yaml
Due: none

fix after rebase
  .github/workflows/test.yaml
Due: none

reshuffle folders
  cypress/e2e/po/extensions/elemental/elemental.po.ts
  cypress/e2e/po/extensions/extensions-compatibility.po.ts
  cypress/e2e/po/pages/extensions-compatibility-tests/kubewarden.po.ts
  cypress/e2e/tests/extensions/elemental/elemental.spec.ts
  cypress/e2e/tests/pages/extensions-compatibility-tests/kubewarden.spec.ts
Due: none

fix test.yaml change + add push trigger to compatibility tests to see it run again
  .github/workflows/extensions-compatibility-tests.yaml
  .github/workflows/test.yaml
Due: none

fix trigger
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

remove BUILD_DASHBOARD reference
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

add
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

tweak path to spec file
  .github/workflows/extensions-compatibility-tests.yaml
Due: none

include extensions folder in cypress config
  cypress.config.ts
Due: none

trigger wf
  cypress.config.ts
Due: none

get back script optimisations + revert small change used to trigger workflow + fix path elemental.po
  cypress.config.ts
  cypress/e2e/po/extensions/elemental/elemental.po.ts
  scripts/e2e
  scripts/e2e-docker-start
Due: none

Consolidate extension creators into one package
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/publishing.md
  shell/creators/extension/app/app.package.json
  shell/creators/extension/app/files/.eslintignore
  shell/creators/extension/app/files/.eslintrc.js
  shell/creators/extension/app/files/.github/workflows/build-extension-catalog.yml
  shell/creators/extension/app/files/.github/workflows/build-extension-charts.yml
  shell/creators/extension/app/files/.gitignore
  shell/creators/extension/app/files/.gitlab-ci.yml
  shell/creators/extension/app/files/.vscode/settings.json
  shell/creators/extension/app/files/babel.config.js
  shell/creators/extension/app/files/tsconfig.json
  shell/creators/extension/app/files/vue.config.js
  shell/creators/extension/app/init
  shell/creators/extension/app/package.json
  shell/creators/extension/init
  shell/creators/extension/package.json
  shell/creators/extension/pkg/files/babel.config.js
  shell/creators/extension/pkg/files/index.ts
  shell/creators/extension/pkg/files/tsconfig.json
  shell/creators/extension/pkg/files/vue.config.js
  shell/creators/extension/pkg/init
  shell/creators/extension/pkg/package.json
  shell/creators/extension/pkg/pkg.package.json
  shell/creators/extension/pkg/vue-shim.ts
  shell/creators/extension/update/init
  shell/creators/extension/update/package.json
  shell/creators/extension/update/upgrade
  shell/scripts/publish-shell.sh
Due: shell

PR updates
  docusaurus/docs/extensions/extensions-getting-started.md
  shell/creators/extension/app/init
  shell/creators/extension/init
  shell/creators/extension/pkg/init
  shell/creators/extension/update/upgrade
  shell/scripts/publish-shell.sh
Due: shell

trigger workflow
  cypress.config.ts
Due: none

script adjustment
  cypress.config.ts
  scripts/e2e
Due: none

add changelog section for shell releases + add extra documentation regarding the 2.9 update in terms of branching
  docusaurus/docs/extensions/changelog.md
  docusaurus/docs/extensions/rancher-2.9-support.md
  docusaurus/docs/extensions/screenshots/target-branch.png
  docusaurus/sidebars.js
Due: none

Refactor - Replace extensions comp and exlemental po's with utils - use common po's where applicable
  cypress/e2e/po/components/resource-yaml.po.ts
  cypress/e2e/po/extensions/elemental/elemental.utils.ts
  cypress/e2e/po/extensions/extensions-compatibility.po.ts
  cypress/e2e/po/extensions/extensions-compatibility.utils.ts
  cypress/e2e/po/pages/chart-installed-apps.po.ts
  cypress/e2e/po/pages/page.po.ts
  cypress/e2e/tests/extensions/elemental/elemental.spec.ts
Due: none

add 2.10 page about vue3 migration
  docusaurus/docs/extensions/rancher-2.10-support.md
  docusaurus/sidebars.js
Due: none

[backport v2.9.next1] Implement changes for Azure cloud provider for RKE2 (#11602)
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/__tests__/Basics.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

final adjustments
  .github/workflows/extensions-compatibility-tests.yaml
  .github/workflows/test.yaml
  cypress/e2e/tests/extensions/elemental/elemental.spec.ts
Due: none

Fix test-plugins-build script to match new creator - remove dependency install step
  shell/creators/extension/app/init
  shell/creators/extension/init
  shell/creators/extension/pkg/init
  shell/scripts/test-plugins-build.sh
Due: shell

fix default aks pool name and add unit test
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
Due: none

Fixing an issue where we weren't using the new innerHTML api of our <t> component.
  shell/plugins/i18n.js
Due: shell

Fix RadioGroup data binding
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
Due: rancher-components

Fix setup page data binding
  shell/pages/auth/setup.vue
Due: shell

Fixed an issue in ResourceList where "importer" is not a function was being reported
  shell/components/ResourceList/index.vue
Due: shell

Replace `mounting-portal` with `teleport`
  shell/components/AppModal.vue
Due: shell
