Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  harvester:
    paths: 
    - pkg/harvester
  rancher-components:
    paths: 
    - pkg/rancher-components

add cluster membership warning banner
  pkg/aks/components/CruAks.vue
Due: none

use VIEW and CREATE constants, rm commented code
  pkg/aks/components/CruAks.vue
Due: none

Replace `vue.extend` with `defineComponent` in Harvester
  pkg/harvester/pages/c/_cluster/projectsnamespaces.vue
Due: harvester

fix provisioning cluster index imported/rke2 template
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

fixed passing fvUnreportedValidationErrors to CruResource
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

feat(LabelsV1.vue): support remove label
  pkg/image-repo/components/LabelsV1.vue
  pkg/image-repo/components/PromptRemove.vue
  pkg/image-repo/components/table/HarborTable.vue
Due: none

fix(service): reset clusterIP(s) field when clone a service
  shell/edit/service.vue
Due: shell

Fix save of Deployments in form view - Some deployments won't have initContainers - Ensure we skip the clean if they don't exist - Also removed if blocks in favour of `?`
  shell/models/workload.js
Due: shell

update logic to decide if a namespace is a system one + improve curated list of system namespaces
  shell/config/system-namespaces.js
  shell/models/namespace.js
Due: shell

AKS provisioning extension (#9669)
  package.json
  pkg/aks/assets/aks-black.svg
  pkg/aks/assets/aks.svg
  pkg/aks/babel.config.js
  pkg/aks/components/AksNodePool.vue
  pkg/aks/components/CruAks.vue
  pkg/aks/components/Taint.vue
  pkg/aks/components/__tests__/CruAks.test.ts
  pkg/aks/icon.svg
  pkg/aks/index.ts
  pkg/aks/l10n/en-us.yaml
  pkg/aks/package.json
  pkg/aks/provisioner.ts
  pkg/aks/tsconfig.json
  pkg/aks/types/index.d.ts
  pkg/aks/util/__mocks__/aks.ts
  pkg/aks/util/__tests__/aks.test.ts
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/aks.ts
  pkg/aks/util/validators.ts
  pkg/aks/vue.config.js
  pkg/kubectl-explain/index.ts
  pkg/rancher-components/src/components/Accordion/Accordion.test.ts
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/Accordion/index.ts
  shell/cloud-credential/azure.vue
  shell/components/form/KeyValue.vue
  shell/components/form/LabeledSelect.vue
  shell/config/settings.ts
  shell/edit/provisioning.cattle.io.cluster/SelectCredential.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/mixins/labeled-form-element.ts
  shell/models/management.cattle.io.kontainerdriver.js
  shell/models/provisioning.cattle.io.cluster.js
  shell/plugins/steve/norman-class.js
  shell/utils/azure.js
  shell/utils/url.ts
  yarn.lock
Due: shell, rancher-components

add retry logic for failing user creation network request
  cypress/e2e/po/edit/management.cattle.io.user.po.ts
  cypress/e2e/tests/pages/explorer/cluster-project-members.spec.ts
  shell/components/CruResource.vue
Due: shell

add failing network request to retry logic + remove commented code
  cypress/e2e/po/edit/management.cattle.io.user.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
Due: none

fix lint issue
  cypress/e2e/po/edit/management.cattle.io.user.po.ts
Due: none

address scenario where global role binding fails and we need to delete the user created to retry
  cypress/e2e/po/edit/management.cattle.io.user.po.ts
Due: none

fix and extend unit tests for isSystem namespace model prop
  shell/models/__tests__/namespace.test.ts
Due: shell

ember po
  cypress/e2e/po/components/embedded-ember/ember-checkbox.po.ts
  cypress/e2e/po/components/embedded-ember/ember-component.po.ts
  cypress/e2e/po/components/embedded-ember/ember-form.po.ts
  cypress/e2e/po/components/embedded-ember/ember-new-select.po.ts
  cypress/e2e/po/components/embedded-ember/ember-radio.input.po.ts
  cypress/e2e/po/components/embedded-ember/ember-text-input.po.ts
  cypress/e2e/tests/pages/manager/rke1-generic.spec.ts
  shell/components/EmberPage.vue
Due: shell

.
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
  shell/components/EmberPage.vue
Due: shell

ember component po
  cypress/e2e/po/components/embedded-ember/ember-component.po.ts
  cypress/e2e/po/components/embedded-ember/ember-text-input.po.ts
  cypress/e2e/po/components/embedded-ember/iframe-component.po.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
  shell/components/EmberPage.vue
Due: shell

ember radio btn po
  cypress/e2e/po/components/embedded-ember/ember-agent-configuration.po.ts
  cypress/e2e/po/components/embedded-ember/ember-radio.input.po.ts
Due: none

pod affinity
  cypress/e2e/po/components/embedded-ember/ember-agent-configuration.po.ts
  cypress/e2e/po/components/embedded-ember/ember-new-select.po.ts
  cypress/e2e/po/components/embedded-ember/ember-node-affinity.po.ts
  cypress/e2e/po/components/embedded-ember/ember-pod-affinity.po.ts
  cypress/e2e/po/components/embedded-ember/ember-radio.input.po.ts
  cypress/e2e/po/components/embedded-ember/ember-searchable-select.po.ts
  cypress/e2e/po/components/embedded-ember/ember-tolerations.po.ts
  cypress/e2e/po/components/embedded-ember/iframe-component.po.ts
  cypress/e2e/tests/pages/data/agent-configuration-rke1-data.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

add rke1 agent config test resources and tolerations
  cypress/e2e/po/components/embedded-ember/ember-accordion-item.po.ts
  cypress/e2e/po/components/embedded-ember/ember-agent-configuration.po.ts
  cypress/e2e/po/components/embedded-ember/ember-new-select.po.ts
  cypress/e2e/po/components/embedded-ember/ember-text-input.po.ts
  cypress/e2e/po/components/embedded-ember/ember-tolerations.po.ts
  cypress/e2e/po/components/embedded-ember/iframe-component.po.ts
  cypress/e2e/po/components/toggle-switch.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1-custom.po.ts
  cypress/e2e/tests/pages/data/agent-configuration-rke1-data.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
  cypress/globals.d.ts
Due: none

fix pod affinity test data
  cypress/e2e/blueprints/agent-configuration/agent-configuration-rke2-data.ts
  cypress/e2e/blueprints/agent-configuration/agent-configuration-rke2-payload.ts
  cypress/e2e/po/components/embedded-ember/ember-new-select.po.ts
  cypress/e2e/po/components/embedded-ember/ember-pod-affinity.po.ts
  cypress/e2e/tests/pages/data/agent-configuration-rke1-data.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

.
  cypress/e2e/blueprints/agent-configuration/agent-configuration-rke2-payload.ts
  cypress/e2e/tests/pages/data/agent-configuration-rke1-data.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

fix pod affinity remove terms
  cypress/e2e/po/components/embedded-ember/ember-checkbox.po.ts
  cypress/e2e/po/components/embedded-ember/ember-node-affinity.po.ts
  cypress/e2e/po/components/embedded-ember/ember-pod-affinity.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1-custom.po.ts
  cypress/e2e/tests/pages/data/agent-configuration-rke1-data.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

pod affinity selector
  cypress/e2e/po/components/embedded-ember/ember-node-affinity.po.ts
  cypress/e2e/po/components/embedded-ember/ember-pod-affinity.po.ts
Due: none

refactor ember components following rebase
  cypress/e2e/po/components/embedded-ember/ember-accordion-item.po.ts
  cypress/e2e/po/components/embedded-ember/ember-agent-configuration.po.ts
  cypress/e2e/po/components/embedded-ember/ember-checkbox.po.ts
  cypress/e2e/po/components/embedded-ember/ember-form.po.ts
  cypress/e2e/po/components/embedded-ember/ember-new-select.po.ts
  cypress/e2e/po/components/embedded-ember/ember-searchable-select.po.ts
  cypress/e2e/po/components/embedded-ember/ember-text-input.po.ts
  cypress/e2e/po/components/embedded-ember/ember-tolerations.po.ts
  cypress/e2e/po/components/embedded-ember/iframe-component.po.ts
  cypress/e2e/po/components/ember/ember-agent-configuration.po.ts
  cypress/e2e/po/components/ember/ember-input.po.ts
  cypress/e2e/po/components/ember/ember-new-select.po.ts
  cypress/e2e/po/components/ember/ember-node-affinity.po.ts
  cypress/e2e/po/components/ember/ember-pod-affinity.po.ts
  cypress/e2e/po/components/ember/ember-radio.input.po.ts
  cypress/e2e/po/components/ember/ember-searchable-select.po.ts
  cypress/e2e/po/components/ember/ember-tolerations.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1-custom.po.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
  cypress/globals.d.ts
Due: none

fix rke1 agent config data
  cypress/e2e/blueprints/agent-configuration/agent-configuration-rke2-data.ts
  cypress/e2e/blueprints/agent-configuration/agent-configuration-rke2-payload.ts
  cypress/e2e/po/components/embedded-ember/ember-checkbox.po.ts
  cypress/e2e/tests/pages/data/agent-configuration-rke1-data.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

fix tolerations row selector
  cypress/e2e/po/components/ember/ember-input.po.ts
  cypress/e2e/po/components/ember/ember-tolerations.po.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

rename agent config test, fix tilde import paths
  cypress/e2e/po/components/ember/ember-agent-configuration.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1-custom.po.ts
  cypress/e2e/po/pages/users-and-auth/users-and-auth.po.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users-and-auth.spec.ts
Due: none

clean up ember component po
  cypress/e2e/po/components/ember/ember-new-select.po.ts
  cypress/e2e/po/components/ember/ember-tolerations.po.ts
  shell/components/EmberPage.vue
Due: shell

add edit rke1 tests
  cypress/e2e/po/components/ember/ember-input.po.ts
  cypress/e2e/po/components/ember/ember-node-affinity.po.ts
  cypress/e2e/po/components/ember/ember-pod-affinity.po.ts
  cypress/e2e/po/components/ember/ember-radio.input.po.ts
  cypress/e2e/po/components/ember/ember-searchable-select.po.ts
  cypress/e2e/po/components/ember/ember-tolerations.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1-custom.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/edit/cluster-edit-rke1-custom.po.ts
  cypress/e2e/tests/pages/data/agent-configuration-payload.ts
  cypress/e2e/tests/pages/data/agent-configuration-rke1-data.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

fix edit rke1 agent config comparison data
  cypress/e2e/tests/pages/data/agent-configuration-payload.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

update rke1 agent config test edit data payload
  cypress/e2e/tests/pages/data/agent-configuration-payload.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

update rke2 agent config tests to toggle rke1/rke2 switch if needed
  cypress/e2e/po/components/toggle-switch.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke2-custom.po.ts
  cypress/e2e/tests/pages/manager/agent-configuration-rke2.spec.ts
Due: none

pr review feedback; typescript intellisense
  cypress/e2e/po/components/ember/ember-input.po.ts
  cypress/e2e/po/components/ember/ember-node-affinity.po.ts
  cypress/e2e/po/components/ember/ember-pod-affinity.po.ts
  cypress/e2e/po/components/ember/ember-tolerations.po.ts
  cypress/e2e/po/components/labeled-select.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1-custom.po.ts
  cypress/e2e/tests/pages/data/agent-configuration-rke1-data.ts
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
  cypress/globals.d.ts
Due: none

fix pod affinity perferred term weight
  cypress/support/commands.ts
  shell/components/form/PodAffinity.vue
Due: shell

add grep tags to rke1 tests
  cypress/e2e/tests/pages/manager/agent-config-rke1.spec.ts
Due: none

fix rke1 save/next button selector
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1.po.ts
Due: none
