Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

[unit tests]: Header.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/Header.test.ts
  shell/utils/banners.js
  shell/utils/router.js
Due: shell

temp
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
Due: none

Fix to track backend changes for exact/partial matches
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

Wire in newly supported mgmt cluster status.connected property
  shell/components/nav/TopLevelMenu.helper.ts
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

correct import eks initial spec
  pkg/eks/components/CruEKS.vue
Due: none

fix eks validator test
  pkg/eks/util/__tests__/validators.test.ts
Due: none

import eks
  pkg/eks/components/AccountAccess.vue
  pkg/eks/components/CruEKS.vue
  pkg/eks/components/Import.vue
  pkg/eks/components/NodeGroup.vue
  pkg/eks/l10n/en-us.yaml
  pkg/eks/provisioner.ts
  pkg/eks/types/index.d.ts
  pkg/eks/util/validators.ts
  pkg/gke/components/Import.vue
  shell/assets/styles/base/_helpers.scss
Due: shell

Wire in sorting/filtering clusters on on new human name label
  shell/config/labels-annotations.js
  shell/pages/home.vue
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

update message
  shell/assets/translations/en-us.yaml
Due: shell

Don't show built-in extensions by default
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Fix e2e tests and add tests for builtin tab
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

Address PR feedback
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Address PR e2e test feedback
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/pages/extensions.po.ts
Due: none

Fix lint
  cypress/e2e/po/components/tabbed.po.ts
Due: none

Don't show built-in extensions by default (#13469)
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/support/commands/rancher-api-commands.ts
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Fix supportsSshKnownHosts in secret.js model
  shell/edit/secret/ssh.vue
  shell/models/secret.js
Due: shell

[unit-tests] add ssh and secret tests
  pkg/aks/components/__tests__/Taint.test.ts
  shell/edit/secret/__tests__/ssh.test.ts
  shell/edit/secret/ssh.vue
  shell/models/__tests__/secret.test.ts
Due: shell

Add `User Login Filter` input to ldap config
  shell/assets/translations/en-us.yaml
  shell/edit/auth/ldap/config.vue
Due: shell

Add unit tests for new user login filter input
  shell/edit/auth/ldap/__tests__/config.test.ts
Due: shell

Re-flow ldap form inputs
  shell/edit/auth/ldap/config.vue
Due: shell

hide filtered items in KeyValue
  shell/components/form/KeyValue.vue
Due: shell

Updates
  shell/assets/styles/themes/_light.scss
  shell/assets/translations/en-us.yaml
  shell/components/Collapse.vue
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

Improve wording / layout
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

Remove advanced settings, neaten up vertical spacing
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

Address failing plugin builds TS failure
  shell/plugins/steve/steve-pagination-utils.ts
  shell/scripts/typegen.sh
Due: shell

Fix e2e + lint
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
  cypress/e2e/tests/priority/vai-setup.spec.ts
  shell/config/settings.ts
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

New primary, push test
  shell/assets/styles/themes/_light.scss
Due: shell

re-enable sorry cypress in master
  package.json
Due: none

Update settings given SSP isn't on by default - bring back 'liable to change' notice and add 'not in prod' - move location down below long term settings
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/settings/performance.vue
Due: shell

fix misc issues with codemirror and a11y
  shell/components/CodeMirror.vue
  shell/components/ResourceYaml.vue
  shell/components/YamlEditor.vue
  shell/components/form/SSHKnownHosts/KnownHostsEditDialog.vue
Due: shell

Fleet: switch workspace when navigating to GitRepo details page
  shell/detail/fleet.cattle.io.gitrepo.vue
Due: shell

fix error with option selected having index -1 and not being handled properly
  shell/mixins/vue-select-overrides.js
Due: shell

Accept custom actions in `ActionMenuShell.vue`
  shell/components/ActionMenuShell.vue
Due: shell

Replace extensions menu with ActionMenuShell
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Use optional chaining when accessing properties of node
  shell/store/action-menu.js
Due: shell

Fleet: hide advanced info bannerin view mode and vue3 errors fix
  shell/components/fleet/FleetRepos.vue
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

use global css class to hide elements
  shell/components/form/KeyValue.vue
Due: shell

Fix failing e2e tests
  cypress/e2e/po/components/action-menu.po.ts
Due: none

Use the up key to select the last item
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownCollection.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
  shell/components/LocaleSelector.vue
Due: shell, rancher-components

Replace custom locale chooser with dropdown
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/LocaleSelector.vue
Due: shell, rancher-components
