Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

lazy loading for charts page (#15986)
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

Fix warnings (#15526)
  cypress/e2e/po/components/rc-item-card.po.ts
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
  shell/components/ActionMenuShell.vue
Due: shell, rancher-components

Improved version display for externally upgraded imported clusters
  pkg/imported/components/Basics.vue
  pkg/imported/l10n/en-us.yaml
  shell/assets/translations/en-us.yaml
  shell/utils/cluster.js
Due: shell

small change
  pkg/imported/components/Basics.vue
Due: none

Removed rhel-cloud and suse-cloud from default GCE image list
  shell/machine-config/components/GCEImage.vue
Due: shell

code cleanup
  shell/components/ResourceDetail/index.vue
Due: shell

fix e2e test
  cypress/e2e/tests/pages/charts/question-tabs.spec.ts
Due: none

Fix Vue warning for undefined 'dev' property in LocaleSelector (#16211)
  shell/components/LocaleSelector.vue
Due: shell

fix linter issues
  shell/components/EmptyProductPage.vue
  shell/components/nav/Header.vue
  shell/core/plugin-products.ts
  shell/core/plugin-resource-type.ts
Due: shell

Update globals.d.ts - adding realHover type
  cypress/e2e/po/pages/fleet/fleet.cattle.io.application.po.ts
  cypress/globals.d.ts
Due: none

Updated copyright year to 2026
  README.md
Due: none

remove create-pr-build-extension-charts from nightly run tests
  .github/workflows/create-pr-build-extension-charts.yml
  .github/workflows/test-extension-workflows-master.yml
Due: none

updates - fix several issues with multiple side-nav related requests when changing page - lots of comments / descriptions updates
  shell/components/nav/TopLevelMenu.helper.ts
  shell/components/nav/TopLevelMenu.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/subscribe.js
  shell/types/rancher/steve.api.ts
  shell/utils/back-off.ts
  shell/utils/pagination-wrapper.ts
Due: shell

2.13 ::: backport PRs 16203, 16225 and 16208 (#16292)
  cypress/e2e/tests/pages/charts/question-tabs.spec.ts
  shell/components/CruResource.vue
  shell/components/Drawer/ResourceDetailDrawer/__tests__/composables.test.ts
  shell/components/Drawer/ResourceDetailDrawer/composables.ts
  shell/components/Drawer/ResourceDetailDrawer/index.vue
  shell/components/ResourceDetail/index.vue
  shell/components/Tabbed/index.vue
  shell/composables/cruResource.ts
  shell/composables/resourceDetail.ts
  shell/core/types.ts
  shell/edit/workload/index.vue
Due: shell

children
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/TableOfContents/index.vue
Due: shell, rancher-components

2.12 ::: backport PRs 16203, 16225 and 16208 (#16293)
  shell/components/CruResource.vue
  shell/components/Drawer/ResourceDetailDrawer/__tests__/composables.test.ts
  shell/components/Drawer/ResourceDetailDrawer/composables.ts
  shell/components/Drawer/ResourceDetailDrawer/index.vue
  shell/components/ResourceDetail/index.vue
  shell/components/Tabbed/index.vue
  shell/composables/cruResource.ts
  shell/composables/resourceDetail.ts
  shell/core/types.ts
  shell/edit/workload/index.vue
Due: shell

remove caching charts
  shell/models/chart.js
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

use subtree when possible
  shell/components/TableOfContents/index.vue
Due: shell

make list and scroll to accordion
  shell/components/TableOfContents/index.vue
Due: shell

Removed rhel-cloud and suse-cloud from default GCE image list (#16295)
  shell/machine-config/components/GCEImage.vue
Due: shell

fixed warning when running storybook
  storybook/src/stories/Components/ArrayList.stories.ts
Due: none

open accordion when scrolling to
  pkg/imported/components/CruImported.vue
  shell/components/TableOfContents/index.vue
Due: shell

Override default pool value to match base pool
  shell/machine-config/azure.vue
Due: shell

Validate all pools contain the same managedDisks value
  shell/assets/translations/en-us.yaml
  shell/machine-config/azure.vue
Due: shell

remove caching charts (#16304)
  shell/models/chart.js
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

update tablocation from ALL to OTHER
  shell/components/Tabbed/index.vue
  shell/core/types.ts
Due: shell

remove create-pr-build-extension-charts from nightly run tests (#16303)
  .github/workflows/create-pr-build-extension-charts.yml
  .github/workflows/test-extension-workflows-master.yml
Due: none

update tablocation from ALL to OTHER + update extension docs
  docusaurus/docs/extensions/api/actions.md
  docusaurus/docs/extensions/api/cards.md
  docusaurus/docs/extensions/api/common.md
  docusaurus/docs/extensions/api/panels.md
  docusaurus/docs/extensions/api/table-columns.md
  docusaurus/docs/extensions/api/table.md
  docusaurus/docs/extensions/api/tabs.md
  shell/components/Tabbed/index.vue
  shell/core/types.ts
Due: shell

Correcting TopLevelMenu router warning because the fleet route doesn't have a resource param
  shell/config/product/fleet.js
Due: shell

Move subtypes
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
Due: rancher-components

Reintroducing the RcIcon to the button.
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Attempt to update RcIcon separate from RcButton
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
  storybook/src/stories/Components/RcIcon.stories.ts
Due: rancher-components

Not imported type
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

Attempting different type definitions
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

optional props
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
Due: rancher-components

No conditionals
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

Attempting to use the RcButton without the RcIcon import.
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Fix icon stories
  storybook/src/stories/Components/RcIcon.stories.ts
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
