Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

feedback
  pkg/imported/components/CruImported.vue
  pkg/imported/components/__tests__/CruImported.test.ts
Due: none

support mgmtnode int/extip in InternalExternalIP-format
  shell/components/formatter/InternalExternalIP.vue
Due: shell

Updated Container Shell to handle Safari better and upgraded xterm (#16937)
  cypress/e2e/po/components/kubectl.po.ts
  package.json
  shell/components/Window/ContainerShell.vue
  shell/components/Window/__tests__/ContainerShell.test.ts
  shell/package.json
  shell/scripts/test-plugins-build.sh
  shell/vue.config.js
  shell/yarn.lock
  yarn.lock
Due: shell

Removing dead code
  shell/components/Resource/Detail/Card/StateCard/__tests__/composables.test.ts
  shell/components/Resource/Detail/Card/StateCard/composables.ts
  shell/models/workload.js
Due: shell

use subtree when possible
  shell/components/TableOfContents/index.vue
Due: shell

working but flat
  pkg/imported/components/CruImported.vue
  shell/components/TableOfContents/index.vue
Due: shell

children
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/TableOfContents/index.vue
Due: shell, rancher-components

open accordion when scrolling to
  pkg/imported/components/CruImported.vue
  shell/components/TableOfContents/index.vue
Due: shell

make list and scroll to accordion
  shell/components/TableOfContents/index.vue
Due: shell

vnode wip
  pkg/imported/components/CruImported.vue
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/CruResource.vue
  shell/components/TableOfContents/index.vue
Due: shell, rancher-components

show toc only when accordions found on page
  pkg/imported/components/CruImported.vue
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/CruResource.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell, rancher-components

functional and stylish
  pkg/eks/components/CruEKS.vue
  pkg/imported/components/CruImported.vue
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/assets/translations/en-us.yaml
  shell/components/CruResource.vue
  shell/components/TableOfContents/index.vue
Due: shell, rancher-components

clean up ;
  pkg/eks/components/CruEKS.vue
  shell/components/TableOfContents/composables.ts
Due: shell

track accordions in composable
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
  shell/components/TableOfContents/index.vue
Due: shell, rancher-components

fix some css vars
  shell/components/CruResource.vue
  shell/components/TableOfContents/index.vue
Due: shell

composable
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
  shell/components/TableOfContents/index.vue
Due: shell, rancher-components

re-add add accordion test buttons
  pkg/imported/components/CruImported.vue
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/CruResource.vue
Due: shell, rancher-components

wip
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
  shell/components/TableOfContents/index.vue
Due: shell, rancher-components

scroll bar
  pkg/imported/components/CruImported.vue
  shell/components/CruResource.vue
  shell/components/TableOfContents/index.vue
Due: shell

scroll to not-accordion not quite
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
  shell/components/form/KeyValue.vue
Due: shell, rancher-components

composable has desired functionality, needs typing
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
  shell/components/TableOfContents/index.vue
Due: shell

remove dependency on component css classes
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  shell/assets/styles/global/_layout.scss
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
  shell/components/form/KeyValue.vue
Due: shell, rancher-components

Revert "add typing"
  shell/components/TableOfContents/composables.ts
Due: shell

add to rcsection; revert to using provide/inject; style fixes
  pkg/eks/components/CruEKS.vue
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/components/TableOfContents/TableOfContents.vue
  pkg/rancher-components/src/components/TableOfContents/composables.ts
  pkg/rancher-components/src/components/TableOfContents/index.ts
  pkg/rancher-components/src/index.ts
  shell/components/CruResource.vue
  shell/detail/pod.vue
Due: shell, rancher-components

cp feedback; style
  shell/assets/styles/global/_layout.scss
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
  shell/components/TableOfContents/index.vue
Due: shell

add typing
  shell/components/TableOfContents/composables.ts
Due: shell

add types, comments
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  shell/components/TableOfContents/composables.ts
  shell/components/TableOfContents/index.vue
  shell/components/form/KeyValue.vue
Due: shell, rancher-components

e2e test
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/rancher-components/src/components/TableOfContents/TableOfContents.vue
Due: rancher-components

comment out failing tests to build
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/index.test.ts
Due: shell

omment out tests
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/index.test.ts
Due: shell

update summary when labels change
  pkg/imported/components/CruImported.vue
  shell/components/TableOfContents/composables.ts
Due: shell

clean up ts
  shell/components/TableOfContents/composables.ts
Due: shell

move toc back to shell for testing
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/index.ts
  shell/components/CruResource.vue
  shell/components/TableOfContents/TableOfContents.vue
  shell/components/TableOfContents/composables.ts
  shell/components/TableOfContents/index.ts
  shell/tsconfig.json
Due: shell, rancher-components

word wrap long titles
  pkg/imported/components/CruImported.vue
  shell/components/TableOfContents/TableOfContents.vue
Due: shell

toc need to grow when scroll
  shell/components/CruResource.vue
  shell/components/TableOfContents/TableOfContents.vue
Due: shell

start adding to tabbed
  pkg/eks/components/CruEKS.vue
  shell/components/Tabbed/Tab.vue
  shell/components/Tabbed/index.vue
Due: shell

add tabs to table of contents
  shell/components/Tabbed/Tab.vue
  shell/components/Tabbed/index.vue
  shell/components/TableOfContents/composables.ts
Due: shell

lotta console logs
  shell/components/CruResource.vue
  shell/components/TableOfContents/composables.ts
  shell/components/TableOfContents/index.ts
Due: shell

.
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/AdditionalRedactions.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/Filters.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/General.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/AdditionalRedactions.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/Filters.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/index.test.ts.snap
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/index.test.ts
Due: shell

add summary id attribute to html element
  shell/components/TableOfContents/composables.ts
Due: shell
