Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  harvester:
    paths: 
    - pkg/harvester
  rancher-components:
    paths: 
    - pkg/rancher-components

Add mergeable config
  .github/mergeable.yml
Due: none

Code refactoring
  shell/components/CodeMirror.vue
Due: shell

Fix keymap tooltip
  shell/assets/translations/en-us.yaml
  shell/components/CodeMirror.vue
Due: shell

Code clean-up
  cypress/e2e/po/lists/chart-installed-apps.po.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  cypress/globals.d.ts
Due: none

Revert "Aws In-tree support (#9643)"
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

Fix registry host not being synced with its secret (#10397)
  cypress/e2e/blueprints/manager/registries-rke2-payload.ts
  cypress/e2e/po/components/registries-tab.po.ts
  cypress/e2e/po/components/registry-configs.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke2-custom.po.ts
  cypress/e2e/tests/pages/manager/registries.spec.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/RegistryConfigs.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
Due: shell

Add Yaml keymap box to the storybook; code refactoring; add close button unit test
  shell/components/CodeMirror.vue
  shell/components/__tests__/CodeMirror.spec.ts
  storybook/stories/form/Editor.stories.mdx
Due: shell

Stick ResourceYaml footer to the bottom
  shell/components/ResourceYaml.vue
Due: shell

Revert "Aws In-tree support (#9643)"
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Revert "Aws In-tree support (#9643)"
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Add e2e @components tag
  .github/workflows/test.yaml
  cypress.config.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
  docusaurus/docs/testing/e2e-test.md
Due: none

update logic of `WorkloadDetailEndpoints` to consider hostname as a valid link if there is an `ingress` associated (#10380)
  shell/components/formatter/WorkloadDetailEndpoints.vue
  shell/components/formatter/__tests__/WorkloadDetailEndpoints.test.ts
Due: shell

Add e2e custom command: isVisible
  cypress/globals.d.ts
  cypress/support/commands/chainable.ts
  cypress/support/e2e.ts
Due: none

Add ResourceYaml e2e test
  cypress/e2e/po/components/resource-yaml.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/tests/components/yaml-editor.spec.ts
Due: none

address pr comments
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

add correct logic to include none as a CNI option
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

add option of 'none' for Container Network select in Basics tab of RKE2 provisioning + add e2e test to check that option is available and can be selected
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

fix small bug with missing optional chaining
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Restructure longhorn UI proxy link to contain dynamic namespace
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/longhorn/__tests__/longhorn.index.test.ts
  shell/pages/c/_cluster/longhorn/index.vue
Due: shell

Clean up resource after the ResourceYaml tests
  cypress/e2e/tests/components/yaml-editor.spec.ts
Due: none

Update fetch to use findMatching
  shell/pages/c/_cluster/longhorn/__tests__/longhorn.index.test.ts
  shell/pages/c/_cluster/longhorn/index.vue
Due: shell

Code clean-up
  cypress/e2e/tests/components/yaml-editor.spec.ts
Due: none

add banner to Basics component when CNI option selected is 'none' to warn user about the need of additional configuration
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

update e2e to test banner
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

fix issue
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

make key more unique
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/RegistryConfigs.vue
Due: shell

add option of 'none' for Container Network select in Basics tab of RKE2 provisioning (#10385)
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

fix issue with squashed custom box in Checkbox + add tests + sneaky fix for prop as computed
  cypress/e2e/po/components/checkbox-input.po.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell, rancher-components

fix e2e test + add test to a couple of more areas
  cypress/e2e/po/components/checkbox-input.po.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  cypress/e2e/tests/pages/global-settings/banners.spec.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
Due: none

add another test
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
Due: none

change label text to a more meaningful copy + add test
  cypress/e2e/po/components/checkbox-input.po.ts
  cypress/e2e/po/pages/preferences.po.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
  shell/assets/translations/en-us.yaml
Due: shell

Init vee-validate plugin
  package.json
  shell/initialize/index.js
  shell/plugins/vee-validate.js
  yarn.lock
Due: shell

Implement Validation Observers and rules
  pkg/rancher-components/src/components/ErrorMessage/ErrorMessage.test.ts
  pkg/rancher-components/src/components/ErrorMessage/ErrorMessage.vue
  pkg/rancher-components/src/components/ErrorMessage/index.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/components/CruResource.vue
  shell/components/VeeValidation.vue
  shell/components/form/NameNsDescription.vue
  shell/edit/workload/index.vue
  shell/edit/workload/mixins/workload.js
  shell/mixins/vee-validations.ts
  shell/models/workload.js
  shell/plugins/vee-validate.js
Due: shell, rancher-components

Try unreported error
  shell/components/CruResource.vue
  shell/edit/workload/index.vue
Due: shell

Fix tab errors
  shell/components/CruResource.vue
  shell/edit/workload/mixins/workload.js
Due: shell

Extend legacy custom rules
  shell/components/CruResource.vue
  shell/edit/workload/mixins/workload.js
  shell/plugins/vee-validate.js
Due: shell

Create mixins and utils
  shell/components/CruResource.vue
  shell/components/VeeValidation.vue
  shell/edit/workload/index.vue
  shell/edit/workload/mixins/workload.js
  shell/mixins/vee-rules.ts
  shell/mixins/vee-validation.ts
  shell/utils/vee-validators.ts
Due: shell

Add extra rules
  shell/assets/translations/en-us.yaml
  shell/edit/workload/index.vue
  shell/edit/workload/mixins/workload.js
  shell/mixins/vee-rules.ts
  shell/plugins/vee-validate.js
Due: shell

Bump @rancher/shell to 0.5.3
  shell/package.json
Due: shell

Bump @rancher/shell to 0.5.3 (#10467)
  shell/package.json
Due: shell
