Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Run the a11y ratchet script tests
  .github/actions/unit-tests/action.yaml
Due: none

Resolve issue with counter
  cypress/e2e/tests/accessibility/baseline.json
  cypress/scripts/a11y/fingerprint.mjs
  cypress/scripts/a11y/fingerprint.test.mjs
Due: none

Guard against potential soft mode bypasses
  .github/workflows/test.yaml
  cypress/scripts/a11y/compare-a11y.mjs
  cypress/scripts/a11y/compare-a11y.test.mjs
Due: none

Remove duplicate resolutions key from storybook
  storybook/package.json
Due: none

Bump brace-expansion 5.0.7 to 5.0.8 (5.x line) for GHSA-mh99-v99m-4gvg
  docusaurus/yarn.lock
  yarn.lock
Due: none

update Group component to prevent occurences of nested-interactive violations with a11y (#18480)
  shell/components/nav/Group.vue
  shell/components/nav/__tests__/Group.test.ts
Due: shell

Bump brace-expansion 5.0.7 to 5.0.8 (5.x line) for GHSA-mh99-v99m-4gvg (#18507)
  docusaurus/yarn.lock
  yarn.lock
Due: none

Changed for daily-test-improver to check new config for auth, changed to max 5 as well and only run weekdays
  .github/workflows/daily-test-improver.md
Due: none

Updated the permissions for all scripts to be able to do the copilot-requests
  .github/workflows/daily-accessibility-review.md
  .github/workflows/daily-issue-grooming.md
  .github/workflows/daily-repo-status.md
  .github/workflows/duplicate-code-detector.md
  .github/workflows/issue-triage.md
  .github/workflows/pr-fix.md
  .github/workflows/weekly-stale-issue-manager.md
Due: none

Recompile gh-aw workflows at v0.83.1
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-issue-grooming.lock.yml
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/issue-triage.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/weekly-stale-issue-manager.lock.yml
Due: none

Migrate to Cypress 12
  cypress/base-config.ts
  cypress/package.json
  cypress/yarn.lock
  package.json
  yarn.lock
Due: none

Address rebase issues
  cypress/e2e/tests/pages/generic/home-list.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Add keyboard navigation to the resource search dialog
  shell/assets/translations/en-us.yaml
  shell/dialog/SearchDialog.vue
  shell/dialog/__tests__/SearchDialog.test.ts
Due: shell

changes following review
  cypress/globals.d.ts
  shell/config/product/explorer.js
  shell/plugins/steve/__tests__/getters.test.ts
  shell/store/features.js
Due: shell

Update to v9 with deprecated .eslint for minor changes
  .eslintrc.default.js
  creators/extension/app/files/.eslintrc.js
  package.json
  pkg/rancher-components/.eslintrc.js
  pkg/rancher-components/package.json
  shell/package.json
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  yarn.lock
Due: shell, rancher-components

Update to v9 with updated config
  .eslintignore
  .eslintrc.default.js
  .eslintrc.js
  eslint.config.base.mjs
  eslint.config.mjs
  package.json
  pkg/rancher-components/.eslintignore
  pkg/rancher-components/.eslintrc.js
  pkg/rancher-components/eslint.config.mjs
  pkg/rancher-components/package.json
  yarn.lock
Due: rancher-components

Fixed semver to 7.7.1, the one previously on the yarn.lock
  package.json
  yarn.lock
Due: none

Added eslint-v10 changes
  creators/extension/app/files/.eslintignore
  creators/extension/app/files/.eslintrc.js
  creators/extension/app/files/.vscode/settings.json
  creators/extension/app/files/eslint.config.mjs
  creators/extension/app/init
  eslint-plugin-local-rules/no-hr-element.js
  eslint-plugin-local-rules/v-clean-tooltip.js
  eslint.config.base.mjs
  package.json
  pkg/rancher-components/package.json
  shell/package.json
  yarn.lock
Due: shell, rancher-components

Applied same semver type to lock the expected version
  shell/package.json
Due: shell

Updated based on review
  eslint-plugin-local-rules/v-clean-tooltip.js
  shell/yarn.lock
  yarn.lock
Due: shell

Add `rancherVersion` field to `@rancher/shell/package.json` to declare the minimum compatible Rancher version for the shell (#18237)
  shell/package.json
  shell/utils/versions.ts
  shell/vue.config.js
Due: shell

[agentic] Agentic workflows gh aw upgrade (#18392)
  .github/workflows/daily-accessibility-review.lock.yml
  .github/workflows/daily-accessibility-review.md
  .github/workflows/daily-issue-grooming.lock.yml
  .github/workflows/daily-issue-grooming.md
  .github/workflows/daily-repo-status.lock.yml
  .github/workflows/daily-repo-status.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/daily-test-improver.md
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
  .github/workflows/weekly-stale-issue-manager.lock.yml
  .github/workflows/weekly-stale-issue-manager.md
Due: none

Update masthead create selector for repositories
  cypress/e2e/po/components/ResourceList/resource-list-masthead.po.ts
  cypress/e2e/po/pages/chart-repositories.po.ts
Due: none

Compat to es7
  .gitignore
  creators/extension/app/files/eslint.config.mjs
  creators/extension/app/init
  docusaurus/docs/extensions/linting.md
  docusaurus/extensionSidebar.js
  eslint.config.mjs
  shell/eslint-legacy/package.json
  shell/eslint.config.base.mjs
  shell/scripts/lint
Due: shell

ci: pin get-helm-3 installer to v4.2.3 tag instead of main
  scripts/e2e-k3s-start.sh
Due: none

ci: pin get-helm-3 installer to v4.2.3 tag instead of main (#18527)
  scripts/e2e-k3s-start.sh
Due: none

Attempt fix product-side-nav.spec.ts
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
Due: none

Attempt fix repositories.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

Attempt to fix jobs.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
Due: none

Attempt to fix repositories.spec.ts 2
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

Attempt to fix home-list.spec.ts
  cypress/e2e/tests/pages/generic/home-list.spec.ts
Due: none

Attempt 2 to fix product-side-nav.spec.ts
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
Due: none

Attempt fix extensions/extensions.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
Due: none

Attempt 2 fix home-list.spec.ts
  cypress/e2e/tests/pages/generic/home-list.spec.ts
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
