Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Add `scrollIntoView()` to dropdown items
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Update unit tests
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.test.ts
Due: rancher-components

Clean up focus styles for items in dropdown target
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
Due: rancher-components

Guard `scrollIntoView()` against invalid events
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
Due: rancher-components

Remove overflow assertions from `RcDropdown.test`
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.test.ts
Due: rancher-components

Authenticate gh cli with token
  .github/workflows/port-pr-bot.yaml
Due: none

fix issue importing gke clusters when using third party auth
  pkg/gke/components/CruGKE.vue
Due: none

Update name of `port-pr-bot` action
  .github/workflows/port-pr-bot.yaml
Due: none

Fixing an issue found with the outlet padding change
  shell/assets/styles/base/_variables.scss
  shell/assets/styles/global/_layout.scss
Due: shell

charts filtering tooltips (#15102)
  shell/assets/translations/en-us.yaml
  shell/models/__tests__/chart.test.ts
  shell/models/chart.js
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
  shell/pages/c/_cluster/apps/charts/__tests__/AppChartCardFooter.spec.js
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

Remove the concept of legacy/latest detail pages (#15076)
  shell/assets/styles/base/_variables.scss
  shell/assets/styles/global/_layout.scss
  shell/components/Resource/Detail/Page.vue
  shell/components/ResourceDetail/__tests__/index.test.ts
  shell/components/ResourceDetail/index.vue
  shell/components/ResourceDetail/legacy.vue
  shell/detail/configmap.vue
  shell/detail/projectsecret.vue
  shell/detail/secret.vue
  shell/models/configmap.js
  shell/models/secret.js
  shell/pages/c/_cluster/explorer/projectsecret.vue
  shell/pages/explorer/resource/detail/configmap.vue
  shell/pages/explorer/resource/detail/projectsecret.vue
  shell/pages/explorer/resource/detail/secret.vue
Due: shell

fix matichingingresses method
  shell/detail/workload/index.vue
Due: shell

fix outline cluster appearance toggle btn
  shell/components/form/ClusterAppearance.vue
Due: shell

wip
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/subscribe.js
  shell/plugins/steve/worker/web-worker.advanced.js
  shell/utils/back-off.ts
Due: shell

Pass the `APP_TOKEN` environment variable to `gh auth login`
  .github/workflows/port-pr-bot.yaml
Due: none

[2.12] fix: do not show repository missing warning if installed harvester ui extension from catalog (#15100)
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  pkg/harvester-manager/types.js
  shell/utils/uiplugins.ts
Due: shell

[2.11] fix: do not show repository missing warning if installed harvester ui extension from catalog (#15099)
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  pkg/harvester-manager/types.js
  shell/utils/uiplugins.ts
Due: shell

wip
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

Add a custom action menu to alert manager config
  shell/edit/monitoring.coreos.com.alertmanagerconfig/index.vue
Due: shell

Pass the `APP_TOKEN` environment variable using input redirection
  .github/workflows/port-pr-bot.yaml
Due: none

changes after review
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/S3Config.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/index.vue
  shell/utils/validators/setting.js
Due: shell

minor refactor + update translations
  shell/assets/translations/en-us.yaml
  shell/models/__tests__/chart.test.ts
  shell/models/chart.js
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

removed unnecessary data block
  shell/components/LazyImage.vue
Due: shell

Charts search keywords (#15070)
  shell/store/__tests__/catalog.test.ts
  shell/store/catalog.js
Due: shell

fix tooltip overlapping with scrollbar
  shell/pages/c/_cluster/apps/charts/chart.vue
Due: shell

initialize non-reactive data
  shell/components/LazyImage.vue
Due: shell

move non-reactive data
  shell/components/LazyImage.vue
Due: shell

Update trigger for port-pr-bot workflow
  .github/workflows/port-pr-bot.yaml
Due: none

Add GH_TOKEN environment variable to Port PR step
  .github/workflows/port-pr-bot.yaml
Due: none

Fleet fix matching between Gitrepo and bundles list (#14909)
  shell/models/fleet.cattle.io.gitrepo.js
Due: shell

Improve performance in apps/charts page by optimizing LazyImage component (#14906)
  jest.setup.js
  shell/components/LazyImage.vue
  shell/components/__tests__/LazyImage.spec.ts
  shell/utils/style.ts
Due: shell

fix keyboard nav on show advanced in cluster create/edit
  shell/components/AdvancedSection.vue
Due: shell

tweaks
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

fix and expand sub tests
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
  shell/utils/back-off.ts
Due: shell

backoff tests
  shell/utils/__tests__/back-off.test.ts
  shell/utils/back-off.ts
Due: shell

fix zero date for charts version date
  shell/assets/translations/en-us.yaml
  shell/models/__tests__/chart.test.ts
  shell/models/chart.js
  shell/pages/c/_cluster/apps/charts/AppChartCardSubHeader.vue
Due: shell

fix zero date for charts version date (#15123)
  shell/assets/translations/en-us.yaml
  shell/models/__tests__/chart.test.ts
  shell/models/chart.js
  shell/pages/c/_cluster/apps/charts/AppChartCardSubHeader.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
