Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

[e2e] Add to PO to wait for the Pod Status Count
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Due: none

[e2e][ai] user-retention flaky test
  cypress/e2e/tests/pages/users-and-auth/user-retention.spec.ts
Due: none

[e2e][ai] Fix test #19094
  cypress/e2e/tests/pages/users-and-auth/user-retention.spec.ts
Due: none

Set cursor value based on the card clickable prop
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
Due: rancher-components

Update filter label
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
Due: shell

Move the card click event to the header-left div
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
Due: rancher-components

Add test id to item card header
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.test.ts
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
Due: rancher-components

Return card data test id to container
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
Due: rancher-components

Update roles of Chart cards and footer actions
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell, rancher-components

Adjust focus ring styles
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
Due: shell, rancher-components

Update unit test to support new click target
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.test.ts
Due: rancher-components

revert changes
  shell/components/ResourceDetail/Masthead/__tests__/legacy.test.ts
  shell/components/ResourceDetail/Masthead/legacy.vue
  shell/components/ResourceDetail/index.vue
Due: shell

use query param to set parent overrides
  shell/models/secret.js
Due: shell

[e2e][ai] Fix #19097
  cypress/e2e/tests/pages/users-and-auth/user-retention.spec.ts
Due: none

minor refactor
  shell/models/secret.js
Due: shell

[e2e][ai] Fix #19104
  cypress/e2e/tests/pages/charts/chart-install-wizard.spec.ts
Due: none

Default to `medium` for action menus
  shell/components/ActionMenuShell.vue
Due: shell

[e2e][ai] Fix #19113
  cypress/e2e/po/pages/chart-installed-apps.po.ts
  cypress/e2e/tests/pages/charts/chart-install-wizard.spec.ts
Due: none

drop support for overriding base components for resource pages + turn plugin-product-helpers into a class + improve TS typing + fix children ordering method to not mutate original array + adjust docs
  docusaurus/docs/extensions/api/products.md
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products.ts
  shell/core/types.ts
Due: shell

Add workflow to notify TestHub that it should process test runs and PR changes
  .github/workflows/testhub.yaml
Due: none

Improve appearance of setup screen for Prime
  shell/assets/brand/suse/metadata.json
  shell/assets/translations/en-us.yaml
  shell/pages/auth/setup.vue
Due: shell

Add alt tag to image
  shell/pages/auth/setup.vue
Due: shell

Show count of items in list group's tag (#16062)
  shell/components/ResourceTable.vue
Due: shell

[e2e][ai] Fix #19120
  cypress/e2e/tests/pages/manager/hosted-providers.spec.ts
Due: none

[e2e][ai] Fix #19120
  cypress/e2e/po/components/checkbox-input.po.ts
Due: none

fix support tests
  cypress/e2e/po/pages/get-support.po.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/pages/generic/get-support.spec.ts
Due: none

Fix button styles
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
Due: shell

Improve appearance of setup screen for Prime (#16634)
  shell/assets/brand/suse/metadata.json
  shell/assets/translations/en-us.yaml
  shell/pages/auth/setup.vue
Due: shell

[13923] Fix the case
  shell/components/fleet/GitRepoAdvancedTab.vue
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

replace pss columns with tooltips
  shell/assets/translations/en-us.yaml
  shell/components/formatter/SecretName.vue
  shell/edit/secret/index.vue
  shell/list/secret.vue
Due: shell

Add workflow to notify TestHub that it should process test runs and PR changes (#16633)
  .github/workflows/testhub.yaml
Due: none

Fleet filter Target clusters depending on harvester-baremetal-container-workload flag
  shell/components/fleet/FleetClusterTargets/index.vue
  shell/components/fleet/__tests__/FleetClusterTargets.test.ts
Due: shell

Updates - Ensure 'all' selects all workgroup clusters when host harvesters included - wire in host harvested included into getTargetMode
  shell/components/fleet/FleetClusterTargets/index.vue
  shell/models/fleet-application.js
  shell/utils/fleet.ts
Due: shell

Fix TestHub workflow secrets
  .github/workflows/testhub.yaml
Due: none

Pin version
  scripts/e2e-docker-start
Due: none

fix a couple of bugs found on PR review + move all new prod reg types to a dedicated file + fix several TS and lint errors + update unit tests
  docusaurus/docs/extensions/api/products.md
  shell/core/__tests__/plugin-products-helpers.test.ts
  shell/core/__tests__/plugin-products.test.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products.ts
  shell/core/plugin-types.ts
  shell/core/plugin.ts
  shell/core/types.ts
  shell/store/__tests__/type-map.test.ts
  shell/store/type-map.js
Due: shell

[12518] Fix unit test and lint
  shell/components/fleet/__tests__/FleetClusterTargets.test.ts
  shell/utils/fleet.ts
Due: shell

Use different image tag
  scripts/e2e-docker-start
Due: none

address feedback
  shell/components/formatter/SecretName.vue
  shell/config/product/explorer.js
  shell/list/secret.vue
Due: shell
