Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

[fix]: missing resources in resource table
  shell/models/fleet-application.js
Due: shell

add comments
  shell/components/cards/RcItemCard.vue
Due: shell

add comments to model
  shell/models/chart.js
Due: shell

addressed changes from the PR review
  .github/ISSUE_TEMPLATE/acceptance-criteria-feature.yml
Due: none

changed banner logic, added unit test
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/imported/components/VersionManagement.vue
  pkg/imported/components/__tests__/versionManagement.test.ts
Due: none

fixed not showing banner on cluster import
  pkg/imported/components/VersionManagement.vue
  pkg/imported/components/__tests__/versionManagement.test.ts
Due: none

Improved version management banner for local and imported clusters (#14328)
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/components/VersionManagement.vue
  pkg/imported/components/__tests__/versionManagement.test.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

backport: add percy libraries
  cypress/support/e2e.ts
  package.json
  yarn.lock
Due: none

fix problem with dark mode and primary color type + bump shell version
  shell/components/IconOrSvg.vue
  shell/package.json
Due: shell

SSP: Update formatting and text of now defunct performane setting
  shell/assets/translations/en-us.yaml
Due: shell

Update styles and colors for new theme
  pkg/kubectl-explain/components/ExplainPanel.vue
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_csp.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/ButtonGroup.vue
  shell/components/CodeMirror.vue
  shell/components/EmberPage.vue
  shell/components/SideNav.vue
  shell/components/SortableTable/index.vue
  shell/components/form/LabeledSelect.vue
  shell/components/nav/Group.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/pages/c/_cluster/explorer/tools/index.vue
  shell/utils/color.js
  storybook/src/stories/foundation/Colors.mdx
Due: shell, rancher-components

Lint fix
  shell/components/nav/Group.vue
Due: shell

Badges and Banners
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell, rancher-components

Fix unit test and add dark theme basics
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/__tests__/ButtonGroup.test.ts
Due: shell

Remove small from user menu trigger
  shell/components/nav/Header.vue
Due: shell

Adjust active and hover colors
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/nav/Group.vue
Due: shell

Update styles
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/brand/suse/rancher-logo.svg
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_button.scss
  shell/assets/styles/global/_resource.scss
  shell/assets/styles/global/_table.scss
  shell/assets/styles/global/_tooltip.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/assets/styles/vendor/normalize.scss
  shell/assets/styles/vendor/vue-select.scss
  shell/components/Carousel.vue
  shell/components/ClusterIconMenu.vue
  shell/components/GroupPanel.vue
  shell/components/ResourceSummary.vue
  shell/components/SideNav.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/Tabbed/index.vue
  shell/components/Wizard.vue
  shell/components/fleet/ForceDirectedTreeChart/index.vue
  shell/components/graph/Bar.vue
  shell/components/nav/Group.vue
  shell/components/nav/NamespaceFilter.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/Type.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/pages/fail-whale.vue
Due: shell, rancher-components

Update user name color in User preferences dropdown
  shell/components/nav/Header.vue
Due: shell

Update body background color variable
  shell/assets/styles/base/_basic.scss
Due: shell

Add focus outline styles to namespace filter
  shell/components/nav/NamespaceFilter.vue
Due: shell

Toggle fixes, warning and error text colours, before icons
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/Tabbed/index.vue
  shell/components/nav/TopLevelMenu.vue
  shell/edit/workload/index.vue
Due: shell

Adjust the dark theme
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell

Make width of page actions menu consistent with other page header buttons
  shell/components/nav/Header.vue
Due: shell

Make small button border transparent on focus
  shell/assets/styles/global/_button.scss
Due: shell

Update Prime, light, and dark themes
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/nav/Group.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell, rancher-components

use id instead of chartName
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

Replace `--body__bg` with `--body-bg`
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_resource.scss
  shell/assets/styles/global/_table.scss
  shell/assets/styles/global/_tooltip.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/components/Carousel.vue
  shell/components/ClusterIconMenu.vue
  shell/components/GroupPanel.vue
  shell/components/ResourceSummary.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/Tabbed/index.vue
  shell/components/Wizard.vue
  shell/components/fleet/ForceDirectedTreeChart/index.vue
  shell/components/graph/Bar.vue
  shell/components/nav/NamespaceFilter.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/pages/fail-whale.vue
Due: shell, rancher-components

Add new light & dark modern themes
  shell/assets/styles/app.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/translations/en-us.yaml
  shell/store/prefs.js
Due: shell

Use the primary color for radio buttons
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
Due: rancher-components

Update dark theme test for brand image
  shell/components/BrandImage.vue
Due: shell

address yarn failures in the CI
  cypress/e2e/po/components/labeled-select.po.ts
Due: none

remove todos
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

Added private registry support when importing generic cluster
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/imported/components/CruImported.vue
Due: none

Don't show agent status when API calls fail
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  shell/pages/c/_cluster/explorer/index.vue
Due: shell

Fix lint issues
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  shell/pages/c/_cluster/explorer/index.vue
Due: shell

backport pr 14357
  shell/components/Tabbed/index.vue
  shell/components/form/ResourceTabs/index.vue
Due: shell

backport pr 14362
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
  shell/components/form/__tests__/LabeledSelect.test.ts
  shell/components/form/__tests__/Select.test.ts
Due: shell

Updated comment
  shell/mixins/resource-table-watch.js
Due: shell

Only show pods tab if workload type supports it, always show pod resource table if tab is shown
  shell/detail/workload/index.vue
Due: shell

fix matching app logic not including the latest version
  shell/models/chart.js
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
