Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Keep a menu's arrow keys on its items, and line a submenu up with it
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemCheckbox.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemRadio.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItemSelect.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownSubmenu.test.ts
  pkg/rancher-components/src/components/RcDropdown/RcDropdownSubmenu.vue
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
  pkg/rancher-components/src/components/RcDropdown/useDropdownItem.ts
Due: rancher-components

Pin the e2e Rancher image to the last working head build
  branches-metadata.json
  scripts/e2e-docker-start
  scripts/e2e-k3s-start.sh
Due: none

Pin the e2e Rancher image to the last working head build (#19342)
  branches-metadata.json
  scripts/e2e-docker-start
  scripts/e2e-k3s-start.sh
Due: none

feat(#16390): Expand Starred nav group by default (#18341)
  cypress/e2e/tests/navigation/side-nav/starred-group.spec.ts
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/store/__tests__/type-map.getTree.test.ts
  shell/store/type-map.js
Due: shell

Run e2e against the floating Rancher head image
  branches-metadata.json
Due: none

Retry a cloud credential delete once when it returns 500
  cypress/support/commands/rancher-api-commands.ts
Due: none

Bump markdown-it to 14.3.1 to fix GHSA-253c-mchw-3w2r
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell

Let Rancher's own page move along the bar
  pkg/configurable-views/components/ViewBar.vue
  pkg/configurable-views/templating/__tests__/view-model.test.ts
  pkg/configurable-views/templating/view-model.ts
Due: none

fix problem with docs on resources-api + add helper to get content-type for PATCH ops in resources-api
  shell/apis/intf/resources-api/cluster-api.ts
  shell/apis/intf/resources-api/mgmt-api.ts
  shell/apis/intf/resources-api/resource-instance.ts
  shell/apis/resources/__tests__/open-api-v3.test.ts
  shell/apis/resources/__tests__/resources-api-class.test.ts
  shell/apis/resources/open-api-v3.ts
  shell/apis/resources/resources-api-class.ts
  shell/plugins/steve/__tests__/steve-class-resource-api.test.ts
  shell/plugins/steve/steve-class.js
Due: shell

add console warns to allow devs to know why the resource is not being displayed because it is on the ignoreType list
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/plugin-products-base.ts
Due: shell

add note to docs
  docusaurus/docs/extensions/api/nav/product-registration.md
Due: none

fix tests
  shell/core/__tests__/plugin-products-apply.test.ts
Due: shell

update pr based on comments
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/plugin-products-base.ts
  shell/types/store/type-map.ts
Due: shell

fix e2e issue
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/plugin-products-base.ts
Due: shell

Fix secondary menu not updating reactively when CRDs are created
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/plugins/steve/__tests__/subscribe.spec.ts
  shell/plugins/steve/subscribe.js
Due: shell

Only rebuild side nav when a type's count rises from zero
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
Due: shell

Drop the count watcher from the side nav
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
Due: shell

Drop the cloud credential delete retry
  cypress/support/commands/rancher-api-commands.ts
Due: none

just a test change
  shell/pkg/auto-import.js
Due: shell

emit `console.warn` at product registration time when a `ProductChildResourcePage` type matches a global `ignoreType` rule or belongs to a globally/conditionally ignored API group (#19243)
  docusaurus/docs/extensions/api/nav/product-registration.md
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/plugin-products-base.ts
  shell/types/store/type-map.ts
Due: shell

Read branch metadata from master again
  scripts/e2e-docker-start
  scripts/e2e-k3s-start.sh
Due: none

Leave the table's own tab alone on the save shortcut
  shell/components/TableViews/TableViewTabs.vue
  shell/components/TableViews/__tests__/TableViewTabs.test.ts
Due: shell

Rename the table views feature flag to ui-configurable-tables
  shell/assets/translations/en-us.yaml
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/SortableTable/index.vue
  shell/components/__tests__/ResourceTable.extension.test.ts
  shell/components/__tests__/ResourceTable.featureOff.test.ts
  shell/components/__tests__/ResourceTable.tableGroupings.test.ts
  shell/mixins/resource-table-views.js
  shell/pages/c/_cluster/explorer/EventsTable.vue
  shell/pages/home.vue
  shell/plugins/dashboard-store/resource-class.js
  shell/store/features.js
  shell/utils/table-views/__tests__/feature.test.ts
  shell/utils/table-views/feature.ts
Due: shell

Fix provisioner detection for generic-imported EKS,AKS,GKE clusters
  shell/components/formatter/ClusterProvider.vue
  shell/models/management.cattle.io.cluster.js
Due: shell

Let a table's cluster target take the rows that cluster holds
  pkg/configurable-views/components/widgets/WidgetTable.vue
Due: none

Move the e2e Rancher image back to the floating head tag (#19344)
  branches-metadata.json
  scripts/e2e-docker-start
  scripts/e2e-k3s-start.sh
Due: none

Address RcModal review feedback
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: rancher-components

Add RcModal component
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/__tests__/useModal.test.ts
  pkg/rancher-components/src/components/RcModal/index.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  pkg/rancher-components/src/components/RcModal/useModal.ts
  pkg/rancher-components/src/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/initialize/__tests__/install-plugins.test.ts
  shell/initialize/install-plugins.js
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: shell, rancher-components

Open RcModal focus on the first control, and name its scrolling body
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  pkg/rancher-components/src/components/RcModal/useModal.ts
  storybook/src/stories/Components/RcModal.mdx
Due: rancher-components

Fetch Harvester PCI device data in parallel
  pkg/harvester-manager/machine-config/__tests__/harvester.test.ts
  pkg/harvester-manager/machine-config/harvester.vue
Due: none

Add Harvester storage options to the machine pool form
  pkg/harvester-manager/machine-config/DiskStorageOptions.vue
  pkg/harvester-manager/machine-config/VmStorageOptions.vue
  pkg/harvester-manager/machine-config/__tests__/DiskStorageOptions.test.ts
  pkg/harvester-manager/machine-config/__tests__/VmStorageOptions.test.ts
  pkg/harvester-manager/machine-config/harvester.vue
  shell/assets/translations/en-us.yaml
Due: shell

Move registry configuration into a composable
  shell/composables/useRegistryConfig.test.ts
  shell/composables/useRegistryConfig.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Allow Droplet Tags on new DigitalOcean pools when editing a cluster (#19276)
  shell/machine-config/__tests__/digitalocean.test.ts
  shell/machine-config/digitalocean.vue
Due: shell

Drop the cache None banner and quotes from banner text
  pkg/harvester-manager/machine-config/DiskStorageOptions.vue
  shell/assets/translations/en-us.yaml
Due: shell

update copy + remove overrides banner in install mode
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/apps/charts/__tests__/install.test.ts
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Move registry configuration into a composable (#19267)
  shell/composables/useRegistryConfig.test.ts
  shell/composables/useRegistryConfig.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Restore editor search and fix editing keys
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.emacs.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.shortcuts.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  pkg/rancher-components/src/components/RcCodeMirror/extensions/keymaps.ts
  pkg/rancher-components/src/components/RcCodeMirror/extensions/theme.ts
  pkg/rancher-components/src/components/RcCodeMirror/vendor/codemirror-emacs/README.md
  pkg/rancher-components/src/components/RcCodeMirror/vendor/codemirror-emacs/index.js
  shell/assets/translations/en-us.yaml
  shell/components/CodeMirror.vue
  shell/components/__tests__/CodeMirror.test.ts
  storybook/src/stories/Components/RcCodeMirror.mdx
Due: shell, rancher-components

Let Tab leave read-only editors with every keymap
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  pkg/rancher-components/src/components/RcCodeMirror/extensions/keymaps.ts
  pkg/rancher-components/src/components/RcCodeMirror/vendor/codemirror-emacs/README.md
  pkg/rancher-components/src/components/RcCodeMirror/vendor/codemirror-emacs/index.js
  storybook/src/stories/Components/RcCodeMirror.mdx
Due: rancher-components

Open a scrolling RcModal body before its actions
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: rancher-components

Use RcHeading for the RcModal title and trim its docs
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: rancher-components
