Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Group PKCE checkbox with other checkboxes on form
  shell/edit/auth/oidc.vue
Due: shell

Migrate AzureWarning to `v1/management.cattle.io.authconfig`
  shell/components/auth/AzureWarning.vue
Due: shell

Remove unnecessary AzureWarning component
  shell/components/auth/AzureWarning.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/components/templates/plain.vue
Due: shell

jenkins - html publisher fix
  cypress/jenkins/cypress.config.jenkins.ts
Due: none

fixes
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/S3Config.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/__tests__/S3Config.test.ts
Due: shell

Added S3 snapshot retention
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/S3Config.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/index.vue
Due: shell

tmp
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/S3Config.vue
Due: shell

Use different release note URLs for Community and Prime
  shell/store/index.js
  shell/utils/__tests__/version.test.ts
  shell/utils/dynamic-content/__tests__/index.test.ts
  shell/utils/dynamic-content/__tests__/new-release.test.ts
  shell/utils/dynamic-content/__tests__/support-notice.test.ts
  shell/utils/dynamic-content/index.ts
  shell/utils/dynamic-content/new-release.ts
  shell/utils/dynamic-content/types.d.ts
  shell/utils/version.js
Due: shell

Fix lint
  shell/utils/dynamic-content/__tests__/new-release.test.ts
Due: shell

Fix scoping of PKCE constant
  shell/edit/auth/oidc.vue
Due: shell

Reposition PKCE checkbox
  shell/edit/auth/oidc.vue
Due: shell

add documention for overriding translations in rancher prime
  docusaurus/docs/extensions/advanced/prime-translations.md
  docusaurus/extensionSidebar.js
Due: none

Fix typo
  shell/utils/version.js
Due: shell

Enable sorting of Job duration
  shell/config/product/explorer.js
Due: shell

Fix typo in test
  shell/utils/__tests__/version.test.ts
Due: shell

Update edit action text for installed charts (#16470)
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
Due: shell

Handling overflow for the label now as well.
  shell/components/DetailText.vue
Due: shell

jenkins - html publisher fix 2.13
  cypress/jenkins/cypress.config.jenkins.ts
Due: none

test
  cypress/e2e/po/components/kubectl.po.ts
Due: none

added a comment
  cypress/e2e/po/components/kubectl.po.ts
Due: none

Added WebGL error handling
  .github/workflows/test.yaml
  cypress/e2e/po/components/kubectl.po.ts
  shell/components/Window/ContainerShell.vue
Due: shell

jenkins - html publisher fix 2.12
  cypress/jenkins/cypress.config.jenkins.ts
Due: none

Display the PKCE method when enabled
  shell/assets/translations/en-us.yaml
  shell/edit/auth/oidc.vue
Due: shell

Implement majority of Resource Detail Cards (#16364)
  cypress/e2e/po/edit/resource-detail.po.ts
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.vue
  pkg/rancher-components/src/components/Pill/index.ts
  pkg/rancher-components/src/index.ts
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/Bubble.vue
  shell/components/Resource/Detail/Card/ExtrasCard.vue
  shell/components/Resource/Detail/Card/StateCard/__tests__/composables.test.ts
  shell/components/Resource/Detail/Card/StateCard/composables.ts
  shell/components/Resource/Detail/Card/StateCard/index.vue
  shell/components/Resource/Detail/Card/StateCard/types.ts
  shell/components/Resource/Detail/Card/StatusCard/composable.ts
  shell/components/Resource/Detail/Card/StatusCard/index.vue
  shell/components/Resource/Detail/Card/__tests__/PodsCard.test.ts
  shell/components/Resource/Detail/Cards.vue
  shell/components/Resource/Detail/Masthead/__tests__/index.test.ts
  shell/components/Resource/Detail/Masthead/index.vue
  shell/components/Resource/Detail/ResourceRow.types.ts
  shell/components/Resource/Detail/ResourceRow.vue
  shell/components/Resource/Detail/StatusRow.vue
  shell/components/ResourceDetail/Masthead/__tests__/index.test.ts
  shell/components/ResourceDetail/Masthead/__tests__/latest.test.ts
  shell/components/ResourceDetail/Masthead/index.vue
  shell/components/ResourceDetail/Masthead/latest.vue
  shell/components/form/Conditions.vue
  shell/detail/__tests__/workload.test.ts
  shell/detail/workload/index.vue
  shell/models/__tests__/workload.test.ts
  shell/models/workload.js
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell, rancher-components

address pr comments
  docusaurus/docs/extensions/advanced/prime-translations.md
Due: none

Use different release note URLs for Community and Prime (#16473)
  shell/store/index.js
  shell/utils/__tests__/version.test.ts
  shell/utils/dynamic-content/__tests__/index.test.ts
  shell/utils/dynamic-content/__tests__/new-release.test.ts
  shell/utils/dynamic-content/__tests__/support-notice.test.ts
  shell/utils/dynamic-content/index.ts
  shell/utils/dynamic-content/new-release.ts
  shell/utils/dynamic-content/types.d.ts
  shell/utils/version.js
Due: shell

Fix incorrect usage of backport bot, updating agents README
  docs/agents.md/README
  docs/agents.md/contributors/resolving_gh_issues.md
Due: none

fix warning/text
  .github/workflows/valid-pr.yaml
Due: none

Apply suggestion from @richard-cox
  .github/workflows/valid-pr.yaml
Due: none

Prevent PRs from merging if they do not track the correct milestone for the target branch
  .github/workflows/valid-pr.yaml
Due: none

Move inline script to it's own file, update some var names
  .github/workflows/scripts/pr-check-milestone.sh
  .github/workflows/valid-pr.yaml
Due: none

Fix lint
  jest.config.js
Due: none

Update lock file
  yarn.lock
Due: none

Store all test results as artifacts
  .github/workflows/test.yaml
  .gitignore
  cypress/base-config.ts
  jest.config.js
  package.json
Due: none

Bump dependency
  package.json
  yarn.lock
Due: none

Rename unit test reports folder for clarity
  .gitignore
  jest.config.js
Due: none

Fix lint
  cypress/base-config.ts
Due: none

Handle 0 tests in a run
  cypress/base-config.ts
Due: none

Add detailPageAdditionalActions to detail page TitleBar
  shell/components/Resource/Detail/TitleBar/__tests__/composables.test.ts
  shell/components/Resource/Detail/TitleBar/__tests__/index.test.ts
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell

Link namespace column values to namespace resource detail
  shell/config/table-headers.js
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
