Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Consolidate branch tests into one workflow file - refactor check workflows script
  .github/workflows/scripts/check-creators-workflows-code.sh
  .github/workflows/test-extension-workflows-master.yml
  .github/workflows/test-extension-workflows-release-2.8.yml
  .github/workflows/test-extension-workflows-release-2.9.yml
Due: none

add mode to radio group
  pkg/aks/components/CruAks.vue
Due: none

address pr comments
  jest.setup.js
  shell/assets/translations/en-us.yaml
  shell/components/ClusterBadge.vue
  shell/components/ClusterIconMenu.vue
  shell/components/ClusterProviderIcon.vue
  shell/components/nav/Pinned.vue
  shell/directives/strip-html-aria-label.js
  shell/edit/workload/index.vue
  shell/initialize/install-directives.js
  storybook/.storybook/preview.ts
Due: shell

Add tests for workflows shipped with the creators package (#13008)
  .github/workflows/scripts/check-creators-workflows-code.sh
  .github/workflows/test-extension-workflows-master.yml
Due: none

remove auto-populate project id
  pkg/gke/components/AccountAccess.vue
Due: none

remove commented code
  pkg/gke/components/AccountAccess.vue
Due: none

Import GKE clusters (#13447)
  pkg/gke/components/AccountAccess.vue
  pkg/gke/components/AdvancedOptions.vue
  pkg/gke/components/Config.vue
  pkg/gke/components/CruGKE.vue
  pkg/gke/components/Import.vue
  pkg/gke/l10n/en-us.yaml
  pkg/gke/provisioner.ts
  pkg/gke/util/gcp.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

update message
  shell/assets/translations/en-us.yaml
Due: shell

show warning in details page and when switching the rke1 toggle
  shell/assets/translations/en-us.yaml
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

Hide SSHKnownHosts outside Fleet
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Update shell/mixins/create-edit-view/impl.js
  shell/mixins/create-edit-view/impl.js
Due: shell

address pr comments
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
Due: rancher-components

Update shell/assets/translations/en-us.yaml
  shell/assets/translations/en-us.yaml
Due: shell

Add second/seconds l10n
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/edit/workload/Job.vue
Due: shell

Fleet: remove scroll when edit polling
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet: data-testid camelcase
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet: updatePollingInterval refactoring
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

address pr comments
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

address pr comments
  shell/components/Tabbed/index.vue
Due: shell

[unit tests]: Add SelectOrCreateAuthSecret.test.ts
  shell/components/form/SelectOrCreateAuthSecret.vue
  shell/components/form/__tests__/SelectOrCreateAuthSecret.test.ts
Due: shell

PromptRemove.vue - fix Vue3 warnings
  shell/components/PromptRemove.vue
Due: shell

address pr comments
  shell/components/ClusterIconMenu.vue
Due: shell

Delete message, list of items refactoring:
  shell/components/PromptRemove.vue
  shell/dialog/DeactivateDriverDialog.vue
  shell/promptRemove/management.cattle.io.globalrole.vue
  shell/promptRemove/management.cattle.io.project.vue
  shell/promptRemove/management.cattle.io.roletemplate.vue
  shell/promptRemove/mixin/roleDeletionCheck.js
  shell/promptRemove/pod.vue
  shell/utils/string.js
Due: shell

[unit-tests] Add resourceNames tests
  shell/utils/__tests__/string.test.ts
Due: shell

temp
  shell/assets/translations/en-us.yaml
  shell/promptRemove/management.cattle.io.fleetworkspace.vue
Due: shell

address pr comments
  shell/components/CodeMirror.vue
  shell/components/nav/WindowManager/ContainerShell.vue
Due: shell

Fleet: add Disable/Enable polling icons
  package.json
  shell/models/fleet.cattle.io.gitrepo.js
  yarn.lock
Due: shell

Ensure new filtering syntax is used and enable vai tests again
  .github/workflows/test.yaml
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

improve tabs focused state
  shell/components/Tabbed/index.vue
Due: shell

Wire in newly supported mgmt cluster status.connected property
  shell/components/nav/TopLevelMenu.helper.ts
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

fix managedIdentity conversion to true when it's null
  pkg/aks/components/CruAks.vue
Due: none

Add further tests for merging default scopes and UI scopes
  shell/store/__tests__/auth.test.ts
Due: shell

Adding a after login redirect for the case when a user enters a url but gets redirected to the login page
  cypress/e2e/po/pages/page.po.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  shell/components/LandingPagePreference.vue
  shell/components/templates/default.vue
  shell/config/router/navigation-guards/index.js
  shell/config/router/navigation-guards/record-last-route.js
  shell/store/prefs.js
  shell/utils/auth.js
Due: shell

update path
  cypress/e2e/tests/pages/explorer/dashboard/websockets/connection.spec.ts
  cypress/jenkins/cypress.config.jenkins.ts
Due: none

Add `User Login Filter` input to ldap config
  shell/assets/translations/en-us.yaml
  shell/edit/auth/ldap/config.vue
Due: shell

Re-flow ldap form inputs
  shell/edit/auth/ldap/config.vue
Due: shell
