Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

fix keyboard nav on settings list page + settings edit page (#13123)
  shell/assets/translations/en-us.yaml
  shell/components/ResourceDetail/Masthead.vue
  shell/list/management.cattle.io.setting.vue
Due: shell

fix key nav on preferences page (#13161)
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/base/_mixins.scss
  shell/assets/styles/global/_button.scss
  shell/assets/styles/global/_form.scss
  shell/components/ButtonGroup.vue
  shell/components/form/LabeledSelect.vue
  shell/components/form/Select.vue
  shell/mixins/vue-select-overrides.js
Due: shell, rancher-components

release rc version of shell for testing
  shell/package.json
Due: shell

release rc version of shell for testing (#13182)
  shell/package.json
Due: shell

Fix errors propagation in management.cattle.io.setting.vue
  shell/edit/__tests__/management.cattle.io.setting.test.ts
  shell/edit/management.cattle.io.setting.vue
Due: shell

CloudCredential Model: Fix CC expiry display
  shell/models/cloudcredential.js
Due: shell

Changes following review - fix and simplify FetchPageSecondaryResources - ensure resource detail page events list doesn't add ns filters (not needed)
  shell/components/PaginatedResourceTable.vue
  shell/components/Questions/Reference.vue
  shell/components/form/ResourceTabs/index.vue
  shell/list/networking.k8s.io.ingress.vue
  shell/list/node.vue
  shell/list/persistentvolume.vue
  shell/list/service.vue
Due: shell

missed a param
  shell/components/Questions/Reference.vue
Due: shell

Bump shell version
  shell/package.json
Due: shell

Add entities to shell dependencies
  shell/package.json
  shell/yarn.lock
Due: shell

Setup configuration for visual tests
  cypress.visual.config.ts
  package.json
Due: none

Add Cypress plugin and configure visual tests; add example test
  cypress.visual.config.ts
  cypress/support/commands/commands.ts
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: none

Update CI commands to install and build storybook as well as concurrently
  package.json
Due: none

Remove unused command
  package.json
Due: none

Rename automated test for convenience
  cypress/visual/automated.visual.ts
Due: none

Add visual tests to CI
  .github/workflows/test.yaml
  package.json
Due: none

Add test example
  cypress/visual/Checkbox.visual.ts
  cypress/visual/__image_snapshots__/Checkbox component  should render correctly #0.png
Due: none

Allow use of JSON for Cypress
  cypress/tsconfig.json
Due: none

Update commands
  package.json
Due: none

Merge visual tests and update as single command to simplify process and ensure screenshot generation
  package.json
Due: none

Create loop for Storybook stories to be tested, allowing filtering
  cypress/visual/Checkbox.visual.ts
Due: none

Update everything to new forked library
  cypress.visual.config.ts
  cypress/support/commands/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
Due: none

Correct gitignore path for error diffs
  visual/.gitignore
Due: none

Disable code coverage
  cypress.visual.config.ts
Due: none

Exclude diff output screenshots
  cypress/.gitignore
Due: none

Update visual config with screenshot path, custom support file, timeout reduced, and disabled animations
  cypress.visual.config.ts
  cypress/support/e2e.ts
  cypress/visual/support.ts
  cypress/visual/tests/automated.visual.ts
Due: none

Exclude Tables due rendering issue; Correct logic not excluding all the cases
  visual/tests/automated.visual.ts
Due: none

Remove unnecessary code from the test
  visual/tests/automated.visual.ts
Due: none

Compare screenshots in vertical
  visual/support.ts
Due: none

Move Cypress config for visual within folder as possible cause of E2E errors
  package.json
  visual/cypress.visual.config.ts
Due: none

Define viewport to avoid issues with CI
  cypress.visual.config.ts
Due: none

Kill terminal with success if all tests pass
  package.json
Due: none

Correct image path after moving config to ./visual
  visual/support.ts
Due: none

Fix linting issues
  cypress.visual.config.ts
  visual/command.ts
  visual/constants.ts
  visual/plugin.ts
  visual/support.ts
  visual/tests/automated.visual.ts
  visual/types.ts
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
