Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  harvester:
    paths: 
    - pkg/harvester
  rancher-components:
    paths: 
    - pkg/rancher-components

Disable TS lint check for rancher/components
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
  pkg/rancher-components/src/components/StringList/StringList.vue
Due: rancher-components

Fix SCSS issue with ::v-deep
  shell/assets/styles/global/_layout.scss
Due: shell

Fixing a login issue if someone has changed the page that should be redirected to when a user logs in.
  shell/pages/index.vue
Due: shell

Update jest setup
  jest.setup.js
Due: none

Fixing value bindings in our registries component
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
Due: shell

Fixing how we forward classes to the select element.
  shell/components/form/Select.vue
Due: shell

Unit test updates
  shell/components/nav/__tests__/Type.test.ts
  shell/edit/__tests__/ui.cattle.io.navlink.test.ts
  shell/edit/auth/__tests__/oidc.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/DirectoryConfig.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/DirectoryConfig.vue
  shell/mixins/auth-config.js
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
  shell/pages/c/_cluster/explorer/index.vue
  shell/utils/unit-tests/ChildRenderingRouterLinkStub.ts
Due: shell

Fixing the dynamic import of file-saver
  shell/utils/download.js
Due: shell

Fixing value binding in the <Select> component
  shell/components/form/Select.vue
Due: shell

Fix RKE1/RKE2 toggle switch when creating a cluster
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

Fix slot syntax
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  shell/components/ButtonDropdown.vue
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/LocaleSelector.vue
  shell/components/ResourceList/index.vue
  shell/components/SideNav.vue
  shell/components/fleet/FleetStatus.vue
  shell/components/form/LabeledSelect.vue
  shell/components/nav/Jump.vue
  shell/components/nav/WindowManager/ContainerLogs.vue
  shell/detail/helm.cattle.io.projecthelmchart.vue
  shell/dialog/AddClusterMemberDialog.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/dialog/AddProjectMemberDialog.vue
  shell/dialog/AddonConfigConfirmationDialog.vue
  shell/dialog/DeactivateDriverDialog.vue
  shell/dialog/DiagnosticTimingsDialog.vue
  shell/dialog/DrainNode.vue
  shell/dialog/ForceMachineRemoveDialog.vue
  shell/dialog/GenericPrompt.vue
  shell/dialog/RollbackWorkloadDialog.vue
  shell/dialog/RotateCertificatesDialog.vue
  shell/dialog/RotateEncryptionKeyDialog.vue
  shell/dialog/SaveAsRKETemplateDialog.vue
  shell/dialog/ScaleMachineDownDialog.vue
  shell/dialog/ScalePoolDownDialog.vue
  shell/edit/auth/azuread.vue
  shell/edit/auth/github.vue
  shell/edit/auth/googleoauth.vue
  shell/edit/auth/ldap/index.vue
  shell/edit/auth/oidc.vue
  shell/edit/auth/saml.vue
  shell/list/group.principal.vue
  shell/list/management.cattle.io.user.vue
  shell/list/provisioning.cattle.io.cluster.vue
  shell/machine-config/vmwarevsphere.vue
  shell/pages/c/_cluster/manager/drivers/kontainerDriver/index.vue
Due: shell, harvester

Resolve error: `TypeError: this.slots['header-left'] is not a function`
  shell/components/SortableTable/index.vue
Due: shell

Just testing
  cypress/e2e/tests/setup/rancher-setup.spec.ts
  shell/config/router/navigation-guards/clusters.js
  shell/pages/auth/login.vue
  shell/pages/auth/setup.vue
  shell/utils/error.js
Due: shell

Unit test updates
  shell/components/form/__tests__/UnitInput.test.ts
  shell/edit/__tests__/nodeDriver.test.ts
  shell/edit/__tests__/service.test.ts
  shell/edit/nodeDriver.vue
  shell/edit/provisioning.cattle.io.cluster/__tests__/CustomCommand.test.ts
  shell/mixins/__tests__/chart.test.ts
  shell/pages/__tests__/prefs.test.ts
Due: shell

Update unit tests
  pkg/aks/components/__tests__/Taint.test.ts
  shell/chart/__tests__/S3.test.ts
  shell/cloud-credential/__tests__/azure.test.ts
  shell/components/AppModal.vue
  shell/components/__tests__/AppModal.test.ts
  shell/components/__tests__/AsyncButton.test.ts
  shell/components/__tests__/BackLink.test.ts
  shell/components/__tests__/Collapse.test.ts
  shell/components/__tests__/GrowlManager.test.ts
  shell/components/__tests__/PercentageBar.test.ts
  shell/components/__tests__/ProjectRow.test.ts
  shell/components/form/__tests__/NameNsDescription.test.ts
  shell/components/formatter/__tests__/WorkloadDetailEndpoints.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/DrainOptions.test.ts
  shell/pages/c/_cluster/uiplugins/__tests__/SetupUIPlugins.test.ts
Due: shell

Linter: Fix rancher/components types after refactoring
  pkg/rancher-components/.eslintrc.js
  pkg/rancher-components/src/components/BadgeState/BadgeState.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
Due: rancher-components

Fixing a handful of errors around vue3 templates and data binding in banners.vue
  shell/pages/c/_cluster/settings/banners.vue
Due: shell

Fixing the remaining compiler errors.
  shell/components/CruResource.vue
  shell/components/formatter/PrincipalGroupBindings.vue
Due: shell

Removing the spacing from rowElementWithName in the sortable table po. This was causing the tests to not find the correct rows
  cypress/e2e/po/components/sortable-table.po.ts
Due: none

Unit test updates
  shell/cloud-credential/__tests__/azure.test.ts
  shell/components/PodSecurityAdmission.vue
  shell/components/__tests__/CruResource.test.ts
  shell/components/__tests__/PodSecurityAdmission.test.ts
  shell/edit/networking.k8s.io.networkpolicy/PolicyRuleTarget.vue
  shell/edit/networking.k8s.io.networkpolicy/__tests__/PolicyRuleTarget.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/Basics.test.ts
Due: shell

Fixing a misplaced @input in digital ocean credentials
  shell/cloud-credential/digitalocean.vue
Due: shell

Check-plugin: Update resolution for app and pkg creators
  shell/creators/extension/app/app.package.json
  shell/creators/extension/pkg/package.json
  shell/creators/extension/pkg/pkg.package.json
Due: shell

Correct manual v-model prop mutation for non value names
  shell/components/Import.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/registries/index.vue
Due: shell

Fixing an issues where tests were failing to find the user menu.
  cypress/e2e/po/side-bars/user-menu.po.ts
Due: none

Fix sortable table search bar filter
  shell/components/SortableTable/index.vue
Due: shell

E2E: Remove hardcoded TEST_BASE_URL from command
  .github/workflows/test.yaml
  package.json
Due: none

Resolve a batch of unit test failures
  pkg/eks/components/__tests__/Config.test.ts
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.test.ts
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.test.ts
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.vue
  pkg/rancher-components/src/components/StringList/StringList.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
  shell/components/__tests__/ApplicationCard.test.ts
  shell/components/__tests__/ButtonGroup.test.ts
  shell/components/__tests__/ConsumptionGauge.test.ts
  shell/components/form/__tests__/FileImageSelector.test.ts
  shell/components/form/__tests__/UnitInput.test.ts
  shell/edit/workload/__tests__/Job.test.ts
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell, rancher-components

Check-plugin: Removing extension integration due lack of update
  shell/scripts/test-plugins-build.sh
Due: shell

Updating LabeledSelect to support the selected and update events
  shell/components/form/LabeledSelect.vue
Due: shell

Make sure TextAreaAutoGrow works inside LabeledInput
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
Due: rancher-components

Adding a custom data-test id to the add button of arraylist
  cypress/e2e/po/other-products/v2-monitoring.po.ts
  shell/components/form/ArrayList.vue
Due: shell

Fixing a reactivity issue in workload.js model where we were using $set instead of just assigning to an already reactive object.
  shell/models/workload.js
Due: shell

Fixing how we set values in NameNsDescription
  shell/components/form/NameNsDescription.vue
Due: shell

Getting a mostly functioning version of CodeMirror/YamlEditor
  package.json
  shell/components/CodeMirror.vue
  shell/components/ResourceYaml.vue
  shell/components/YamlEditor.vue
  shell/initialize/install-plugins.js
  shell/package.json
  shell/yarn.lock
Due: shell

Fixing data binding for image containers in workloads
  shell/edit/workload/index.vue
Due: shell

Refactoring tabbed values in chart installation
  shell/chart/monitoring/index.vue
  shell/chart/rancher-backup/index.vue
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Fixing data binding for chart text filtering
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

Fixing the selector for the prompt-remove modal po
  cypress/e2e/po/prompts/promptRemove.po.ts
Due: none

Making it so the <t> component can receive classes
  shell/plugins/i18n.js
Due: shell

Fixing a warning we se with CruResource regarding the `resource` prop type.
  shell/components/CruResource.vue
Due: shell
