Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

feedback
  docusaurus/docs/extensions/provisioning/cloud-credential.md
  docusaurus/docs/extensions/provisioning/hosted-provider/cluster.md
  docusaurus/docs/extensions/provisioning/hosted-provider/components.md
  docusaurus/docs/extensions/provisioning/hosted-provider/overview.md
  docusaurus/docs/extensions/provisioning/hosted-provider/structure.md
  docusaurus/docs/extensions/provisioning/overview.md
  docusaurus/docs/extensions/provisioning/provider-icon.md
  docusaurus/docs/extensions/usecases/hosted-provider.md
  docusaurus/extensionSidebar.js
Due: none

some corrections
  docusaurus/docs/extensions/provisioning/hosted-provider/structure.md
  docusaurus/docs/extensions/provisioning/localization.md
  docusaurus/docs/extensions/provisioning/overview.md
Due: none

feedback
  docusaurus/docs/extensions/api/components/node-driver/about-example.md
  docusaurus/docs/extensions/api/components/node-driver/node-driver-icon.md
  docusaurus/docs/extensions/provisioning/cloud-credential.md
  docusaurus/docs/extensions/provisioning/hosted-provider/components.md
  docusaurus/docs/extensions/provisioning/hosted-provider/overview.md
  docusaurus/docs/extensions/provisioning/hosted-provider/structure.md
  docusaurus/docs/extensions/provisioning/localization.md
  docusaurus/docs/extensions/provisioning/node-driver/about-drivers.md
  docusaurus/docs/extensions/provisioning/node-driver/about-example.md
  docusaurus/docs/extensions/provisioning/node-driver/advanced.md
  docusaurus/docs/extensions/provisioning/node-driver/machine-config.md
  docusaurus/docs/extensions/provisioning/node-driver/overview.md
  docusaurus/docs/extensions/provisioning/node-driver/proxying.md
  docusaurus/docs/extensions/provisioning/overview.md
  docusaurus/docs/extensions/provisioning/provider-icon.md
  docusaurus/docs/extensions/usecases/hosted-provider.md
  docusaurus/docs/extensions/usecases/node-driver.md
  docusaurus/extensionSidebar.js
Due: none

disabled broken test
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

fixed lint
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

Added hosted provider extension documentation (#16161)
  docusaurus/docs/extensions/api/components/node-driver/about-example.md
  docusaurus/docs/extensions/api/components/node-driver/node-driver-icon.md
  docusaurus/docs/extensions/introduction.md
  docusaurus/docs/extensions/provisioning/cloud-credential.md
  docusaurus/docs/extensions/provisioning/hosted-provider/cluster.md
  docusaurus/docs/extensions/provisioning/hosted-provider/components.md
  docusaurus/docs/extensions/provisioning/hosted-provider/overview.md
  docusaurus/docs/extensions/provisioning/hosted-provider/structure.md
  docusaurus/docs/extensions/provisioning/localization.md
  docusaurus/docs/extensions/provisioning/node-driver/about-drivers.md
  docusaurus/docs/extensions/provisioning/node-driver/about-example.md
  docusaurus/docs/extensions/provisioning/node-driver/advanced.md
  docusaurus/docs/extensions/provisioning/node-driver/machine-config.md
  docusaurus/docs/extensions/provisioning/node-driver/overview.md
  docusaurus/docs/extensions/provisioning/node-driver/proxying.md
  docusaurus/docs/extensions/provisioning/overview.md
  docusaurus/docs/extensions/provisioning/provider-icon.md
  docusaurus/docs/extensions/screenshots/cluster-provisioning-hosted.png
  docusaurus/docs/extensions/usecases/hosted-provider.md
  docusaurus/docs/extensions/usecases/node-driver.md
  docusaurus/docs/internal/code-base-works/machine-drivers.md
  docusaurus/extensionSidebar.js
Due: none

chore: update default to background
  shell/promptRemove/workload.vue
Due: shell

fix: introduce propagation policy promptRemove for workloads
  shell/assets/translations/en-us.yaml
  shell/promptRemove/workload.vue
Due: shell

fix: update the UI to show a description for each propagation policy type
  shell/promptRemove/workload.vue
Due: shell

chore: update the component to use correct components
  shell/promptRemove/workload.vue
Due: shell

chore: updating the options to have en-us values
  shell/assets/translations/en-us.yaml
  shell/promptRemove/workload.vue
Due: shell

chore: add US/EN translations for propagation policy options
  shell/assets/translations/en-us.yaml
  shell/promptRemove/workload.vue
Due: shell

rancher/cypress update Rancher Cypress release to use trusted providers
  .github/workflows/release-cypress-pkg.yaml
Due: none

rancher/cypress filter out README when running init command
  cypress/bin/init.js
Due: none

fix bug with adding tabs from extensions on workloads edit/create views
  shell/edit/workload/index.vue
Due: shell

fix issue with nightly runs tests for extensions
  .github/workflows/release-shell-pkg.yaml
  shell/scripts/publish-shell.sh
Due: shell

before rework...
  shell/components/SortableTable/sorting.js
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/plugins/steve/subscribe.js
  shell/types/rancher/steve.api.ts
  shell/utils/back-off.ts
Due: shell

add scale pools tests
  browser-logs/out.html
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/lists/machine-pools-list.po.ts
  cypress/e2e/po/prompts/genericPrompt.po.ts
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke2.spec.ts
  cypress/support/utils/timeouts.ts
  shell/detail/provisioning.cattle.io.cluster.vue
Due: shell

minor fixes
  .github/workflows/release-shell-pkg.yaml
  shell/scripts/publish-shell.sh
Due: shell

minor fixes
  shell/scripts/publish-shell.sh
Due: shell

given up on unit tests
  shell/components/__tests__/ResourceTable.test.ts
Due: shell

fix bug with adding tabs from extensions on workloads edit/create views (#16208)
  shell/edit/workload/index.vue
Due: shell

add slack notification
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/init.sh
  cypress/jenkins/slack-notification.sh
Due: none

Fixed imported cluster not being recognized correctly in Waiting state
  shell/models/__tests__/provisioning.cattle.io.cluster.test.ts
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

feat: add reserved memory field when creating harvester downstream cluster
  pkg/harvester-manager/machine-config/harvester.vue
  shell/assets/translations/en-us.yaml
Due: shell

not running, started split of execute and recurse
  shell/utils/back-off.ts
Due: shell

[15961] Added option to create user id same as the gitops
  shell/edit/__tests__/fleet.cattle.io.helmop.test.ts
  shell/edit/fleet.cattle.io.helmop.vue
Due: shell

Making it so we can target detail page vs show configuration
  docusaurus/docs/extensions/api/tabs.md
  docusaurus/docs/extensions/screenshots/add-tab-show-configuration.png
  shell/components/Drawer/ResourceDetailDrawer/__tests__/composables.test.ts
  shell/components/Drawer/ResourceDetailDrawer/composables.ts
  shell/components/Drawer/ResourceDetailDrawer/index.vue
  shell/components/Tabbed/index.vue
  shell/core/types.ts
Due: shell

temp
  .github/workflows/release-cypress-pkg.yaml
Due: none

rancher/cypress fix npm version in release workflow and bump to 1.0.4
  .github/workflows/release-cypress-pkg.yaml
  cypress/package.json
Due: none

Making it so we can target detail page vs show configuration (#16203)
  docusaurus/docs/extensions/api/tabs.md
  docusaurus/docs/extensions/screenshots/add-tab-show-configuration.png
  shell/components/Drawer/ResourceDetailDrawer/__tests__/composables.test.ts
  shell/components/Drawer/ResourceDetailDrawer/composables.ts
  shell/components/Drawer/ResourceDetailDrawer/index.vue
  shell/components/Tabbed/index.vue
  shell/core/types.ts
Due: shell

add new locations for Tab extension point + update documentation
  docusaurus/docs/extensions/api/actions.md
  docusaurus/docs/extensions/api/cards.md
  docusaurus/docs/extensions/api/common.md
  docusaurus/docs/extensions/api/panels.md
  docusaurus/docs/extensions/api/tabs.md
  docusaurus/docs/extensions/provisioning/overview.md
  docusaurus/docs/extensions/screenshots/add-tab-create.png
  docusaurus/docs/extensions/screenshots/add-tab-detail.png
  docusaurus/docs/extensions/screenshots/add-tab-edit.png
  docusaurus/extensions_versioned_docs/version-v2/advanced/provisioning.md
  shell/components/CruResource.vue
  shell/components/ResourceDetail/index.vue
  shell/components/Tabbed/index.vue
  shell/core/types.ts
Due: shell

revert change
  docusaurus/extensions_versioned_docs/version-v2/advanced/provisioning.md
Due: none

minor fixes
  docusaurus/docs/extensions/api/common.md
  docusaurus/docs/extensions/api/tabs.md
Due: none

improved readability
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

fix e2e test
  cypress/e2e/tests/pages/charts/chart-install-wizard.spec.ts
Due: none

working but flat
  pkg/imported/components/CruImported.vue
  shell/components/TableOfContents/index.vue
Due: shell

unit test fix
  shell/components/CruResource.vue
  shell/components/ResourceDetail/index.vue
  shell/components/Tabbed/index.vue
  shell/composables/cruResource.ts
  shell/composables/resourceDetail.ts
Due: shell

Removing the defineEmits/Props from imports and removed defineEmits from non-setup locations.
  pkg/rancher-components/src/components/RcDropdown/useDropdownContext.ts
  shell/components/fleet/FleetSecretSelector.vue
  shell/components/nav/WindowManager/panels/TabBodyContainer.vue
  shell/composables/useLabeledFormElement.ts
Due: shell, rancher-components
