Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Remove existing log bloating console output
  shell/edit/provisioning.cattle.io.cluster/__tests__/Advanced.test.ts
Due: shell

Add tests to verify URL are automatically generated
  shell/edit/auth/__tests__/oidc.test.ts
Due: shell

Add TS specificity to existing tests due warning issues
  shell/edit/auth/__tests__/oidc.test.ts
Due: shell

Remove auth segment from generated URLs
  shell/edit/auth/oidc.vue
Due: shell

Create page for SCC registration for Rancher Prime (#13591)
  .eslintrc.default.js
  jest.setup.js
  package.json
  pkg/rancher-components/package.json
  pkg/rancher-prime/config/constants.ts
  pkg/rancher-prime/config/navigation.ts
  pkg/rancher-prime/index.ts
  pkg/rancher-prime/l10n/en-us.yaml
  pkg/rancher-prime/pages/Registration.vue
  pkg/rancher-prime/pages/__tests__/Registration.test.ts
  pkg/rancher-prime/routing/index.ts
  shell/components/StatusBadge.vue
  shell/package.json
  storybook/src/stories/Components/IconMessage.mdx
  storybook/src/stories/Components/IconMessage.stories.ts
  storybook/src/stories/Components/StatusBadge.mdx
  storybook/src/stories/Components/StatusBadge.stories.ts
  yarn.lock
Due: shell, rancher-components

Add extension catalog page and initial contents
  docusaurus/docs/extensions/catalog.mdx
  docusaurus/docusaurus.config.js
  docusaurus/extensionSidebar.js
  docusaurus/extensions/catalog/partner/cloudcasa.yaml
  docusaurus/extensions/catalog/partner/kamaji.yaml
  docusaurus/extensions/catalog/partner/nutanix.yaml
  docusaurus/extensions/catalog/prime/elemental.yaml
  docusaurus/extensions/catalog/prime/kubewarden.yaml
  docusaurus/extensions/catalog/prime/neuvector.yaml
  docusaurus/extensions/catalog/prime/observability.yaml
  docusaurus/plugins/catalog/Catalog.tsx
  docusaurus/plugins/catalog/CatalogCard.tsx
  docusaurus/plugins/catalog/index.js
  docusaurus/plugins/catalog/styles.css
Due: none

Use `setup()` to init data in `ArrayList.vue`
  shell/components/form/ArrayList.vue
  shell/components/form/__tests__/ArrayList.test.ts
Due: shell

temp
  package.json
  pkg/rancher-components/src/components/Card/Card.vue
  shell/components/Import.vue
  shell/components/ResourceTable.vue
  shell/components/SlideInPanel.vue
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/selection.js
  shell/components/fleet/FleetRepos.vue
  shell/components/fleet/FleetResources.vue
  shell/components/form/ResourceTabs/index.vue
  shell/pages/c/_cluster/fleet/index.vue
  yarn.lock
Due: shell, rancher-components

revert using mergeWithReplaceArrays
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

update comment
  shell/utils/object.js
Due: shell

Fix vSphere CSI/CPI config not being sent properly (#13773)
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/utils/object.js
Due: shell

forwardport fix for vsphere cpi/csi config
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/utils/object.js
Due: shell

[FIX] Adjusted HPA to handle non-resource metrics
  shell/assets/translations/en-us.yaml
  shell/components/form/MatchExpressions.vue
  shell/detail/__tests__/autoscaling.horizontalpodautoscaler.test.ts
  shell/detail/autoscaling.horizontalpodautoscaler/index.vue
  shell/edit/autoscaling.horizontalpodautoscaler/metric-identifier.vue
Due: shell

[2.11.1] Adjusted HPA to handle non-resource metrics
  shell/assets/translations/en-us.yaml
  shell/components/form/MatchExpressions.vue
  shell/detail/__tests__/autoscaling.horizontalpodautoscaler.test.ts
  shell/detail/autoscaling.horizontalpodautoscaler/index.vue
  shell/edit/autoscaling.horizontalpodautoscaler/metric-identifier.vue
Due: shell

[BUG] Keycloak generated Auth and Issuer endpoints are using outdated URL patterns (#13767)
  shell/edit/auth/__tests__/oidc.test.ts
  shell/edit/auth/oidc.vue
  shell/edit/provisioning.cattle.io.cluster/__tests__/Advanced.test.ts
Due: shell

Fix FixedBanner so that we can show the appropriate stylized text also fix multi-line functionality
  cypress/e2e/tests/pages/global-settings/banners.spec.ts
  shell/assets/styles/global/_layout.scss
  shell/components/FixedBanner.vue
  shell/components/__tests__/FixedBanner.test.ts
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/__tests__/TopLevelMenu.test.ts
  shell/pages/auth/login.vue
  shell/utils/banners.js
Due: shell

test fix
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/components/form/UnitInput.vue
  shell/edit/service.vue
Due: shell, rancher-components

fix outputs col display on flow logging lsit view + add unit test
  shell/models/__tests__/logging.banzaicloud.io.flow.test.ts
  shell/models/logging.banzaicloud.io.flow.js
Due: shell

Address PR feedback
  docusaurus/docs/extensions/catalog.mdx
  docusaurus/plugins/catalog/CatalogCard.tsx
Due: none

unit tests
  shell/models/__tests__/logging.banzaiclou.io.flow.test.ts
Due: shell

working on unit tests
  shell/components/form/UnitInput.vue
  shell/components/form/__tests__/UnitInput.test.ts
  shell/edit/service.vue
Due: shell

remove console log
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

bump shell version
  shell/package.json
Due: shell

machinepool validation
  shell/edit/provisioning.cattle.io.cluster/__tests__/MachinePool.test.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/MachinePool.vue
  shell/utils/validators/__tests__/machine-pool.test.ts
  shell/utils/validators/machine-pool.ts
Due: shell

Sanitize the version when setting it in UIPlugin label
  shell/scripts/extension/helm/charts/ui-plugin-server/templates/_helpers.tpl
Due: shell

fix: missing error banner in edit harvesterhci.io.management.cluster
  pkg/harvester-manager/edit/harvesterhci.io.management.cluster.vue
Due: none

Sanitize the version when setting it in UIPlugin label (#13585)
  shell/scripts/extension/helm/charts/ui-plugin-server/templates/_helpers.tpl
Due: shell

Removing extension router logic that's no longer necessary with the bump of vue-router
  shell/config/router/routes.js
  shell/core/plugin-routes.ts
  shell/core/plugins.js
Due: shell

fix broken unit inputs
  shell/edit/service.vue
  shell/edit/workload/Job.vue
Due: shell

Tweaks to the disclaimer text
  docusaurus/docs/extensions/catalog.mdx
Due: none

Fix text for icon size
  docusaurus/docs/extensions/catalog.mdx
Due: none

fix unit test
  shell/edit/workload/__tests__/Job.test.ts
Due: shell

re-enable extension checks
  shell/scripts/test-plugins-build.sh
Due: shell

add missing aria labels and roles for pagination of sortable tables
  shell/assets/translations/en-us.yaml
  shell/components/SortableTable/index.vue
Due: shell

temp
  package.json
  pkg/rancher-components/src/components/Card/Card.vue
  shell/components/Import.vue
  shell/components/ResourceTable.vue
  shell/components/SlideInPanel.vue
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/selection.js
  shell/components/fleet/FleetRepos.vue
  shell/components/fleet/FleetResources.vue
  shell/models/fleet.cattle.io.gitrepo.js
  shell/pages/c/_cluster/fleet/GitRepoGraphConfig.js
  shell/pages/c/_cluster/fleet/index.vue
  shell/plugins/dashboard-store/resource-class.js
  yarn.lock
Due: shell, rancher-components

Adding another indentation level in our navigation menu
  shell/components/nav/Group.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
