Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Tweaks
  .github/workflows/scripts/update-cloud-data.sh
  .github/workflows/update-cloud-data.yml
Due: none

Add permissions
  .github/workflows/scripts/update-cloud-data.sh
  .github/workflows/update-cloud-data.yml
Due: none

Add git config
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Update labels
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Fix set -e
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Improve delete
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Include Azure data sync
  .github/workflows/scripts/update-cloud-data.sh
  pkg/aks/util/aks-regions.ts
  pkg/aks/util/aks.ts
  scripts/azure/update-data
Due: none

Force branch push in case old branch exists
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Permissions
  .github/workflows/update-cloud-data.yml
Due: none

Fix delete
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Fix PR body
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Tweak to do a rebase
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Delete existing branch first
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Speed up node modules install
  .github/workflows/update-cloud-data.yml
Due: none

Add back in set -e
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Tweaks
  .github/workflows/update-cloud-data.yml
Due: none

Tweak script
  .github/workflows/scripts/update-cloud-data.sh
Due: none

Set target brach to master
  .github/workflows/scripts/update-cloud-data.sh
  .github/workflows/update-cloud-data.yml
Due: none

Permissions
  .github/workflows/scripts/update-cloud-data.sh
  .github/workflows/update-cloud-data.yml
Due: none

Fix branch delete
  .github/workflows/scripts/update-cloud-data.sh
Due: none

refactor wechat modal as a prompt modal (#14189)
  shell/components/CommunityLinks.vue
  shell/components/__tests__/PromptModal.test.ts
  shell/dialog/WechatDialog.vue
Due: shell

Keep usgov regions
  scripts/azure/update-data
Due: none

Make RKE1 Unsupported
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/formatter/ClusterLink.vue
  shell/components/formatter/RKETemplateName.vue
  shell/components/formatter/__tests__/ClusterLink.test.ts
  shell/config/product/manager.js
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/management.cattle.io.cluster.js
  shell/models/management.cattle.io.node.js
  shell/models/management.cattle.io.nodepool.js
  shell/models/provisioning.cattle.io.cluster.js
  shell/pages/home.vue
  shell/store/features.js
Due: shell

Update a11y test for removed RKE1 toggle switch
  cypress/e2e/tests/accessibility/shell.spec.ts
Due: none

Fix for unit tests
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/management.cattle.io.nodepool.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Allow cluster create and import locations to be overridden (#14041) (#14203)
  shell/core/types.ts
  shell/list/provisioning.cattle.io.cluster.vue
  shell/pages/home.vue
  shell/store/type-map.js
Due: shell

Fix missing import
  shell/models/management.cattle.io.nodepool.js
Due: shell

Fix errors for stories
  storybook/src/stories/foundation/FormComponentNested.stories.ts
  storybook/src/stories/foundation/FormCompositionComponent.stories.ts
  storybook/src/stories/foundation/FormCompositionInput.stories.ts
  storybook/src/stories/foundation/FormCompositionNested.stories.ts
Due: none

Replace Yup with Zod
  package.json
  storybook/src/stories/foundation/FormCompositionNested.stories.ts
  storybook/src/stories/foundation/FormValidation.mdx
  yarn.lock
Due: none

Remove RKE templates and related tests
  cypress/e2e/po/pages/cluster-manager/rke-templates.po.ts
  cypress/e2e/tests/pages/manager/rke-templates.spec.ts
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/__tests__/PromptModal.test.ts
  shell/dialog/SaveAsRKETemplateDialog.vue
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Fix lint and tidy up
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Removed unused code
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Working through todo's/tidys
  shell/components/ResourceTable.vue
  shell/components/SortableTable/selection.js
  shell/mixins/resource-fetch-api-pagination.js
  shell/mixins/resource-table-watch.js
  shell/pages/c/_cluster/explorer/EventsTable.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/mutations.js
  shell/plugins/steve/actions.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/plugins/steve/subscribe.js
  shell/types/store/dashboard-store.types.ts
  shell/utils/pagination-wrapper.ts
Due: shell

add secondary text link in css
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/cards/AppCard.vue
Due: shell

Remove debug / tidy up
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  pkg/harvester-manager/types.js
  shell/components/PaginatedResourceTable.vue
  shell/components/ResourceTable.vue
  shell/components/SortableTable/selection.js
  shell/components/nav/TopLevelMenu.helper.ts
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/mutations.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/plugins/steve/subscribe.js
  shell/store/index.js
  shell/utils/uiplugins.ts
Due: shell

Validation support for RKE2 machine pool configuration (#13789)
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/tabs/machine-pools-tab-rke2.po.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke2.spec.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/MachinePool.vue
  shell/utils/validators/machine-pool.ts
Due: shell

Improve Banners settings screen reader output (#14093)
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.test.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/LandingPagePreference.vue
  shell/components/form/BannerSettings.vue
  shell/components/form/ColorInput.vue
  shell/components/form/LabeledSelect.vue
  shell/components/form/NotificationSettings.vue
  shell/components/form/__tests__/ColorInput.test.ts
  shell/components/form/__tests__/LabeledSelect.test.ts
  shell/pages/c/_cluster/settings/banners.vue
Due: shell, rancher-components

Uncheck install guest agent when choosing user data template in harvester provision page
  pkg/harvester-manager/machine-config/harvester.vue
Due: none
