Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Set SASS charset option to `false`
  shell/vue.config.js
Due: shell

fixing fleet tests
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
Due: none

Fix fleet cluster repo
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
Due: none

Extension Compatibility Test (#18761)
  .github/workflows/extension-compatibility-test.yml
  cypress/e2e/po/pages/extensions/developer-load.po.ts
  cypress/e2e/tests/pages/extensions/extension-compatibility.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  docs/developer/extension-test/extension-test-correlation.md
  docs/developer/extension-test/extension-test-overview.md
  docs/developer/extension-test/extension-test.pdf
  scripts/e2e-extension-k3s-start.sh
Due: none

Add additional advice to AGENTS file regarding page navTo / goTo usage
  AGENTS.md
  docs/agents.md/contributors/3_e2e-tests.md
Due: none

Added 2.15 version
  .github/workflows/extension-compatibility-test.yml
Due: none

Add the 2.15 on the slack notification.
  .github/workflows/extension-compatibility-test.yml
Due: none

Use correct logo for SUSE Virtualization (#18710)
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  shell/assets/images/pl/dark/suse-virtualization.svg
  shell/assets/images/pl/suse-virtualization.svg
  shell/store/i18n.js
Due: shell

Show inline error for unknown resource type or resource id (#18802)
  shell/components/ResourceDetail/__tests__/index.test.ts
  shell/components/ResourceDetail/index.vue
Due: shell

WIP
  .gitignore
  docs/agents.md/contributors/1_contributors.md
  shell/assets/translations/en-us.yaml
  shell/components/CruResource.vue
  shell/components/ResourceDetail/index.vue
  shell/components/ResourceTemplateSelector.vue
  shell/components/ResourceYaml.vue
  shell/components/__tests__/CruResource.test.ts
  shell/components/__tests__/ResourceTemplateSelector.test.ts
  shell/components/__tests__/ResourceYaml.test.ts
  shell/config/labels-annotations.js
  shell/dialog/GenericPrompt.vue
  shell/dialog/SaveAsTemplateDialog.vue
  shell/dialog/__tests__/GenericPrompt.test.ts
  shell/dialog/__tests__/SaveAsTemplateDialog.test.ts
  shell/plugins/steve/__tests__/steve-class.test.ts
  shell/plugins/steve/steve-class.js
  shell/utils/__tests__/resource-template.test.ts
  shell/utils/resource-template.ts
Due: shell

move to top
  shell/components/CruResource.vue
  shell/components/ResourceDetail/Masthead/__tests__/index.test.ts
  shell/components/ResourceDetail/Masthead/__tests__/latest.test.ts
  shell/components/ResourceDetail/Masthead/__tests__/legacy.test.ts
  shell/components/ResourceDetail/Masthead/index.vue
  shell/components/ResourceDetail/Masthead/latest.vue
  shell/components/ResourceDetail/Masthead/legacy.vue
  shell/components/ResourceDetail/__tests__/index.test.ts
  shell/components/ResourceDetail/index.vue
  shell/components/ResourceYaml.vue
  shell/components/__tests__/CruResource.test.ts
  shell/components/__tests__/ResourceYaml.test.ts
Due: shell

update agent
  AGENTS.md
  docs/agents.md/contributors/resolving_gh_issues.md
Due: none

test updates
  shell/components/ResourceDetail/Masthead/__tests__/index.test.ts
  shell/components/ResourceDetail/Masthead/__tests__/latest.test.ts
  shell/components/ResourceDetail/Masthead/__tests__/legacy.test.ts
  shell/components/ResourceDetail/__tests__/index.test.ts
  shell/components/__tests__/CruResource.test.ts
  shell/components/__tests__/ResourceTemplateSelector.test.ts
  shell/dialog/__tests__/SaveAsTemplateDialog.test.ts
  shell/utils/__tests__/resource-template.test.ts
Due: shell

changes
  .gitignore
  shell/assets/translations/en-us.yaml
  shell/components/CruResource.vue
  shell/components/ResourceDetail/Masthead/index.vue
  shell/components/ResourceDetail/Masthead/latest.vue
  shell/components/ResourceDetail/Masthead/legacy.vue
  shell/components/ResourceDetail/index.vue
  shell/components/ResourceTemplateSelector.vue
  shell/dialog/SaveAsTemplateDialog.vue
  shell/utils/resource-template.ts
Due: shell

Added 2.15 version to the Extension Compatibility Test (#18824)
  .github/workflows/extension-compatibility-test.yml
Due: none

test: pin Rancher head to pre-08-14 build to isolate e2e regression
  branches-metadata.json
  scripts/e2e-k3s-start.sh
Due: none

Remove unused sinon dev dependency
  package.json
  yarn.lock
Due: none

Remove unused sinon dev dependency (#18842)
  package.json
  yarn.lock
Due: none

Replace the resource search dialog with the nav jump-to
  cypress/e2e/po/components/header.po.ts
  cypress/e2e/po/prompts/ResourceSearchDialog.po.ts
  cypress/e2e/tests/accessibility/shell.spec.ts
  cypress/e2e/tests/pages/explorer2/resource-search.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/replicasets.spec.ts
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/components/__tests__/PromptModal.test.ts
  shell/components/nav/Group.vue
  shell/components/nav/Header.vue
  shell/components/nav/NavActionBar.vue
  shell/components/nav/Type.vue
  shell/components/nav/__tests__/Group.test.ts
  shell/components/nav/__tests__/Type.test.ts
  shell/dialog/SearchDialog.vue
Due: shell

Add a jump-to and collapse-all toolbar to the side nav
  cypress/e2e/po/side-bars/nav-action-bar.po.ts
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/accessibility/shell.spec.ts
  cypress/e2e/tests/navigation/side-nav/nav-action-bar.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/components/nav/NavActionBar.vue
  shell/components/nav/__tests__/NavActionBar.test.ts
Due: shell

Persist side nav expanded state per cluster in localStorage
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/components/nav/Group.vue
  shell/components/nav/__tests__/Group.test.ts
  shell/composables/__tests__/useClusterLocalStorage.test.ts
  shell/composables/useClusterLocalStorage.ts
Due: shell

fix issue with e2e on kubewarden
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

[JIRA][18783] Added a fallback to get the data using the missing userId. Fill up th… (#18786)
  shell/components/auth/Principal.vue
  shell/components/auth/__tests__/Principal.test.ts
  shell/models/__tests__/principal.test.ts
  shell/models/principal.js
Due: shell

fix issue with e2e on kubewarden (#18854)
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

address pr comments
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/kubectl-explain/components/__tests__/SlideInPanel.test.ts
  shell/components/nav/Header.vue
Due: shell

address issues with a11y around describe resource slidein panel
  pkg/kubectl-explain/components/ExplainPanel.vue
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/kubectl-explain/components/__tests__/ExplainPanel.test.ts
  pkg/kubectl-explain/components/__tests__/SlideInPanel.test.ts
  pkg/kubectl-explain/index.ts
  pkg/kubectl-explain/l10n/en-us.yaml
  pkg/kubectl-explain/slide-in.js
  shell/components/nav/Header.vue
  shell/components/nav/__tests__/Header.test.ts
  shell/core/types.ts
Due: shell

address ci issues
  pkg/kubectl-explain/index.ts
  pkg/kubectl-explain/l10n/en-us.yaml
  shell/components/nav/Header.vue
  shell/components/nav/__tests__/Header.test.ts
Due: shell

fix lint issues
  pkg/kubectl-explain/index.ts
Due: none

fix issue with incomplete aria labels for inactivity period in user retention settings
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/auth/user.retention/index.vue
Due: shell, rancher-components

fix decorative image in account that should have empty alt
  shell/components/auth/Principal.vue
Due: shell

fix issue with decorative image which should have empty alt in login page
  shell/pages/auth/login.vue
Due: shell

fix nit on rancher logo image alt tag
  shell/assets/translations/en-us.yaml
  shell/components/nav/Header.vue
Due: shell

add unit tests
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  shell/assets/translations/en-us.yaml
  shell/components/auth/__tests__/Principal.test.ts
  shell/components/form/__tests__/Password.test.ts
  shell/components/nav/__tests__/Header.test.ts
  shell/pages/__tests__/about.test.ts
  shell/pages/auth/__tests__/login.test.ts
  shell/pages/auth/login.vue
  shell/pages/c/_cluster/auth/user.retention/__tests__/index.test.ts
Due: shell, rancher-components

add version to aria label for CLI downloads on about page
  shell/assets/translations/en-us.yaml
  shell/pages/about.vue
Due: shell

remove tabindex from banners with role alert as they will be announced by screen readers
  pkg/rancher-components/src/components/Banner/Banner.vue
Due: rancher-components

fix nit with text on reveal pass action on login screen
  shell/assets/translations/en-us.yaml
Due: shell

fix unit tests
  shell/components/fleet/__tests__/__snapshots__/HelmOpTargetOptionsSection.test.ts.snap
Due: shell

add connector between modal title and modal container with aria-describedby
  pkg/rancher-components/src/components/Card/Card.test.ts
  pkg/rancher-components/src/components/Card/Card.vue
  pkg/rancher-components/src/components/utils/modalTitle.ts
  shell/components/AppModal.vue
  shell/components/Dialog.vue
  shell/components/ResourceCancelModal.vue
  shell/components/__tests__/AppModal.test.ts
  shell/dialog/AddExtensionReposDialog.vue
  shell/dialog/DeveloperLoadExtensionDialog.vue
  shell/dialog/ExtensionCatalogInstallDialog.vue
  shell/dialog/ExtensionCatalogUninstallDialog.vue
  shell/dialog/InstallExtensionDialog.vue
  shell/dialog/KnownHostsEditDialog.vue
  shell/dialog/SearchDialog.vue
  shell/dialog/UninstallExistingExtensionDialog.vue
  shell/dialog/UninstallExtensionDialog.vue
  shell/dialog/WechatDialog.vue
Due: shell, rancher-components

fix issue with poor labels in table checkboxes
  shell/assets/translations/en-us.yaml
  shell/components/ResourceTable.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/__tests__/THead.test.ts
  shell/components/SortableTable/__tests__/selection-labels.test.ts
  shell/components/SortableTable/index.vue
Due: shell

fix vpat issues
  shell/assets/translations/en-us.yaml
  shell/components/fleet/FleetGitRepoPaths.vue
  shell/components/fleet/__tests__/FleetGitRepoPaths.test.ts
  shell/components/form/ArrayList.vue
  shell/components/form/KeyValue.vue
  shell/components/form/__tests__/ArrayList.test.ts
  shell/components/form/__tests__/KeyValue.test.ts
Due: shell
