Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Replace CodeMirror 5 dependencies with CodeMirror 6
  package.json
  shell/package.json
  yarn.lock
Due: shell

Share the shell's CodeMirror 6 with extensions
  shell/core/plugins-loader.js
  shell/pkg/__tests__/shared-codemirror.test.ts
  shell/pkg/shared-codemirror.js
  shell/pkg/vue.config.js
Due: shell

Display asTextArea with RcCodeMirror's input variant
  shell/components/CodeMirror.vue
  shell/components/__tests__/CodeMirror.test.ts
  shell/components/form/KeyValue.vue
Due: shell

Apply Rancher CodeMirror theme in Dashboard
  shell/components/CodeMirror.vue
  shell/components/Drawer/ResourceDetailDrawer/YamlTab.vue
  shell/components/YamlEditor.vue
  shell/components/__tests__/CodeMirror.test.ts
  shell/core/plugins-loader.js
  shell/dialog/KnownHostsEditDialog.vue
  shell/edit/workload/storage/index.vue
  shell/package.json
  shell/pkg/__tests__/shared-codemirror.test.ts
  shell/pkg/shared-codemirror.js
Due: shell

Preserve CodeMirror line spacing in Dashboard
  shell/components/CodeMirror.vue
Due: shell

Keep app shortcuts out of contenteditable editors
  shell/initialize/install-plugins.js
  shell/plugins/__tests__/shortkey.test.ts
  shell/utils/dom.js
Due: shell

Test that editor keys are not taken by app shortcuts
  cypress/e2e/tests/components/code-mirror-shortcuts.spec.ts
  cypress/globals.d.ts
  cypress/tsconfig.json
Due: none

Fix setup and cleanup in the editor shortcut spec
  cypress/e2e/tests/components/code-mirror-shortcuts.spec.ts
Due: none

Keep Escape pressed in RcCodeMirror inside the editor
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  storybook/src/stories/Components/RcCodeMirror.mdx
Due: rancher-components

Remove editor behavior RcCodeMirror now provides
  shell/assets/translations/en-us.yaml
  shell/components/CodeMirror.vue
  shell/components/__tests__/CodeMirror.test.ts
Due: shell

Move the keymap indicator into RcCodeMirror
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  pkg/rancher-components/src/components/RcCodeMirror/types.ts
  shell/assets/translations/en-us.yaml
  shell/components/CodeMirror.vue
  shell/components/__tests__/CodeMirror.test.ts
  storybook/src/stories/Components/RcCodeMirror.mdx
  storybook/src/stories/Components/RcCodeMirror.stories.ts
Due: shell, rancher-components

Set the RcCodeMirror editor font in the component
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  shell/components/CodeMirror.vue
Due: shell, rancher-components

Show the cursor in read-only Dashboard editors
  shell/components/CodeMirror.vue
Due: shell

Pin the shell's CodeMirror 6 dependencies
  shell/package.json
Due: shell

Install shell deps
  shell/yarn.lock
Due: shell

Add @codemirror/view to the Rancher Cypress package
  cypress/package.json
  cypress/yarn.lock
Due: none

Add a linter prop to RcCodeMirror
  pkg/rancher-components/package.json
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
  pkg/rancher-components/src/components/RcCodeMirror/types.ts
  storybook/src/stories/Components/RcCodeMirror.mdx
  storybook/src/stories/Components/RcCodeMirror.stories.ts
  yarn.lock
Due: rancher-components

Mark YAML problems in Dashboard editors again
  shell/components/CodeMirror.vue
  shell/components/__tests__/CodeMirror.test.ts
  shell/core/plugins-loader.js
  shell/package.json
  shell/pkg/__tests__/shared-codemirror.test.ts
  shell/pkg/shared-codemirror.js
  shell/yarn.lock
Due: shell

Theme RcCodeMirror tooltips with the editor colors
  pkg/rancher-components/src/components/RcCodeMirror/extensions/theme.ts
Due: rancher-components

Use RcButton for the CodeMirror keymap indicator
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.test.ts
  pkg/rancher-components/src/components/RcCodeMirror/RcCodeMirror.vue
Due: rancher-components

Lock container name when editing an existing Pod
  shell/edit/workload/__tests__/index.test.ts
  shell/edit/workload/index.vue
Due: shell

Test more Emacs shortcuts in the YAML editor
  cypress/e2e/tests/components/code-mirror-shortcuts.spec.ts
Due: none

Cover Meta, mark and chord keys in the shortcut spec
  cypress/e2e/tests/components/code-mirror-shortcuts.spec.ts
Due: none

Verify editor select-all without browser-reserved shortcut
  cypress/e2e/tests/components/code-mirror-shortcuts.spec.ts
Due: none

Replace key rotation dialog
  shell/assets/translations/en-us.yaml
  shell/dialog/RotateEncryptionKeyDialog.vue
  shell/dialog/__tests__/RotateEncryptionKeyDialog.test.ts
  shell/models/__tests__/provisioning.cattle.io.cluster.test.ts
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Prune fixed violations from the a11y ratchet baseline
  cypress/e2e/tests/accessibility/baseline.json
Due: none

Accept the Kubectl Shell nested-interactive a11y violation
  cypress/e2e/tests/accessibility/baseline.json
Due: none

Add smart popover for replicaSets (#19300)
  shell/assets/translations/en-us.yaml
  shell/components/PopoverCard.vue
  shell/components/RelatedResources.vue
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
  shell/components/Resource/Detail/ResourcePopover/__tests__/ResourcePopoverCard.test.ts
  shell/components/__tests__/PopoverCard.test.ts
  shell/components/__tests__/RelatedResources.test.ts
  shell/components/formatter/WorkloadGlanceEndpoints.vue
  shell/components/formatter/WorkloadPodRestarts.vue
  shell/components/formatter/__tests__/WorkloadGlanceEndpoints.test.ts
  shell/components/formatter/__tests__/WorkloadPodRestarts.test.ts
  shell/models/__tests__/apps.replicaset.test.ts
  shell/models/__tests__/pod.test.ts
  shell/models/__tests__/workload.test.ts
  shell/models/apps.replicaset.js
  shell/models/pod.js
  shell/models/workload.js
Due: shell

Add smart popover for nodes
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
  shell/components/Resource/Detail/ResourcePopover/__tests__/ResourcePopoverCard.test.ts
  shell/components/Resource/Detail/ResourcePopover/__tests__/index.test.ts
  shell/components/Resource/Detail/ResourcePopover/index.vue
  shell/components/formatter/LinkNamePopover.vue
  shell/components/formatter/__tests__/LinkNamePopover.test.ts
  shell/config/product/__tests__/explorer.test.ts
  shell/config/product/explorer.js
  shell/models/__tests__/node.test.ts
  shell/models/__tests__/pod.test.ts
  shell/models/cluster/node.js
  shell/models/pod.js
Due: shell

Show node usage loading and count pods cheaply
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
  shell/components/Resource/Detail/ResourcePopover/__tests__/ResourcePopoverCard.test.ts
  shell/components/Resource/Detail/ResourcePopover/__tests__/index.test.ts
  shell/components/Resource/Detail/ResourcePopover/index.vue
  shell/models/__tests__/node.test.ts
  shell/models/cluster/node.js
  shell/models/pod.js
Due: shell

Cover the value wrapping in the row layout test
  shell/components/Resource/Detail/ResourcePopover/__tests__/ResourcePopoverCard.test.ts
Due: shell

fix: map Deployment metrics kind back to ReplicaSet (#19303)
  shell/config/types.js
Due: shell

address pr comment
  docusaurus/docs/extensions/api/nav/product-registration.md
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/plugin-products-external.ts
  shell/types/store/type-map.ts
Due: shell

Share the Starred group name between getTree and SideNav
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/store/__tests__/type-map.getTree.test.ts
  shell/store/type-map.js
Due: shell

Add a create/edit form for Fleet policies (#19144)
  cypress/e2e/po/pages/fleet/fleet.cattle.io.policy.po.ts
  cypress/e2e/tests/pages/fleet/resources/policy.spec.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  shell/assets/translations/en-us.yaml
  shell/components/fleet/FleetPolicyAllowList.vue
  shell/components/fleet/FleetPolicyServiceAccountsSection.vue
  shell/components/fleet/FleetPolicySourceSection.vue
  shell/components/fleet/__tests__/FleetPolicyServiceAccountsSection.test.ts
  shell/components/fleet/__tests__/FleetPolicySourceSection.test.ts
  shell/components/fleet/__tests__/__snapshots__/AppCoVersionSelect.test.ts.snap
  shell/components/fleet/__tests__/__snapshots__/ClusterSelectionFields.test.ts.snap
  shell/components/form/LabeledSelect.vue
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/__tests__/fleet.cattle.io.helmop.test.ts
  shell/edit/__tests__/fleet.cattle.io.policy.test.ts
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/General.test.ts.snap
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/edit/fleet.cattle.io.helmop.vue
  shell/edit/fleet.cattle.io.policy.vue
  shell/models/__tests__/fleet.cattle.io.policy.test.ts
  shell/models/fleet.cattle.io.policy.ts
  shell/types/fleet.d.ts
  shell/utils/__tests__/fleet-docs.test.ts
  shell/utils/__tests__/fleet-policy.test.ts
  shell/utils/fleet-docs.ts
  shell/utils/fleet-policy.ts
Due: shell, rancher-components

Fleet: do not keep a workspace selection that has been removed (#19143)
  cypress/e2e/tests/pages/fleet/workspace-selection.spec.ts
  shell/components/nav/WorkspaceSwitcher.vue
  shell/components/nav/__tests__/WorkspaceSwitcher.test.ts
  shell/config/router/navigation-guards/clusters.js
  shell/store/__tests__/index.test.ts
  shell/store/index.js
Due: shell

fix(translations): fix zh-hans rke2-k3-reprovisioning link error
  shell/assets/translations/zh-hans.yaml
Due: shell

add ability to conditionally hide/display overview pages of a ProductChildGroup (#19212)
  docusaurus/docs/extensions/api/nav/product-registration.md
  shell/components/nav/Group.vue
  shell/components/nav/__tests__/Group.test.ts
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/__tests__/plugin-products-nav-tree.test.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-external.ts
  shell/types/store/type-map.ts
Due: shell

Remove 1.34 and 1.37 (#19295)
  pkg/eks/assets/data/eks-versions.js
Due: none
