Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Changes after review - force fetch of secrets on visit on install app/chart detail/app detail page - add somre jsdoc
  shell/detail/catalog.cattle.io.app.vue
  shell/mixins/chart.js
  shell/models/catalog.cattle.io.app.js
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Helm App Values Change
  shell/detail/catalog.cattle.io.app.vue
  shell/mixins/chart.js
  shell/models/catalog.cattle.io.app.js
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Fix relative links
  docusaurus/docs/extensions/extensions-configuration.md
  docusaurus/docs/internal/code-base-works/directory-structure.md
  docusaurus/docs/internal/docs.md
  docusaurus/extensions_versioned_docs/version-2.0.x/extensions-configuration.md
Due: none

Add additional validation
  shell/models/catalog.cattle.io.app.js
Due: shell

Fleet Improvements
  shell/components/fleet/FleetClusters.vue
  shell/detail/fleet.cattle.io.cluster.vue
  shell/detail/fleet.cattle.io.gitrepo.vue
  shell/models/fleet.cattle.io.gitrepo.js
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

EKS - add 1.31 and remove 1.27 (#12309)
  pkg/eks/assets/data/eks-versions.js
  pkg/eks/components/__tests__/Config.test.ts
Due: none

Update following review - avoid 0 showing as `?` - e.g. `0 || ?`
  shell/models/fleet.cattle.io.gitrepo.js
  shell/pages/c/_cluster/fleet/index.vue
  shell/utils/string.js
Due: shell

Handle whitespace and errors in the badge color annotation
  shell/models/management.cattle.io.cluster.js
Due: shell

Improve parsing of cluster badge color
  shell/models/management.cattle.io.cluster.js
Due: shell

update e2e test with spoofed github user to ignore be error response
  cypress/e2e/tests/pages/explorer2/project-namespace.spec.ts
Due: none

first iteration of migration docs for vue3
  docusaurus/docs/extensions/rancher-2.10-support.md
Due: none

fix issue banner extensions prime users not being displayed
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Lint
  shell/components/LandingPagePreference.vue
  shell/store/i18n.js
Due: shell

Add verbose option to cron result
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/utils/validators/cron-schedule.js
  shell/utils/validators/formRules/index.ts
Due: shell, rancher-components

[FIX] Fixed validation on Gitrepo page
  shell/assets/translations/en-us.yaml
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/models/fleet.cattle.io.gitrepo.js
  shell/utils/validators/formRules/index.ts
Due: shell

Fixed httpget options not showing up
  shell/components/form/HookOption.vue
Due: shell

fixed switching between options not updating correctly
  shell/components/form/HookOption.vue
  shell/components/form/LifecycleHooks.vue
Due: shell

added test to validation
  shell/utils/validators/formRules/__tests__/index.test.ts
  shell/utils/validators/formRules/index.ts
Due: shell

fix styling issue with namespace create banner in basics step
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Improve badge color text parsing
  shell/models/management.cattle.io.cluster.js
Due: shell

Improve parsing of cluster badge color (#12379)
  shell/models/management.cattle.io.cluster.js
Due: shell

add undefined condition
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

add code comment
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

backport pr 12381
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Avoid embedding web-worker polyfill
  shell/vue.config.js
Due: shell

update e2e test with spoofed github user to ignore be error response (#12372)
  cypress/e2e/tests/pages/explorer2/project-namespace.spec.ts
Due: none

Only set immutable annotation on create of project - norman based resources treat cattle.io as immutable - so only set this on create
  shell/edit/management.cattle.io.project.vue
Due: shell

[FIX] Fixed validation on Gitrepo page (#12386)
  shell/assets/translations/en-us.yaml
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/models/fleet.cattle.io.gitrepo.js
  shell/utils/validators/formRules/__tests__/index.test.ts
  shell/utils/validators/formRules/index.ts
Due: shell

Lo-bar fix for missing project namespace - better to change extend class to Steve instead (but more risky)
  shell/models/management.cattle.io.project.js
Due: shell

Handle whitespace and errors in the badge color annotation (#12394)
  shell/models/management.cattle.io.cluster.js
Due: shell

Improve badge color text parsing (#12396)
  shell/models/management.cattle.io.cluster.js
Due: shell

update data directories inputs to match new user interface + update unit tests (#12367)
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/__tests__/DirectoryConfig.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Advanced.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/DirectoryConfig.vue
Due: shell

Fixed httpget options not showing up (#12390)
  shell/components/form/HookOption.vue
  shell/components/form/LifecycleHooks.vue
Due: shell

Support standard user handling SAML SLO feature (#12360)
  shell/components/nav/Header.vue
  shell/pages/auth/logout.vue
Due: shell

fix e2e test
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
