Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Updating the padding of RcDropdownButton
  pkg/rancher-components/src/components/RcDropdownButton/RcDropdownButton.vue
Due: rancher-components

Improve the storybook
  storybook/src/assets/style.scss
  storybook/src/stories/Components/RcDropdownButton.mdx
Due: none

Switched over to using RcIcon instead of IconOrSvg
  pkg/rancher-components/src/components/RcDropdownButton/RcDropdownButton.vue
  pkg/rancher-components/src/components/RcDropdownButton/types.ts
Due: rancher-components

Update the icon names in the stories to respect the new type
  storybook/src/stories/Components/RcDropdownButton.stories.ts
Due: none

Refactored and now using RcDropdownMenu
  pkg/rancher-components/src/components/RcDropdown/RcDropdownMenu.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  pkg/rancher-components/src/components/RcDropdownButton/RcDropdownButton.vue
  pkg/rancher-components/src/components/RcDropdownButton/types.ts
Due: rancher-components

Cleanup
  pkg/rancher-components/src/components/RcDropdownButton/RcDropdownButton.vue
Due: rancher-components

implement singleton tooltip + test
  shell/assets/styles/global/_tooltip.scss
  shell/directives/__tests__/clean-tooltip.test.ts
  shell/directives/clean-tooltip.js
  shell/directives/clean-tooltip.ts
Due: shell

Fixing lint errors
  pkg/rancher-components/src/components/RcDropdown/RcDropdownMenu.vue
  pkg/rancher-components/src/components/RcDropdown/types.ts
  pkg/rancher-components/src/components/RcDropdownButton/RcDropdownButton.test.ts
  pkg/rancher-components/src/components/RcDropdownButton/index.ts
  storybook/src/stories/Components/RcDropdownButton.stories.ts
Due: rancher-components

Small fixes
  pkg/rancher-components/src/components/RcDropdownButton/RcDropdownButton.vue
  pkg/rancher-components/src/components/RcDropdownButton/types.ts
Due: rancher-components

fix unit tests
  shell/components/Questions/__tests__/Yaml.test.ts
  shell/pages/c/_cluster/explorer/__tests__/index.test.ts
Due: shell

replace tooltip class
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/pages/explorer2/namespace-picker.spec.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/components/form/KeyValue.vue
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/__tests__/fleet.cattle.io.helmop.test.ts
  shell/edit/resources.cattle.io.restore.vue
  shell/edit/workload/Job.vue
Due: shell, rancher-components

fix null case and dynamically add class
  shell/directives/clean-tooltip.ts
Due: shell

backport pr 15814
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Update user-agent for check-i18n-links
  scripts/check-i18n-links
Due: none

Update valid-milestone-change.yml
  .github/workflows/valid-milestone-change.yml
Due: none

Use `v1-public` to get auth providers
  shell/store/auth.js
Due: shell

Use `v1-public` to login
  shell/store/auth.js
Due: shell

Update e2e tests
  cypress/e2e/tests/pages/generic/login.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

Refactor ResourceCard.vue
  shell/components/fleet/dashboard/ResourceCard.vue
Due: shell

Refactor AlertTable.vue
  shell/components/AlertTable.vue
Due: shell

Refactor BannerGraphic.vue
  shell/components/BannerGraphic.vue
Due: shell

Refactor FleetIntro.vue
  shell/components/fleet/FleetIntro.vue
Due: shell

Refactor EmberPageView.vue
  shell/components/EmberPageView.vue
Due: shell

Refactor ContainerResourceLimit.vue
  shell/components/ContainerResourceLimit.vue
Due: shell

Refactor FleetSummary.vue
  shell/components/fleet/FleetSummary.vue
Due: shell

Refactor InstallHelmCharts.vue
  shell/components/InstallHelmCharts.vue
Due: shell

Refactor TopLevelMenu.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell

Refactor Tabbed/index.vue
  shell/components/Tabbed/index.vue
Due: shell

Refactor YamlEditor.vue
  shell/components/YamlEditor.vue
Due: shell

Refactor ResourceList/index.vue
  shell/components/ResourceList/index.vue
Due: shell

Refactor HarvesterServiceAddonConfig.vue
  shell/components/HarvesterServiceAddOnConfig.vue
Due: shell

Refactor SortableTable/index.vue
  shell/components/SortableTable/index.vue
Due: shell

Refactor PromptRemove.vue
  shell/components/PromptRemove.vue
Due: shell

Refactor ResourceLabeledSelect.vue
  shell/components/form/NodeAffinity.vue
  shell/components/form/ResourceLabeledSelect.vue
Due: shell

Refactor Questions/Reference.vue
  shell/components/Questions/Reference.vue
Due: shell

Refactor ResourceTabs/index.vue
  shell/components/form/ResourceTabs/index.vue
Due: shell

Refactor ResourceList/Masthead.vue
  shell/components/ResourceList/Masthead.vue
Due: shell

Refactor FleetNoWorkspaces.vue
  shell/components/fleet/FleetNoWorkspaces.vue
Due: shell

Refactor ResourceYaml.vue
  shell/components/ResourceYaml.vue
Due: shell

use destroyTooltip to fix hiding issue + revamped unit tests
  shell/directives/__tests__/clean-tooltip.test.ts
  shell/directives/clean-tooltip.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
