Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Change location for encryption-provider-config.yaml
  shell/utils/formatter.js
Due: shell

Fixing a bug where harvester VirtualMachines didn't render the config tab in the ResourceDetailDrawer
  shell/components/Drawer/ResourceDetailDrawer/ConfigTab.vue
  shell/components/Drawer/ResourceDetailDrawer/composables.ts
Due: shell

Attempt to add more logs
  scripts/e2e-docker-start
Due: none

Try to upload more logs
  .github/workflows/test.yaml
Due: none

update image
  scripts/e2e-docker-start
Due: none

try to fix log collection
  .github/workflows/test.yaml
Due: none

Fleet fix App Bundles routing
  shell/components/fleet/FleetApplications.vue
  shell/config/router/routes.js
  shell/models/fleet-application.js
Due: shell

Charts/Apps sorting and header items (#14516)
  cypress/e2e/po/components/rc-item-card.po.ts
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  pkg/rancher-components/src/components/RcItemCard/RcItemCard.vue
  shell/assets/styles/vendor/vue-select.scss
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/config/types.js
  shell/pages/c/_cluster/apps/charts/AddRepoLink.vue
  shell/pages/c/_cluster/apps/charts/index.vue
  shell/store/catalog.js
  shell/store/prefs.js
Due: shell, rancher-components

Fix lint
  cypress/e2e/tests/pages/charts/compliance.spec.ts
Due: none

Remove references to deprecated resourceset
  shell/edit/resources.cattle.io.restore.vue
Due: shell

fix conflict resolve leftover
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

changes after review pt2
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/S3Config.vue
Due: shell

Rename
  cypress/e2e/tests/pages/charts/compliance.spec.ts
Due: none

Allow for multiselect
  shell/components/form/Select.vue
Due: shell

configmaps pagination tests
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

Update to support compliance benchmarks (#14582)
  cypress/e2e/po/other-products/compliance.po.ts
  cypress/e2e/tests/pages/charts/compliance.spec.ts
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/config/product/compliance.js
  shell/config/product/explorer.js
  shell/config/roles.ts
  shell/config/router/routes.js
  shell/config/system-namespaces.js
  shell/config/types.js
  shell/detail/compliance.cattle.io.clusterscan.vue
  shell/edit/__tests__/cis.cattle.io.clusterscan.test.ts
  shell/edit/compliance.cattle.io.clusterscan.vue
  shell/edit/compliance.cattle.io.clusterscanbenchmark.vue
  shell/edit/compliance.cattle.io.clusterscanprofile.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/list/compliance.cattle.io.clusterscan.vue
  shell/models/compliance.cattle.io.clusterscan.js
  shell/models/compliance.cattle.io.clusterscanbenchmark.js
  shell/models/compliance.cattle.io.clusterscanprofile.js
  shell/models/compliance.cattle.io.clusterscanreport.js
  shell/pages/c/_cluster/explorer/tools/pages/_page.vue
Due: shell

add missing state for deleted res in appview
  shell/components/RelatedResources.vue
Due: shell

v1
  pkg/gke/components/AccountAccess.vue
  pkg/gke/components/Config.vue
  pkg/gke/components/Networking.vue
  pkg/gke/types/gcp.d.ts
  pkg/gke/util/formatter.ts
  pkg/gke/util/gcp.ts
  shell/assets/translations/en-us.yaml
  shell/cloud-credential/gcp.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/MachinePool.vue
  shell/machine-config/google.vue
  shell/tsconfig.paths.json
Due: shell

Adding a quick fix to allow showing graph view option for fleet
  shell/components/Resource/Detail/TitleBar/__tests__/composables.test.ts
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/Resource/Detail/TitleBar/index.vue
Due: shell

Fleet switch workspace when clicking on dashboard create button
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Fleet fix unit tests
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
Due: shell

tmp
  pkg/gke/components/AccountAccess.vue
  shell/assets/translations/en-us.yaml
  shell/machine-config/google.vue
Due: shell

Fleet remove link from AppSource column for HelmOps OCI source
  shell/models/fleet.cattle.io.helmop.js
Due: shell

fix(edit/service): fix the error in the number of matched pods
  shell/edit/service.vue
Due: shell

Update e2e-docker-start
  scripts/e2e-docker-start
Due: none

Re-enable skipped checks
  cypress/e2e/tests/pages/fleet/resources/bundles.spec.ts
Due: none

Set CATTLE_SERVER_URL when running Rancher with Docker
  scripts/e2e-docker-start
Due: none

ConfigMapSettings, remove duplicate code from Setting title
  shell/components/ConfigMapSettings/Settings.vue
Due: shell

Update registration values given new specifications: expiration, product name
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Add tests and correct found issues
  pkg/rancher-prime/pages/registration.composable.test.ts
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Add unit test for time
  shell/utils/__tests__/time.test.ts
  shell/utils/time.ts
Due: shell

Corrent async button bug which has default error
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Prevent logic to register without code; Reset values with null
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Convert Registration list to single element
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Add logic to create registration CRD schema and fetch resource with WS
  pkg/rancher-prime/config/constants.ts
  pkg/rancher-prime/pages/registration.composable.ts
  shell/models/management.cattle.io.registration.js
Due: shell

Separate data fetching and mapping; Pool registration till hash is changed
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Code cleanup, removed duplications
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Abstract initialization
  pkg/rancher-prime/pages/Registration.vue
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
