Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

[#10924] Hide server-managed metadata fields when editing a resource via YAML
  shell/components/ResourceDetail/index.vue
  shell/models/secret.js
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/__tests__/resource-utils.test.ts
  shell/plugins/steve/actions.js
  shell/plugins/steve/resource-utils.ts
Due: shell

Let extensions add ESLint plugins to the legacy toolchain
  docusaurus/docs/extensions/linting.md
  shell/scripts/lint
Due: shell

[Flaky Tests] Fix Aug 28th (issue #18985) (#18986)
  cypress/e2e/po/pages/page.po.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/users-and-auth/oidcProvider.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Due: none

Fix missing padding on resource config view for full-page-override types (#18918)
  shell/components/ResourceDetail/__tests__/index.test.ts
  shell/components/ResourceDetail/index.vue
Due: shell

[#10924] Keep cleanForDownload action backwards compatible with legacy string payload
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/__tests__/actions.test.ts
  shell/plugins/steve/actions.js
Due: shell

Ring the search result the keyboard is on
  shell/components/nav/NavActionBar.vue
  shell/components/nav/__tests__/NavActionBar.test.ts
Due: shell

remove security as its own section
  shell/assets/translations/en-us.yaml
  shell/detail/catalog.cattle.io.clusterrepo.vue
Due: shell

Ring the jump-to input when the keyboard focuses it
  shell/components/nav/NavActionBar.vue
  shell/components/nav/__tests__/NavActionBar.test.ts
Due: shell

Stop presenting wizard steps as tabs
  shell/assets/translations/en-us.yaml
  shell/components/Wizard.vue
  shell/components/__tests__/Wizard.test.ts
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/TabBodyContainer.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/components/nav/WindowManager/panels/__tests__/HorizontalPanel.test.ts
  shell/components/nav/WindowManager/panels/__tests__/TabBodyContainer.test.ts
  shell/components/nav/WindowManager/panels/__tests__/VerticalPanel.test.ts
  shell/components/nav/WindowManager/panels/__tests__/tab-body.test.ts
  shell/components/nav/WindowManager/panels/tab-body.ts
Due: shell

Carry the input's focus ring out to the toolbar edge
  shell/components/nav/NavActionBar.vue
Due: shell

resolve local cluster by id when installing cluster-scoped charts
  shell/edit/provisioning.cattle.io.cluster/__tests__/index.test.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

Sit the focus ring evenly inside the nav toolbar
  shell/components/nav/NavActionBar.vue
  shell/components/nav/__tests__/NavActionBar.test.ts
Due: shell

[#10924] Restore resourceVersion when saving edited YAML
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
  shell/plugins/dashboard-store/resource-class.js
Due: shell

latest overview design
  cypress/e2e/po/pages/extensions/cert-manager/overview.po.ts
  cypress/e2e/tests/pages/extensions/cert-manager/overview.spec.ts
  pkg/cert-manager/l10n/en-us.yaml
  pkg/cert-manager/pages/overview/CertificatesSection.vue
  pkg/cert-manager/pages/overview/OverviewCard.vue
  pkg/cert-manager/pages/overview/OverviewStat.vue
  pkg/cert-manager/pages/overview/__tests__/aggregate.test.ts
  pkg/cert-manager/pages/overview/aggregate.ts
  pkg/cert-manager/pages/overview/composable.ts
  pkg/cert-manager/pages/overview/index.vue
  pkg/cert-manager/pages/overview/types.ts
Due: none

Repair the i18n store imports in the a11y tests
  shell/components/fleet/__tests__/FleetGitRepoPaths.test.ts
  shell/components/form/__tests__/KeyValue.test.ts
Due: shell

latest design for no certificate state
  pkg/cert-manager/l10n/en-us.yaml
  pkg/cert-manager/pages/overview/CertificatesSection.vue
  pkg/cert-manager/pages/overview/composable.ts
  pkg/cert-manager/pages/overview/index.vue
Due: none

latest design for empty state
  cypress/e2e/tests/pages/extensions/cert-manager/overview.spec.ts
  pkg/cert-manager/l10n/en-us.yaml
  pkg/cert-manager/pages/overview/index.vue
Due: none

Offer the provider list on the login page
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/pages/auth/__tests__/login.test.ts
  shell/pages/auth/login.vue
Due: shell

Let a login control name the config it signs you in with
  shell/components/auth/login/github.vue
  shell/mixins/__tests__/login.test.ts
  shell/mixins/login.js
Due: shell

Migrate the provider login buttons to RcButton
  shell/components/auth/login/github.vue
  shell/components/auth/login/ldap.vue
  shell/components/auth/login/oauth.vue
  shell/components/auth/login/oidc.vue
  shell/components/auth/login/saml.vue
Due: shell

Build a provider list for the login page
  shell/assets/translations/en-us.yaml
  shell/components/auth/AuthProviderLogo.vue
  shell/components/auth/login/AuthProviderList.vue
  shell/components/auth/login/AuthProviderOption.vue
  shell/components/auth/login/OrDivider.vue
  shell/components/auth/login/__tests__/AuthProviderList.test.ts
  shell/components/auth/login/__tests__/AuthProviderOption.test.ts
  shell/utils/__tests__/auth-providers.test.ts
  shell/utils/auth-providers.ts
Due: shell

Key auth provider lookups off the provider type
  shell/components/nav/Header.vue
  shell/models/__tests__/management.cattle.io.authconfig.test.ts
  shell/models/management.cattle.io.authconfig.js
  shell/pages/auth/logout.vue
  shell/utils/auth.js
Due: shell

Cover the login provider list with e2e tests
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/tests/pages/generic/login.spec.ts
Due: none

Name login buttons by provider, fix remember-box drift
  shell/assets/translations/en-us.yaml
  shell/components/auth/login/__tests__/oidc.test.ts
  shell/components/auth/login/oidc.vue
  shell/mixins/__tests__/login.test.ts
  shell/mixins/login.js
  shell/pages/auth/__tests__/login.test.ts
  shell/pages/auth/login.vue
Due: shell

Let the oidc button test see the label it asserts on
  shell/components/auth/login/__tests__/oidc.test.ts
Due: shell

Offer to remember a choice only where there is one to make
  cypress/e2e/tests/pages/generic/login.spec.ts
  shell/pages/auth/__tests__/login.test.ts
  shell/pages/auth/login.vue
Due: shell

Fix lint errors
  shell/mixins/__tests__/login.test.ts
Due: shell

Raise modern theme contrast to WCAG 2.1 AA
  shell/assets/styles/themes/_modern.scss
Due: shell

Guard modern theme contrast ratios with a unit test
  shell/assets/styles/__tests__/modern-theme-contrast.test.ts
Due: shell

latest design for issuance progress
  cypress/e2e/blueprints/other-products/cert-manager.ts
  cypress/e2e/po/pages/extensions/cert-manager/certificate-detail.po.ts
  cypress/e2e/tests/pages/extensions/cert-manager/certificate-detail.spec.ts
  pkg/cert-manager/__tests__/models/cert-manager.io.certificate.test.ts
  pkg/cert-manager/components/IssuanceProgress.vue
  pkg/cert-manager/components/IssuanceStatusCard.vue
  pkg/cert-manager/components/__tests__/IssuanceProgress.test.ts
  pkg/cert-manager/components/__tests__/IssuanceStatusCard.test.ts
  pkg/cert-manager/detail/cert-manager.io.certificate.vue
  pkg/cert-manager/l10n/en-us.yaml
  pkg/cert-manager/models/cert-manager.io.certificate.ts
Due: none

Keep the dark checkbox border in step with inputs
  shell/assets/styles/__tests__/modern-theme-contrast.test.ts
  shell/assets/styles/themes/_modern.scss
Due: shell

Extend the contrast pass to the dark modern theme
  shell/assets/styles/__tests__/modern-theme-contrast.test.ts
  shell/assets/styles/themes/_modern.scss
Due: shell

Extend the contrast pass and its guard to the Prime theme
  shell/assets/styles/__tests__/modern-theme-contrast.test.ts
  shell/assets/styles/__tests__/theme-contrast.test.ts
  shell/assets/styles/themes/_modern.scss
  shell/assets/styles/themes/_suse.scss
Due: shell

Fix tooltip role misassignment and aria-label on info icons (#18572)
  cypress/e2e/po/components/labeled-input.po.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.test.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.test.ts
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  pkg/rancher-components/src/components/RcIconTooltip/RcIconTooltip.test.ts
  pkg/rancher-components/src/components/RcIconTooltip/RcIconTooltip.vue
  pkg/rancher-components/src/components/RcIconTooltip/index.ts
  pkg/rancher-components/src/components/RcIconTooltip/types.ts
  pkg/rancher-components/src/index.ts
  shell/assets/translations/en-us.yaml
  shell/components/form/KeyValue.vue
  shell/directives/__tests__/clean-tooltip-activation.test.ts
  shell/directives/__tests__/clean-tooltip-description.test.ts
  shell/directives/__tests__/clean-tooltip-persistence.test.ts
  shell/directives/__tests__/clean-tooltip-role.test.ts
  shell/directives/__tests__/clean-tooltip.test.ts
  shell/directives/__tests__/utils/tooltip.ts
  shell/directives/clean-tooltip.ts
  shell/edit/auditlog.cattle.io.auditpolicy/AdditionalRedactions.vue
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/General.test.ts.snap
  shell/edit/workload/index.vue
  shell/machine-config/vmwarevsphere.vue
  storybook/src/stories/Components/RcIconTooltip.stories.ts
Due: shell, rancher-components

minor styling
  pkg/cert-manager/components/IssuanceStatusCard.vue
Due: none

use css variables
  pkg/cert-manager/pages/overview/CardsSection.vue
  pkg/cert-manager/pages/overview/CertificatesSection.vue
  pkg/cert-manager/pages/overview/OverviewCard.vue
  pkg/cert-manager/pages/overview/index.vue
Due: none

minor styling
  pkg/cert-manager/l10n/en-us.yaml
  pkg/cert-manager/pages/overview/index.vue
Due: none

tests: add unit tests
  shell/utils/__tests__/uiplugins-extra.test.ts
Due: shell

support IP6 values in Chart Questions ipaddr type
  shell/utils/validators/__tests__/cidr.test.ts
  shell/utils/validators/cidr.js
Due: shell

[#10924] Hide server-managed metadata fields when editing a resource via YAML (#18991)
  shell/components/ResourceDetail/index.vue
  shell/models/secret.js
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/__tests__/actions.test.ts
  shell/plugins/steve/__tests__/resource-utils.test.ts
  shell/plugins/steve/actions.js
  shell/plugins/steve/resource-utils.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
