Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

fix custom addon config test
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

fix jwt auth visual test
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
Due: none

fix azure rke2 delete test
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke2.spec.ts
Due: none

Default auth provider accessMode to required and warn on unrestricted (#17934)
  shell/assets/translations/en-us.yaml
  shell/components/auth/AllowedPrincipals.vue
  shell/components/auth/__tests__/AllowedPrincipals.test.ts
  shell/edit/auth/__tests__/azuread.test.ts
  shell/edit/auth/azuread.vue
  shell/mixins/__tests__/auth-config.test.ts
  shell/mixins/auth-config.js
Due: shell

Fix flakey e2e test
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

update .should(contain... to .contains(... so that timeouts work
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

remove check for activating in activate driver test
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

fix activate driver test
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

update delete driver test to assert driver is actually gone
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

swtich from very_long to long timeout
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

tweak kontainer tests to reduce flake
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

Use standard pattern for respource names
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

Fix case problem with name
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

Change maxWait expectation to undefined in tests
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none

tweak kontainer tests to reduce flake (#17736)
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
Due: none

Replace router-link tags with buttons
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  shell/chart/monitoring/prometheus/index.vue
  shell/components/ExplorerMembers.vue
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/fleet/FleetIntro.vue
  shell/components/fleet/FleetNoWorkspaces.vue
  shell/components/fleet/dashboard/Empty.vue
  shell/list/group.principal.vue
  shell/list/management.cattle.io.user.vue
  shell/list/provisioning.cattle.io.cluster.vue
  shell/pages/about.vue
  shell/pages/c/_cluster/auth/roles/index.vue
  shell/pages/c/_cluster/fleet/application/index.vue
  shell/pages/home.vue
Due: shell

Trigger click when space is pressed for link buttons
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Tidy up button overrides
  shell/list/management.cattle.io.user.vue
  shell/pages/c/_cluster/apps/charts/AppChartCardFooter.vue
Due: shell

Add `data-testid` to cluster member add button
  cypress/e2e/po/pages/explorer/cluster-project-members.po.ts
  shell/components/ExplorerMembers.vue
Due: shell

Retain link semantics for skip to main content
  shell/components/templates/default.vue
  shell/config/router/index.js
Due: shell

Replace anchor tag buttons with button component
  shell/components/templates/default.vue
  shell/edit/auth/saml.vue
  shell/pages/fail-whale.vue
  shell/pages/support/index.vue
Due: shell

Fix typo in `mr-10`
  shell/list/provisioning.cattle.io.cluster.vue
Due: shell

Replace `n-link` button instances
  shell/list/harvesterhci.io.management.cluster.vue
Due: shell

Correct handling of space to ensure that link buttons behave consistently
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Clean up template comments in home.vue
  shell/pages/home.vue
Due: shell

Use `:href` for support link download
  shell/pages/support/index.vue
Due: shell

Add support for rendering anchor tags as link buttons
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
  shell/pages/fail-whale.vue
Due: shell, rancher-components

Restrict router scroll behavior to 'Skip to main content' links
  shell/config/router/index.js
Due: shell

Update remaining 'Skip to main content' links
  shell/components/templates/home.vue
  shell/components/templates/plain.vue
  shell/pages/fail-whale.vue
Due: shell

Bring used functions in from the 'ip' package and remove it
  package.json
  shell/components/formatter/InternalExternalIP.vue
  shell/package.json
  shell/utils/__tests__/ip.test.ts
  shell/utils/ip.ts
  shell/yarn.lock
  yarn.lock
Due: shell

fix jwt auth visual test 214
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
Due: none

add optional chain (#17925)
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  shell/detail/catalog.cattle.io.clusterrepo.vue
  shell/models/catalog.cattle.io.clusterrepo.js
Due: shell

Resolve failing unit tests
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
Due: rancher-components

Replace ip with ipaddr.js library
  shell/components/formatter/InternalExternalIP.vue
  shell/utils/__tests__/ip.test.ts
  shell/utils/ip.ts
Due: shell

Skip mustChangePassword redirect for auth provider sessions
  shell/config/router/navigation-guards/__tests__/authentication.test.ts
  shell/config/router/navigation-guards/authentication.js
  shell/pages/auth/setup.vue
  shell/utils/__tests__/auth.test.ts
  shell/utils/auth.js
Due: shell

Migrate github auth provider to vee-validate/zod
  shell/edit/auth/__tests__/github.test.ts
  shell/edit/auth/github.vue
Due: shell

Revert "Default auth provider accessMode to required and warn on unrestricted (#17934)"
  shell/assets/translations/en-us.yaml
  shell/components/auth/AllowedPrincipals.vue
  shell/components/auth/__tests__/AllowedPrincipals.test.ts
  shell/edit/auth/__tests__/azuread.test.ts
  shell/edit/auth/azuread.vue
  shell/mixins/__tests__/auth-config.test.ts
  shell/mixins/auth-config.js
Due: shell

Add test and use stricter check for IPv4
  shell/components/formatter/InternalExternalIP.vue
  shell/components/formatter/__tests__/InternalExternalIP.test.ts
Due: shell

Removed the newly added dark mode logo and used the existing logo
  shell/assets/images/vendor/suse-app-collection-dark-mode.svg
  shell/pages/c/_cluster/fleet/application/create.vue
Due: shell

Fix flakey e2e test (can create an oci repository with basic auth) (#17957)
  cypress/e2e/tests/pages/manager/repositories.spec.ts
Due: none
