Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Add WAI-ARIA Roles, States, and Properties to ToggleSwitch
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.vue
Due: rancher-components

Converting the management cluster list and detail pages to be paginated
  shell/components/form/ResourceTabs/index.vue
  shell/config/product/manager.js
  shell/config/settings.ts
  shell/detail/__tests__/provisioning.cattle.io.cluster.test.ts
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/list/provisioning.cattle.io.cluster.vue
  shell/mixins/resource-fetch-api-pagination.js
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/utils/cluster.js
Due: shell

Tweak to events fix, improved existing valid fields comment
  shell/components/form/ResourceTabs/index.vue
  shell/plugins/steve/steve-pagination-utils.ts
Due: shell

automation: services tests
  cypress/e2e/po/components/growl-manager.po.ts
  cypress/e2e/po/components/key-value.po.ts
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/edit/resource-detail.po.ts
  cypress/e2e/po/edit/services.po.ts
  cypress/e2e/po/pages/explorer/services.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/global-settings/home-links.po.ts
  cypress/e2e/tests/pages/explorer/service-discovery/services.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  shell/components/form/KeyValue.vue
  shell/components/form/__tests__/KeyValue.test.ts
Due: shell

automation: add coverage for labeledinput using v-model.value.number
  cypress/e2e/po/components/component.po.ts
  cypress/e2e/po/edit/policy/network-policy.po.ts
  cypress/e2e/po/pages/explorer/network-policy.po.ts
  cypress/e2e/po/pages/global-settings/performance.po.ts
  cypress/e2e/tests/pages/explorer/policy/network-policy.spec.ts
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
Due: none

Update e2e tests and fix lint issue
  cypress/e2e/po/pages/home.po.ts
  cypress/e2e/po/side-bars/page-actions.po.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

sdfdsf
  shell/components/form/ResourceSelector.vue
  shell/detail/workload/index.vue
  shell/edit/networking.k8s.io.networkpolicy/PolicyRuleTarget.vue
  shell/edit/networking.k8s.io.networkpolicy/index.vue
  shell/edit/service.vue
  shell/models/service.js
  shell/models/workload.js
  shell/pages/c/_cluster/longhorn/index.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogUninstallDialog.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/steve-class.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/types/kube/kube-api.ts
  shell/types/store/pagination.types.ts
  shell/utils/selector-typed.ts
Due: shell

Replace clusterId with cluster Name in Fleet Graphs links
  shell/components/fleet/ForceDirectedTreeChart/index.vue
  shell/pages/c/_cluster/fleet/GitRepoGraphConfig.js
Due: shell

ryrty
  shell/components/form/ResourceSelector.vue
  shell/edit/networking.k8s.io.networkpolicy/PolicyRuleTarget.vue
  shell/edit/networking.k8s.io.networkpolicy/index.vue
  shell/edit/service.vue
  shell/models/service.js
  shell/models/workload.js
  shell/pages/c/_cluster/longhorn/index.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogUninstallDialog.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/resource-class.js
  shell/utils/selector-typed.ts
  shell/utils/selector.js
Due: shell

werer
  shell/edit/networking.k8s.io.networkpolicy/PolicyRuleTarget.vue
Due: shell

Test fleet e2e
  .github/workflows/test.yaml
  cypress/e2e/po/components/select.po.ts
Due: none

Adressed comments
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/provisioner.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
Due: shell

Update upload-artifact actions to v4
  .github/workflows/build-extension-charts.yml
  .github/workflows/check-plugins.yaml
  .github/workflows/release-rancher-desktop.yml
  .github/workflows/test.yaml
Due: none

fixed error
  pkg/imported/components/Basics.vue
Due: none

fixed lint
  pkg/imported/provisioner.ts
Due: none

test
  cypress/e2e/po/components/select.po.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

Test fleet-examples repo
  cypress/e2e/blueprints/fleet/gitrepos.ts
Due: none

added PNI support for non-rke2/non-k3s clusters
  pkg/imported/components/CruImported.vue
  pkg/imported/l10n/en-us.yaml
  pkg/imported/provisioner.ts
Due: none

Create roles and aria-labels/descriptions for growls
  shell/components/GrowlManager.vue
Due: shell

Migrated editing imported cluster to Vue (#13216)
  cypress/e2e/po/components/ace.po.ts
  cypress/e2e/po/components/labeled-input.po.ts
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  pkg/eks/components/Config.vue
  pkg/eks/components/Networking.vue
  pkg/eks/components/NodeGroup.vue
  pkg/imported/babel.config.js
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/index.ts
  pkg/imported/l10n/en-us.yaml
  pkg/imported/package.json
  pkg/imported/provisioner.ts
  pkg/imported/tsconfig.json
  pkg/imported/vue.config.js
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/ACE.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/networking/index.vue
  shell/utils/cluster.js
Due: shell, rancher-components

Add alert role to cron hint in LabeledInput
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

Add alert role error messages in ChangePassword.vue
  shell/components/form/ChangePassword.vue
Due: shell

Add focus ring to tertiary buttons
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_button.scss
Due: shell

Resolve vue table structure compiler warnings
  pkg/aks/components/AksNodePool.vue
  shell/components/auth/Principal.vue
  shell/edit/auth/saml.vue
  shell/pages/diagnostic.vue
Due: shell

Resolve vue defineEmits compiler warnings
  shell/components/ButtonMultiAction.vue
Due: shell

Remove `management/findAll` from `provisioning.cattle.io.cluster` edit page
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
Due: shell

added a try catch to debug the undefined error in gkeServiceAccount
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
Due: none

addressed lint failures
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
Due: none

Fleet: validate GitRepo Url
  shell/assets/translations/en-us.yaml
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/utils/validators/formRules/__tests__/index.test.ts
  shell/utils/validators/formRules/index.ts
Due: shell

Fix type errors in RcButton and RcDropdown
  shell/components/RcButton.vue
  shell/components/RcDropdown.vue
Due: shell

[POC] Add an accessible dropdown component
  shell/components/RcButton.vue
  shell/components/RcDropdown.vue
  shell/components/RcDropdownCollection.vue
  shell/components/RcDropdownItem.vue
  shell/components/nav/Header.vue
Due: shell

Annotate poc
  shell/components/RcDropdown.vue
  shell/components/RcDropdownCollection.vue
  shell/components/RcDropdownItem.vue
Due: shell

Expose focus function in RcButton
  shell/components/RcButton.vue
Due: shell

Configure focus and keyboard navigation in RcDropdown
  shell/components/RcDropdown.vue
  shell/components/RcDropdownItem.vue
Due: shell

Update styles
  shell/components/RcButton.vue
  shell/components/RcDropdown.vue
  shell/components/RcDropdownCollection.vue
Due: shell

Move RcDropdown to Rancher Components
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownCollection.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownItem.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownSeparator.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  pkg/rancher-components/src/components/RcDropdown/index.ts
  pkg/rancher-components/src/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell, rancher-components

Fix issue with displaying user info and associated separator
  shell/components/nav/Header.vue
Due: shell

Remove RcDropdownCollection from list of exports
  pkg/rancher-components/src/index.ts
Due: rancher-components

Replace action menu with new component
  shell/components/nav/Header.vue
  shell/components/nav/HeaderPageActionMenu.vue
Due: shell

Move `showUserMenu()` conditional to Dropdown container
  shell/components/nav/Header.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
