Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Update to 15.19.0
  cypress/base-config.ts
  cypress/globals.d.ts
  cypress/package.json
  cypress/support/e2e.ts
  cypress/tsconfig.json
  cypress/yarn.lock
  package.json
  scripts/e2e
  yarn.lock
Due: none

Fix flaky side nav and hosted cluster detail tests
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
  cypress/e2e/tests/pages/manager/hosted-cluster-details.spec.ts
Due: none

Fix cy.wait alias type for Cypress 15.19
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

Commit yarn.lock with latest
  cypress/yarn.lock
  yarn.lock
Due: none

Fix editing virtual clusters (#18547)
  shell/edit/provisioning.cattle.io.cluster/__tests__/subtype-detection.test.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/edit/provisioning.cattle.io.cluster/subtype-detection.ts
Due: shell

Re-use the same comment appending the run on it instead. If there are more commits or force pushes it will only add to that one. (#18551)
  .github/workflows/auto-retry.yaml
Due: none

add query-params ts errors to baseline
  scripts/type-check-baseline.txt
Due: none

Run type check on pull requests
  .github/workflows/test.yaml
Due: none

Update baseline
  scripts/type-check-baseline.txt
Due: none

[2.15.1] Fix editing virtual clusters (#18571)
  shell/edit/provisioning.cattle.io.cluster/__tests__/subtype-detection.test.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/edit/provisioning.cattle.io.cluster/subtype-detection.ts
Due: shell

Fix RKE2 custom cluster e2e flakiness
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/po/lists/cluster-provisioning-log.po.ts
  cypress/e2e/po/pages/page.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/support/utils/timeouts.ts
Due: none

Upgrade to TypeScript 6 on top of master
  cypress/e2e/po/components/namespace-filter.po.ts
  cypress/e2e/po/edit/chart-repositories.po.ts
  cypress/e2e/po/pages/explorer/workloads/workload-dashboard.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/tsconfig.build.json
  cypress/tsconfig.json
  jest.config.js
  jestTypescriptProxy.js
  package.json
  pkg/rancher-components/package.json
  pkg/rancher-components/tsconfig.json
  scripts/type-check-baseline.txt
  shell/components/PaginatedResourceTable.vue
  shell/package.json
  shell/scripts/typegen.sh
  shell/tsconfig.json
  shell/tsconfig.paths.json
  shell/yarn.lock
  storybook/package.json
  storybook/yarn.lock
  tsconfig.json
  tsconfig.paths.json
  vue3JestRegisterTs.js
  yarn.lock
Due: shell, rancher-components

Migrate stalebot from agentic to a standard workflow (#18436)
  .github/workflows/scripts/__tests__/weekly-stale-issue-manager.test.ts
  .github/workflows/scripts/weekly-stale-issue-manager.js
  .github/workflows/weekly-stale-issue-manager.lock.yml
  .github/workflows/weekly-stale-issue-manager.md
  .github/workflows/weekly-stale-issue-manager.yaml
Due: none

Add kind/tech-debt to the stalebot's considered labels
  .github/workflows/scripts/__tests__/weekly-stale-issue-manager.candidates.test.ts
  .github/workflows/weekly-stale-issue-manager.yaml
Due: none

fix flakiness in test ids 5593, 16751, 5596
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/lists/cluster-snapshots-list.po.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke2.spec.ts
Due: none

Mark container name and image fields as required in workload form
  shell/assets/translations/en-us.yaml
  shell/edit/workload/index.vue
  shell/edit/workload/mixins/workload.js
  shell/utils/validators/formRules/index.ts
Due: shell

Update type-check baseline
  scripts/type-check-baseline.txt
Due: none

Update type-check baseline for master
  scripts/type-check-baseline.txt
Due: none

Add unit tests for container name and image validation
  shell/edit/workload/mixins/__tests__/workload-container-validation.test.ts
  shell/utils/validators/formRules/__tests__/index.test.ts
Due: shell

Print every Cypress retry attempt to the terminal
  cypress/base-config.ts
  cypress/e2e/tests/retry-logging/retry-logging.spec.ts
  cypress/support/e2e.ts
  cypress/support/utils/retry-logging.ts
Due: none

tweaks
  cypress/base-config.ts
  cypress/support/e2e.ts
  cypress/support/utils/retry-logging.ts
Due: none

Fix zod-helpers.test.ts type error
  shell/utils/validators/__tests__/zod-helpers.test.ts
Due: shell

bump shell version (#18576)
  shell/package.json
Due: shell

Change package version to 3.0.12
  shell/package.json
Due: shell

Prevent removal of required OIDC scopes in auth config
  shell/edit/auth/__tests__/oidc.test.ts
  shell/edit/auth/oidc.vue
Due: shell

Added new config to disable the first instance of a list of values
  shell/components/form/ArrayList.vue
  shell/components/form/__tests__/ArrayList.test.ts
  shell/edit/auth/__tests__/oidc.test.ts
  shell/edit/auth/oidc.vue
Due: shell

Fixed type-check
  shell/edit/auth/__tests__/oidc.test.ts
Due: shell

Bump js-yaml to 3.15.0/4.3.0 in cypress to fix GHSA-52cp-r559-cp3m, GHSA-h67p-54hq-rp68 (CVE-2026-59869, CVE-2026-53550)
  cypress/yarn.lock
Due: none

Added the expected config back now with the fixed changes on the files that were not checked by eslint7 but are from eslint10
  cypress/e2e/po/components/fleet/fleet-dashboard-workspace-card.po.ts
  cypress/e2e/po/components/kubectl.po.ts
  cypress/e2e/po/other-products/compliance.po.ts
  cypress/e2e/po/pages/about.po.ts
  cypress/e2e/po/pages/account-api-keys-create_key.po.ts
  cypress/e2e/po/pages/account-api-keys.po.ts
  cypress/e2e/po/pages/diagnostics.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/fleet/fleet-dashboard.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.bundle.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.bundlenamespacemapping.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.cluster.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.clusterregistrationtoken.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.fleetworkspace.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.gitreporestriction.po.ts
  cypress/e2e/po/pages/global-settings/home-links.po.ts
  cypress/e2e/po/pages/home.po.ts
  cypress/e2e/po/pages/istio/istio-dashboard.po.ts
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/po/pages/preferences.po.ts
  cypress/e2e/po/pages/rancher-setup-configure.po.ts
  cypress/e2e/po/pages/rancher-setup-login.po.ts
  eslint.config.base.mjs
  jest.config.js
  pkg/aks/provisioner.ts
  pkg/eks/provisioner.ts
  pkg/imported/provisioner.ts
  shell/components/Window/__tests__/ContainerShell.test.ts
  shell/core/plugin.ts
  shell/eslint.config.base.mjs
  shell/pages/c/_cluster/monitoring/index.vue
  shell/plugins/steve/projectAndNamespaceFiltering.utils.ts
  shell/plugins/steve/steve-pagination-utils.ts
  shell/utils/back-off.ts
  shell/utils/error.js
  shell/utils/fleet.ts
  shell/utils/gc/gc.ts
  shell/utils/poller.js
  shell/utils/versions.ts
Due: shell

Use aria-pressed for the cluster pin toggle
  shell/components/nav/Pinned.vue
  shell/components/nav/__tests__/Pinned.test.ts
Due: shell

Fixed type-check, after the eslint fix the signature changed, causing it to fail
  shell/edit/workload/__tests__/Upgrading.test.ts
Due: shell

Change package version to 3.0.12 (#18609)
  shell/package.json
Due: shell

@rancher/cypress: remove shell imports
  cypress/e2e/po/pages/cluster-manager/machine-deployments.po.ts
  cypress/e2e/po/pages/cluster-manager/machine-sets.po.ts
  cypress/e2e/po/pages/cluster-manager/machines.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/tests/navigation/side-nav/product-side-nav-highlighting.spec.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
  cypress/globals.d.ts
  cypress/scripts/build.sh
  cypress/support/commands/rancher-api-commands.ts
  cypress/support/utils/shell.ts
  cypress/tsconfig.json
Due: none

Remove hardcoded Rancher version from Cypress
  .github/workflows/test.yaml
  cypress/base-config.ts
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  cypress/support/utils/shell.ts
  cypress/support/utils/version.ts
  scripts/decode-rancher-version.sh
Due: none

Code refactoring: move cypress shell types to cypress/utils/shell
  cypress/e2e/po/pages/home.po.ts
  cypress/e2e/tests/pages/generic/home-settings.spec.ts
  cypress/e2e/tests/pages/generic/login.spec.ts
  cypress/e2e/tests/pages/generic/version.spec.ts
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
  cypress/support/types/shell.ts
  cypress/support/utils/shell.ts
Due: none

Add specific Rancher version to be used in e2e tests
  branches-metadata.json
  scripts/decode-rancher-version.sh
Due: none

Code refactoring; simply rancher-version decode
  .github/workflows/test.yaml
  scripts/decode-rancher-version.sh
Due: none
