Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

Fixed how we were intercepting requests
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

[e2e][ai] dropdown test fix
  cypress/e2e/po/components/action-menu-shell.po.ts
Due: none

rename variables
  shell/utils/chart.js
Due: shell

another attempt
  cypress/e2e/po/components/Resource/Detail/Card/scaler.po.ts
  shell/components/Resource/Detail/Card/Scaler.vue
Due: shell

Remove quotas from list
  shell/edit/__tests__/management.cattle.io.project.test.js
  shell/edit/management.cattle.io.project.vue
Due: shell

[e2e][ai] Fix dropdown
  cypress/e2e/po/components/action-menu-shell.po.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
Due: none

Revert "adding visual tests coverage on cluster manager"
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Use optional chaining to access driver properties
  shell/store/auth.js
Due: shell

fix pss detail page title
  shell/components/ResourceDetail/Masthead/legacy.vue
  shell/components/ResourceDetail/index.vue
Due: shell

add comments + unit tests
  shell/components/ResourceDetail/Masthead/__tests__/legacy.test.ts
  shell/components/ResourceDetail/Masthead/legacy.vue
  shell/components/ResourceDetail/index.vue
Due: shell

more
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Due: none

Update banner and tooltip
  shell/assets/translations/en-us.yaml
Due: shell

Add required indicator
  shell/assets/translations/en-us.yaml
  shell/components/form/ResourceQuota/Project.vue
  shell/components/form/ResourceQuota/ProjectRow.vue
Due: shell

limit the logic to project secret
  shell/components/ResourceDetail/Masthead/__tests__/legacy.test.ts
  shell/components/ResourceDetail/index.vue
Due: shell

allow empty secret values
  shell/edit/secret/generic.vue
Due: shell

Migrate kubeconfig to ext.cattle.io.kubeconfig API (#16544)
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/config/types.js
  shell/models/management.cattle.io.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
Due: shell

Migrate kubeconfig to ext.cattle.io.kubeconfig API
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

Splitting up and simplifying the implementation
  shell/assets/translations/en-us.yaml
  shell/components/formatter/KubeconfigClusters.vue
  shell/config/product/manager.js
  shell/models/ext.cattle.io.kubeconfig.js
Due: shell

Fixed how we were intercepting requests
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

Removing the yaml button and making the cluster names searchable
  shell/config/product/manager.js
Due: shell

Kubeconfig CRUD
  shell/assets/translations/en-us.yaml
  shell/components/formatter/KubeconfigClusters.vue
  shell/config/product/manager.js
  shell/list/ext.cattle.io.kubeconfig.vue
  shell/models/ext.cattle.io.kubeconfig.js
Due: shell

Add support for pagination in the future
  shell/list/ext.cattle.io.kubeconfig.vue
Due: shell

Switched to typescript and added unit tests
  shell/models/__tests__/ext.cattle.io.kubeconfig.test.ts
  shell/models/ext.cattle.io.kubeconfig.ts
Due: shell

Removing an erroneous merge
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

add documentation for overriding translations in rancher prime (#16477)
  docusaurus/docs/extensions/advanced/prime-translations.md
  docusaurus/extensionSidebar.js
Due: none

revert refactor + update comments
  shell/components/ResourceDetail/Masthead/legacy.vue
  shell/components/ResourceDetail/index.vue
Due: shell

Initial implementation of RcAccordion
  pkg/rancher-components/src/components/RcAccordion/RcAccordion.test.ts
  pkg/rancher-components/src/components/RcAccordion/RcAccordion.vue
  pkg/rancher-components/src/components/RcAccordion/index.ts
  pkg/rancher-components/src/components/RcAccordion/types.ts
  pkg/rancher-components/src/index.ts
  storybook/src/stories/Components/RcAccordion.stories.ts
Due: rancher-components

Qucick fix attempt
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Due: none

fix about page tests
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/pages/generic/about.spec.ts
Due: none

initial attempt to remove home url check
  shell/models/__tests__/catalog.cattle.io.app.test.ts
  shell/models/catalog.cattle.io.app.js
Due: shell

Force ResourceQuota component re-render on remove
  shell/edit/management.cattle.io.project.vue
Due: shell

adding visual tests coverage on continuous delivery page - git repos
  cypress/e2e/po/pages/fleet/fleet-gitrepo.po.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

comment out Redeploy dialog
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Due: none

fix title tests for prime builds
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

Deployment E2E test failures (#16527)
  cypress/e2e/blueprints/explorer/workloads/deployments/deployment-create.ts
  cypress/e2e/po/components/Resource/Detail/Card/scaler.po.ts
  cypress/e2e/po/components/Resource/Detail/Card/statusCard.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads-deployments.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.vue
  shell/components/Resource/Detail/Card/Scaler.vue
  shell/components/Resource/Detail/Card/StatusCard/index.vue
Due: shell, rancher-components

Fix a shallow copy bug in our deployment e2e tests
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Due: none

[e2e][ai] Still trying to fix the dropwdown test
  cypress/e2e/po/components/action-menu-shell.po.ts
  cypress/e2e/po/components/sortable-table.po.ts
Due: none

[12961] Changed the texts as resqueted | Added Banner to explain Verbosity levels
  shell/assets/translations/en-us.yaml
  shell/edit/auditlog.cattle.io.auditpolicy/General.vue
Due: shell

[12961] Changed the text with the latest interaction
  shell/assets/translations/en-us.yaml
Due: shell

[12961] Spanshot updated with the new banner
  shell/edit/auditlog.cattle.io.auditpolicy/__tests__/__snapshots__/General.test.ts.snap
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
