Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

backport: replace broken link (#14999)
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  shell/assets/translations/en-us.yaml
Due: shell

Update permissions for port-pr workflow
  .github/workflows/port-pr.yaml
Due: none

Fixing an issue where metadata wasn't reactive (#15031)
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
Due: shell

An alternative narrower scope implementation
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/paging.js
  shell/components/Tabbed/Tab.vue
  shell/components/Tabbed/index.vue
  shell/components/form/ResourceTabs/composable.ts
  shell/components/form/ResourceTabs/index.vue
  shell/detail/catalog.cattle.io.app.vue
Due: shell

Update styles and colors for new theme
  pkg/kubectl-explain/components/ExplainPanel.vue
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_csp.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/ButtonGroup.vue
  shell/components/CodeMirror.vue
  shell/components/EmberPage.vue
  shell/components/SideNav.vue
  shell/components/SortableTable/index.vue
  shell/components/form/LabeledSelect.vue
  shell/components/nav/Group.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/pages/c/_cluster/explorer/tools/index.vue
  shell/utils/color.js
  storybook/src/stories/foundation/Colors.mdx
Due: shell, rancher-components

Lint fix
  shell/components/nav/Group.vue
Due: shell

Update styles
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/brand/suse/rancher-logo.svg
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_button.scss
  shell/assets/styles/global/_resource.scss
  shell/assets/styles/global/_table.scss
  shell/assets/styles/global/_tooltip.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/assets/styles/vendor/normalize.scss
  shell/assets/styles/vendor/vue-select.scss
  shell/components/Carousel.vue
  shell/components/ClusterIconMenu.vue
  shell/components/ForceDirectedTreeChart.vue
  shell/components/GroupPanel.vue
  shell/components/ResourceSummary.vue
  shell/components/SideNav.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/Tabbed/index.vue
  shell/components/Wizard.vue
  shell/components/graph/Bar.vue
  shell/components/nav/Group.vue
  shell/components/nav/NamespaceFilter.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/Type.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/pages/fail-whale.vue
Due: shell, rancher-components

Update user name color in User preferences dropdown
  shell/components/nav/Header.vue
Due: shell

Fix unit test and add dark theme basics
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/__tests__/ButtonGroup.test.ts
Due: shell

Update Prime, light, and dark themes
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/nav/Group.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell, rancher-components

Update body background color variable
  shell/assets/styles/base/_basic.scss
Due: shell

Adjust the dark theme
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell

Toggle fixes, warning and error text colours, before icons
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/Tabbed/index.vue
  shell/components/nav/TopLevelMenu.vue
  shell/edit/workload/index.vue
Due: shell

Adjust active and hover colors
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/nav/Group.vue
Due: shell

Badges and Banners
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell, rancher-components

Make width of page actions menu consistent with other page header buttons
  shell/components/nav/Header.vue
Due: shell

Add focus outline styles to namespace filter
  shell/components/nav/NamespaceFilter.vue
Due: shell

Remove small from user menu trigger
  shell/components/nav/Header.vue
Due: shell

Make small button border transparent on focus
  shell/assets/styles/global/_button.scss
Due: shell

Add new light & dark modern themes
  shell/assets/styles/app.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/translations/en-us.yaml
  shell/store/prefs.js
Due: shell

Make `-hover` usage consistent
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/nav/Group.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell

Fix primary nav hover svg color
  shell/components/nav/TopLevelMenu.vue
Due: shell

Replace `--on-primary` with `primary-text`
  pkg/kubectl-explain/components/ExplainPanel.vue
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_csp.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/CodeMirror.vue
  shell/components/EmberPage.vue
  shell/components/SortableTable/index.vue
  shell/components/form/LabeledSelect.vue
  shell/pages/c/_cluster/explorer/tools/index.vue
  shell/utils/color.js
Due: shell, rancher-components

Replace `--nav--hover` with `--nav-hover`
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/components/SideNav.vue
  shell/components/nav/Group.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/Type.vue
Due: shell

Provide defaults for new variables
  shell/assets/styles/global/_button.scss
  shell/assets/styles/vendor/vue-select.scss
  shell/components/nav/TopLevelMenu.vue
Due: shell

Replace `--body__bg` with `--body-bg`
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_resource.scss
  shell/assets/styles/global/_table.scss
  shell/assets/styles/global/_tooltip.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/components/Carousel.vue
  shell/components/ClusterIconMenu.vue
  shell/components/ForceDirectedTreeChart.vue
  shell/components/GroupPanel.vue
  shell/components/ResourceSummary.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/Tabbed/index.vue
  shell/components/Wizard.vue
  shell/components/graph/Bar.vue
  shell/components/nav/NamespaceFilter.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/pages/fail-whale.vue
Due: shell, rancher-components

Update warning banner text for base dark mode
  shell/assets/styles/themes/_dark.scss
Due: shell

Add missing defaults for base theme
  pkg/rancher-components/src/components/Banner/Banner.vue
  shell/assets/styles/global/_button.scss
  shell/components/nav/TopLevelMenu.vue
Due: shell, rancher-components

Add `--primary` as a fallback for radio button colors
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
Due: rancher-components

Provide defaults for new variables used in components
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/components/SideNav.vue
  shell/components/Tabbed/index.vue
  shell/components/nav/Group.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
Due: shell, rancher-components

Add a modern theme/brand
  shell/assets/brand/modern/metadata.json
  shell/assets/styles/app.scss
  shell/assets/styles/themes/_dark-modern.scss
  shell/assets/styles/themes/_light-modern.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_modern.scss
  shell/assets/styles/themes/_suse.scss
  shell/assets/translations/en-us.yaml
  shell/store/prefs.js
Due: shell

Update dark theme test for brand image
  shell/components/BrandImage.vue
Due: shell

Default to modern theme
  shell/assets/brand/classic/metadata.json
  shell/assets/styles/app.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_modern.scss
Due: shell

Move colors into new files
  shell/assets/styles/base/_color-classic.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell

Move variables into new files
  shell/assets/styles/base/_variables-classic.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
Due: shell

Fix suse view chart info button styles
  shell/pages/c/_cluster/apps/charts/install.vue
Due: shell

Make padding consistent for SideNav items
  shell/components/nav/Group.vue
  shell/components/nav/Type.vue
Due: shell

Fix community dark simple box background
  shell/assets/styles/themes/_modern.scss
Due: shell

Fix display of buttons in detail pages
  shell/components/Drawer/Chrome.vue
  shell/components/Resource/Detail/TitleBar/index.vue
Due: shell

Fix spacing for remove button in array list
  shell/components/form/ArrayList.vue
Due: shell
