Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

fix focus trap in various modals
  shell/components/DisableAuthProviderModal.vue
  shell/components/ModalWithCard.vue
  shell/components/MoveModal.vue
  shell/components/form/SSHKnownHosts/KnownHostsEditDialog.vue
  shell/components/form/SSHKnownHosts/index.vue
Due: shell

fix focus trap in various modals
  shell/components/PromptRemove.vue
  shell/components/PromptRestore.vue
  shell/list/management.cattle.io.feature.vue
Due: shell

Create vcloud-director.yaml
  docusaurus/extensions/catalog/community/vcloud-director.yaml
Due: none

removed console.log statements
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
Due: none

Fleet, Implement HelmOps pages skeleton
  shell/assets/translations/en-us.yaml
  shell/components/fleet/FleetHelmApps.vue
  shell/components/fleet/FleetIntro.vue
  shell/components/fleet/FleetRepos.vue
  shell/config/product/fleet.js
  shell/config/types.js
  shell/edit/fleet.cattle.io.helmapp.vue
  shell/list/fleet.cattle.io.helmapp.vue
  shell/models/fleet.cattle.io.helmapp.js
Due: shell

fix not getting project role template bindings
  shell/components/ExplorerMembers.vue
Due: shell

Remove rollback action from ReplicaSet resource (#13915)
  cypress/e2e/po/components/action-menu-shell.po.ts
  cypress/e2e/po/pages/explorer/workloads-replicasets.po.ts
  cypress/e2e/po/prompts/ResourceSearchDialog.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/replicasets.spec.ts
  shell/models/workload.js
Due: shell

show warning banner when enabling cis profile
  shell/edit/provisioning.cattle.io.cluster/tabs/Basics.vue
Due: shell

Preventing the re-render of cloud credentials when validation takes place
  cypress/e2e/po/pages/cluster-manager/cloud-credentials-create-aws.po.ts
  cypress/e2e/po/pages/cluster-manager/cloud-credentials-create.po.ts
  cypress/e2e/tests/pages/manager/cloud-credential.spec.ts
  shell/cloud-credential/aws.vue
  shell/edit/cloudcredential.vue
Due: shell

fix focus trap in assignTo, CommunityLinks and ResourceCancelModal modals (#13919)
  shell/components/AssignTo.vue
  shell/components/CommunityLinks.vue
  shell/components/ResourceCancelModal.vue
Due: shell

fix focus trap in PromptModal
  shell/components/AppModal.vue
  shell/components/PromptModal.vue
  shell/composables/focusTrap.ts
Due: shell

disable focus trap for unit tests
  shell/components/form/SSHKnownHosts/KnownHostsEditDialog.vue
  shell/components/form/SSHKnownHosts/__tests__/KnownHostsEditDialog.test.ts
  shell/components/form/SSHKnownHosts/index.vue
  shell/components/form/__tests__/SSHKnownHosts.test.ts
Due: shell

fix e2e test
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

Improve handling of har files generated with older versions
  shell/server/har-file.js
Due: shell

Fix lint
  shell/server/har-file.js
Due: shell

fix e2e test
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
Due: none

fix missing mounted event handler registration wrongfully deleted
  shell/components/AppModal.vue
Due: shell

apply fix from Phil
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  shell/assets/styles/base/_basic.scss
  shell/components/LandingPagePreference.vue
Due: shell, rancher-components

Added error listener to NodeGroups in EKS
  pkg/eks/components/CruEKS.vue
Due: none

fix e2e tests
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
Due: none

Move yaml to catalog folder
  docusaurus/extensions/catalog/vcloud-director.yaml
Due: none

Add Community vCloud Director Rancher Node Driver UI (#13927)
  docusaurus/extensions/catalog/vcloud-director.yaml
Due: none

Add new dropdown menu to table groups
  shell/components/ExplorerProjectsNamespaces.vue
Due: shell

Create a `useFeatureFlag` composable
  shell/components/SortableTable/index.vue
  shell/composables/useFeatureFlag.ts
Due: shell

Made the new s3 snapshot units/tooltip show when s3 is selected
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/index.vue
Due: shell

Refactor `useFeatureFlag` to `useRuntimeFlag`
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/SortableTable/index.vue
  shell/composables/useFeatureFlag.ts
  shell/composables/useRuntimeFlag.ts
Due: shell

Adding a stale bot to close out `kind/enhancement` issues which haven't seen activity in more than a year.
  .github/workflows/close-stale-enhancement-requests.yaml
Due: none

fix identical page title (#13850)
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
  shell/assets/translations/en-us.yaml
  shell/pages/auth/login.vue
  shell/pages/home.vue
Due: shell

remove catalog entry
  docusaurus/extensions/catalog/vcloud-director.yaml
Due: none

Fleet, nav tabs reorganization
  shell/assets/translations/en-us.yaml
  shell/config/product/fleet.js
Due: shell

remove catalog entry (#13951)
  docusaurus/extensions/catalog/vcloud-director.yaml
Due: none

replace download icon
  shell/components/nav/Header.vue
Due: shell

fix missing labels on form fields
  shell/assets/translations/en-us.yaml
  shell/components/form/Select.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/edit/token.vue
Due: shell

NameNsDescription: Set the name using the nameKey prop
  shell/components/form/NameNsDescription.vue
Due: shell

NameNsDescription: write unit tests for the name input
  shell/components/form/NameNsDescription.vue
  shell/components/form/__tests__/NameNsDescription.test.ts
Due: shell

Add docs on how to customize a product menu entry
  docusaurus/docs/extensions/api/nav/side-menu.md
Due: none

Fixed missing parameter error
  pkg/eks/components/NodeGroup.vue
Due: none

Detail page
  shell/assets/styles/app.scss
  shell/assets/styles/base/_spacing.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/Resource/Detail/Card/InsightsCard.vue
  shell/components/Resource/Detail/Card/PodsCard/Bubble.vue
  shell/components/Resource/Detail/Card/PodsCard/index.vue
  shell/components/Resource/Detail/Card/ResourceStateCard.vue
  shell/components/Resource/Detail/Card/ResourcesCard.vue
  shell/components/Resource/Detail/Card/VerticalGap.vue
  shell/components/Resource/Detail/Card/index.vue
  shell/components/Resource/Detail/Deployment.vue
  shell/components/Resource/Detail/Page.vue
  shell/components/Resource/Detail/ResourceRow.vue
  shell/components/Resource/Detail/StatusBar.vue
  shell/components/Resource/Detail/StatusRow.vue
  shell/components/Resource/Detail/TitleBar.vue
  shell/components/Resource/Detail/Top/index.vue
  shell/components/StatusBadge.vue
  shell/components/SubtleLink.vue
  shell/config/router/routes.js
  shell/pages/explorer/resource/detail/batch.cronjob.vue
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
