Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Adjust cypress execution to generate html report on Jenkins
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/jenkins/cypress.sh
  cypress/jenkins/scpget.sh
Due: none

add on task set up websocket
  cypress.config.ts
  cypress/e2e/tests/pages/explorer/dashboard/websockets/connection.spec.ts
  cypress/globals.d.ts
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/support/commands/chainable.ts
  cypress/support/utils/webSocket-utils.ts
  package.json
  yarn.lock
Due: none

backport websocket tests 2.8
  cypress/e2e/tests/pages/explorer/dashboard/websockets/connection.spec.ts
  cypress/e2e/tests/pages/generic/get-support.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  cypress/support/utils/webSocket-utils.ts
  yarn.lock
Due: none

add on task set up websocket
  cypress/e2e/tests/pages/explorer/dashboard/websockets/connection.spec.ts
  cypress/globals.d.ts
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/support/commands/chainable.ts
  cypress/support/utils/webSocket-utils.ts
  package.json
  yarn.lock
Due: none

Refactor Probe to use `setup()`
  shell/components/form/Probe.vue
Due: shell

Init component data in `created()` hook
  shell/components/form/ArrayList.vue
  shell/components/form/EnvVars.vue
  shell/components/form/MatchExpressions.vue
  shell/components/form/NameNsDescription.vue
  shell/components/form/Networking.vue
  shell/components/form/NodeAffinity.vue
  shell/components/form/NodeScheduling.vue
  shell/components/form/PodAffinity.vue
  shell/components/form/Probe.vue
  shell/components/form/ResourceQuota/Project.vue
  shell/components/form/Security.vue
  shell/components/form/ShellInput.vue
  shell/components/form/Tolerations.vue
  shell/components/form/ValueFromResource.vue
  shell/components/form/WorkloadPorts.vue
Due: shell

Assign default values inline with data prop declaration
  shell/components/form/Command.vue
  shell/components/form/HealthCheck.vue
  shell/components/form/HookOption.vue
  shell/components/form/LifecycleHooks.vue
  shell/components/form/ResourceSelector.vue
Due: shell

Fix unit tests
  jest.setup.js
  shell/components/form/NameNsDescription.vue
  shell/components/form/__tests__/NameNsDescription.test.ts
  shell/edit/__tests__/monitoring.coreos.com.prometheusrule.test.ts
  shell/edit/logging.banzaicloud.io.output/__tests__/logging.banzaicloud.io.output.test.ts
Due: shell

Use `setup()` to init data in `NameNsDescription.vue`
  shell/components/form/NameNsDescription.vue
Due: shell

Refactor ValueFromResource to use `setup()`
  shell/components/form/ValueFromResource.vue
Due: shell

Fix unit tests
  shell/components/auth/__tests__/RoleDetailEdit.test.ts
  shell/components/form/__tests__/ArrayList.test.ts
  shell/components/form/__tests__/MatchExpressions.test.ts
  shell/components/form/__tests__/NameNsDescription.test.ts
  shell/components/form/__tests__/Probe.test.ts
  shell/edit/__tests__/monitoring.coreos.com.prometheusrule.test.ts
  shell/edit/logging.banzaicloud.io.output/__tests__/logging.banzaicloud.io.output.test.ts
  shell/edit/persistentvolume/__tests__/persistentvolume.test.ts
Due: shell

Use `setup()` to init data in `ArrayList.vue`
  shell/components/form/ArrayList.vue
  shell/components/form/__tests__/ArrayList.test.ts
Due: shell

fix missing describedby on Checkbox and LabeledInput (#13830)
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

fix unclear functionality for filter inputs for a11y (#13836)
  shell/assets/translations/en-us.yaml
  shell/components/SortableTable/index.vue
  shell/components/nav/Jump.vue
Due: shell

add missing aria labels and roles for pagination of sortable tables (#13796)
  shell/assets/translations/en-us.yaml
  shell/components/SortableTable/index.vue
Due: shell

Refactor `apiName` to a static method for proper enforcement
  docusaurus/docs/internal/code-base-works/internal-dashboard-api.md
  shell/plugins/internal-api/index.ts
  shell/plugins/internal-api/shared/base-api.ts
Due: shell

Initial $shell internal-api - Add ModalManager and SlideInPanelManager components
  shell/components/GrowlManager.vue
  shell/components/ModalManager.vue
  shell/components/SlideInPanelManager.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/components/templates/plain.vue
  shell/config/store.js
  shell/plugins/internal-api/shell/shell.api.ts
  shell/store/modal.ts
  shell/store/slideInPanel.ts
  shell/types/internal-api/shell/growl.d.ts
  shell/types/internal-api/shell/modal.d.ts
  shell/types/internal-api/shell/slideIn.d.ts
  shell/types/vue-shim.d.ts
Due: shell

Fleet, dashboard implementation
  package.json
  pkg/rancher-components/src/components/Card/Card.vue
  shell/components/Import.vue
  shell/components/RelatedResources.vue
  shell/components/ResourceDetail/Masthead.vue
  shell/components/ResourceDetail/index.vue
  shell/components/ResourceTable.vue
  shell/components/SlideInPanel.vue
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/selection.js
  shell/components/fleet/FleetRepos.vue
  shell/components/fleet/FleetResources.vue
  shell/components/form/ResourceTabs/index.vue
  shell/config/router/routes.js
  shell/detail/configmap.vue
  shell/detail/workload/index.vue
  shell/models/fleet.cattle.io.gitrepo.js
  shell/pages/c/_cluster/fleet/GitRepoGraphConfig.js
  shell/pages/c/_cluster/fleet/index.vue
  shell/plugins/dashboard-store/resource-class.js
  yarn.lock
Due: shell, rancher-components

Fleet, load resource
  shell/pages/c/_cluster/fleet/index.vue
Due: shell

Correct validation to accept already mentioned requirements
  shell/edit/auth/oidc.vue
Due: shell

Extend requirement to all the basic scopes which prefill the view
  shell/assets/translations/en-us.yaml
  shell/edit/auth/oidc.vue
Due: shell

Update Story for KeyValue protected case
  storybook/src/stories/Components/KeyValue.stories.ts
Due: none

Use Teleport for Modal and SlideIn managers - Add unit tests
  shell/components/ModalManager.vue
  shell/components/SlideInPanelManager.vue
  shell/components/__tests__/ModalManager.spec.ts
  shell/components/__tests__/SlideInPanelManager.spec.ts
  shell/plugins/internal-api/shell/shell.api.ts
  shell/public/index.html
Due: shell

Fix Story slot issue
  storybook/src/stories/Components/ArrayList.stories.ts
Due: none

Update project automation to handle fixes iwth URLs and numbers
  .github/workflows/scripts/pr-gh-project.js
Due: none

fix missing types for weightGroup and weightType
  shell/core/types.ts
  shell/package.json
Due: shell

Revert "Auth Providers: Add search_using_service_account field #13223"
  shell/assets/translations/en-us.yaml
  shell/edit/auth/ldap/__tests__/config.test.ts
  shell/edit/auth/ldap/config.vue
Due: shell

Add focus trap and tabindex to Modal and SlideIn managers
  shell/components/ModalManager.vue
  shell/components/SlideInPanelManager.vue
Due: shell

fix missing types for weightGroup and weightType (#13861)
  shell/core/types.ts
  shell/package.json
Due: shell

Updated tests, comments, added TODO; Added validation tests
  shell/edit/auth/__tests__/oidc.test.ts
  shell/edit/auth/oidc.vue
Due: shell

add on task set up websocket
  cypress/e2e/tests/pages/explorer/dashboard/websockets/connection.spec.ts
  cypress/e2e/tests/pages/generic/get-support.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/globals.d.ts
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/support/commands/chainable.ts
  cypress/support/commands/rancher-api-commands.ts
  cypress/support/utils/webSocket-utils.ts
  package.json
  yarn.lock
Due: none

sync network value for selected networks before moid support
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/machine-config/vmwarevsphere.vue
Due: shell

fix the namespace group by logic
  shell/components/ExplorerProjectsNamespaces.vue
  shell/models/namespace.js
Due: shell

Update project automation to handle fixes iwth URLs and numbers (#13857)
  .github/workflows/scripts/pr-gh-project.js
Due: none

fix some a11y items on ArrayList and KeyValue (#13832)
  shell/assets/translations/en-us.yaml
  shell/components/form/ArrayList.vue
  shell/components/form/KeyValue.vue
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

add missing th to tables with headers on the left side (#13819)
  shell/components/auth/Principal.vue
  shell/pages/about.vue
Due: shell

remove documentation about catalog.cattle.io/ui-version as its a pattern we should not encourage
  docusaurus/docs/extensions/advanced/version-compatibility.md
  docusaurus/docs/extensions/extensions-configuration.md
  docusaurus/extensions_versioned_docs/version-v2/advanced/version-compatibility.md
  docusaurus/extensions_versioned_docs/version-v2/extensions-configuration.md
Due: none

Minor fix to gh project automation script logging
  .github/workflows/scripts/pr-gh-project.js
Due: none

Restore resourceNames util for extensions compatibility
  shell/components/PromptRemove.vue
  shell/dialog/DeactivateDriverDialog.vue
  shell/dialog/GitRepoForceUpdateDialog.vue
  shell/promptRemove/management.cattle.io.fleetworkspace.vue
  shell/promptRemove/management.cattle.io.globalrole.vue
  shell/promptRemove/management.cattle.io.project.vue
  shell/promptRemove/management.cattle.io.roletemplate.vue
  shell/promptRemove/pod.vue
  shell/utils/__tests__/string.test.ts
  shell/utils/string.js
Due: shell
