Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

wip 2
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-internal.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products-type-guards.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
  shell/core/types.ts
Due: shell

Remove old support page and reference Rancher Prime
  cypress/e2e/po/pages/get-support.po.ts
  cypress/e2e/tests/pages/generic/get-support.spec.ts
  cypress/e2e/tests/pages/global-settings/home-links.spec.ts
  shell/assets/translations/en-us.yaml
  shell/config/home-links.js
  shell/config/router/routes.js
  shell/pages/support/index.vue
Due: shell

Remove support page strings
  shell/assets/translations/en-us.yaml
Due: shell

Add support for service links annotation (#17998)
  shell/components/formatter/ServiceTargets.vue
  shell/components/formatter/__tests__/ServiceTargets.test.ts
  shell/config/labels-annotations.js
Due: shell

Add resolution for CVE
  cypress/package.json
  cypress/yarn.lock
Due: none

Update e2e test
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Emitting a warning if we fail to parse things
  shell/models/workload.js
Due: shell

wip 3
  docusaurus/docs/extensions/api/nav/product-registration.md
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-internal.ts
  shell/core/plugin-products-type-guards.ts
  shell/core/types.ts
  shell/types/store/type-map.ts
Due: shell

Change extension repo text
  shell/assets/translations/en-us.yaml
Due: shell

Fix the e2e test
  cypress/e2e/tests/pages/explorer2/workloads/workload-dashboard.spec.ts
Due: none

Update root dependencies definitions for Cypress
  package.json
  yarn.lock
Due: none

make name field wider
  shell/components/form/NameNsDescription.vue
  shell/edit/catalog.cattle.io.clusterrepo.vue
Due: shell

make versionData reactive
  shell/apis/__tests__/useVersion.test.ts
  shell/apis/impl/apis.ts
  shell/apis/index.ts
  shell/apis/intf/version.ts
  shell/apis/version/__tests__/version.test.ts
  shell/apis/version/index.ts
  shell/apis/vue-shim.d.ts
  shell/config/__tests__/version.test.ts
  shell/config/version.js
  shell/config/version.ts
Due: shell

bump shell version
  shell/package.json
Due: shell

wip 4
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-internal.ts
Due: shell

fix issue where extension card after installation showing as third-party (#17977)
  shell/pages/c/_cluster/uiplugins/__tests__/index.test.ts
  shell/pages/c/_cluster/uiplugins/index.vue
Due: shell

Change extension repo text (#18012)
  shell/assets/translations/en-us.yaml
Due: shell

Fix e2e test for new tab
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

[11513] Fixed to not block when there is no row since we have fallback now
  shell/components/ResourceList/index.vue
Due: shell

Updating how we implement and consume fetchResourcesSummary to comply with the backend changes outlined here https://github.com/rancher/rancher/issues/54935#issuecomment-4596773699
  shell/components/Resource/Detail/Card/StateCard/__tests__/composables.test.ts
  shell/components/Resource/Detail/Card/StateCard/composables.ts
  shell/components/Resource/Detail/Card/StatusCard/__tests__/StatusCard.test.ts
  shell/components/Resource/Detail/Card/StatusCard/index.vue
  shell/plugins/steve/__tests__/actions.test.ts
  shell/plugins/steve/actions.js
Due: shell

minor UI change
  shell/assets/translations/en-us.yaml
  shell/edit/catalog.cattle.io.clusterrepo.vue
Due: shell

Bump bci-base from 15.5 to 15.7
  shell/scripts/extension/helm/package/Dockerfile
Due: shell

Early return from relatedServices for Job and CronJob types
  shell/models/workload.js
Due: shell

add standardUser tags to e2e tests
  cypress/e2e/tests/components/yaml-editor.spec.ts
  cypress/e2e/tests/pages/explorer/apps/index.spec.ts
  cypress/e2e/tests/pages/explorer/service-discovery/horizontal-pod-autoscalers.spec.ts
  cypress/e2e/tests/pages/explorer2/index.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/configmap-detail-title-bar.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/persistent-volume-claims.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/secrets.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/replicasets.spec.ts
Due: none

feat: support separate administration hostname for keycloak provider
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
  shell/edit/auth/oidc.vue
Due: shell

Fix cy.origin
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Added the title back to view page on targetDetails
  shell/components/fleet/HelmOpTargetTab.vue
Due: shell

Fix test opening URL in a new tab
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

wip 5
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-internal.ts
  shell/core/plugin-products-type-guards.ts
  shell/core/plugin.ts
  shell/types/store/type-map.ts
Due: shell

Fix typo
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Fixed the hero -> subhero promotion and removed col logic for the subhero
  shell/pages/c/_cluster/explorer/workload-dashboard/ByStateSection.vue
  shell/pages/c/_cluster/explorer/workload-dashboard/composable.ts
Due: shell

wip 6
  shell/core/plugin-products-extending.ts
Due: shell

functionally (mostly) tested
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-external.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-internal.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products-type-guards.ts
  shell/core/plugin-products.ts
  shell/core/plugin.ts
Due: shell

Fix e2e test
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/support/utils/exception-utils.ts
Due: none

Remove debug text
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Delete commented code
  cypress/e2e/tests/pages/generic/home.spec.ts
Due: none

Remove RKE1 options from Cluster Type in monitoring chart (#17984)
  shell/chart/monitoring/ClusterSelector.vue
Due: shell

Added changes from PR comments and fixed font size on badge
  shell/components/ResourceList/index.vue
  shell/config/product/explorer.js
  shell/mixins/resource-fetch.js
  shell/models/workload.service.js
  shell/pages/c/_cluster/explorer/workload-dashboard/index.vue
  shell/plugins/dashboard-store/resource-class.js
Due: shell

Replace `line-height: 140%` with size-specific unitless ratios
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Add URL validation to `rancherApiHost`
  shell/edit/auth/saml.vue
Due: shell
