Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Show the generated-name growl after the YAML editor's after-save hooks
  shell/components/ResourceYaml.vue
  shell/components/__tests__/ResourceYaml.test.ts
  shell/plugins/dashboard-store/__tests__/resource-class.test.ts
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/__tests__/steve-class.test.ts
Due: shell

Fixed networking spacing
  pkg/imported/components/CruImported.vue
Due: none

Bump basic-ftp to 6.2.2 in / and /cypress
  cypress/package.json
  cypress/yarn.lock
  package.json
  yarn.lock
Due: none

Only show the generated-name growl for the resource the user creates (#19396)
  shell/components/PromptRestore.vue
  shell/components/ResourceYaml.vue
  shell/components/__tests__/PromptRestore.test.ts
  shell/components/__tests__/ResourceYaml.test.ts
  shell/dialog/RotateEncryptionKeyDialog.vue
  shell/dialog/__tests__/RotateEncryptionKeyDialog.test.ts
  shell/edit/management.cattle.io.user.vue
  shell/mixins/__tests__/create-edit-view.test.ts
  shell/mixins/create-edit-view/impl.js
  shell/plugins/dashboard-store/resource-class.js
  shell/plugins/steve/__tests__/steve-class.test.ts
  shell/plugins/steve/steve-class.js
  shell/utils/__tests__/operation-cr.test.ts
  shell/utils/operation-cr.js
Due: shell

Bump compression from 1.8.1 to 1.8.2 in shell, docusaurus and cypress
  cypress/yarn.lock
  docusaurus/yarn.lock
  shell/yarn.lock
Due: shell

Keep container tab ids unique when adding a container (#19376)
  shell/edit/workload/mixins/__tests__/workload-container-ids.test.ts
  shell/edit/workload/mixins/workload.js
Due: shell

Address status summary card review
  shell/components/Resource/Detail/Card/StatusSummaryCard/__tests__/StatusSummaryCard.test.ts
  shell/components/Resource/Detail/Card/StatusSummaryCard/__tests__/StatusSummaryCardSection.test.ts
  shell/components/Resource/Detail/Card/StatusSummaryCard/__tests__/utils.test.ts
  shell/components/Resource/Detail/Card/StatusSummaryCard/index.vue
  shell/components/Resource/Detail/Card/StatusSummaryCard/types.ts
  shell/components/Resource/Detail/Card/StatusSummaryCard/utils.ts
Due: shell

Use a shared breakdown card for workloads by namespace
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/Card/StatusBreakdownCard/__tests__/StatusBreakdownCard.test.ts
  shell/components/Resource/Detail/Card/StatusBreakdownCard/index.vue
  shell/components/Resource/Detail/Card/StatusBreakdownCard/types.ts
  shell/pages/c/_cluster/explorer/workload-dashboard/ByNamespaceSection.vue
  shell/pages/c/_cluster/explorer/workload-dashboard/WorkloadNamespaceCard.vue
  shell/pages/c/_cluster/explorer/workload-dashboard/__tests__/ByNamespaceSection.test.ts
  shell/pages/c/_cluster/explorer/workload-dashboard/__tests__/composable.test.ts
  shell/pages/c/_cluster/explorer/workload-dashboard/composable.ts
  shell/pages/c/_cluster/explorer/workload-dashboard/index.vue
  shell/pages/c/_cluster/explorer/workload-dashboard/types.ts
Due: shell

#19147 New UX design for sortable table in functionality and style
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/selection.js
Due: shell

#19147 New UX design for sortable table in functionality and style (Address the PR review feedback)
  shell/components/SortableTable/index.vue
Due: shell

#19147 New UX design for sortable table in functionality and style (Added prop for customizing width of search area)
  shell/components/SortableTable/index.vue
Due: shell

#19147 New UX design for sortable table in functionality and style (Fix regression)
  shell/components/SortableTable/index.vue
  shell/components/SortableTable/selection.js
Due: shell

Use a management cluster name the webhook accepts in the name annotation spec
  cypress/e2e/tests/pages/manager/name-annotation.spec.ts
Due: none

Use a management cluster name the webhook accepts in the name annotation spec (#19425)
  cypress/e2e/tests/pages/manager/name-annotation.spec.ts
Due: none

Bump fast-uri from 3.1.7 to 3.1.8
  cypress/yarn.lock
  docusaurus/yarn.lock
  shell/yarn.lock
  storybook/yarn.lock
  yarn.lock
Due: shell

Bump postcss-selector-parser to 7.1.6
  docusaurus/package.json
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell

fix routing issue
  docusaurus/docs/extensions/api/nav/product-registration.md
  shell/core/__tests__/plugin-products-apply.test.ts
  shell/core/__tests__/plugin-products-extend.test.ts
  shell/core/__tests__/plugin-products-new.test.ts
  shell/core/__tests__/plugin-products-route-registry.test.ts
  shell/core/__tests__/plugin-products-scenarios.test.ts
  shell/core/__tests__/plugin-products-side-menu.test.ts
  shell/core/extension-manager-impl.js
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-route-registry.ts
  shell/core/plugin-products-top-level.ts
Due: shell

Bump compression from 1.8.1 to 1.8.2 in shell, docusaurus and cypress (#19416)
  cypress/yarn.lock
  docusaurus/yarn.lock
  shell/yarn.lock
Due: shell

Block SCC registration page for unreadable state (#19389)
  pkg/rancher-prime/index.test.ts
  pkg/rancher-prime/index.ts
  pkg/rancher-prime/l10n/en-us.yaml
  pkg/rancher-prime/pages/Registration.test.ts
  pkg/rancher-prime/pages/Registration.vue
  pkg/rancher-prime/pages/registration.composable.test.ts
  pkg/rancher-prime/pages/registration.composable.ts
Due: none

Bump fast-uri from 3.1.7 to 3.1.8 (#19420)
  cypress/yarn.lock
  docusaurus/yarn.lock
  shell/yarn.lock
  storybook/yarn.lock
  yarn.lock
Due: shell

Keep quick preference toggles ticked in the UI
  shell/store/__tests__/prefs.test.ts
  shell/store/prefs.ts
Due: shell

Bump postcss-selector-parser to 7.1.6 (#19421)
  docusaurus/package.json
  docusaurus/yarn.lock
  package.json
  shell/package.json
  shell/yarn.lock
  yarn.lock
Due: shell

Show external-link icon on the Harvester learn-more links
  pkg/harvester-manager/l10n/en-us.yaml
  pkg/harvester-manager/l10n/zh-hans.yaml
Due: none

Make the Anthropic fallback reach Anthropic
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/dead-code-detector.md
Due: none

address pr comments
  docusaurus/docs/extensions/api/nav/product-registration.md
  shell/assets/translations/en-us.yaml
  shell/config/router/navigation-guards/__tests__/products.test.ts
  shell/config/router/navigation-guards/products.js
  shell/core/__tests__/extension-manager-impl.test.js
  shell/core/__tests__/plugin-products-extend.test.ts
  shell/core/extension-manager-impl.js
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-extending.ts
  shell/core/plugin-products-route-registry.ts
  shell/core/plugin-products-top-level.ts
  shell/core/plugin-products.ts
  shell/core/plugin-types.ts
  shell/plugins/plugin.js
Due: shell

fix problem with docs on resources-api + add helper to get content-type for PATCH ops in resources-api
  shell/apis/intf/resources-api/cluster-api.ts
  shell/apis/intf/resources-api/mgmt-api.ts
  shell/apis/intf/resources-api/resource-instance.ts
  shell/apis/resources/__tests__/open-api-v3.test.ts
  shell/apis/resources/__tests__/resources-api-class.test.ts
  shell/apis/resources/open-api-v3.ts
  shell/apis/resources/resources-api-class.ts
  shell/plugins/steve/__tests__/steve-class-resource-api.test.ts
  shell/plugins/steve/steve-class.js
Due: shell

Address RcModal review feedback
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: rancher-components

Type the RcModal test's ResizeObserver callback from its constructor
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
Due: rancher-components

Open a scrolling RcModal body before its actions
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: rancher-components

Let clicks reach layers outside a non-dismissable RcModal
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  storybook/src/stories/Components/RcModal.stories.ts
Due: rancher-components

Use RcHeading for the RcModal title and trim its docs
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: rancher-components

Open RcModal focus on the first control, and name its scrolling body
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  pkg/rancher-components/src/components/RcModal/useModal.ts
  storybook/src/stories/Components/RcModal.mdx
Due: rancher-components

Add RcModal component
  pkg/rancher-components/src/components/RcModal/RcModal.vue
  pkg/rancher-components/src/components/RcModal/RcModalDialog.vue
  pkg/rancher-components/src/components/RcModal/__tests__/RcModal.test.ts
  pkg/rancher-components/src/components/RcModal/__tests__/useModal.test.ts
  pkg/rancher-components/src/components/RcModal/index.ts
  pkg/rancher-components/src/components/RcModal/types.ts
  pkg/rancher-components/src/components/RcModal/useModal.ts
  pkg/rancher-components/src/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/initialize/__tests__/install-plugins.test.ts
  shell/initialize/install-plugins.js
  storybook/src/stories/Components/RcModal.mdx
  storybook/src/stories/Components/RcModal.stories.ts
Due: shell, rancher-components

Keep saved view menu buttons out of the tablist
  shell/components/TableViews/TableViewTabs.vue
  shell/components/TableViews/__tests__/TableViewTabs.test.ts
Due: shell

Keep window manager buttons out of the tablist
  cypress/e2e/tests/accessibility/baseline.json
  shell/components/nav/WindowManager/panels/HorizontalPanel.vue
  shell/components/nav/WindowManager/panels/VerticalPanel.vue
  shell/components/nav/WindowManager/panels/__tests__/HorizontalPanel.test.ts
  shell/components/nav/WindowManager/panels/__tests__/VerticalPanel.test.ts
  shell/components/nav/WindowManager/panels/__tests__/tab-body.test.ts
  shell/components/nav/WindowManager/panels/tab-body.ts
Due: shell

Wait for the Move dialog's name before scanning it
  cypress/e2e/tests/accessibility/shell.spec.ts
Due: none

Stop the pod form from changing an empty affinity
  cypress/e2e/blueprints/explorer/workloads/deployments/deployment-create.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  shell/components/form/PodAffinity.vue
  shell/components/form/__tests__/PodAffinity.test.ts
  shell/edit/workload/mixins/__tests__/workload-pod-shape.test.ts
  shell/edit/workload/mixins/workload.js
Due: shell

Keep quick preference toggles ticked in the UI (#19427)
  shell/store/__tests__/prefs.test.ts
  shell/store/prefs.ts
Due: shell

Replace CodeMirror 5 dependencies with CodeMirror 6
  package.json
  shell/package.json
  yarn.lock
Due: shell

Replace CodeMirror 5 with RcCodeMirror in the shell
  cypress/e2e/po/components/code-mirror.po.ts
  cypress/e2e/po/prompts/KnownHostsEditDialog.po.ts
  cypress/e2e/tests/pages/extensions/extension-compatibility.spec.ts
  pkg/harvester-manager/machine-config/harvester.vue
  shell/assets/styles/app.scss
  shell/assets/styles/vendor/_code-mirror.scss
  shell/chart/istio.vue
  shell/components/CodeMirror.vue
  shell/components/Drawer/ResourceDetailDrawer/YamlTab.vue
  shell/components/Questions/__tests__/utils/questions-defaults.ts
  shell/components/Resource/Detail/Preview/Content.vue
  shell/components/ResourceYaml.vue
  shell/components/YamlEditor.vue
  shell/components/__tests__/CodeMirror.test.ts
  shell/dialog/ImportDialog.vue
  shell/dialog/KnownHostsEditDialog.vue
  shell/edit/logging-flow/index.vue
  shell/edit/logging.banzaicloud.io.output/index.vue
  shell/edit/provisioning.cattle.io.cluster/ingress/index.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/workload/storage/index.vue
  shell/initialize/install-plugins.js
  shell/plugins/codemirror-loader.js
  shell/plugins/codemirror.js
  shell/plugins/js-yaml.js
Due: shell
