Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

update imported cluster tests
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

[2.11.2] Added error listener to NodeGroups in EKS
  pkg/eks/components/CruEKS.vue
  pkg/eks/components/NodeGroup.vue
  pkg/eks/components/__tests__/NodeGroup.test.ts
  pkg/eks/types/aws-sdk.d.ts
Due: none

[2.10.6] Added error listener to NodeGroups in EKS
  pkg/eks/components/CruEKS.vue
  pkg/eks/components/NodeGroup.vue
  pkg/eks/components/__tests__/NodeGroup.test.ts
  pkg/eks/types/aws-sdk.d.ts
Due: none

add initial coverate to
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  package.json
  yarn.lock
Due: none

add back skipped tests
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

backport PR 13780 (#14050)
  shell/components/form/UnitInput.vue
  shell/components/form/__tests__/UnitInput.test.ts
  shell/edit/service.vue
  shell/edit/workload/Job.vue
  shell/edit/workload/__tests__/Job.test.ts
Due: shell

backport PR 13780 (#14051)
  shell/components/form/UnitInput.vue
  shell/components/form/__tests__/UnitInput.test.ts
  shell/edit/service.vue
  shell/edit/workload/Job.vue
  shell/edit/workload/__tests__/Job.test.ts
Due: shell

fix focus trap in various modals (#13926)
  shell/components/PromptRemove.vue
  shell/components/PromptRestore.vue
  shell/list/management.cattle.io.feature.vue
Due: shell

Improve navigation highlighting
  shell/components/nav/Group.vue
  shell/components/nav/Type.vue
  shell/config/router/routes.js
Due: shell

Tidy ups
  shell/components/nav/Group.vue
  shell/config/router/routes.js
Due: shell

fix-workload-env
  shell/components/form/ValueFromResource.vue
Due: shell

Add automated tests
  cypress/e2e/po/pages/users-and-auth/roles.po.ts
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/navigation/side-nav/product-side-nav-highlighting.spec.ts
Due: none

fix-EnvVars-removal
  shell/components/form/EnvVars.vue
Due: shell

Initial commit
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/ResourceList/index.vue
  shell/config/settings.ts
  shell/mixins/resource-fetch.js
  shell/pages/c/_cluster/settings/performance.vue
  shell/plugins/dashboard-store/actions.js
  shell/utils/perf-setting.utils.ts
Due: shell

Create a `useFeatureFlag` composable
  shell/components/SortableTable/index.vue
  shell/composables/useFeatureFlag.ts
Due: shell

Add new dropdown menu to table groups
  shell/components/ExplorerProjectsNamespaces.vue
Due: shell

cluster list namespace grouping test
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/cluster-create-import.po.ts
  cypress/e2e/po/pages/global-settings/performance.po.ts
  cypress/e2e/po/prompts/shared/promptInstances.po.ts
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
  cypress/e2e/tests/pages/manager/cluster-list.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  cypress/e2e/tests/priority/vai-setup.spec.ts
Due: none

Rename `useFeatureFlag` to `useRuntimeFlag`
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/SortableTable/index.vue
  shell/composables/useRuntimeFlag.ts
Due: shell

Add documentation to `useRuntimeFlag` composable
  shell/composables/useRuntimeFlag.ts
Due: shell

[2.11.1]Hid Basics tab for imported RKE1 cluster
  pkg/imported/components/CruImported.vue
Due: none

trying to trigger tests
  pkg/imported/components/CruImported.vue
Due: none

Enter edit mode if updating roles fails during user creation
  shell/components/ResourceDetail/index.vue
  shell/edit/management.cattle.io.user.vue
Due: shell

Display a user readable error an escalation error is raised
  shell/assets/translations/en-us.yaml
  shell/edit/management.cattle.io.user.vue
Due: shell

refactoring code to use page object
  cypress/e2e/po/pages/fleet/gitrepo-create.po.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Due: none

Ensure product-level navigation highlights the correct item (#14070)
  cypress/e2e/po/pages/users-and-auth/roles.po.ts
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/navigation/side-nav/product-side-nav-highlighting.spec.ts
  shell/components/nav/Group.vue
  shell/components/nav/Type.vue
  shell/config/router/routes.js
Due: shell

A thousand changes honestly...
  pkg/kubectl-explain/components/SlideInPanel.vue
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/brand/suse/rancher-logo.svg
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_button.scss
  shell/assets/styles/global/_resource.scss
  shell/assets/styles/global/_table.scss
  shell/assets/styles/global/_tooltip.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_suse.scss
  shell/assets/styles/vendor/normalize.scss
  shell/assets/styles/vendor/vue-select.scss
  shell/components/Carousel.vue
  shell/components/ClusterIconMenu.vue
  shell/components/GroupPanel.vue
  shell/components/ResourceSummary.vue
  shell/components/SideNav.vue
  shell/components/SortableTable/THead.vue
  shell/components/SortableTable/index.vue
  shell/components/Tabbed/index.vue
  shell/components/Wizard.vue
  shell/components/fleet/ForceDirectedTreeChart/index.vue
  shell/components/graph/Bar.vue
  shell/components/nav/Group.vue
  shell/components/nav/NamespaceFilter.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/Type.vue
  shell/dialog/AddCustomBadgeDialog.vue
  shell/pages/fail-whale.vue
Due: shell, rancher-components

Lint fix
  shell/components/nav/Group.vue
Due: shell

Remove SSP performance setting enabled/disabled flag, only use FF
  shell/assets/translations/en-us.yaml
  shell/config/settings.ts
  shell/pages/c/_cluster/settings/performance.vue
  shell/types/resources/settings.d.ts
  shell/utils/pagination-utils.ts
Due: shell

User name color in User preferences dropdown
  shell/components/nav/Header.vue
Due: shell

tweaks
  shell/mixins/resource-fetch.js
  shell/pages/c/_cluster/settings/performance.vue
  shell/plugins/dashboard-store/actions.js
Due: shell

Add Exoscale SKS display name and logo
  shell/assets/images/providers/sks.svg
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
Due: shell

The great test off begins
  shell/edit/networking.k8s.io.networkpolicy/PolicyRuleTarget.vue
  shell/edit/service.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/steve/steve-pagination-utils.ts
  shell/utils/selector-typed.ts
Due: shell

Replace the done param fix and changed how we render the credential dynamic components
  shell/edit/cloudcredential.vue
  shell/edit/provisioning.cattle.io.cluster/SelectCredential.vue
Due: shell

update harvester tests
  cypress/e2e/po/pages/page.po.ts
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Due: none

Remove esbuild resolution in storybook dependencies
  storybook/package.json
Due: none

add tests for fleet - advanced tab
  cypress/e2e/po/edit/fleet/fleet.cattle.io.bundle.po.ts
  cypress/e2e/po/edit/fleet/fleet.cattle.io.bundlenamespacemapping.po.ts
  cypress/e2e/po/edit/fleet/fleet.cattle.io.clusterregistrationtoken.po.ts
  cypress/e2e/po/edit/fleet/fleet.cattle.io.fleetworkspace.po.ts
  cypress/e2e/po/edit/fleet/fleet.cattle.io.gitreporestriction.po.ts
  cypress/e2e/po/lists/fleet/fleet.cattle.io.bundlenamespacemapping.po.ts
  cypress/e2e/po/lists/fleet/fleet.cattle.io.gitreporestriction.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.bundlenamespacemapping.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.clusterregistrationtoken.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.fleetworkspace.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.gitreporestriction.po.ts
  cypress/e2e/tests/pages/fleet/advanced/bundle-namespace-mappings.spec.ts
  cypress/e2e/tests/pages/fleet/advanced/bundles.spec.ts
  cypress/e2e/tests/pages/fleet/advanced/cluster-registration-tokens.spec.ts
  cypress/e2e/tests/pages/fleet/advanced/gitrepo-restrictions.spec.ts
  cypress/e2e/tests/pages/fleet/advanced/workspaces.spec.ts
Due: none

rearranged conditions
  pkg/imported/components/CruImported.vue
Due: none

Hid Basics tab for imported RKE1 cluster
  pkg/imported/components/CruImported.vue
Due: none

a bit of refactoring
  pkg/imported/components/CruImported.vue
Due: none

Added data-testid prefix prop to ArrayList
  shell/components/form/ArrayList.vue
Due: shell
