Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Add test to assert behavior of custom claims without fields defined
  shell/edit/auth/__tests__/oidc.test.ts
Due: shell

Explicitly select `Custom` option
  cypress/e2e/tests/pages/explorer2/project-namespace.spec.ts
Due: none

add tests
  cypress/e2e/blueprints/manager/hosted-cluster-mocks.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail-hosted.po.ts
  cypress/e2e/tests/pages/manager/hosted-cluster-details.spec.ts
  shell/components/MgmtNodeList.vue
Due: shell

clean up gke tsconfig
  pkg/gke/tsconfig.json
Due: none

copilot feedback
  pkg/aks/components/NodePoolDetailTab.vue
  pkg/eks/components/NodePoolDetailTab.vue
  pkg/gke/components/NodePoolDetailTab.vue
  shell/components/MgmtNodeList.vue
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/models/management.cattle.io.node.js
Due: shell

fix mock data
  cypress/e2e/blueprints/manager/hosted-cluster-mocks.ts
Due: none

copilot feedback
  pkg/aks/components/NodePoolDetailTab.vue
  shell/detail/provisioning.cattle.io.cluster.vue
Due: shell

allow registration tab to be shwon
  pkg/aks/provisioner.ts
  pkg/eks/provisioner.ts
  pkg/gke/provisioner.ts
Due: none

Only check if resource is listable if there's not a custom list component
  shell/components/ResourceList/index.vue
Due: shell

enable and update pss e2e tests
  cypress/e2e/po/pages/explorer/project-secrets.po.ts
  cypress/e2e/po/pages/explorer/secrets.po.ts
  cypress/e2e/tests/pages/explorer2/storage/project-secrets.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/secrets.spec.ts
Due: none

Add new resource quota e2e test cases
  cypress/e2e/po/pages/explorer/projects-namespaces.po.ts
  cypress/e2e/tests/pages/explorer2/project-namespace.spec.ts
Due: none

moved option to provisioning settings
  shell/config/settings.ts
Due: shell

Implementing RcSection as specified by the Design System
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/components/RcSection/index.ts
  pkg/rancher-components/src/components/RcSection/types.ts
  pkg/rancher-components/src/index.ts
  storybook/src/stories/Components/RcSection.stories.ts
Due: rancher-components

Fixed some issues I found with the CounterBadge while working on this.
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.vue
Due: rancher-components

Fixing some issues I found with the sizing and colors of the Status Badge
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.vue
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_modern.scss
Due: shell, rancher-components

Fixing some icon sizing issues I noticed
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

Adding some section helper components so we don't have to pollute the base implementation with the icons and badging. This should keep it more flexible.
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/components/RcSection/RcSectionActions.vue
  pkg/rancher-components/src/components/RcSection/RcSectionBadges.vue
  pkg/rancher-components/src/components/RcSection/index.ts
  pkg/rancher-components/src/components/RcSection/types.ts
  storybook/src/stories/Components/RcSection.stories.ts
Due: rancher-components

Cleaning up some of the random styling issues I came across
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/components/RcSection/RcSectionActions.vue
  pkg/rancher-components/src/components/RcSection/types.ts
  shell/assets/styles/themes/_modern.scss
  storybook/src/stories/Components/RcSection.stories.ts
Due: shell, rancher-components

Put in a max of 3 badges
  pkg/rancher-components/src/components/RcSection/RcSectionBadges.vue
Due: rancher-components

Adding unit tests
  pkg/rancher-components/src/components/RcSection/RcSection.test.ts
  pkg/rancher-components/src/components/RcSection/RcSectionActions.test.ts
  pkg/rancher-components/src/components/RcSection/RcSectionBadges.test.ts
Due: rancher-components

Fixing lint errors
  pkg/rancher-components/src/components/Pill/RcCounterBadge/RcCounterBadge.vue
  pkg/rancher-components/src/components/RcSection/RcSection.test.ts
  pkg/rancher-components/src/components/RcSection/RcSection.vue
  pkg/rancher-components/src/components/RcSection/RcSectionActions.vue
  storybook/src/stories/Components/RcSection.stories.ts
Due: rancher-components

Fixed Ingress banner wrongfully shown on edit
  shell/edit/provisioning.cattle.io.cluster/tabs/Ingress.vue
Due: shell

chore: bump shell version v3.0.9-rc.6
  shell/package.json
Due: shell

Fix unnecessary parentheses wrapping export default in BannerSettings and NotificationSettings
  shell/components/form/BannerSettings.vue
  shell/components/form/NotificationSettings.vue
Due: shell

Fix <stye> tag typo to <style> in cluster list component
  shell/list/provisioning.cattle.io.cluster.vue
Due: shell

Fix missing @shell/ prefix in utils/promise imports
  shell/detail/fleet.cattle.io.cluster.vue
  shell/pages/c/_cluster/manager/cloudCredential/index.vue
Due: shell

Fix FeatureFlagListDialog using undefined this.resource instead of this.update.type
  shell/dialog/FeatureFlagListDialog.vue
Due: shell

Fix SCSS division deprecation by wrapping in calc()
  shell/components/SortableTable/index.vue
Due: shell

working on prod registration - part 2
  shell/components/ResourceDetail/index.vue
  shell/config/standard-headers.ts
  shell/core/plugin-products-base.ts
  shell/core/plugin-products-helpers.ts
  shell/core/plugin-products-type-guards.ts
  shell/core/plugin-types.ts
Due: shell

Fixed Ingress banner wrongfully shown on edit (#16830)
  shell/edit/provisioning.cattle.io.cluster/tabs/Ingress.vue
Due: shell

Upgrade Vue to v3.5.29
  package.json
  pkg/rancher-components/package.json
  shell/package.json
  yarn.lock
Due: shell, rancher-components

Target node 24
  creators/extension/app/app.package.json
  creators/extension/app/package.json
  creators/extension/migrate/package.json
  creators/extension/package.json
  creators/extension/pkg/package.json
  creators/extension/update/package.json
  docusaurus/package.json
  package.json
  pkg/aks/package.json
  pkg/eks/package.json
  pkg/gke/package.json
  pkg/harvester-manager/package.json
  pkg/imported/package.json
  pkg/kubectl-explain/package.json
  pkg/rancher-components/package.json
  pkg/rancher-prime/package.json
  shell/package.json
Due: shell, rancher-components

Target node 24 in CI
  .nvmrc
  creators/extension/app/files/.nvmrc
Due: none

Upgrade shell dependencies for Node/Vue update
  shell/yarn.lock
Due: shell

Creating a fix so we show the StatusCard when the user can scale and the resource count is 0
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/Card/StatusCard/index.vue
  shell/components/Resource/Detail/ResourceRow.vue
  shell/models/__tests__/workload.test.ts
  shell/models/workload.js
Due: shell

Addressing initial pr feedback
  shell/components/Resource/Detail/Card/StatusCard/__tests__/StatusCard.test.ts
  shell/components/Resource/Detail/Card/StatusCard/index.vue
  shell/models/__tests__/workload.test.ts
  shell/models/workload.js
Due: shell

Update codemirror to latest version of 5
  package.json
  yarn.lock
Due: none

Creating a fix so we show the StatusCard when the user can scale and the resource count is 0 (#16839)
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/Card/StatusCard/__tests__/StatusCard.test.ts
  shell/components/Resource/Detail/Card/StatusCard/index.vue
  shell/components/Resource/Detail/ResourceRow.vue
  shell/models/__tests__/workload.test.ts
  shell/models/workload.js
Due: shell

Fixed harvester chart values not being set
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell
