Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Use existing isAdmin function
  shell/pages/c/_cluster/manager/drivers/kontainerDriver/index.vue
Due: shell

Fleet GitRepo move data init in data()
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

Fleet add fallback getting user info before store init
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/models/fleet-application.js
Due: shell

fix flaky tests - jenkins
  cypress/e2e/blueprints/settings/branding-settings.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/pages/home.po.ts
  cypress/e2e/po/side-bars/page-actions.po.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
  cypress/e2e/tests/pages/generic/about.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/e2e/tests/pages/global-settings/branding.spec.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Due: none

Fleet fix GitRepo {caBundle,tlsMode} init
  shell/edit/fleet.cattle.io.gitrepo.vue
Due: shell

add browser logs to e2e artifacts
  .github/workflows/test.yaml
  cypress.config.ts
  cypress/support/e2e.ts
  package.json
  yarn.lock
Due: none

Changing the fix for the e2e namespace navigation test
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
  shell/components/Resource/Detail/ResourcePopover/index.vue
Due: shell

Modifying the glance for projects
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
  shell/models/management.cattle.io.project.js
Due: shell

Updating references
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/components/ActionMenuShell.vue
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/__tests__/identifying-fields.test.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/__tests__/index.test.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
  shell/components/Resource/Detail/ResourcePopover/index.vue
Due: shell, rancher-components

Popover
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/RcStatusIndicator.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdown.vue
  pkg/rancher-components/src/components/RcDropdown/RcDropdownTrigger.vue
  shell/assets/styles/global/_tooltip.scss
  shell/assets/translations/en-us.yaml
  shell/components/ActionMenuShell.vue
  shell/components/Resource/Detail/FetchLoader/composables.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/index.vue
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
  shell/components/Resource/Detail/ResourcePopover/index.vue
  shell/models/namespace.js
  shell/plugins/dashboard-store/resource-class.js
Due: shell, rancher-components

Making paths relative to get around extension build step
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.vue
  pkg/rancher-components/src/components/Pill/RcStatusBadge/index.ts
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/RcStatusIndicator.vue
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/types.ts
Due: rancher-components

Fixing a local cluster reference
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Due: none

Updating the region we hover over to open the popover
  shell/components/Resource/Detail/ResourcePopover/index.vue
Due: shell

Fix overflow
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/index.vue
  shell/components/Resource/Detail/ResourcePopover/index.vue
Due: shell

Added aria-hapopup/expanded
  shell/components/Resource/Detail/ResourcePopover/index.vue
Due: shell

Fixed the translation key
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
Due: shell

Removed the unused dropdown-menu-item
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
Due: shell

Made the title dynamic
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
Due: shell

Removed tabIndex from where it isn't needed.
  shell/components/Resource/Detail/ResourcePopover/ResourcePopoverCard.vue
Due: shell

Show Ember deprecation banner on kontainer drivers page only when admin (#15263)
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/manager/drivers/kontainerDriver/index.vue
Due: shell

fix cancel redirect + deprecated chart installation from tools
  shell/mixins/chart.js
  shell/models/chart.js
Due: shell

revert installModalSelectVersionLabel change (only used in harvester and elemental tests
  cypress/e2e/po/pages/extensions.po.ts
Due: none

Update colors app header
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/base/_mixins.scss
  shell/assets/styles/global/_button.scss
  shell/assets/styles/themes/_modern.scss
  shell/components/CodeMirror.vue
  shell/components/nav/Header.vue
  shell/components/nav/NamespaceFilter.vue
Due: shell

Add unit tests
  shell/components/Resource/Detail/FetchLoader/__tests__/composables.test.ts
  shell/components/Resource/Detail/ResourcePopover/__tests__/ResourcePopoverCard.test.ts
  shell/components/Resource/Detail/ResourcePopover/__tests__/index.test.ts
  shell/components/Resource/Detail/ResourcePopover/index.vue
Due: shell

Add the close button to tag
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.test.ts
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.vue
  pkg/rancher-components/src/components/Pill/RcTag/types.ts
  storybook/src/stories/Components/Pill/RcTag.stories.ts
Due: rancher-components

Implement the Tag component as defined by the DS system
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.test.ts
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.vue
  pkg/rancher-components/src/components/Pill/RcTag/index.ts
  pkg/rancher-components/src/components/Pill/RcTag/types.ts
  shell/assets/styles/base/_color.scss
  shell/assets/styles/themes/_light.scss
  storybook/src/stories/Components/Pill/RcTag.mdx
  storybook/src/stories/Components/Pill/RcTag.stories.ts
Due: shell, rancher-components

cherry pick + resolve conflict
  shell/mixins/__tests__/chart.test.ts
  shell/mixins/chart.js
  shell/pages/c/_cluster/apps/charts/chart.vue
  shell/store/__tests__/catalog.test.ts
  shell/store/catalog.js
Due: shell

resolve merge conflicts
  shell/pages/c/_cluster/apps/charts/chart.vue
  shell/store/__tests__/catalog.test.ts
Due: shell

fix cancel redirect + deprecated chart installation from tools (#15316)
  shell/mixins/chart.js
  shell/models/chart.js
Due: shell

feat: add CronExpressionEditor
  shell/assets/translations/en-us.yaml
  shell/components/Cron/CronExpressionEditor.vue
  shell/components/Cron/CronTooltip.vue
  storybook/.storybook/preview.ts
  storybook/src/stories/Components/Cron/CronExpressionEditor.stories.ts
Due: shell

test: add test cases
  shell/components/__tests__/Cron/CronExpressionEditor.test.ts
  shell/components/__tests__/Cron/CronExpressionEditorModal.test.ts
Due: shell

feat: ddd CronExpressionEditorModal
  shell/assets/translations/en-us.yaml
  shell/components/Cron/CronExpressionEditorModal.vue
  storybook/src/stories/Components/Cron/CronExpressionEditorModal.stories.ts
Due: shell

Fix GitRepo unit tests
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
Due: shell

[2.12.2] Fleet remove CreatedBy section from App details
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/__tests__/identifying-fields.test.ts
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/identifying-fields.ts
  shell/components/Resource/Detail/Metadata/__tests__/composables.test.ts
  shell/components/Resource/Detail/Metadata/composables.ts
  shell/components/ResourceDetail/Masthead/__tests__/legacy.test.ts
  shell/components/ResourceDetail/Masthead/legacy.vue
  shell/config/labels-annotations.js
  shell/detail/fleet.cattle.io.bundle.vue
  shell/detail/fleet.cattle.io.gitrepo.vue
  shell/detail/fleet.cattle.io.helmop.vue
  shell/edit/__tests__/fleet.cattle.io.gitrepo.test.ts
  shell/edit/fleet.cattle.io.gitrepo.vue
  shell/models/fleet-application.js
  shell/models/fleet.cattle.io.bundle.js
Due: shell

Revert "revert installModalSelectVersionLabel change (only used in harvester and elemental tests"
  cypress/e2e/po/pages/extensions.po.ts
Due: none

Revert "Fix e2e tests for harvester upgrade"
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Due: none

[2.12.2] Fleet add active wait until Fleet clusters receive updates after saving
  shell/edit/fleet.cattle.io.cluster.vue
Due: shell

junk
  junk
Due: none
