Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

exclude gke versions that are not covered by release channels (#18932)
  pkg/gke/components/Config.vue
  pkg/gke/components/CruGKE.vue
  pkg/gke/components/__tests__/Config.test.ts
  pkg/gke/util/__tests__/versions.test.ts
  pkg/gke/util/versions.ts
  shell/components/google/util/__mocks__/gcp.ts
Due: shell

Remove CSP Adapter code and brand/theme (#18937)
  shell/assets/brand/csp/dark/rancher-logo.svg
  shell/assets/brand/csp/favicon.png
  shell/assets/brand/csp/metadata.json
  shell/assets/brand/csp/rancher-logo.svg
  shell/assets/styles/app.scss
  shell/assets/styles/themes/_csp.scss
  shell/components/AwsComplianceBanner.vue
  shell/components/BrandImage.vue
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/components/templates/plain.vue
  shell/config/private-label.js
  shell/config/types.d.ts
  shell/config/types.js
  shell/mixins/__tests__/brand.spec.ts
  shell/mixins/brand.js
  shell/plugins/dashboard-store/getters.js
  shell/utils/__tests__/brand.test.ts
  shell/utils/__tests__/cspAdaptor.test.ts
  shell/utils/__tests__/favicon.test.ts
  shell/utils/cspAdaptor.ts
  shell/utils/favicon.js
Due: shell

Don't render configmap binary data (#18955)
  shell/components/Resource/Detail/ResourceTabs/ConfigMapDataTab/__tests__/composables.test.ts
  shell/components/Resource/Detail/ResourceTabs/ConfigMapDataTab/composables.ts
Due: shell

repo detail page improvements
  shell/assets/translations/en-us.yaml
  shell/detail/__tests__/catalog.cattle.io.clusterrepo.test.ts
  shell/detail/catalog.cattle.io.clusterrepo.vue
Due: shell

repo detail page improvements
  shell/detail/catalog.cattle.io.clusterrepo.vue
Due: shell

minor styling
  shell/detail/catalog.cattle.io.clusterrepo.vue
Due: shell

fix lint
  pkg/gke/components/__tests__/Config.test.ts
Due: none

Guard machine scale down against stale targets
  shell/assets/translations/en-us.yaml
  shell/dialog/ScaleMachineDownDialog.vue
  shell/dialog/__tests__/ScaleMachineDownDialog.test.ts
Due: shell

add new parameter
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
Due: none

Added characterization tests for RKE2 refactor (#18945)
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
Due: shell

Corrected PR template
  .github/aw/actions-lock.json
  .github/workflows/dead-code-detector.lock.yml
  .github/workflows/shared/report-and-fix.md
Due: none

Keep the highlighted search result in view
  shell/components/nav/NavActionBar.vue
  shell/components/nav/__tests__/NavActionBar.test.ts
Due: shell

Move kubernetes version management into a composable
  shell/composables/useKubernetesVersions.test.ts
  shell/composables/useKubernetesVersions.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

Show the nav toolbar to users the product is rendered for
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/components/nav/NavActionBar.vue
  shell/store/type-map.js
Due: shell

fix issue with e2e on kubewarden (#18854)
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Due: none

more validations
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
Due: none

Key the nav toolbar on the product whose nav is rendered
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/components/nav/NavActionBar.vue
Due: shell

Added PSA tests
  shell/composables/useKubernetesVersions.test.ts
Due: shell

Document navSearch as a root product option
  shell/components/__tests__/SideNav.test.ts
  shell/components/nav/NavActionBar.vue
  shell/types/store/type-map.ts
Due: shell

Added error handling
  shell/composables/useKubernetesVersions.test.ts
  shell/composables/useKubernetesVersions.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Due: shell

copilot feedback
  shell/composables/useKubernetesVersions.test.ts
  shell/composables/useKubernetesVersions.ts
Due: shell

Lift code freeze and bump milestones (#18947)
  branches-metadata.json
Due: none

Let Escape past the checkbox info icon
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.test.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
Due: rancher-components

Add replica sets to workload overview page
  shell/pages/c/_cluster/explorer/workload-dashboard/__tests__/composable.test.ts
  shell/pages/c/_cluster/explorer/workload-dashboard/composable.ts
  shell/pages/c/_cluster/explorer/workload-dashboard/types.ts
Due: shell

Ensure order of cards is correct, re-enable workload health on replicatset list
  shell/config/product/explorer.js
  shell/pages/c/_cluster/explorer/workload-dashboard/types.ts
Due: shell

[SURE-8995] gate project member actions and show all accessible projects
  shell/components/ExplorerMembers.vue
  shell/components/form/Members/MembershipEditor.vue
  shell/components/form/Members/ProjectMembershipEditor.vue
  shell/components/form/Members/__tests__/MembershipEditor.test.ts
  shell/config/product/explorer.js
  shell/edit/management.cattle.io.project.vue
  shell/store/type-map.js
  shell/utils/project-permissions.ts
Due: shell

Let a focused tooltip consume the Escape that dismissed it
  shell/directives/__tests__/clean-tooltip-persistence.test.ts
  shell/directives/clean-tooltip.ts
Due: shell

Fix flaky pods-clone test: idempotent retries + wait for list load (issue #18985)
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
Due: none

Fix flaky cluster-dashboard events test: cold-load readiness guard (issue #18985)
  cypress/e2e/po/pages/page.po.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
Due: none

Fix flaky daemonsets edit-tab test: wait for resource before edit form (issue #18985)
  cypress/e2e/tests/pages/explorer2/workloads/daemonsets.spec.ts
Due: none

Fix flaky users higher-permission test: idempotent standard user + list-load wait (issue #18985)
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
Due: none

Fix flaky harvester tests: variable updateChart PUT + modal scroll-detach (issue #18985)
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Due: none

Fix flaky oidcProvider create-client test: wait for list GET before loading check (issue #18985)
  cypress/e2e/tests/pages/users-and-auth/oidcProvider.spec.ts
Due: none

Fix flaky extensions auth-import test: modal scroll-detach (issue #18985)
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
Due: none

Word the nav search for any product
  shell/assets/translations/en-us.yaml
  shell/components/SideNav.vue
  shell/components/__tests__/SideNav.test.ts
  shell/components/nav/NavActionBar.vue
  shell/components/nav/__tests__/NavActionBar.test.ts
  shell/config/product/explorer.js
  shell/config/product/fleet.js
  shell/types/store/type-map.ts
Due: shell

Path conditions:
  shell: any of: shell
  epinio: any of: pkg/epinio
  rancher-components: any of: pkg/rancher-components
