Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, harvester, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  harvester:
    paths: 
    - pkg/harvester
  rancher-components:
    paths: 
    - pkg/rancher-components

bump rancher components version to prepare for release
  pkg/rancher-components/package.json
Due: rancher-components

bump rancher components version to prepare for release (#10331)
  pkg/rancher-components/package.json
Due: rancher-components

aks private dns zone
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
  pkg/aks/l10n/en-us.yaml
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/validators.ts
Due: none

fix private dns zone regex
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/validators.ts
Due: none

Fixing an issue where a field can sometimes be undefined
  shell/detail/fleet.cattle.io.bundle.vue
Due: shell

use Vue.set + refactor test
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  shell/edit/catalog.cattle.io.clusterrepo.vue
Due: shell

Revert "Replace `Vue.extend` with `defineComponent` in shell"
  shell/components/AsyncButton.vue
  shell/components/Certificates.vue
  shell/components/DraggableZone.vue
  shell/components/PodSecurityAdmission.vue
  shell/components/form/Error.vue
  shell/components/form/Footer.vue
  shell/components/form/GitPicker.vue
  shell/edit/management.cattle.io.podsecurityadmissionconfigurationtemplate.vue
  shell/mixins/create-edit-view/index.js
  shell/tsconfig.paths.json
  shell/types/vue-shim.d.ts
  shell/utils/git.ts
Due: shell

Revert "Replace `vue.extend` with `defineComponent` in Rancher Components"
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/BadgeState/BadgeState.spec.ts
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  pkg/rancher-components/src/components/Card/Card.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  pkg/rancher-components/src/components/StringList/StringList.vue
  pkg/rancher-components/src/shim-vue.d.ts
  pkg/rancher-components/tsconfig.json
Due: rancher-components

Revert "Write tests for `useCompactInput` and `useLabeledFormElement`"
  shell/composables/useCompactInput.test.ts
  shell/composables/useCompactInput.ts
  shell/composables/useLabeledFormElement.test.ts
Due: shell

revert changes of PR 10226
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

Reset cluster repo form values when switching between the options (#10325)
  cypress/e2e/po/edit/catalog.cattle.io.clusterrepo.po.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  shell/edit/catalog.cattle.io.clusterrepo.vue
Due: shell

Add possibility to set private DNS zone on AKS clusters (#10340)
  pkg/aks/components/CruAks.vue
  pkg/aks/components/__tests__/CruAks.test.ts
  pkg/aks/l10n/en-us.yaml
  pkg/aks/util/__tests__/validators.test.ts
  pkg/aks/util/validators.ts
Due: none

Revert "Replace `Vue.extend` with `defineComponent` in shell" (#10344)
  shell/components/AsyncButton.vue
  shell/components/Certificates.vue
  shell/components/DraggableZone.vue
  shell/components/PodSecurityAdmission.vue
  shell/components/form/Error.vue
  shell/components/form/Footer.vue
  shell/components/form/GitPicker.vue
  shell/edit/management.cattle.io.podsecurityadmissionconfigurationtemplate.vue
  shell/mixins/create-edit-view/index.js
  shell/tsconfig.paths.json
  shell/types/vue-shim.d.ts
  shell/utils/git.ts
Due: shell

Revert "Replace `vue.extend` with `defineComponent` in Rancher Components" (#10345)
  pkg/rancher-components/src/components/Accordion/Accordion.vue
  pkg/rancher-components/src/components/BadgeState/BadgeState.spec.ts
  pkg/rancher-components/src/components/BadgeState/BadgeState.vue
  pkg/rancher-components/src/components/Banner/Banner.vue
  pkg/rancher-components/src/components/Card/Card.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioButton.vue
  pkg/rancher-components/src/components/Form/Radio/RadioGroup.vue
  pkg/rancher-components/src/components/Form/TextArea/TextAreaAutoGrow.vue
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.vue
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  pkg/rancher-components/src/components/StringList/StringList.vue
  pkg/rancher-components/src/shim-vue.d.ts
  pkg/rancher-components/tsconfig.json
Due: rancher-components

Revert "Write tests for `useCompactInput` and `useLabeledFormElement`" (#10346)
  shell/composables/useCompactInput.test.ts
  shell/composables/useCompactInput.ts
  shell/composables/useLabeledFormElement.test.ts
Due: shell

revert changes of PR 10226 (#10347)
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Due: rancher-components

bump shell pkg version
  shell/package.json
Due: shell

bump shell pkg version (#10350)
  shell/package.json
Due: shell

bump rancher components versions
  pkg/rancher-components/package.json
Due: rancher-components

bump rancher components versions (#10353)
  pkg/rancher-components/package.json
Due: rancher-components

Update Pull Request template
  .github/pull_request_template.md
Due: none

Adding fix for table rows groups name validation
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
Due: none

adding fix for empty RANCHER_VERSION string
  cypress/jenkins/init.sh
Due: none

add CSI suffix to all non-builtin storageClass provisioners
  shell/models/__tests__/storage.k8s.io.storageclass.test.ts
  shell/models/storage.k8s.io.storageclass.js
Due: shell

improve unit test
  shell/models/__tests__/storage.k8s.io.storageclass.test.ts
Due: shell

fix issue with storybook build a spec.ts files
  storybook/.storybook/main.js
Due: none

update main.js to exclude
  storybook/.storybook/main.js
Due: none

revert changes to storybook config + rewrite unit test
  shell/models/__tests__/storage.k8s.io.storageclass.test.ts
  storybook/.storybook/main.js
Due: shell

Add `[zube]: Backlog` label to backported issues
  .github/workflows/port-issue.yaml
Due: none

add isView
  shell/edit/provisioning.cattle.io.cluster/tabs/Advanced.vue
Due: shell

Fix parse tag name condition to check for proper workflow types
  shell/scripts/extension/parse-tag-name
Due: shell

Adding ovhcloudpubliccloud to the driverToCloudProvider map in order to restrict options for Cloud Provider
  shell/store/plugins.js
Due: shell

Fix parse tag name condition to check for proper workflow types (#10364)
  shell/scripts/extension/parse-tag-name
Due: shell

Allow cluster provisioning extensions to define cluster-importing support (#10316)
  cypress/e2e/blueprints/manager/clusterProviderUrlCheck.ts
  pkg/aks/provisioner.ts
  shell/core/types-provisioning.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/models/management.cattle.io.kontainerdriver.js
Due: shell

bump shell pkg version (#10367)
  shell/package.json
Due: shell

backport fix for 10140
  shell/components/nav/TopLevelMenu.vue
Due: shell

add CSI suffix to all non-builtin storageClass provisioners (#10348)
  shell/models/__tests__/storage.k8s.io.storageclass.test.ts
  shell/models/storage.k8s.io.storageclass.js
Due: shell

backport fix for 10140 (#10369)
  shell/components/nav/TopLevelMenu.vue
Due: shell

feature flags tests
  cypress/e2e/po/lists/management.cattle.io.feature.po.ts
  cypress/e2e/po/pages/global-settings/feature-flags.po.ts
  cypress/e2e/tests/pages/global-settings/feature-flags.spec.ts
Due: none
