Repository rancher/dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: shell, epinio, rancher-components

codecov.yml:

# Disable checks and annotations in the PR
github_checks: false
coverage:
  status:
    project: no
    patch: no
    changes: no

# Configure comment in the PR
comment:
  layout: "reach, diff, flags, tree, header"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Generate flags
flags:
  shell:
    paths: 
    - shell
  epinio:
    paths: 
    - pkg/epinio
  rancher-components:
    paths: 
    - pkg/rancher-components

Add support for custom node roles
  shell/config/labels-annotations.js
  shell/models/cluster/node.js
Due: shell

remove comment
  shell/models/cluster/node.js
Due: shell

[9614] Merged security context for pod and container | Changed Radios to Checkbox | Added title for Capabilities
  shell/assets/translations/en-us.yaml
  shell/components/form/SeccompProfile.vue
  shell/components/form/Security.vue
  shell/components/form/__tests__/SeccompProfile.test.js
  shell/components/form/__tests__/Security.test.ts
  shell/edit/workload/__tests__/index.test.ts
  shell/edit/workload/index.vue
  shell/edit/workload/mixins/workload.js
Due: shell

Fixes an issue where we failed to render deployment pages when match expressions with multiple values are present (#15909)
  shell/utils/__tests__/selector-typed.test.ts
  shell/utils/selector-typed.ts
Due: shell

minor fix
  shell/pages/c/_cluster/uiplugins/catalogs.vue
Due: shell

Await login response
  shell/store/auth.js
Due: shell

fix lazy loading not working when zoomed out
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

add e2e test
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

minor refactor
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

fix e2e tests
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
Due: none

fix e2e tests
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

Implement svg icons styles as scoped css
  shell/components/IconOrSvg.vue
  shell/utils/svg-filter.js
Due: shell

Trying an unlikely fix for the plugin build error
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
Due: rancher-components

Process the deprecated props first so we can add defaults to the new props
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

More reversions
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

Refactored and deprecated the old version of button roles
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Refactored and deprecated the RcButton size properties
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Resolving lint errors
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
  pkg/rancher-components/src/components/RcIcon/types.ts
  storybook/src/stories/Components/RcIcon.stories.ts
Due: rancher-components

Fixing the icon sizes
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

Added component to storybook
  storybook/src/stories/Components/RcButton.mdx
  storybook/src/stories/Components/RcButton.stories.ts
Due: none

Added icons to the RcButton
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Fixed the unit tests
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
Due: rancher-components

Adding a default size value
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Adding the appropriate size styling to RcButton
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Make the icon colors responsive
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
Due: rancher-components

Switch RcIcon size to use inherit instead of none
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
  storybook/src/stories/Components/RcIcon.stories.ts
Due: rancher-components

Split up computed properties
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Adding better size styling that integrates with the global role styling
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Attempting to revert a part of the rcicon changes
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
Due: rancher-components

Fixed icon rendering issues with RcButton
  pkg/rancher-components/src/components/RcButton/types.ts
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
  storybook/src/stories/Components/RcButton.stories.ts
  storybook/src/stories/Components/RcIcon.stories.ts
Due: rancher-components

More reversion
  pkg/rancher-components/src/components/RcButton/types.ts
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
Due: rancher-components

Attempt to update RcIcon separate from RcButton
  pkg/rancher-components/src/components/RcIcon/RcIcon.vue
  pkg/rancher-components/src/components/RcIcon/types.ts
  storybook/src/stories/Components/RcIcon.stories.ts
Due: rancher-components

fix search query in e2e test
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
Due: none

add k8s upgrade test
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
Due: none

Fix icon stories
  storybook/src/stories/Components/RcIcon.stories.ts
Due: none

Attempting to use the RcButton without the RcIcon import.
  pkg/rancher-components/src/components/RcButton/RcButton.vue
  pkg/rancher-components/src/components/RcButton/types.ts
Due: rancher-components

Fix lint console error
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

Reintroducing the RcIcon to the button.
  pkg/rancher-components/src/components/RcButton/RcButton.vue
Due: rancher-components

more fixes
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Due: shell

test
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/po/pages/explorer/charts/charts.po.ts
Due: none
